# Wikipedia Life Expectancy

# [Notebook 2 of 4: Data Cleaning](https://github.com/teresahanak/wikipedia-notable-deaths/blob/main/wikipedia_notable_deaths_data_prep_thanak_2022_06_13.ipynb)

## Context

The


## Objective

The

### Data Dictionary

- Feature: Description

## Importing necessary libraries

In [1]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To help with reading and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress scientific notations for a dataframe
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

## Data Overview

### Reading, sampling, and checking data shape

In [2]:
# Reading the wp_notable_deaths_raw_complete dataset
conn = sql.connect("wp_notable_deaths_raw_complete.db")
data = pd.read_sql("SELECT * FROM wp_notable_deaths_raw_complete", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 133900 rows and 6 columns.

,month_year,day,name,info,link,num_references
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12

In [3]:
# Checking last 2 rows of the data
df.tail(2)

,month_year,day,name,info,link,num_references
133898,June 2022,9,Oleg Moliboga,", 69, Russian volleyball player, Olympic champion (1980) and coach.",https://en.wikipedia.org/wiki/Oleg_Moliboga,2
133899,June 2022,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3

In [4]:
# Checking a sample of the data
df.sample(5)

,month_year,day,name,info,link,num_references
32806,February 2007,5,Alfred Worm,", 61, Austrian investigative journalist, heart attack.",https://en.wikipedia.org/wiki/Alfred_Worm,3
52224,October 2011,23,Bogdan Zakrzewski,", 95, Polish historian and researcher of Polish literature.",https://en.wikipedia.org/wiki/Bogdan_Zakrzewski,2
91375,August 2017,7,David Heimbach,", 78, American surgeon.",https://en.wikipedia.org/wiki/David_Heimbach,12
131595,February 2022,25,Lorna Fejo,", 91, Australian Warumungu woman, member of the stolen generations.",https://en.wikipedia.org/wiki/Lorna_Fejo,10
13058,January 1999,26,Settimio Ferrazzetta,", 74, Italian-born Bissauan Roman Catholic prelate, Bishop of Bissau (since 1977).",https://en.wikipedia.org/wiki/Settimio_Ferrazzetta,1

#### Observations:
- There are 133,900 rows and 6 columns