# Wikipedia Notable Life Expectancies

# [Notebook 2 of 4: Data Cleaning](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean_thanak_2022_06_13.ipynb)

## Context

The


## Objective

The

### Data Dictionary

- Feature: Description

## Importing Necessary Libraries

In [22]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To help with reading and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress scientific notations for a dataframe
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

## Data Overview

### Reading, Sampling, and Checking Data Shape

In [23]:
# Reading the wp_life_expect_raw_complete dataset
conn = sql.connect("wp_life_expect_raw_complete.db")
data = pd.read_sql("SELECT * FROM wp_life_expect_raw_complete", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 133900 rows and 6 columns.

,month_year,day,name,info,link,num_references
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12

In [24]:
# Checking last 2 rows of the data
df.tail(2)

,month_year,day,name,info,link,num_references
133898,June 2022,9,Oleg Moliboga,", 69, Russian volleyball player, Olympic champion (1980) and coach.",https://en.wikipedia.org/wiki/Oleg_Moliboga,2
133899,June 2022,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3

In [25]:
# Checking a sample of the data
df.sample(5)

,month_year,day,name,info,link,num_references
126175,August 2021,18,Jill Murphy,", 72, British author (), cancer.",https://en.wikipedia.org/wiki/Jill_Murphy,35
22253,November 2002,24,Kazım Ergin,", 87, Turkish geophysicist.",https://en.wikipedia.org/wiki/Kaz%C4%B1m_Ergin,3
84720,August 2016,21,Marin Moraru,", 79, Romanian actor.",https://en.wikipedia.org/wiki/Marin_Moraru,2
76407,May 2015,22,Alan Koch,", 77, American baseball player (Detroit Tigers, Washington Senators).",https://en.wikipedia.org/wiki/Alan_Koch_(baseball),8
55571,May 2012,10,Barbara D'Arcy,", 84, American visual merchandiser.",https://en.wikipedia.org/wiki/Barbara_D%27Arcy,5

#### Observations:
- There are 133,900 rows and 6 columns.
- `month_year` contains the month and year of death, while `day` contains the day of the month of death.
- `name` is the notable person's name.  It is a nominal feature that will not be used for analysis, but will be maintained for any referencing needs.
- `info` contains multiple items including the notable person's "age, country of citizenship at birth, subsequent country of citizenship (if applicable), reason for notability, (and) cause of death (if known)."
- `link` is the url to the notable person's individual Wikipedia page.  If such a page does not exist, there is either a non-working link (https://en.wikipedia.orgNone), or the link is to a page with a message that the page does not exist for that individual.  `link` is a unique identifier for all entries, except the 6 with the non-working link, which do have unique `name` values from each other.
- `num_references` contains the number of references on the notable person's individual Wikipedia page.  This feature serves as a proxy measure of notability.
- Prior to EDA, our task will be to extract the individual elements that are comined in `month_year` and `info` columns.

### Checking Data Types, Duplicates, and Null Values

In [26]:
# Checking data types and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133894 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

In [27]:
# Checking duplicate rows
df.duplicated().sum()

0

In [28]:
# Check percentage of null values by column
df.isnull().sum() / df.count() * 100

month_year       0.000
day              0.000
name             0.004
info             0.000
link             0.000
num_references   0.000
dtype: float64

In [29]:
# Checking number of missing values per row (not necessary here, but done to keep process standard)
df.isnull().sum(axis=1).value_counts()

0    133894
1         6
dtype: int64

#### Observations:
- Our dataset was saved to and read from the database without any hiccups.
- As expected, we have 6 entries that are missing `name`, but we will find it in their `info` values.
- All columns are currently of object type.  We will need to appropriately typecast them after separating the information in `month_year` and `info`.

## Data Cleaning

### Addressing Missing `name` Values

In [30]:
# Checking rows with missing name values
missing_name = df[df["name"].isna()]
missing_name

,month_year,day,name,info,link,num_references
18937,August 2001,11,None,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7.",https://en.wikipedia.orgNone,0
24985,January 2004,22,None,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
27458,March 2005,1,None,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
34077,July 2007,11,None,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
64769,September 2013,29,None,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
106613,September 2019,12,None,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0

#### Observations:
- These rows vary from the main set as there is a substring containing the person's name at the start of the `info` string.
- As there are so few rows missing `name`, let us address this issue first.

In [31]:
# For loop to copy name value from info column
treat_rows = missing_name.index
for i in treat_rows:
    info = df.loc[i, "info"]
    info_lst = info.split(sep=",", maxsplit=1)
    df.loc[i, "name"] = info_lst[0]

# Re-check rows
df.loc[treat_rows, :]

,month_year,day,name,info,link,num_references
18937,August 2001,11,Kevin Kowalcyk,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7.",https://en.wikipedia.orgNone,0
24985,January 2004,22,Vincent Palmer,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
27458,March 2005,1,Barry Stigler,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
34077,July 2007,11,Nana Gualdi,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
64769,September 2013,29,Scott Workman,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
106613,September 2019,12,Thami Shobede,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0

#### Observations:
- Missing `name` values have been addressed.
- The names still appear in the `info` value for these rows, but we can address that as we separate the information in that column.

In [32]:
# Re-check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133900 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

#### Observations:
- We have no remaining missing values.
- Let us treat the `month_year` column next.

### Separating `month` and `year`

In [33]:
# Separating month and year into 2 columns and typecasting year as integer
df.loc[:, "year"] = df["month_year"].apply(lambda x: x.split(sep=" ")[1])
df["year"] = df["year"].astype("int64")

df.loc[:, "month"] = df["month_year"].apply(lambda x: x.split(sep=" ")[0])
df.head(2)

,month_year,day,name,info,link,num_references,year,month
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21,1994,January
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12,1994,January

In [34]:
# Dropping month_year column
df.drop("month_year", axis=1, inplace=True)

### Treating `info`

#### Checking a Sample

In [35]:
# Checking a sample of info
df.sample(5)

,day,name,info,link,num_references,year,month
65542,14,Ramziya al-Iryani,", 58–59, Yemeni novelist, writer, diplomat and feminist.",https://en.wikipedia.org/wiki/Ramziya_al-Iryani,10,2013,November
55464,4,Angelica Garnett,", 93, British writer and painter.",https://en.wikipedia.org/wiki/Angelica_Garnett,19,2012,May
96085,2,Claus Heß,", 84, German Olympic rower (1956).",https://en.wikipedia.org/wiki/Claus_He%C3%9F,6,2018,April
29237,31,Evert Hingst,", 35, Dutch lawyer, allegedly involved in organized crime, shot.",https://en.wikipedia.org/wiki/Evert_Hingst,0,2005,October
75627,8,Ion Trewin,", 71, British editor, publisher and author.",https://en.wikipedia.org/wiki/Ion_Trewin,5,2015,April

#### Observations:
- We have leading and trailing characters of comma, period, and white space that can be removed.

#### Removing Leading and Trailing Commas, Whitespace, and Periods

In [36]:
# Removing the leading/trailing commas, periods, and whitespace
df.loc[:, "info"] = df["info"].apply(lambda x: x.strip(" ,."))
df.sample(5)

,day,name,info,link,num_references,year,month
24046,31,Pavel Tigrid,"85, Czech writer, publisher, author and politician",https://en.wikipedia.org/wiki/Pavel_Tigrid,1,2003,August
114065,29,James Douglas Henderson,"93, Canadian politician",https://en.wikipedia.org/wiki/James_Douglas_Henderson,6,2020,June
96528,25,Adebayo Adedeji,"87, Nigerian politician and diplomat",https://en.wikipedia.org/wiki/Adebayo_Adedeji,4,2018,April
40002,8,William Alexander Deer,"98, British geologist, Vice-Chancellor of the University of Cambridge (1971–1973)",https://en.wikipedia.org/wiki/William_Alexander_Deer,1,2009,February
28078,26,Albinas Albertynas,"71, Lithuanian politician",https://en.wikipedia.org/wiki/Albinas_Albertynas,2,2005,May

#### Checking the Set of First Substrings (Before First Comma)

In [37]:
# Checking values in the first substring of info (before the first comma)
age_set = set(df["info"].apply(lambda x: x.split(sep=",", maxsplit=1)[0]))
age_set

{'27',
 'American television executive',
 '111',
 '84',
 'Vanuatuan politician and member of parliament',
 '14',
 'Solomon Islands Cabinet Minister',
 'Georgian politician and deputy governor of the Kvemo Kartli region',
 'Pakistani politician',
 '56–57',
 '38-40',
 'Ivorian traditional musician',
 'aka "Sammy Steamboat"',
 'Bangladeshi singer and composer',
 'Syrian playwright',
 'Notable ice hockey players and coaches among the 44 killed in the :\n',
 'Sierra Leonean politician and military officer',
 'Jules Engel',
 'Scottish botanist and agriculturist',
 'Chechen Islamist',
 '73-74',
 'South African plastic surgeon',
 'c. 35',
 'Gambian-American journalist',
 '94–95',
 'Pakistani military officer and diplomat',
 'Italian poet',
 'British snooker player',
 '19',
 '53–54',
 'Malaysian honorary consul',
 'Kyrgyz Imam and alleged Islamic militant',
 'Iranian feminist activist. (Farsi)',
 'Pakistani actor',
 'wife of Robert Guéï',
 'American transwoman and performer',
 'Chinese marathon runners killed in the :\n',
 'American Labrador retriever therapy and bomb detection dog',
 '(岡本喜八)',
 '55–56',
 '255 (approximate age)',
 '82–83',
 'American journalist and columnist',
 'Canadian-born burglar',
 '44–45',
 'Nigerian football manager (Lobi Stars)',
 'Indian sage and jivanmukta',
 'British principal private secretary to successive Prime Ministers',
 'American bassist (Choking Victim',
 'c. 20',
 'Americanclown and writer and illustrator of circus subjects',
 'c.64',
 'American guitarist (Diabolic',
 '91-92',
 'Rwandan politician',
 '\xa0?',
 'Greek LGBT rights activist',
 'English rugby league player',
 'Palestinian Hamas leader',
 'Honduran journalist',
 'Papua New Guinean actor',
 'English rugby player',
 'Indian Islamist terrorist',
 '(Karol Wojtyła)',
 'Ethiopian politician',
 'American Samoan Attorney General',
 'Indonesian anthropologist',
 'Paraguayan politician',
 'Emirati Ajman royal',
 'Libyan Army colonel',
 'Herbert Wiere',
 'Kuwaiti journalist and author',
 'Polish Olympic weightlifter',
 'Beninese singer',
 'c.1000',
 'Egyptian pediatrician and immunologist',
 "Pakistani feminist scholar and women's rights activist",
 '80. New Zealand Maori leader',
 '43–44',
 'North Korean politician',
 'Filipino Islamist militant (Maute group)',
 'Sir ',
 '34-35',
 '116',
 'Indian artist',
 '26',
 '85/86',
 'British crystallographer',
 'Namibian politician',
 '(née Klein)',
 'Guinea-Bissauan politician',
 'member of the Saudi Arabian royal family',
 '61-62',
 '57-58',
 '87-88',
 'Maldivian politician',
 'North Korean head of the Unhasu Orchestra',
 '"World\'s Most Dangerous Bull" World Champion title holder',
 'Brazilian draughts player',
 'Ghanaian musician (Buk Bak)',
 '50s',
 'French-born American writer',
 'Togolese lawyer and guitarist (Orchestra Baobab)',
 '76–77',
 'Uruguayan footballer',
 '3-months',
 'Albanian architect',
 'Chechen warlord and vice president of the Chechen Republic of Ichkeria',
 'Spanish writer',
 'Irish cinematographer (',
 'Irish academic and politician',
 'Pakistani naval officer',
 '90 British businessman',
 '38/39',
 '47/48',
 'American musician and producer',
 'British television writer (',
 '63',
 'British peer and military officer',
 'Ethiopian politician and Tigray activist',
 'Japanese ball-jointed doll maker and musician',
 '122 (disputed)',
 'Mexican humanitarian',
 'Army of the Republic of Vietnam officer',
 'aka J Dilla',
 'Venezuelan politician',
 '7-8',
 '65–66',
 '95',
 'Papua New Guinean lawyer and Chief Ombudsman (2008–2012)',
 'Somali public servant',
 '75-76',
 'Sri Lankan lawyer and activist',
 'Italian geologist',
 '70–71',
 'Austrian-born British town planner and architect',
 'Basque-American writer',
 'American psychiatrist and computer technology pioneer',
 'c. 46',
 '68-69',
 'Ghanaian engineer and politician',
 'Turkish artist',
 'c. 45',
 'British footballer',
 '61–62',
 'Mexican police commander',
 'Taiwanese politician',
 '72/73',
 '94 Austrian-British social psychologist',
 'Canadian gangster and drug trader',
 '54/55',
 'Mauritanian diplomat and politician',
 '36-37',
 'Pakistani war prisoner',
 'Iraqi deputy governor of Baghdad',
 '13',
 '83–84',
 'American radio newscaster and actor',
 'Japanese victims of the :\n',
 'Puerto Rican politician',
 'Colombian lawyer and politician',
 'American bass guitarist',
 '37–38',
 'Northern Irish loyalist',
 '63. American gridiron football player',
 'c. 81',
 '63–64',
 'Saudi Al-Qaeda leader',
 'Pakistani Islamic scholar',
 'Mexican short story writer and essayist',
 'Kittitian cricketer',
 'Turkish Kurdish politician',
 '39–40',
 'Mexican editor and journalist',
 'American stage manager',
 'Guinean politician',
 'spiritual adviser for Al-Qaeda in Iraq',
 '53-54',
 'Swedish cameraman',
 'Provisional Irish Republican Army volunteer',
 'Ghanaian actor',
 'Somali leader of Al-Shabab insurgent group',
 '82/3',
 'Russian general',
 'Vietnamese songwriter',
 'French film editor (',
 'c. 59',
 '37',
 'British businessman and philanthropist',
 '62–63',
 '50/51',
 'American interior designer',
 '(b. Jeffrey Hyman)',
 'American professor',
 'black rhinoceros',
 'c. 27',
 'Australian engineer and historian',
 'Russian botanist',
 'c. 5',
 'Brazilian female pilot',
 '63-64',
 'South African gangster',
 'British music writer and journalist',
 'Somali politician',
 '114',
 '122 (claimed)',
 'New Zealand journalist',
 'Moroccan novelist',
 'Canadian actress and jazz singer',
 '54/5',
 '91–92',
 'Saudi spokesman of ISIL (since 2016)',
 'South African filmmaker',
 'Australian rugby league player (Eastern Suburbs)',
 'Montenegrin politician',
 '80-81',
 'Burundian politician and Prime Minister',
 'Azerbaijani criminalist',
 'Chinese author and translator',
 'Indian politician and guerrilla',
 'Lebanese paramilitary officer',
 'Malawian diplomat involved in leaked diplomatic cable controversy',
 '55-57',
 '60–61',
 'Solomon Islands news presenter and journalist',
 'Dame MEP',
 'Moroccan Muay Thai kickboxer',
 '11-12',
 'Lebanese militant',
 'American university professor and literary critic',
 'Sierra Leonean politician',
 'Papua New Guinean businessman. (death announced on this date)',
 'American musician',
 '42 or 43',
 'Sri Lankan chef',
 '25–26',
 'Brazilian architect and politician',
 'American sculptor and writer',
 '18',
 'Polish historian',
 'Iraqi militant',
 'Thami Shobede',
 '72/3',
 'English  football player and manager',
 'Australian public servant',
 '56 or 57',
 'Italian fashion designer',
 'South African social entrepreneur',
 'Yemeni general',
 '57',
 'Mexican suspected hitman',
 '90',
 'Australian rugby player and coach',
 'Canadian television producer (',
 'Pakistani political journalist',
 'Northern Irish football administrator',
 '1',
 '9',
 'Canadian journalist',
 'Nigerian physicist',
 'South Sudanese Episcopal prelate',
 'Notable people that died in the crash of :\n',
 'American police officer (U.S. Capitol Police)',
 'Spanish film director',
 'American music publisher',
 'American dermatologist and pathologist',
 'Jordanian Hamas member',
 'American champion race horse',
 'Iraqi governor of Baghdad province',
 'Somali government minister',
 'Argentine swimmer',
 'Pakistani militant',
 'Colombian politician',
 'Sir Edinburgh University',
 'New Zealand mycologist',
 'Pakistani civil servant',
 'Iraqi attorney in the continuing Trial of Saddam Hussein',
 'Tree of the Year 150',
 'Vanuatuan president (1994',
 'British police officer',
 '89–90',
 'Lesotho politician',
 'Pakistani scholar and president of Majlis-e-Ahrar-ul-Islam',
 'Anishinaabe First Nations activist and scholar',
 'c. 83',
 'Guatemalan politician and brigadier general',
 'Iranian conservative politician and warden',
 'c. 99',
 '78/79',
 'Pakistani Kashmiri politician',
 'Greek painter and academic',
 'American educator (HGSE)',
 '(Quintin Hogg)',
 'Pakistani singer',
 'American Roman Catholic priest',
 'Greek serial killer',
 'Ghanaian diplomat',
 'Pakistani diplomat',
 'Notable Mexican politicians killed in the :\n',
 '47',
 'Indian engineer',
 'American politician',
 'Russian politician with the Yabloko party',
 'Palestinian leader of PA / Hamas forces in Gaza Strip and PRC. Killed by Israeli air strike',
 'Congolese trade unionist and politician',
 'North Korean diplomat',
 'founder of Los Zetas',
 'Ghanaian disc jockey (Happy FM)',
 'Pakistani al-Qaeda senior operative',
 'Australian actor',
 'early 40s',
 'Nana Gualdi',
 'Pakistani activist',
 'South Sudanese military leader and politician',
 '55-56',
 'Somali royal',
 'Indian folk singer',
 '21-22',
 'Ethiopian army officer',
 'Pakistani journalist and reporter',
 'Somali writer',
 'American diplomat and president of The Metropolitan Museum of Art',
 'Mexican journalist',
 '68',
 '49-50',
 'c. 62',
 'Taiwanese failed assassin in the 3-19 shooting incident',
 'Sarah-Jayne Mulvihill',
 '(né Armand Pierre Fernandez)',
 'Bangladesh army officer',
 '(aka S. Bar David)',
 'Indian actor (',
 '97',
 '86/7',
 '67-68',
 'c. 40',
 'American businessman and politician',
 '81. English sports journalist',
 'Indian journalist',
 '74–75',
 'Turkish political prisoner',
 '93–94',
 'Zimbabwean educator',
 'Venezuelan physician and politician',
 'American singer',
 '74 or 75',
 '87/88',
 '84 or 85',
 'Afghanistan mujahideen during the Soviet–Afghan War',
 'Moroccan surgeon and professor',
 'Sri Lanka Army officer',
 'Zimbabwean politician',
 'Dutch musician and singer',
 'Mexican archeologist',
 '(Bussunda)',
 '72',
 'South African psychotherapist and television production manager (',
 'Mozambican journalist',
 'Douglas Scott',
 'Bangladeshi army officer and assassin of Sheikh Mujibur Rahman',
 'Turkish actor',
 'Indian Army general',
 'Scottish mathematician and astronomer',
 'Tamil actress',
 '86–87',
 'American nuclear physicist',
 'Russian journalist',
 "Iraqi defense lawyer in Saddam Hussein's trial",
 'Uruguayan lawyer and judge',
 '103',
 'Irish writer and academic',
 'Australian indigenous artist',
 'American suspect regarding the murders of Chaney',
 'British street entertainer',
 'Central African health minister',
 '79–80',
 'Russian Colonel',
 'Afghan presidential adviser',
 '95 American basketball player (Waterloo Hawks)',
 'Egyptian existentialist philosopher',
 '(aka Abu Abbas)',
 'Moroccan long-distance runner',
 '79-80',
 'Fijian diplomat',
 '105',
 '80 American artist',
 'American bongo player',
 'New Zealand academic',
 'Scott Workman',
 'Mexican serial killer',
 'Bissau-Guinean soldier and rebel',
 'Tunisian senior ISIS commander',
 'Norwegian architect',
 '86-87',
 'Scottish footballer (Berwick Rangers)',
 'American writer and psychotherapist',
 '69–70',
 'Indian novelist',
 '60-61',
 'Notable German people killed in the crash of :\n',
 'American journalists killed as a result of the :\n',
 'Indian Islamic scholar and chancellor of Mazahir Uloom',
 'Irish scientist',
 'American songwriter',
 'Australian mathematician and chess player',
 '92',
 'Dominican Republic diplomat and feminist',
 '97/98',
 '71',
 'American writer and artist',
 'American mural artist',
 'Cuban guitarist',
 'Notable people killed in shooting :\n',
 'Omani politician',
 'American news host and journalist (CNN',
 'Indian guru and philosopher',
 'Bangladesh army general',
 '55',
 '93-94',
 'Malaysian businessman and politician',
 'Iranian mountaineer',
 '94 or 95',
 'Tunisian politician',
 'French astrophysicist',
 'c. 17',
 'British-born Italian musician and musicologist',
 '99',
 'Pakistan Army Lieutenant-Colonel',
 '115',
 '92/93',
 'Burundian politician',
 "Iraqi Al-Qaeda's second-in-command in Iraq",
 'c. 30',
 'American-born Canadian publisher',
 '40–41',
 '73',
 'Abkhaz politician',
 '95–96',
 '98',
 'British LGBT rights activist',
 'Indian actor and producer',
 'Japanese composer (',
 'American recording executive who helped launch Ozzy Osbourne and Merle Haggard',
 'British Channel Islander politician',
 'c. 2',
 '34/35',
 '82-83',
 '(née Eva Narcissus Boyd)',
 'Kenyan basketball player',
 'Malagasy politician',
 'c. 69',
 '52-53',
 'Mozambican political musician who sang in Shangaan',
 '25',
 '49',
 'American donkey',
 'Fijian rugby player and military officer',
 'Bangladeshi lawyer',
 'English cricketer',
 'British RAF officer',
 'Indian film editor',
 'American police victim',
 '74–76',
 'Portuguese organometallic chemist',
 'Australian judge',
 'New Zealand-born Australian pop singer. (body discovered on this date)',
 'Yemeni militant',
 'Nigerian self-proclaimed "prophet of God" and occult practitioner',
 'Irish Gaelic football and hurling coach (Cork)',
 'English artist',
 '59–60',
 'British comic book letterer',
 '146 (claimed)',
 '(aka Sarah Cockburn)',
 '75',
 '80–81',
 'Nepali actress',
 '51',
 'Nepali singer and songwriter',
 'Perpetrators of the  shot dead by police:\n',
 'c. 3500',
 'Pakistani general',
 'Malawian economist and politician',
 '93/4',
 'Iraqi Al-Qaeda operative',
 'Indian communist',
 'Nigerian radio host',
 'French slalom canoeist',
 'American venture capitalist',
 '98–99',
 'Iraqi Mandaean leader',
 '33-34',
 'Burundian anti-corruption activist (OLUCOME)',
 'Islamic scholar',
 'Indian painter',
 'South African philatelist',
 'American artist',
 'Palestinian Hamas militant and assistant to Adnan al-Ghoul',
 '(East) German politician and political prisoner',
 'aka ',
 '85',
 'Albanian painter',
 'South Korean serial killer',
 'British academic',
 'Vincent Palmer',
 'Indian diplomat',
 'Northern Irish Ulster loyalist',
 '74',
 'American sport shooter',
 'German mass murderer',
 'Palestinian Hamas chief explosives expert',
 '2',
 '40s',
 'Chadian general',
 'American medical illustrator',
 'Bangladeshi scholar',
 'El Salvadoran baseball player',
 '23',
 '58',
 'Mike Alexander',
 'Czech artist',
 'Notable people who died in the :\n',
 'Pakistani Taliban leader (Bajaur Agency)',
 'Indian yoga guru',
 'Somalian terrorist',
 '100 or 101',
 'Notable Indian military officers killed in the :\n',
 'Indian poet and hymner',
 'South African businessman',
 'Sudanese journalist and politician',
 'Brazilian spree killer',
 'Indian architect',
 'Tongan environmentalist',
 'American pollster and researcher',
 'Jordanian politician',
 'Yemeni al-Qaeda terrorist',
 'Libyan politician',
 'American businessman and philanthropist',
 'French actress',
 '58/59',
 'Australian comic book creator and convicted murderer',
 '38',
 '11 months',
 '59',
 '102',
 'Indian commander in the militant organisation Hizbul Mujahideen',
 '30',
 '71–72',
 'American art collector',
 'Indian politician and social worker',
 'Saudi Arabian footballer',
 'aka "Dino Sete Cordas"',
 'Moroccan royalty',
 'South Sudanese military officer',
 'Puerto Rican-American civil right activist',
 '84-85',
 '96',
 '7–8',
 'Zambian football player and coach',
 'Indian activist',
 'Bissau-Guinean Navy Chief of Staff',
 '94',
 '76/7',
 '100+',
 '85. French Olympic swimmer (1952)',
 'Montenegrin Serb World War II Partisan and Chetnik',
 'Somali politician and poet',
 'American punk rock producer',
 'Somali journalist ()',
 '104?',
 '64-65',
 '101',
 '11',
 '(aka Casey Adams)',
 'Ghanaian journalist',
 'Ghanaian politician and king',
 'Welsh lawn bowler',
 '8–9',
 'Indian film actress',
 'British businessman',
 'Soldiers killed in the :\n',
 '32',
 '20',
 'Zimbabwean military officer',
 'Ghanaian pharmacist and politician',
 'Somali politician and army general',
 '51–53',
 '90–91',
 'Saudi prince and convicted murderer',
 'Sir Woolwich West',
 'c. 43',
 'Afghan US detainee',
 '83',
 'Irish politician',
 '104',
 'Russian jurist',
 'Somali politician and military officer',
 'Palestinian freelance cameraman',
 'American ethnographer',
 'Ghanaian football executive',
 'Indian lawyer and politician',
 'American art dealer and collector',
 'South African royal and politician',
 'Iraqi former governor of Al Anbar',
 'American visual artist',
 '51–52',
 'c. 70',
 '94-95',
 'Pakistan folk singer',
 '89-90',
 'Syrian politician and literary personality',
 'Nigerian actor',
 '(Nariman Sadeq)',
 'Turkish orchestra conductor',
 'Filipino militant (Abu Sayyaf)',
 'Ni-Vanuatu Anglican prelate',
 'Tunisian jihadist',
 'Journalists killed in the \n',
 'Iranian quantum physicist',
 'American intelligence official',
 '29–30',
 '22',
 'American professor of medicine',
 'Iranian political prisoner',
 'American knifemaker',
 'Chadian militant and politician',
 'Afghan Taliban commander',
 '42',
 '24',
 '24–26',
 'King of Nepal',
 'Iranian Islamic scholar',
 'Sino-Burmese scholar',
 'American neo-Nazi',
 'Notable Americans killed in the :\n',
 'Norwegian-born Mexican writer and actress',
 'Sudanese murderer and alleged serial killer',
 'Afghan governor of Logar Province',
 'American concert singer',
 'aka Abu Hamza',
 'Notable Polish people killed in the :\n',
 '81',
 '60',
 'American publisher',
 'South African gynecologist',
 'c. 71',
 'c. 72',
 'Israeli sculptor',
 'German biochemist',
 'South Korean engineer',
 'Australian rugby player',
 'Gambian politician',
 'c. 102',
 'Iraqi member of Mujahideen Shura Council',
 '91 or 95',
 'Indian actor',
 'American lyricist and voice actor. (death announced on this date)',
 'French singer',
 'Venezuelan nine-ball pool player. (death announced on this date)',
 'Emirati businessman and diplomat',
 'South Sudanese politician',
 '54–55',
 'Indian militant commander (Hizbul Mujahideen)',
 '56/7',
 'Philippine Marine Corps marine and posthumous recipient of the Medal of Valor',
 'Notable Indonesians killed in the :\n',
 'Fijian politician and chief',
 'Nova Scotia playwright and film critic',
 'German Olympic sailor [1]',
 'Pakistani stage comedian',
 '87',
 'Vietnamese labor leader and mobster',
 'Barry Stigler',
 'Somali Health Minister',
 'Irish dance instructor',
 '56-57',
 'American basketball player and coach',
 'German footballer and manager',
 '58–59',
 'Iraqi cartoonist and political activist',
 'American chemical engineer',
 'Colombian architect',
 '34–35',
 '1–2',
 'Chinese martial artist',
 'American electrical engineer and inventor',
 'American Jewish rabbi and anti-Zionist',
 'American R&B/Soul singer',
 '28',
 'Isle of Man jurist',
 'Sri Lankan cricket commentator',
 '1997',
 '83-84',
 'British author',
 'Haitian painter',
 'British lawn bowler. (death announced on this date)',
 'Kenyan football coach (Muhoroni Youth F.C.)',
 'American casting director (',
 '31',
 '42–43',
 'Egyptian terrorist (al-Qaeda)',
 '64',
 'Australian doctor',
 'American librarian and civil rights activist',
 '39',
 'c. 87',
 '60–63',
 'South African spree killer',
 'c. 100',
 'Notable Brazilians who died in the :\n',
 '(née Mitsuru Hanada)',
 '45',
 '8',
 'Indian Sufi saint',
 'Cook Islands politician',
 'Iranian alleged intelligence agent',
 'Somali judge',
 'Indian poet',
 'Indian cricketer',
 'American archaeologist',
 'Iranian Army general',
 'American lawyer and politician',
 'Indian actress (',
 'Sri Lankan comedian',
 'Bangladeshi folk singer',
 'Egyptian physician',
 '18 (in 2005)',
 '36–37',
 'Algerian handball player and coach (NA Hussein Dey',
 'Russian politician',
 'American actor',
 'Indonesian Muslim cleric and preacher',
 'Syrian politician and Prime Minister',
 'American religious scholar and academic administrator',
 '66',
 '55/56',
 '73/74',
 'American whitewater kayaker',
 '82/83',
 'Australian professor',
 '48–49',
 '62 or 64',
 'Iraqi journalist',
 '28–29',
 'British bioarchaeologist. (death announced on this date)',
 'American college football coach (Texas Christian University',
 'Marine of the Philippine Marine Corps and posthumous recipient of the Medal of Valor',
 'American physician',
 'Turkish politician',
 'Filipino comics artist',
 'Indian cricket umpire',
 '81-82',
 'American football and track coach',
 '4',
 '34-38',
 'French Polynesian royal claimant',
 'Iraqi Al-Qaeda officer',
 '75/76',
 'Notable people killed in the crash of :\n',
 'American game designer ()',
 'Indian sports administrator',

#### Observations:
- Though we can see the age values, there is a lot of other information in the first substring of the `info` value.
- Some entries may be missing the age information.
- Also, age is entered in various formats.
- Let us see how many variations there are.

In [38]:
# Checking number of different values for first substring of info column
len(age_set)

1412

#### Observations:
- There are 1412 variations for the substring that represents age on Wikipedia.  
- We may a regular expressions approach to dividing this string feature, in addition to using Python string methods.

In [39]:
ages = pd.Series(np.arange(1, 150)).astype("string")

In [48]:
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + ","):
            df.loc[i, "age"] = int(age)
df.sample(5)

,day,name,info,link,num_references,year,month,age
38197,5,Miroslav Havel,"86, Czech-born Irish chief designer (Waterford Crystal)",https://en.wikipedia.org/wiki/Miroslav_Havel,3,2008,September,86
70724,3,Wimper Guerrero,"32, Ecuadorian footballer, heart attack",https://en.wikipedia.org/wiki/Wimper_Guerrero,2,2014,August,32
107737,10,Werner Andreas Albert,"84, German composer and conductor",https://en.wikipedia.org/wiki/Werner_Andreas_Albert,4,2019,November,84
81356,23,Luis Alberto Machado,"84, Venezuelan lawyer and politician",https://en.wikipedia.org/wiki/Luis_Alberto_Machado,8,2016,February,84
106193,22,Junior Agogo,"40, Ghanaian footballer (Bristol Rovers, Nottingham Forest, national team)",https://en.wikipedia.org/wiki/Junior_Agogo,29,2019,August,40

In [41]:
df["age"].isna().sum()

2025

In [42]:
df

,day,name,info,link,num_references,year,month,age
0,1,William Chappell,"86, British dancer, ballet designer and director",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21,1994,January,86.000
1,1,Raymond Crotty,"68, Irish economist, writer, and academic",https://en.wikipedia.org/wiki/Raymond_Crotty,12,1994,January,68.000
2,1,Walter Eckhardt,"87, German politician",https://en.wikipedia.org/wiki/Walter_Eckhardt,1,1994,January,87.000
3,1,"Arthur Porritt, Baron Porritt","93, New Zealand physician, statesman and athlete","https://en.wikipedia.org/wiki/Arthur_Porritt,_Baron_Porritt",25,1994,January,93.000
4,1,Cesar Romero,"86, American actor (, , ) and activist",https://en.wikipedia.org/wiki/Cesar_Romero,42,1994,January,86.000
...,...,...,...,...,...,...,...,...
133895,8,Song Hae,"95, South Korean television host () and singer",https://en.wikipedia.org/wiki/Song_Hae,21,2022,June,95.000
133896,8,Birkha Bahadur Muringla,"79, Indian writer",https://en.wikipedia.org/wiki/Birkha_Bahadur_Muringla,3,2022,June,79.000
133897,9,Aamir Liaquat Hussain,"50, Pakistani journalist and politician, MNA (2002–2007, since 2018)",https://en.wikipedia.org/wiki/Aamir_Liaquat_Hussain,99,2022,June,50.000
133898,9,Oleg Moliboga,"69, Russian volleyball player, Olympic champion (1980) and coach",https://en.wikipedia.org/wiki/Oleg_Moliboga,2,2022,June,69.000
133899,9,Zou Jing,"86, Chinese engineer, member of the Chinese Academy of Engineering",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3,2022,June,86.000