# Wikipedia Notable Life Expectancies

# [Notebook 2 of 4: Data Cleaning](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean_thanak_2022_06_13.ipynb)

## Context

The


## Objective

The

### Data Dictionary

- Feature: Description

## Importing Necessary Libraries

In [1]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To help with reading and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress scientific notations for a dataframe
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

## Data Overview

### Reading, Sampling, and Checking Data Shape

In [2]:
# Reading the wp_life_expect_raw_complete dataset
conn = sql.connect("wp_life_expect_raw_complete.db")
data = pd.read_sql("SELECT * FROM wp_life_expect_raw_complete", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 133900 rows and 6 columns.

,month_year,day,name,info,link,num_references
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12

In [3]:
# Checking last 2 rows of the data
df.tail(2)

,month_year,day,name,info,link,num_references
133898,June 2022,9,Oleg Moliboga,", 69, Russian volleyball player, Olympic champion (1980) and coach.",https://en.wikipedia.org/wiki/Oleg_Moliboga,2
133899,June 2022,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3

In [4]:
# Checking a sample of the data
df.sample(5)

,month_year,day,name,info,link,num_references
1108,June 1994,18,Roger Lebel,", 71, Canadian actor.",https://en.wikipedia.org/wiki/Roger_Lebel,0
70246,July 2014,8,Maxine Cochran,", 87, Canadian politician, Nova Scotia Minister of Transport (1985–1988) and MLA for Lunenburg (1984–1988).",https://en.wikipedia.org/wiki/Maxine_Cochran,3
4202,August 1995,25,Doug Stegmeyer,", 43, American rock bassist and vocalist, suicide by gunshot.",https://en.wikipedia.org/wiki/Doug_Stegmeyer,5
57628,September 2012,13,Edgar Metcalfe,", 78, English actor, director and writer, liver cancer.",https://en.wikipedia.org/wiki/Edgar_Metcalfe,20
94594,January 2018,23,Francisco Moreno Martínez,", 86, Spanish cyclist.",https://en.wikipedia.org/wiki/Francisco_Moreno_Mart%C3%ADnez,3

#### Observations:
- There are 133,900 rows and 6 columns.
- `month_year` contains the month and year of death, while `day` contains the day of the month of death.
- `name` is the notable person's name.  It is a nominal feature that will not be used for analysis, but will be maintained for any referencing needs.
- `info` contains multiple items including the notable person's "age, country of citizenship at birth, subsequent country of citizenship (if applicable), reason for notability, (and) cause of death (if known)."
- `link` is the url to the notable person's individual Wikipedia page.  If such a page does not exist, there is either a non-working link (https://en.wikipedia.orgNone), or the link is to a page with a message that the page does not exist for that individual.  `link` is a unique identifier for all entries, except the 6 with the non-working link, which do have unique `name` values from each other.
- `num_references` contains the number of references on the notable person's individual Wikipedia page.  This feature serves as a proxy measure of notability.
- Prior to EDA, our task will be to extract the individual elements that are comined in `month_year` and `info` columns.

### Checking Data Types, Duplicates, and Null Values

In [5]:
# Checking data types and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133894 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

In [6]:
# Checking duplicate rows
df.duplicated().sum()

0

In [7]:
# Check percentage of null values by column
df.isnull().sum() / df.count() * 100

month_year       0.000
day              0.000
name             0.004
info             0.000
link             0.000
num_references   0.000
dtype: float64

In [8]:
# Checking number of missing values per row (not necessary here, but done to keep process standard)
df.isnull().sum(axis=1).value_counts()

0    133894
1         6
dtype: int64

#### Observations:
- Our dataset was saved to and read from the database without any hiccups.
- As expected, we have 6 entries that are missing `name`, but we will find it in their `info` values.
- All columns are currently of object type.  We will need to appropriately typecast them after separating the information in `month_year` and `info`.

## Data Cleaning

### Addressing Missing `name` Values

In [9]:
# Checking rows with missing name values
missing_name = df[df["name"].isna()]
missing_name

,month_year,day,name,info,link,num_references
18937,August 2001,11,None,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7.",https://en.wikipedia.orgNone,0
24985,January 2004,22,None,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
27458,March 2005,1,None,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
34077,July 2007,11,None,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
64769,September 2013,29,None,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
106613,September 2019,12,None,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0

#### Observations:
- These rows vary from the main set as there is a substring containing the person's name at the start of the `info` string.
- As there are so few rows missing `name`, let us address this issue first.

In [10]:
# For loop to copy name value from info column
treat_rows = missing_name.index
for i in treat_rows:
    info = df.loc[i, "info"]
    info_lst = info.split(sep=",", maxsplit=1)
    df.loc[i, "name"] = info_lst[0]

# Re-check rows
df.loc[treat_rows, :]

,month_year,day,name,info,link,num_references
18937,August 2001,11,Kevin Kowalcyk,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7.",https://en.wikipedia.orgNone,0
24985,January 2004,22,Vincent Palmer,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
27458,March 2005,1,Barry Stigler,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
34077,July 2007,11,Nana Gualdi,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
64769,September 2013,29,Scott Workman,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
106613,September 2019,12,Thami Shobede,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0

#### Observations:
- Missing `name` values have been addressed.
- The names still appear in the `info` value for these rows, but we can address that as we separate the information in that column.

In [11]:
# Re-check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133900 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

#### Observations:
- We have no remaining missing values.
- Let us treat the `month_year` column next.

### Separating `month` and `year`

In [12]:
# Separating month and year into 2 columns and typecasting year as integer
df.loc[:, "year"] = df["month_year"].apply(lambda x: x.split(sep=" ")[1])
df["year"] = df["year"].astype("int64")

df.loc[:, "month"] = df["month_year"].apply(lambda x: x.split(sep=" ")[0])
df.head(2)

,month_year,day,name,info,link,num_references,year,month
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21,1994,January
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12,1994,January

In [13]:
# Dropping month_year column
df.drop("month_year", axis=1, inplace=True)

### Treating `info`

#### Checking a Sample

In [14]:
# Checking a sample of info
df.sample(5)

,day,name,info,link,num_references,year,month
94287,10,William B. Keene,", 92, American judge (Los Angeles County Superior Court) and television personality ().",https://en.wikipedia.org/wiki/William_B._Keene,4,2018,January
130789,31,Flemming Quist Møller,", 79, Danish animator (, ) and screenwriter (), heart attack.",https://en.wikipedia.org/wiki/Flemming_Quist_M%C3%B8ller,8,2022,January
56478,6,Betty Buehler,", 90, American actress.",https://en.wikipedia.org/wiki/Betty_Buehler,5,2012,July
108605,21,Deng Hongxun,", 88, Chinese politician and engineer, Communist Party Secretary of Hainan (1990–1993).",https://en.wikipedia.org/wiki/Deng_Hongxun,5,2019,December
23394,14,Robert Stack,", 84, American film and television actor.",https://en.wikipedia.org/wiki/Robert_Stack,29,2003,May

#### Observations:
- We have leading and trailing characters of comma, period, and white space that can be removed.

#### Removing Leading and Trailing Commas, Whitespace, and Periods

In [15]:
# Removing the leading/trailing commas, periods, and whitespace
df.loc[:, "info"] = df["info"].apply(lambda x: x.strip(" ,."))
df.sample(5)

,day,name,info,link,num_references,year,month
26588,3,Janet Backhouse,"66, English manuscripts curator at the British Museum, cancer",https://en.wikipedia.org/wiki/Janet_Backhouse,21,2004,November
63810,4,Betty Babcock,"91, American politician, First Lady of Montana (1962–1969), member of Montana House of Representatives (1975–1977)",https://en.wikipedia.org/wiki/Betty_Babcock,4,2013,August
88611,11,András Kovács,"91, Hungarian filmmaker",https://en.wikipedia.org/wiki/Andr%C3%A1s_Kov%C3%A1cs_(film_director),7,2017,March
118112,6,Eugenia Tsoumani-Spentza,"Greek lawyer and politician, MP (2009–2012)",https://en.wikipedia.org/wiki/Eugenia_Tsoumani-Spentza,1,2020,December
86247,17,Steve Truglia,"54, British stuntman (, , ), fall",https://en.wikipedia.org/wiki/Steve_Truglia,7,2016,November

#### Checking the Set of First Substrings (Before First Comma)

In [16]:
# Checking values in the first substring of info (before the first comma)
age_set = set(df["info"].apply(lambda x: x.split(sep=",", maxsplit=1)[0]))
age_set

{'Afghan presidential adviser',
 'French historian and politician',
 'North Korean head of the Unhasu Orchestra',
 '92',
 'British journalist and business executive',
 '98–99',
 'Rwandan journalist',
 'American intelligence officer',
 'c. 66',
 'French doctor and drug test pioneer',
 'Malian actor and comedian',
 '96–97',
 'Indian actor (',
 'Vietnamese politician',
 '40',
 '67–68',
 '42',
 '57-58',
 'American bongo player',
 '79/80',
 'Syrian general',
 'Georgian politician and deputy governor of the Kvemo Kartli region',
 'South African psychotherapist and television production manager (',
 'Burkinabe actor (',
 'common chimpanzee 55',
 'Malawian diplomat involved in leaked diplomatic cable controversy',
 '(岡本喜八)',
 '1–2',
 'Brazilian female pilot',
 '72/73',
 'Sri Lankan lawyer',
 '57–58',
 'Indian Maoist militant',
 'Chilean forester and academic',
 'American librarian and civil rights activist',
 '(Bruno the Bear)',
 '68',
 'American artist',
 'c. 96',
 'French archaeologist',
 'Burundian politician and the Minister for Mines and Energy',
 'Greek lawyer and politician',
 'Bissau-Guinean Navy Chief of Staff',
 'South Sudanese politician',
 'Australian doctor',
 'English cricketer',
 'Iraqi cartoonist and political activist',
 '97–98',
 '29',
 '100+',
 'Greek painter and academic',
 'Somali public servant',
 'British conservationist',
 'Somali royal',
 '24–26',
 'South African filmmaker',
 '38 or 39',
 'British organist and composer',
 '82–84',
 'American sport shooter',
 'Australian guitarist (The Death Set)',
 'Qatari politician',
 'Albanian Islamic scholar',
 'Zimbabwean academic',
 'Irish politician',
 'North Korean diplomat',
 '64',
 'British businessman and philanthropist',
 '39',
 '176',
 '38',
 'South Sudanese Episcopal prelate',
 'Indian film actor (',
 'American lawyer and business executive',
 'Mexican humanitarian',
 'Swazi politician',
 'Japanese composer (',
 'Rwandan actor (',
 'Irish businessman and politician',
 '80. New Zealand Maori leader',
 'member of the Saudi Arabian royal family',
 'Afghan Taliban commander',
 '68–69',
 '125',
 'Ghanaian pharmacist and politician',
 '48–50',
 "Ugandan commander in the Lord's Resistance Army",
 'Canadian outdoorsman and natural historian',
 'Somali judge',
 'Iraqi deputy governor of Baghdad',
 'Australian mathematician and chess player',
 'American stage manager',
 'Guinea-Bissauan politician',
 '12',
 '80s',
 '72–73',
 'Australian indigenous artist',
 '81-82',
 '36–37',
 'Turkish politician and political party leader',
 '34-38',
 'Saudi Arabian footballer',
 '122 (disputed)',
 '(aka Gol-Agha)',
 'British club and radio disc jockey (Choice FM',
 '28–29',
 'Ethiopian politician',
 '89/90',
 '55-57',
 'American lyricist and voice actor. (death announced on this date)',
 '115',
 '\xa0?',
 '37–38',
 'Beninese politician',
 'Indian actress (',
 'Americanclown and writer and illustrator of circus subjects',
 'Pakistan Army Lieutenant-Colonel',
 'Irish victim',
 'Pakistani screenwriter (',
 '2',
 '(b. Jeffrey Hyman)',
 'Ghanaian disc jockey (Happy FM)',
 'American interior designer',
 '104',
 'American journalist and columnist',
 '116',
 'Mexican journalist',
 '74-75',
 'Chinese pingju opera performer',
 'American police officer (U.S. Capitol Police)',
 'Chadian agronomist',
 'Sri Lankan chef',
 'Ghanaian royal',
 'French astrophysicist',
 '3',
 'Indian sports administrator',
 'Indian theatre director and playwright',
 'Notable ice hockey players and coaches among the 44 killed in the :\n',
 '96-97',
 'Iraqi journalist',
 'Vanuatuan politician and member of parliament',
 'white oak',
 'Irish road racing cyclist',
 'Pakistani al-Qaeda senior operative',
 '51-52',
 'German fashion designer',
 'American punk rock producer',
 'Ethiopian general',
 '46-47',
 '72/3',
 'Syrian Major General',
 'American writer and psychotherapist',
 'Indonesian anthropologist',
 '101',
 '36',
 'Notable Americans killed in the crash of :\n',
 'American bass guitarist',
 'c. 40',
 'American psychoanalyst',
 'American Roman Catholic priest',
 'Irish hurler (Offaly)',
 'c. 53',
 'c. 99',
 'Indian film editor',
 '7–8',
 '23–24',
 'Burundian politician and diplomat',
 'Sudanese politician',
 'Indian film director (',
 'Tamil actress',
 '91–92',
 'Kenyan football coach (Muhoroni Youth F.C.)',
 'American  basketball coach',
 'Russian politician',
 '(Bussunda)',
 'Notable people killed in shooting :\n',
 'Indian Islamic scholar and chancellor of Mazahir Uloom',
 'Ivorian traditional musician',
 'Canadian social activist and politician',
 'Bangladesh army officer',
 '51–53',
 'Australian public servant',
 '94 Austrian-British social psychologist',
 'Trinidadian politician',
 'American geologist',
 'Colombian lawyer and politician',
 'Haitian politician',
 '66/67',
 'South Sudanese military officer',
 'Kuwaiti journalist and author',
 '40–41',
 '11',
 '62',
 '100',
 '18',
 'French film editor (',
 'British actor',
 'c. 70',
 '64-65',
 '62/63',
 '80',
 'Israeli sculptor',
 '50-51',
 'American banjo player',
 'Ghanaian ruler and politician',
 'Saudi Al-Qaeda leader',
 'American intelligence official',
 '83/84',
 'Pakistani Al-Qaeda militant',
 'Pakistani activist',
 'Cook Islands politician',
 '47 American college basketball coach (Midwestern State)',
 'Palestinian Hamas militant and assistant to Adnan al-Ghoul',
 'German Olympic gymnast (1952)',
 '93',
 'Argentinian actor',
 'South African banker and Holocaust denier',
 'Somali-born Canadian peace and human rights activist',
 'Thami Shobede',
 'Pakistani war prisoner',
 'German footballer and manager',
 'c.64',
 'Iranian translator and journalist',
 'Mexican criminal (Beltrán-Leyva Cartel)',
 'aka J Dilla',
 '87',
 'Notable Laotian people killed in the :\n',
 'Vanuatuan politician',
 '55',
 '43–44',
 'Sri Lanka Army officer',
 'Turkish Kurdish politician',
 'Somali politician and army general',
 'Yemeni serial killer',
 '76',
 'wife of Robert Guéï',
 '90/91',
 'American Samoan Attorney General',
 'American businessman and philanthropist',
 'Soldiers killed in the :\n',
 'Maltese 15',
 '85',
 'Pakistani politician',
 '20',
 'Russian-born American photographer for',
 'Scottish botanist and agriculturist',
 'American audio engineer',
 '65',
 '81–82',
 'Jordanian Hamas member',
 'Panamanian frog',
 'Irish dance instructor',
 'Egyptian existentialist philosopher',
 'Italian fashion designer',
 'Lebanese militant',
 'Iranian-born Australian linguist',
 'South African anti-corruption whistleblower',
 'Indian author',
 '27',
 '113',
 '(aka "Earthquake")',
 'Nigerian international footballer',
 '49',
 'Russian historian and journalist',
 '72-73',
 '53/54',
 'Moroccan novelist',
 'Egyptian terrorist (al-Qaeda)',
 'Indian politician and guerrilla',
 'Afghan politician',
 'Notable Polish people killed in the :\n',
 'Irish academic and politician',
 'Dominican physician and politician',
 '(Rip Off Press Jaxon)',
 'New Zealand rugby league player (Auckland',
 'American barred owl',
 'Egyptian lawyer and politician',
 'American art dealer and collector',
 'Senegalese football player and manager (national team',
 '34',
 'Iranian quantum physicist',
 '69-70',
 'Israeli scholar and rosh yeshiva',
 'British film art director (',
 'Tunisian senior ISIS commander',
 'South African businessman',
 'Syrian playwright',
 'Pakistani theoretical physicist',
 'American businessman and politician',
 '7-8',
 'American donkey',
 'Mexican suspected hitman',
 'British RAF officer',
 "Iraqi defense lawyer in Saddam Hussein's trial",
 'Lebanese paramilitary officer',
 '126?',
 'British music writer and journalist',
 '75–76',
 'founder of Los Zetas',
 'British comic book letterer',
 'Filipino sports executive',
 'Japanese convicted murderers from the  cult',
 '63. American gridiron football player',
 '255 (approximate age)',
 'Colombian architect',
 '52/53',
 'Turkish political prisoner',
 'American ethnomusicologist',
 'American songwriter',
 'Sri Lankan comedian',
 '75',
 'German Olympic sailor [1]',
 '79-80',
 'South African philatelist',
 '95–96',
 '100 or 101',
 'Gambian diplomat',
 'Russian journalist',
 'Cook Islands broadcaster and radio talk show host ()',
 '106',
 '(né Armand Pierre Fernandez)',
 'Australian cricketer (Queensland)',
 'Egyptian football executive',
 '(aka Sarah Cockburn)',
 'Philippine Army trooper and  posthumous recipient of the Medal of Valor',
 'Emirati royal',
 'Somali politician and military officer',
 'Chinese writer',
 'VC',
 'Sudanese murderer and alleged serial killer',
 '91-92',
 'American sculptor and writer',
 'Chechen warlord and vice president of the Chechen Republic of Ichkeria',
 '35-36',
 'American musician and producer',
 'Moroccan surgeon and professor',
 'British engineer',
 'Omani politician',
 'Montenegrin Serb World War II Partisan and Chetnik',
 '67/68',
 'Somali military officer',
 'American champion race horse',
 'American singer',
 '88-89',
 'Sri Lankan cricket commentator',
 'Somali militant (Al-Shabaab)',
 'Spanish general commander of Ceuta (Perejil Island crisis)',
 'Sarah-Jayne Mulvihill',
 '91 Chilean artist',
 'Canadian suffragan bishop',
 'c. 72',
 'Palestinian leader of PA / Hamas forces in Gaza Strip and PRC. Killed by Israeli air strike',
 '104?',
 '112',
 'Singapore-British actress',
 'c. 59',
 'professional wrestler',
 'Filipino-born saltwater crocodile',
 'Prime Minister of Zaire (1993 – 1994)',
 '53',
 'Chadian militant and politician',
 'Mexican editor and journalist',
 'Ghanaian politician',
 'American whitewater kayaker',
 'Canadian-born burglar',
 'New Zealand journalist',
 'Indian guerrilla',
 'American-Canadian astronomer. (body discovered on this date)',
 'American casting director (',
 'Hong Kong comics artist',
 'Togolese lawyer and guitarist (Orchestra Baobab)',
 '78–79',
 'Kevin Kowalcyk',
 '30',
 '58–59',
 '15',
 'French-born American writer',
 'Indonesian separatist leader',
 '32-33',
 '10',
 'Irish Gaelic footballer (Mayo)',
 'Somali politician and MP',
 'Colombian politician',
 '52',
 '82',
 'Zambian politician',
 'Norwegian architect',
 'Guinean politician',
 'Iranian feminist activist. (Farsi)',
 '70s',
 '85-86',
 'Turkish politician',
 'Russian official',
 'Northern Irish loyalist',
 '75 Colombian writer',
 '73/4',
 'Japanese botanist',
 'c. 20',
 'Indian freedom fighter and politician',
 'Notable French people killed in the :\n',
 'Jordanian politician',
 '90 Swedish Olympic sprinter',
 '51–52',
 'c.79',
 'c. 45',
 'American author',
 '(née Mitsuru Hanada)',
 '33-34',
 'Maldivian politician',
 'aka Abu Hamza',
 '1995',
 'Australian engineer and historian',
 'Indian actor and producer',
 'Army of the Republic of Vietnam officer',
 'Somali justice minister of Hirshabelle State',
 'Somali politician',
 '17',
 '87 French Olympic boxer (1952)',
 '88',
 'Colonel ',
 '60-61',
 'Czech orienteer',
 'Cuban guitarist',
 'Georgian writer',
 'Italian photographer',
 'American jazz and rhythm musician',
 'New Zealand mycologist',
 '30–31',
 '67',
 '77',
 'Solomon Islands Cabinet Minister',
 'South African gynecologist',
 'Azerbaijani criminalist',
 'Malian translator and author',
 'Yemeni al-Qaeda terrorist',
 'American chemical engineer',
 'Saint Lucian politician',
 'Greek serial killer',
 'Namibian politician',
 'Chechen mass murderer',
 'Somali Higher Education Minister',
 'Turkish actor',
 '82 German Olympic wrestler',
 '76–77',
 'Kim Hwan-Sung',
 'Cambodian-born Theravada monk and teacher',
 'American knifemaker',
 'Iraqi engineer and politician',
 'c. 49',
 'Papua New Guinean actor',
 'British computer specialist',
 'Syrian Arab intellectual',
 'Afghan-American policy advisor',
 'Mauritanian diplomat and politician',
 'Mexican serial killer',
 'American mural artist',
 'Jamaican ska',
 'French athlete',
 '43/4',
 'Mozambican journalist',
 'c. 5',
 'Iranian Islamic scholar',
 'Turkish school teacher and politician',
 'Afghan Taliban leader',
 'Indian film actress',
 '51/52',
 'Mexican politician',
 'Burundian anti-corruption activist (OLUCOME)',
 'Notable Indonesians killed in the :\n',
 'c. 87',
 'American radio newscaster and actor',
 '47',
 '67-68',
 'Iraqi al Qaeda emir of Salahuddin Province and Golden Dome bomber',
 'Fijian rugby player and military officer',
 '38-39',
 'Notable Americans who died in the :\n',
 '1997',
 'Portuguese-born American computer scientist. (death announced on this date)',
 'British snooker player',
 'Sri Lankan military officer',
 'Swazi educator and politician',
 '89?',
 '84/5',
 'Tunisian artist',
 '81',
 'Emirati film and theatre actor',
 '16',
 'Bangladeshi army officer and assassin of Sheikh Mujibur Rahman',
 'Mozambican political musician who sang in Shangaan',
 'Papua New Guinean businessman. (death announced on this date)',
 'Ethiopian Chief of Security and Immigration',
 'South African footballer',
 'Ghanaian musician (Buk Bak)',
 'Nova Scotia playwright and film critic',
 'member of the then National Assembly of Pakistan and Union Minister of Labor',
 'Chinese marathon runners killed in the :\n',
 'Somalian diplomat',
 'Sri Lankan lawyer and activist',
 '22',
 'Libyan politician',
 '100/101',
 'American actor',
 'c. 4',
 'Emirati Ajman royal',
 'Yemeni militant',
 'American abstract expressionist painter',
 'Islamic scholar',
 'Indian comic actor',
 'English rugby league player',
 '85. French Olympic swimmer (1952)',
 '28/29',
 'black rhinoceros',
 '8–9',
 'Cambodian labor leader',
 'c. 102',
 'Indian actor',
 'c.42',
 '74–76',
 'Filipino comics artist',
 '10–11',
 'Ghanaian football executive',
 'American recording executive who helped launch Ozzy Osbourne and Merle Haggard',
 'American military officer',
 'American keyboardist (Ambrosia)',
 '90 British businessman',
 'Pakistan Army officer',
 "Indo-Trinidadian/Afro-Trinidadian social worker and women's rights activist",
 '38-40',
 '99',
 'American neo-Nazi',
 'Jr.',
 'Zimbabwean politician',
 'Irish footballer',
 '73',
 '(aka Casey Adams)',
 'Indian politician',
 'Polish Olympic weightlifter',
 'Pakistani Taliban leader (Bajaur Agency)',
 'Saudi prince and convicted murderer',
 '109',
 'Luxembourgian Olympic road cyclist (1952)',
 'People killed in the :\n',
 '87-88',
 'Indonesian politician',
 'Irish Gaelic footballer',
 'Basque-American writer',
 'American religious scholar and academic administrator',
 'Australian Liberal politician',
 '63',
 '38/39',
 'Turkestani Islamic extremist group leader',
 'Nana Gualdi',
 'Zimbabwean military officer',
 '54/55',
 'British aid worker',
 'Notable Indian military officers killed in the :\n',
 'Italian geologist',
 'Japanese football player and manager',
 'South African spree killer',
 'Turkish painter',
 'Indian commander in the militant organisation Hizbul Mujahideen',
 '90–91',
 'King of Nepal',
 'c. 2',
 '41–42',
 '(aka Karen Bach)',
 '85–86',
 'American television executive',
 'Papua New Guinean pathologist. (death announced on this date)',
 'Saudi Arabian journalist and historian',
 '95',
 '55-56',
 'Kenyan politician',
 'British housing executive',
 'c. 75',
 'victims:\n',
 'South Korean farmer and activist',
 'Tunisian actor and screenwriter',
 'Sir Governor-General',
 'aka "Sammy Steamboat"',
 'Tanzania traditional leader',
 'Swedish cameraman',
 '69/70',
 'Pakistani Pashto language folk singer',
 '32',
 'Iranian politician',
 'American Labrador retriever therapy and bomb detection dog',
 'Australian politician',
 '93–94',
 'Kittitian cricketer',
 'American artist ()',
 'Nepali singer and songwriter',
 'Trinidad and Tobago-born American author',
 'Spanish journalist and trade unionist',
 'Dominican Republic diplomat and feminist',
 '78/79',
 '59–60',
 'Vietnamese songwriter',
 'British soldier',
 'c. 46',
 'Welsh television actor',
 'Iraqi terrorist (al-Qaeda)',
 'Japanese pilot and warrant officer during World War II',
 'Uruguayan footballer',
 'Australian rugby league player (Eastern Suburbs)',
 '111',
 'Iranian alleged intelligence agent',
 '1996',
 'Chechen Islamist',
 'Libyan military officer',
 'Provisional Irish Republican Army volunteer',
 '88–89',
 'Indian Tamil film actor',
 'Indian Sufi saint',
 'Tree of the Year 150',
 'Indian novelist',
 'American transwoman and performer',
 'American diplomat and president of The Metropolitan Museum of Art',
 'Moroccan royalty',
 'British charity worker',
 'American football and track coach',
 'Taiwanese failed assassin in the 3-19 shooting incident',
 'Mexican crime journalist',
 'Indian anthropologist',
 'Isle of Man jurist',
 'Iraqi Al-Qaeda officer',
 'Tunisian jihadist',
 '74 or 75',
 'Indian cricketer',
 '(Youree Dell Harris)',
 'Sir Winchester',
 '68/9',
 'Abkhaz politician',
 '98',
 '80 American artist',
 '91',
 'Greek LGBT rights activist',
 'Turkish artist',
 '50/51',
 '60–61',
 '95 American basketball player (Waterloo Hawks)',
 'American politician and jurist',
 'French milliner',
 '94-95',
 'Pakistani stage comedian',
 '5',
 'American football',
 'Sri Lankan police officer and singer',
 'American ethnographer',
 'American ceramic artist',
 'Irish writer and academic',
 'Libyan Army colonel',
 '103',
 'American suspect regarding the murders of Chaney',
 'Iraqi governor of Baghdad province',
 'Afghani politician',
 '28-29',
 '84–85',
 'American musician',
 'Sudanese journalist and politician',
 'Afghani politician and one of the founders of the Taliban',
 '55/56',
 '49-50',
 'American basketball player and coach',
 'South African social entrepreneur',
 '86',
 'c. 73',
 '21',
 '122 (claimed)',
 'President of the Comoros',
 'Turkish orchestra conductor',
 'French communist activist',
 'spiritual adviser for Al-Qaeda in Iraq',
 'Bangladeshi actress',
 'Pakistani Army general',
 'Kenyan basketball player',
 'British peer and military officer',
 'Australian professor',
 'French actress and writer',
 'Bangladeshi singer and composer',
 '90s',
 'Notable people that died in the crash of :\n',
 'Bangladeshi Islamist militant leader (JMB) until his capture by the RAB',
 '26',
 'c. 23',
 '9',
 'c. 65',
 'Brazilian draughts player',
 'Ghanaian broadcaster (Happy FM)',
 'Solomon Islands news presenter and journalist',
 'Fijian academic and politician',
 '80-81',
 'Philippine Marine Corps marine and posthumous recipient of the Medal of Valor',
 'Russian general',
 '4',
 'British-born Italian musician and musicologist',
 'American news host and journalist (CNN',
 'British police officer',
 '52-53',
 'Barry Stigler',
 '48-49',
 'Aboriginal artist',
 'Malagasy military officer and convicted coupist',
 'Australian field hockey player',
 '(aka S. Bar David)',
 '45',
 '76-77',
 'New Zealand academic',
 'Chinese Navy rear admiral',
 'Australian television writer and producer (',
 'American physician',
 '28',
 'Gambian-American journalist',
 'Romanian general and communist politician',
 'New Caledonian football manager',
 'Ghanaian engineer and politician',
 '39–40',
 'Sir Premier',
 '134?',
 '29-30',
 'Nigerian Islamic militant',
 'Haitian painter',
 'British LGBT rights activist',
 'Indian guru and philosopher',
 'Australian writer',
 '89',
 '52–53',
 'Saudi princess and most prominent wife of King Faisal',
 'Iranian political prisoner',
 'Paraguayan politician',
 'American college basketball coach (Oklahoma',
 'Afghan general and politician',
 '84',
 'Pakistani military officer and diplomat',
 '61–62',
 'Iraqi general of the Republican Guard',
 'Pakistani political journalist',
 'American publisher',
 'English artist',
 'Pakistani scholar and president of Majlis-e-Ahrar-ul-Islam',
 'American house and R&B singer ("It\'s Gonna Be Alright")',
 '90-91',
 'American professor',
 'Fijian diplomat',
 'American chemist',
 'Notable deaths consequent to the :\n',
 'Nigerian academic',
 '3-months',
 'Puerto Rican prosecutor',
 'Notable Brazilian people killed in the crash of :\n',
 'aka "Dino Sete Cordas"',
 'Australian rugby player and coach',
 'English rugby player',
 '87–88',
 'Iraqi member of Mujahideen Shura Council',
 'Russian head of the Kabardino-Balkaria police',
 'American police victim',
 'Ethiopian evangelist',

#### Observations:
- Though we can see the age values, there is a lot of other information in the first substring of the `info` value.
- Some entries may be missing the age information.
- Also, age is entered in various formats.
- Let us see how many variations there are.

In [17]:
# Checking number of different values for first substring of info column
len(age_set)

1412

#### Observations:
- There are 1412 variations for the substring that represents age on Wikipedia.  
- We can start by extracting the age for those entries that begin with the age value for `info`.

#### Extracting `age` from `info` for `info` Values that Begin with "age,"

In [18]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age,'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + ","):
            df.loc[i, "age"] = int(age)
df.sample(5)

,day,name,info,link,num_references,year,month,age
45561,13,Peter Provan,"73, Australian rugby league footballer, Balmain Tigers premiership captain (1969), after long illness",https://en.wikipedia.org/wiki/Peter_Provan,5,2010,May,73.000
32198,23,Ştefan Haukler,"64, Romanian Olympic fencer",https://en.wikipedia.org/wiki/%C5%9Etefan_Haukler,3,2006,November,64.000
65594,18,Forrest Claunch,"73, American politician, pancreatic cancer",https://en.wikipedia.org/wiki/Forrest_Claunch,3,2013,November,73.000
19903,18,Marcel Mule,"100, French saxophonist",https://en.wikipedia.org/wiki/Marcel_Mule,1,2001,December,100.000
73477,23,Norman Wray,"91, American Roman Catholic missionary, Alzheimer's disease",https://en.wikipedia.org/wiki/Norman_Wray,9,2014,December,91.000

In [19]:
# Checking for remaining rows missing age
df["age"].isna().sum()

2025

#### Observations:
- We were able to extract `age` for the vast majority of entries.
- Let us take a look at the remaining entries.

#### Checking Rows with Missing `age`

In [20]:
df[df["age"].isna()]

,day,name,info,link,num_references,year,month,age
268,10,Dominic McGlinchey,"39–40, Irish republican paramilitary leader, shot",https://en.wikipedia.org/wiki/Dominic_McGlinchey,418,1994,February,NaN
900,20,Fernande Giroux,Canadian actress and jazz singer,https://en.wikipedia.org/wiki/Fernande_Giroux,5,1994,May,NaN
1029,6,Peter Graves,"English actor and nobleman, heart attack","https://en.wikipedia.org/wiki/Peter_Graves,_8th_Baron_Graves",5,1994,June,NaN
1895,24,1994 Colombo suicide attack,Notable people killed in the \n,"https://en.wikipedia.org/wiki/List_of_attacks_attributed_to_the_LTTE,_1990s#1994",41,1994,October,NaN
2318,1,Nina Leen,Russian-born American photographer for,https://en.wikipedia.org/wiki/Nina_Leen,3,1995,January,NaN
...,...,...,...,...,...,...,...,...
133602,24,Khyongla Rato,"98–99, Tibetan Buddhist scholar, founder of The Tibet Center",https://en.wikipedia.org/wiki/Khyongla_Rato,20,2022,May,NaN
133816,4,Mike Omotosho,Nigerian politician,https://en.wikipedia.org/wiki/Mike_Omotosho,10,2022,June,NaN
133830,4,Fei Liang,"85–86, Chinese herpetologist",https://en.wikipedia.org/wiki/Fei_Liang,5,2022,June,NaN
133837,5,Roman Kutuzov,Russian major general,https://en.wikipedia.org/wiki/Roman_Kutuzov_(general),10,2022,June,NaN
133838,5,Stanley Goreraza,"Zimbabwean military officer, cancer",https://en.wikipedia.org/wiki/Stanley_Goreraza,3,2022,June,NaN

#### Observations:
- We can immediately see 2 apparent patterns.  The first is an age range with a hyphen and the second is age missing altogether.
- Let us do another iteration for the age-range pattern, accepting the lower value as age.

#### Extracting `age` from `info` for `info` Values that Begin with "age-"

In [21]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + "-"):
            df.loc[i, "age"] = int(age)
df.sample(5)

,day,name,info,link,num_references,year,month,age
70621,28,Alakbar Mammadov,"84, Azerbaijani Soviet football player and manager",https://en.wikipedia.org/wiki/Alakbar_Mammadov,8,2014,July,84.000
116366,27,Barclay Palmer,"88, English Olympic shot putter (1956)",https://en.wikipedia.org/wiki/Barclay_Palmer,2,2020,September,88.000
35922,27,Irene Stegun,"88, American mathematician",https://en.wikipedia.org/wiki/Irene_Stegun,3,2008,January,88.000
53612,21,Slavko Ziherl,"66, Slovenian psychiatrist and politician",https://en.wikipedia.org/wiki/Slavko_Ziherl,1,2012,January,66.000
49782,16,Chinesinho,"76, Brazilian footballer, Alzheimer's disease",https://en.wikipedia.org/wiki/Chinesinho,5,2011,April,76.000

In [22]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

1841

#### Observation:
- The last iteration captured nearly 200 values.
- Let us take a look at the remaining rows with missing `name'.

#### Checking Rows with Missing `age`

In [23]:
# Checking rows still missing `age`
df[df["age"].isna()].sample(5)

,day,name,info,link,num_references,year,month,age
11996,3,Ahmet Kayhan Dede,Turkish Sufi master,https://en.wikipedia.org/wiki/Ahmet_Kayhan_Dede,0,1998,August,NaN
41319,12,Annesley Dias,Sri Lankan comedian,https://en.wikipedia.org/wiki/Annesley_Dias,9,2009,June,NaN
124542,21,Haribhushan,"Indian politician and guerrilla, COVID-19",https://en.wikipedia.org/wiki/Haribhushan,6,2021,June,NaN
70914,13,Hani Abbadi,"Jordanian politician, member of the House of Representatives (1993–1997)",https://en.wikipedia.org/wiki/Hani_Abbadi,1,2014,August,NaN
90317,10,Abu Khattab al-Tunisi,"Tunisian jihadist, shot",https://en.wikipedia.org/wiki/Abu_Khattab_al-Tunisi,4,2017,June,NaN

#### Observations:
- It almost appears as if our iteration for addressing `info` starting with "age-' missed some values.
- Closer examination reveals that the dash character varies for the remaining values ("-" vs "–").
- So we will iterate again with the larger dash.

In [24]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + "–"):
            df.loc[i, "age"] = int(age)
df.sample(5)

,day,name,info,link,num_references,year,month,age
55084,12,Vladimir Astapovsky,"65, Soviet Olympic bronze medal-winning (1976) footballer",https://en.wikipedia.org/wiki/Vladimir_Astapovsky,2,2012,April,65.000
30048,16,Dennis Kirkland,"63, British television producer and director, after a short illness",https://en.wikipedia.org/wiki/Dennis_Kirkland,0,2006,February,63.000
48918,6,Gary Moore,"58, Irish rock guitarist and singer (Thin Lizzy), heart attack",https://en.wikipedia.org/wiki/Gary_Moore,134,2011,February,58.000
127651,12,Zinaida Korneva,"99, Russian military veteran and charity fundraiser",https://en.wikipedia.org/wiki/Zinaida_Korneva,36,2021,October,99.000
47932,20,Jim Yardley,"64, English cricketer",https://en.wikipedia.org/wiki/Jim_Yardley_(cricketer),1,2010,November,64.000

In [25]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

1374

#### Observation:
- That iteration captured over 400 values.
- Let us take a look at the remaining rows with missing `name'.

#### Checking Rows with Missing `age`

In [26]:
# Checking rows still missing `age`
df[df["age"].isna()].head(100)

,day,name,info,link,num_references,year,month,age
900,20,Fernande Giroux,Canadian actress and jazz singer,https://en.wikipedia.org/wiki/Fernande_Giroux,5,1994,May,NaN
1029,6,Peter Graves,"English actor and nobleman, heart attack","https://en.wikipedia.org/wiki/Peter_Graves,_8th_Baron_Graves",5,1994,June,NaN
1895,24,1994 Colombo suicide attack,Notable people killed in the \n,"https://en.wikipedia.org/wiki/List_of_attacks_attributed_to_the_LTTE,_1990s#1994",41,1994,October,NaN
2318,1,Nina Leen,Russian-born American photographer for,https://en.wikipedia.org/wiki/Nina_Leen,3,1995,January,NaN
2506,22,Henry Gladstone,"American radio newscaster and actor, heart failure",https://en.wikipedia.org/wiki/Henry_Gladstone,5,1995,January,NaN
2902,11,Ernest Kabushemeye,"Burundian politician and the Minister for Mines and Energy, assassinated",https://en.wikipedia.org/wiki/Ernest_Kabushemeye,2,1995,March,NaN
3296,30,Christopher Chadman,"American dancer and choreographer, AIDS-related complications",https://en.wikipedia.org/wiki/Christopher_Chadman,2,1995,April,NaN
3359,8,Carroll Best,American banjo player,https://en.wikipedia.org/wiki/Carroll_Best,4,1995,May,NaN
4642,24,Syed Abuzar Bukhari,Pakistani scholar and president of Majlis-e-Ahrar-ul-Islam,https://en.wikipedia.org/wiki/Syed_Abuzar_Bukhari,2,1995,October,NaN
5308,12,Jon Pattis,"American engineer imprisoned in Iran, congestive heart failure",https://en.wikipedia.org/wiki/Jon_Pattis,3,1996,January,NaN
5423,29,Bill Sorensen,"New Zealand rugby player, coach and administrator",https://en.wikipedia.org/wiki/Bill_Sorensen,9,1996,January,NaN
6057,9,Khaptad Baba,"1995, Nepalese spiritual saint",https://en.wikipedia.org/wiki/Khaptad_Baba,6,1996,May,NaN
6078,11,1996 Mount Everest disaster,Notable climbers killed in the \n,https://en.wikipedia.org/wiki/1996_Mount_Everest_disaster,47,1996,May,NaN
6476,17,TWA Flight 800,Notable people killed in the crash of :\n,https://en.wikipedia.org/wiki/TWA_Flight_800,74,1996,July,NaN
6860,17,Spiro Agnew,"American politician, 77, 39th Vice President of the United States, leukemia",https://en.wikipedia.org/wiki/Spiro_Agnew,207,1996,September,NaN
6998,5,Elmer Berger,American Jewish rabbi and anti-Zionist,https://en.wikipedia.org/wiki/Elmer_Berger_(rabbi),12,1996,October,NaN
6999,5,Wymberley D. Coerr,"1995, American politician and diplomat",https://en.wikipedia.org/wiki/Wymberley_D._Coerr,3,1996,October,NaN
7013,7,José Antonio Burciaga,"55/56, American Chicano artist, poet, and writer",https://en.wikipedia.org/wiki/Jos%C3%A9_Antonio_Burciaga,3,1996,October,NaN
7094,17,Bert Hopwood,British motorcycle designer,https://en.wikipedia.org/wiki/Bert_Hopwood,5,1996,October,NaN
7281,13,Alma Kitchell,American concert singer,https://en.wikipedia.org/wiki/Alma_Kitchell,19,1996,November,NaN
7283,13,Swami Rama,Indian yoga guru,https://en.wikipedia.org/wiki/Swami_Rama,17,1996,November,NaN
7345,21,Syed Mohammed Mukhtar Ashraf,"Indian Sufi saint, spiritual leader, and islamic scholar",https://en.wikipedia.org/wiki/Syed_Mohammed_Mukhtar_Ashraf,7,1996,November,NaN
7400,27,Jack Penn,"South African plastic surgeon, sculptor, and author",https://en.wikipedia.org/wiki/Jack_Penn,3,1996,November,NaN
7432,4,Syd Heylen,"Australian actor, comedian, and variety performer, stroke",https://en.wikipedia.org/wiki/Syd_Heylen,2,1996,December,NaN
7547,21,Kell Areskoug,90 Swedish Olympic sprinter,https://en.wikipedia.org/wiki/Kell_Areskoug,5,1996,December,NaN
7930,1,Wilcomb E. Washburn,"American historian, prostate cancer",https://en.wikipedia.org/wiki/Wilcomb_E._Washburn,6,1997,February,NaN
8070,20,Ruth Clark (pollster),American pollster and researcher,https://en.wikipedia.org/wiki/Ruth_Clark_(pollster),6,1997,February,NaN
8087,22,Urmila Bhatt,"62/63, Indian actress, murdered",https://en.wikipedia.org/wiki/Urmila_Bhatt,4,1997,February,NaN
8414,5,Riley Morris,"62/63, American football player (Oakland Raiders, Boston/New Bedford Sweepers)",https://en.wikipedia.org/wiki/Riley_Morris,35,1997,April,NaN
8421,6,Barbara Yu Ling,Singapore-British actress,https://en.wikipedia.org/wiki/Barbara_Yu_Ling,44,1997,April,NaN
8464,12,Moro Lorenzo,"1996, Filipino basketball player and executive",https://en.wikipedia.org/wiki/Moro_Lorenzo,5,1997,April,NaN
8549,23,Esther Schiff Goldfrank,"100/101, American anthropologist",https://en.wikipedia.org/wiki/Esther_Schiff_Goldfrank,4,1997,April,NaN
8576,26,Joey Faye,American comedian and actor,https://en.wikipedia.org/wiki/Joey_Faye,8,1997,April,NaN
8719,15,Saadallah Wannous,"Syrian playwright, cancer",https://en.wikipedia.org/wiki/Saadallah_Wannous,2,1997,May,NaN
8730,17,Durgabai Kamat,"97/98, first Indian female actress of Indian cinema",https://en.wikipedia.org/wiki/Durgabai_Kamat,6,1997,May,NaN
8747,21,Amasa Stone Bishop,"American nuclear physicist, pneumonia",https://en.wikipedia.org/wiki/Amasa_Stone_Bishop,2,1997,May,NaN
8754,22,Genildo Ferreira de França,"Brazilian spree killer, suicide",https://en.wikipedia.org/wiki/Genildo_Ferreira_de_Fran%C3%A7a,25,1997,May,NaN
8817,31,Fazal Haq Mujahid,"Afghanistan mujahideen during the Soviet–Afghan War, assassinated",https://en.wikipedia.org/wiki/Fazal_Haq_Mujahid,0,1997,May,NaN
8890,9,Witness Lee,"91/92, Chinese christian preacher and hymnist, cancer",https://en.wikipedia.org/wiki/Witness_Lee,21,1997,June,NaN
8918,13,George Strugar,"63. American gridiron football player, lung cancer",https://en.wikipedia.org/wiki/George_Strugar,0,1997,June,NaN
8923,15,Nicholas Danby,British organist and composer,https://en.wikipedia.org/wiki/Nicholas_Danby,14,1997,June,NaN
8945,18,Devon Russell,"Jamaican rocksteady and reggae singer and record producer, brain tumour",https://en.wikipedia.org/wiki/Devon_Russell,3,1997,June,NaN
8950,19,Basu Bhattacharya,"Indian film director, acute pancreatitis",https://en.wikipedia.org/wiki/Basu_Bhattacharya,11,1997,June,NaN
9051,4,"William Cadogan, 7th Earl Cadogan",British peer and military officer,"https://en.wikipedia.org/wiki/William_Cadogan,_7th_Earl_Cadogan",6,1997,July,NaN
9088,8,Charles P. B. Taylor,"Canadian journalist, author, and thoroughbred racehorse owner and breeder, cancer",https://en.wikipedia.org/wiki/Charles_P._B._Taylor,0,1997,July,NaN
9097,9,David Pitblado,British principal private secretary to successive Prime Ministers,https://en.wikipedia.org/wiki/David_Pitblado,4,1997,July,NaN
9132,14,Isaac Nicola,Cuban guitarist,https://en.wikipedia.org/wiki/Isaac_Nicola,6,1997,July,NaN
9159,18,Igor Linchevski,Russian botanist,https://en.wikipedia.org/wiki/Igor_Lintchevski,9,1997,July,NaN
9257,2,Antonis Daglis,"Greek serial killer, suicide",https://en.wikipedia.org/wiki/Antonis_Daglis,9,1997,August,NaN
9274,4,Jeanne Calment,"122 (disputed), French supercentenarian and the oldest person ever documented in history, senility",https://en.wikipedia.org/wiki/Jeanne_Calment,43,1997,August,NaN
9395,21,Abdul Rahim Ghafoorzai,"Afghani politician and diplomat, plane crash",https://en.wikipedia.org/wiki/Abdul_Rahim_Ghafoorzai,0,1997,August,NaN
9473,31,1997 Pont de l'Alma car crash,People killed in the :\n,https://en.wikipedia.org/wiki/1997_Pont_de_l%27Alma_car_crash,171,1997,August,NaN
9519,6,H. W. L. Poonja,"Indian sage and jivanmukta, pneumonia",https://en.wikipedia.org/wiki/H._W._L._Poonja,10,1997,September,NaN
9548,10,Satish Chandra Agarwal,Indian politician,https://en.wikipedia.org/wiki/Satish_Chandra_Agarwal,1,1997,September,NaN
9704,30,Nobuo Fujita,Japanese pilot and warrant officer during World War II,https://en.wikipedia.org/wiki/Nobuo_Fujita,12,1997,September,NaN
9774,9,Jean Pasqualini,French/Chinese journalist,https://en.wikipedia.org/wiki/Jean_Pasqualini,6,1997,October,NaN
9959,3,Satyapramoda Tirtha,Indian guru and philosopher,https://en.wikipedia.org/wiki/Satyapramoda_Tirtha,8,1997,November,NaN
9996,8,Robert John Kerr,"Northern Irish loyalist, vapour explosion",https://en.wikipedia.org/wiki/Robert_John_Kerr,25,1997,November,NaN
10063,16,Padmapriya,Indian actress,https://en.wikipedia.org/wiki/Padmapriya,12,1997,November,NaN
10109,24,Barbara,"French singer, respiratory problems",https://en.wikipedia.org/wiki/Barbara_(singer),8,1997,November,NaN
10123,25,M. Prabhakar Reddy,Indian film actor,https://en.wikipedia.org/wiki/M._Prabhakar_Reddy,2,1997,November,NaN
10141,28,Qemal Butka,"Albanian architect, painter and politician",https://en.wikipedia.org/wiki/Qemal_Butka,3,1997,November,NaN
10142,28,"Wallace H. Clark, Jr.","American dermatologist and pathologist, ruptured aneurysm",https://en.wikipedia.org/wiki/Wallace_H._Clark_Jr.,10,1997,November,NaN
10191,4,G. S. Jayanath,"Sri Lanka Army officer, killed in action",https://en.wikipedia.org/wiki/G._S._Jayanath,5,1997,December,NaN
10339,21,Sholom Schwadron,Israeli Haredi rabbi and orator,https://en.wikipedia.org/wiki/Sholom_Schwadron,30,1997,December,NaN
10350,23,Les Harrison,American basketball player and coach,https://en.wikipedia.org/wiki/Les_Harrison_(basketball),0,1997,December,NaN
10388,27,Webster Chikabala,"Zambian football player and coach, HIV/AIDS",https://en.wikipedia.org/wiki/Webster_Chikabala,8,1997,December,NaN
10419,30,Kim Sun-ja,South Korean serial killer,https://en.wikipedia.org/wiki/Kim_Sun-ja_(serial_killer),11,1997,December,NaN
10541,13,Muslim Mulliqi,Albanian painter,https://en.wikipedia.org/wiki/Muslim_Mulliqi,4,1998,January,NaN
10604,21,Pakoda Kadhar,"1997, Indian actor",https://en.wikipedia.org/wiki/Pakoda_Kadhar,1,1998,January,NaN
10722,5,Joe Stubbs,"American R&B/Soul singer, heart failure",https://en.wikipedia.org/wiki/Joe_Stubbs,9,1998,February,NaN
10738,8,Elizabeth Bauer Mock,"American professor, curator, author and journalist",https://en.wikipedia.org/wiki/Elizabeth_Bauer_Mock,13,1998,February,NaN
10767,11,Lily Harmon,American visual artist,https://en.wikipedia.org/wiki/Lily_Harmon,4,1998,February,NaN
10806,17,Bob Merrill,"American songwriter, theatrical composer and screenwriter, suicide",https://en.wikipedia.org/wiki/Bob_Merrill,29,1998,February,NaN
10828,19,Talish,Pakistani actor,https://en.wikipedia.org/wiki/Agha_Talish,8,1998,February,NaN
10910,27,Henry Munyaradzi,"66/67, Zimbabwean sculptor",https://en.wikipedia.org/wiki/Henry_Munyaradzi,12,1998,February,NaN
10934,2,Maamun al-Kuzbari,Syrian politician and literary personality,https://en.wikipedia.org/wiki/Maamun_al-Kuzbari,2,1998,March,NaN
10961,7,Ziad Rafiq Beydoun,Lebanese petroleum geologist,https://en.wikipedia.org/wiki/Ziad_Rafiq_Beydoun,8,1998,March,NaN
11054,19,Simon Diedong Dombo,Ghanaian politician and king,https://en.wikipedia.org/wiki/Simon_Diedong_Dombo,7,1998,March,NaN
11077,22,Shoichi Nishimura,"Japanese football player and manager, pneumonia",https://en.wikipedia.org/wiki/Shoichi_Nishimura,2,1998,March,NaN
11121,29,Loreta,Iranian Armenian actress,https://en.wikipedia.org/wiki/Loreta_(actress),8,1998,March,NaN
11232,12,Xin Fengxia,"Chinese pingju opera performer, cerebral hemorrhage",https://en.wikipedia.org/wiki/Xin_Fengxia,7,1998,April,NaN
11236,12,Felicitas Mendez,"Puerto Rican-American civil right activist, heart failure",https://en.wikipedia.org/wiki/Felicitas_M%C3%A9ndez,21,1998,April,NaN
11311,23,Sartaj Singh,Indian Army general,https://en.wikipedia.org/wiki/Sartaj_Singh_(general),2,1998,April,NaN
11351,29,V. Gopalakrishnan,Indian actor,https://en.wikipedia.org/wiki/V._Gopalakrishnan_(actor),66,1998,April,NaN
11379,3,Venkatesh Kulkarni,"Indian-American novelist and academic, leukemia",https://en.wikipedia.org/wiki/Venkatesh_Kulkarni,7,1998,May,NaN
11485,18,Obaidullah Aleem,"Indian poet, heart failure",https://en.wikipedia.org/wiki/Obaidullah_Aleem,3,1998,May,NaN
11523,23,Grace Hartman,Canadian social activist and politician,https://en.wikipedia.org/wiki/Grace_Hartman_(politician),8,1998,May,NaN
11527,23,Monroe K. Spears,American university professor and literary critic,https://en.wikipedia.org/wiki/Monroe_K._Spears,4,1998,May,NaN
11618,5,B. M. Shah,Indian theatre director and playwright,https://en.wikipedia.org/wiki/B._M._Shah,6,1998,June,NaN
11624,6,Jatoe Kaleo,Ghanaian ruler and politician,https://en.wikipedia.org/wiki/Jatoe_Kaleo,10,1998,June,NaN
11717,18,Nazim Panipati,Pakistani film song lyricist and film script writer,https://en.wikipedia.org/wiki/Nazim_Panipati,6,1998,June,NaN
11734,20,George Van Peursem,American politician,https://en.wikipedia.org/wiki/George_Van_Peursem,0,1998,June,NaN
11920,19,Giliana Berneri,French communist activist,https://en.wikipedia.org/wiki/Giliana_Berneri,8,1998,July,NaN
11942,23,Manuel Mejía Vallejo,75 Colombian writer,https://en.wikipedia.org/wiki/Manuel_Mej%C3%ADa_Vallejo,2,1998,July,NaN
11996,3,Ahmet Kayhan Dede,Turkish Sufi master,https://en.wikipedia.org/wiki/Ahmet_Kayhan_Dede,0,1998,August,NaN
12039,12,C. Dickerman Williams,American lawyer and free-speech advocate,https://en.wikipedia.org/wiki/C._Dickerman_Williams,2,1998,August,NaN
12041,12,Gazi Shamsur Rahman,"Bangladeshi lawyer, writer and television personality",https://en.wikipedia.org/wiki/Gazi_Shamsur_Rahman,9,1998,August,NaN
12056,16,Abdallah al-Hubal,"Yemeni serial killer, suicide",https://en.wikipedia.org/wiki/Abdallah_al-Hubal,3,1998,August,NaN
12093,23,Asadollah Lajevardi,"Iranian conservative politician and warden, assassinated",https://en.wikipedia.org/wiki/Asadollah_Lajevardi,16,1998,August,NaN

#### Observations:
- The next pattern starts with 'age/', so we will iterate again with it.

In [27]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + "/"):
            df.loc[i, "age"] = int(age)
df.sample(5)

,day,name,info,link,num_references,year,month,age
49341,11,David Brown,"69, British cricketer, brain tumour",https://en.wikipedia.org/wiki/David_Brown_(Scottish_cricketer),4,2011,March,69.000
84018,13,Celso Peçanha,"99, Brazilian politician, Governor of Rio de Janeiro (1961–1962)",https://en.wikipedia.org/wiki/Celso_Pe%C3%A7anha,2,2016,July,99.000
121286,6,Todd R. Klaenhammer,"69, American food scientist and microbiologist",https://en.wikipedia.org/wiki/Todd_R._Klaenhammer,7,2021,March,69.000
38960,16,Luisín Landáez,"77, Venezuelan-Chilean cumbia singer",https://en.wikipedia.org/wiki/Luis%C3%ADn_Land%C3%A1ez,9,2008,November,77.000
22220,19,Harry Watson,"79, Canadian professional hockey player (Detroit Red Wings, Toronto Maple Leafs, Chicago Black Hawks)","https://en.wikipedia.org/wiki/Harry_Watson_(ice_hockey,_born_1923)",0,2002,November,79.000

In [28]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

1305

#### Observation:
- That iteration captured nearly 70 missing values.
- Let us take a look at the remaining rows with missing `name'.

#### Checking Rows with Missing `age`

In [29]:
# Checking rows still missing `age`
df[df["age"].isna()].head(100)

,day,name,info,link,num_references,year,month,age
900,20,Fernande Giroux,Canadian actress and jazz singer,https://en.wikipedia.org/wiki/Fernande_Giroux,5,1994,May,NaN
1029,6,Peter Graves,"English actor and nobleman, heart attack","https://en.wikipedia.org/wiki/Peter_Graves,_8th_Baron_Graves",5,1994,June,NaN
1895,24,1994 Colombo suicide attack,Notable people killed in the \n,"https://en.wikipedia.org/wiki/List_of_attacks_attributed_to_the_LTTE,_1990s#1994",41,1994,October,NaN
2318,1,Nina Leen,Russian-born American photographer for,https://en.wikipedia.org/wiki/Nina_Leen,3,1995,January,NaN
2506,22,Henry Gladstone,"American radio newscaster and actor, heart failure",https://en.wikipedia.org/wiki/Henry_Gladstone,5,1995,January,NaN
2902,11,Ernest Kabushemeye,"Burundian politician and the Minister for Mines and Energy, assassinated",https://en.wikipedia.org/wiki/Ernest_Kabushemeye,2,1995,March,NaN
3296,30,Christopher Chadman,"American dancer and choreographer, AIDS-related complications",https://en.wikipedia.org/wiki/Christopher_Chadman,2,1995,April,NaN
3359,8,Carroll Best,American banjo player,https://en.wikipedia.org/wiki/Carroll_Best,4,1995,May,NaN
4642,24,Syed Abuzar Bukhari,Pakistani scholar and president of Majlis-e-Ahrar-ul-Islam,https://en.wikipedia.org/wiki/Syed_Abuzar_Bukhari,2,1995,October,NaN
5308,12,Jon Pattis,"American engineer imprisoned in Iran, congestive heart failure",https://en.wikipedia.org/wiki/Jon_Pattis,3,1996,January,NaN
5423,29,Bill Sorensen,"New Zealand rugby player, coach and administrator",https://en.wikipedia.org/wiki/Bill_Sorensen,9,1996,January,NaN
6057,9,Khaptad Baba,"1995, Nepalese spiritual saint",https://en.wikipedia.org/wiki/Khaptad_Baba,6,1996,May,NaN
6078,11,1996 Mount Everest disaster,Notable climbers killed in the \n,https://en.wikipedia.org/wiki/1996_Mount_Everest_disaster,47,1996,May,NaN
6476,17,TWA Flight 800,Notable people killed in the crash of :\n,https://en.wikipedia.org/wiki/TWA_Flight_800,74,1996,July,NaN
6860,17,Spiro Agnew,"American politician, 77, 39th Vice President of the United States, leukemia",https://en.wikipedia.org/wiki/Spiro_Agnew,207,1996,September,NaN
6998,5,Elmer Berger,American Jewish rabbi and anti-Zionist,https://en.wikipedia.org/wiki/Elmer_Berger_(rabbi),12,1996,October,NaN
6999,5,Wymberley D. Coerr,"1995, American politician and diplomat",https://en.wikipedia.org/wiki/Wymberley_D._Coerr,3,1996,October,NaN
7094,17,Bert Hopwood,British motorcycle designer,https://en.wikipedia.org/wiki/Bert_Hopwood,5,1996,October,NaN
7281,13,Alma Kitchell,American concert singer,https://en.wikipedia.org/wiki/Alma_Kitchell,19,1996,November,NaN
7283,13,Swami Rama,Indian yoga guru,https://en.wikipedia.org/wiki/Swami_Rama,17,1996,November,NaN
7345,21,Syed Mohammed Mukhtar Ashraf,"Indian Sufi saint, spiritual leader, and islamic scholar",https://en.wikipedia.org/wiki/Syed_Mohammed_Mukhtar_Ashraf,7,1996,November,NaN
7400,27,Jack Penn,"South African plastic surgeon, sculptor, and author",https://en.wikipedia.org/wiki/Jack_Penn,3,1996,November,NaN
7432,4,Syd Heylen,"Australian actor, comedian, and variety performer, stroke",https://en.wikipedia.org/wiki/Syd_Heylen,2,1996,December,NaN
7547,21,Kell Areskoug,90 Swedish Olympic sprinter,https://en.wikipedia.org/wiki/Kell_Areskoug,5,1996,December,NaN
7930,1,Wilcomb E. Washburn,"American historian, prostate cancer",https://en.wikipedia.org/wiki/Wilcomb_E._Washburn,6,1997,February,NaN
8070,20,Ruth Clark (pollster),American pollster and researcher,https://en.wikipedia.org/wiki/Ruth_Clark_(pollster),6,1997,February,NaN
8421,6,Barbara Yu Ling,Singapore-British actress,https://en.wikipedia.org/wiki/Barbara_Yu_Ling,44,1997,April,NaN
8464,12,Moro Lorenzo,"1996, Filipino basketball player and executive",https://en.wikipedia.org/wiki/Moro_Lorenzo,5,1997,April,NaN
8576,26,Joey Faye,American comedian and actor,https://en.wikipedia.org/wiki/Joey_Faye,8,1997,April,NaN
8719,15,Saadallah Wannous,"Syrian playwright, cancer",https://en.wikipedia.org/wiki/Saadallah_Wannous,2,1997,May,NaN
8747,21,Amasa Stone Bishop,"American nuclear physicist, pneumonia",https://en.wikipedia.org/wiki/Amasa_Stone_Bishop,2,1997,May,NaN
8754,22,Genildo Ferreira de França,"Brazilian spree killer, suicide",https://en.wikipedia.org/wiki/Genildo_Ferreira_de_Fran%C3%A7a,25,1997,May,NaN
8817,31,Fazal Haq Mujahid,"Afghanistan mujahideen during the Soviet–Afghan War, assassinated",https://en.wikipedia.org/wiki/Fazal_Haq_Mujahid,0,1997,May,NaN
8918,13,George Strugar,"63. American gridiron football player, lung cancer",https://en.wikipedia.org/wiki/George_Strugar,0,1997,June,NaN
8923,15,Nicholas Danby,British organist and composer,https://en.wikipedia.org/wiki/Nicholas_Danby,14,1997,June,NaN
8945,18,Devon Russell,"Jamaican rocksteady and reggae singer and record producer, brain tumour",https://en.wikipedia.org/wiki/Devon_Russell,3,1997,June,NaN
8950,19,Basu Bhattacharya,"Indian film director, acute pancreatitis",https://en.wikipedia.org/wiki/Basu_Bhattacharya,11,1997,June,NaN
9051,4,"William Cadogan, 7th Earl Cadogan",British peer and military officer,"https://en.wikipedia.org/wiki/William_Cadogan,_7th_Earl_Cadogan",6,1997,July,NaN
9088,8,Charles P. B. Taylor,"Canadian journalist, author, and thoroughbred racehorse owner and breeder, cancer",https://en.wikipedia.org/wiki/Charles_P._B._Taylor,0,1997,July,NaN
9097,9,David Pitblado,British principal private secretary to successive Prime Ministers,https://en.wikipedia.org/wiki/David_Pitblado,4,1997,July,NaN
9132,14,Isaac Nicola,Cuban guitarist,https://en.wikipedia.org/wiki/Isaac_Nicola,6,1997,July,NaN
9159,18,Igor Linchevski,Russian botanist,https://en.wikipedia.org/wiki/Igor_Lintchevski,9,1997,July,NaN
9257,2,Antonis Daglis,"Greek serial killer, suicide",https://en.wikipedia.org/wiki/Antonis_Daglis,9,1997,August,NaN
9274,4,Jeanne Calment,"122 (disputed), French supercentenarian and the oldest person ever documented in history, senility",https://en.wikipedia.org/wiki/Jeanne_Calment,43,1997,August,NaN
9395,21,Abdul Rahim Ghafoorzai,"Afghani politician and diplomat, plane crash",https://en.wikipedia.org/wiki/Abdul_Rahim_Ghafoorzai,0,1997,August,NaN
9473,31,1997 Pont de l'Alma car crash,People killed in the :\n,https://en.wikipedia.org/wiki/1997_Pont_de_l%27Alma_car_crash,171,1997,August,NaN
9519,6,H. W. L. Poonja,"Indian sage and jivanmukta, pneumonia",https://en.wikipedia.org/wiki/H._W._L._Poonja,10,1997,September,NaN
9548,10,Satish Chandra Agarwal,Indian politician,https://en.wikipedia.org/wiki/Satish_Chandra_Agarwal,1,1997,September,NaN
9704,30,Nobuo Fujita,Japanese pilot and warrant officer during World War II,https://en.wikipedia.org/wiki/Nobuo_Fujita,12,1997,September,NaN
9774,9,Jean Pasqualini,French/Chinese journalist,https://en.wikipedia.org/wiki/Jean_Pasqualini,6,1997,October,NaN
9959,3,Satyapramoda Tirtha,Indian guru and philosopher,https://en.wikipedia.org/wiki/Satyapramoda_Tirtha,8,1997,November,NaN
9996,8,Robert John Kerr,"Northern Irish loyalist, vapour explosion",https://en.wikipedia.org/wiki/Robert_John_Kerr,25,1997,November,NaN
10063,16,Padmapriya,Indian actress,https://en.wikipedia.org/wiki/Padmapriya,12,1997,November,NaN
10109,24,Barbara,"French singer, respiratory problems",https://en.wikipedia.org/wiki/Barbara_(singer),8,1997,November,NaN
10123,25,M. Prabhakar Reddy,Indian film actor,https://en.wikipedia.org/wiki/M._Prabhakar_Reddy,2,1997,November,NaN
10141,28,Qemal Butka,"Albanian architect, painter and politician",https://en.wikipedia.org/wiki/Qemal_Butka,3,1997,November,NaN
10142,28,"Wallace H. Clark, Jr.","American dermatologist and pathologist, ruptured aneurysm",https://en.wikipedia.org/wiki/Wallace_H._Clark_Jr.,10,1997,November,NaN
10191,4,G. S. Jayanath,"Sri Lanka Army officer, killed in action",https://en.wikipedia.org/wiki/G._S._Jayanath,5,1997,December,NaN
10339,21,Sholom Schwadron,Israeli Haredi rabbi and orator,https://en.wikipedia.org/wiki/Sholom_Schwadron,30,1997,December,NaN
10350,23,Les Harrison,American basketball player and coach,https://en.wikipedia.org/wiki/Les_Harrison_(basketball),0,1997,December,NaN
10388,27,Webster Chikabala,"Zambian football player and coach, HIV/AIDS",https://en.wikipedia.org/wiki/Webster_Chikabala,8,1997,December,NaN
10419,30,Kim Sun-ja,South Korean serial killer,https://en.wikipedia.org/wiki/Kim_Sun-ja_(serial_killer),11,1997,December,NaN
10541,13,Muslim Mulliqi,Albanian painter,https://en.wikipedia.org/wiki/Muslim_Mulliqi,4,1998,January,NaN
10604,21,Pakoda Kadhar,"1997, Indian actor",https://en.wikipedia.org/wiki/Pakoda_Kadhar,1,1998,January,NaN
10722,5,Joe Stubbs,"American R&B/Soul singer, heart failure",https://en.wikipedia.org/wiki/Joe_Stubbs,9,1998,February,NaN
10738,8,Elizabeth Bauer Mock,"American professor, curator, author and journalist",https://en.wikipedia.org/wiki/Elizabeth_Bauer_Mock,13,1998,February,NaN
10767,11,Lily Harmon,American visual artist,https://en.wikipedia.org/wiki/Lily_Harmon,4,1998,February,NaN
10806,17,Bob Merrill,"American songwriter, theatrical composer and screenwriter, suicide",https://en.wikipedia.org/wiki/Bob_Merrill,29,1998,February,NaN
10828,19,Talish,Pakistani actor,https://en.wikipedia.org/wiki/Agha_Talish,8,1998,February,NaN
10934,2,Maamun al-Kuzbari,Syrian politician and literary personality,https://en.wikipedia.org/wiki/Maamun_al-Kuzbari,2,1998,March,NaN
10961,7,Ziad Rafiq Beydoun,Lebanese petroleum geologist,https://en.wikipedia.org/wiki/Ziad_Rafiq_Beydoun,8,1998,March,NaN
11054,19,Simon Diedong Dombo,Ghanaian politician and king,https://en.wikipedia.org/wiki/Simon_Diedong_Dombo,7,1998,March,NaN
11077,22,Shoichi Nishimura,"Japanese football player and manager, pneumonia",https://en.wikipedia.org/wiki/Shoichi_Nishimura,2,1998,March,NaN
11121,29,Loreta,Iranian Armenian actress,https://en.wikipedia.org/wiki/Loreta_(actress),8,1998,March,NaN
11232,12,Xin Fengxia,"Chinese pingju opera performer, cerebral hemorrhage",https://en.wikipedia.org/wiki/Xin_Fengxia,7,1998,April,NaN
11236,12,Felicitas Mendez,"Puerto Rican-American civil right activist, heart failure",https://en.wikipedia.org/wiki/Felicitas_M%C3%A9ndez,21,1998,April,NaN
11311,23,Sartaj Singh,Indian Army general,https://en.wikipedia.org/wiki/Sartaj_Singh_(general),2,1998,April,NaN
11351,29,V. Gopalakrishnan,Indian actor,https://en.wikipedia.org/wiki/V._Gopalakrishnan_(actor),66,1998,April,NaN
11379,3,Venkatesh Kulkarni,"Indian-American novelist and academic, leukemia",https://en.wikipedia.org/wiki/Venkatesh_Kulkarni,7,1998,May,NaN
11485,18,Obaidullah Aleem,"Indian poet, heart failure",https://en.wikipedia.org/wiki/Obaidullah_Aleem,3,1998,May,NaN
11523,23,Grace Hartman,Canadian social activist and politician,https://en.wikipedia.org/wiki/Grace_Hartman_(politician),8,1998,May,NaN
11527,23,Monroe K. Spears,American university professor and literary critic,https://en.wikipedia.org/wiki/Monroe_K._Spears,4,1998,May,NaN
11618,5,B. M. Shah,Indian theatre director and playwright,https://en.wikipedia.org/wiki/B._M._Shah,6,1998,June,NaN
11624,6,Jatoe Kaleo,Ghanaian ruler and politician,https://en.wikipedia.org/wiki/Jatoe_Kaleo,10,1998,June,NaN
11717,18,Nazim Panipati,Pakistani film song lyricist and film script writer,https://en.wikipedia.org/wiki/Nazim_Panipati,6,1998,June,NaN
11734,20,George Van Peursem,American politician,https://en.wikipedia.org/wiki/George_Van_Peursem,0,1998,June,NaN
11920,19,Giliana Berneri,French communist activist,https://en.wikipedia.org/wiki/Giliana_Berneri,8,1998,July,NaN
11942,23,Manuel Mejía Vallejo,75 Colombian writer,https://en.wikipedia.org/wiki/Manuel_Mej%C3%ADa_Vallejo,2,1998,July,NaN
11996,3,Ahmet Kayhan Dede,Turkish Sufi master,https://en.wikipedia.org/wiki/Ahmet_Kayhan_Dede,0,1998,August,NaN
12039,12,C. Dickerman Williams,American lawyer and free-speech advocate,https://en.wikipedia.org/wiki/C._Dickerman_Williams,2,1998,August,NaN
12041,12,Gazi Shamsur Rahman,"Bangladeshi lawyer, writer and television personality",https://en.wikipedia.org/wiki/Gazi_Shamsur_Rahman,9,1998,August,NaN
12056,16,Abdallah al-Hubal,"Yemeni serial killer, suicide",https://en.wikipedia.org/wiki/Abdallah_al-Hubal,3,1998,August,NaN
12093,23,Asadollah Lajevardi,"Iranian conservative politician and warden, assassinated",https://en.wikipedia.org/wiki/Asadollah_Lajevardi,16,1998,August,NaN
12134,29,Minerva Bernardino,Dominican Republic diplomat and feminist,https://en.wikipedia.org/wiki/Minerva_Bernardino,22,1998,August,NaN
12144,31,Sabiha Gökçül Erbay,Turkish school teacher and politician,https://en.wikipedia.org/wiki/Sabiha_G%C3%B6k%C3%A7%C3%BCl_Erbay,3,1998,August,NaN
12169,4,Hernando Durán Dussán,"Colombian lawyer and politician, respiratory infection",https://en.wikipedia.org/wiki/Hernando_Dur%C3%A1n_Duss%C3%A1n,1,1998,September,NaN
12234,16,Mazhar Khan,"Indian actor and producer, renal failure","https://en.wikipedia.org/wiki/Mazhar_Khan_(actor,_born_1955)",3,1998,September,NaN
12395,13,Khánh Trắng,"Vietnamese labor leader and mobster, execution by firing squad",https://en.wikipedia.org/wiki/Kh%C3%A1nh_Tr%E1%BA%AFng,0,1998,October,NaN
12402,15,Perry Bullard,American politician,https://en.wikipedia.org/wiki/Perry_Bullard,5,1998,October,NaN
12407,16,Douglas C. Gordon,American whitewater kayaker,https://en.wikipedia.org/wiki/Douglas_C._Gordon,13,1998,October,NaN

#### Observations:
- The next pattern starts with 'age.', so we will iterate again with it.

In [30]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + "."):
            df.loc[i, "age"] = int(age)
df.sample(5)

,day,name,info,link,num_references,year,month,age
97850,3,Boris Orlov,"73, Russian gymnastics coach",https://en.wikipedia.org/wiki/Boris_Orlov_(coach),5,2018,July,73.000
63524,19,A K Azizul Huq,"84, Bangladeshi civil servant, Comptroller and Auditor General (1983–1989)",https://en.wikipedia.org/wiki/A_K_Azizul_Huq,2,2013,July,84.000
116840,19,Tony Lewis,"62, English bassist, singer and songwriter (The Outfield)",https://en.wikipedia.org/wiki/Tony_Lewis_(musician),17,2020,October,62.000
55582,10,Andreas Shipanga,"80, Namibian politician, Chairman of the Transitional Government of National Unity (1987, 1988), heart attack",https://en.wikipedia.org/wiki/Andreas_Shipanga,4,2012,May,80.000
47513,16,Aldo Maria Lazzarín Stella,"83, Italian-born Chilean Roman Catholic prelate, Vicar Apostolic of Aysén (1989–1998)",https://en.wikipedia.org/wiki/Aldo_Maria_Lazzar%C3%ADn_Stella,1,2010,October,83.000

In [31]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

1297

#### Observation:
- We captured a handful of more missing values with that iteration.
- Let us take a look at the remaining rows with missing `name'.

#### Checking Rows with Missing `age`

In [32]:
# Checking rows still missing `age`
df[df["age"].isna()].head(100)

,day,name,info,link,num_references,year,month,age
900,20,Fernande Giroux,Canadian actress and jazz singer,https://en.wikipedia.org/wiki/Fernande_Giroux,5,1994,May,NaN
1029,6,Peter Graves,"English actor and nobleman, heart attack","https://en.wikipedia.org/wiki/Peter_Graves,_8th_Baron_Graves",5,1994,June,NaN
1895,24,1994 Colombo suicide attack,Notable people killed in the \n,"https://en.wikipedia.org/wiki/List_of_attacks_attributed_to_the_LTTE,_1990s#1994",41,1994,October,NaN
2318,1,Nina Leen,Russian-born American photographer for,https://en.wikipedia.org/wiki/Nina_Leen,3,1995,January,NaN
2506,22,Henry Gladstone,"American radio newscaster and actor, heart failure",https://en.wikipedia.org/wiki/Henry_Gladstone,5,1995,January,NaN
2902,11,Ernest Kabushemeye,"Burundian politician and the Minister for Mines and Energy, assassinated",https://en.wikipedia.org/wiki/Ernest_Kabushemeye,2,1995,March,NaN
3296,30,Christopher Chadman,"American dancer and choreographer, AIDS-related complications",https://en.wikipedia.org/wiki/Christopher_Chadman,2,1995,April,NaN
3359,8,Carroll Best,American banjo player,https://en.wikipedia.org/wiki/Carroll_Best,4,1995,May,NaN
4642,24,Syed Abuzar Bukhari,Pakistani scholar and president of Majlis-e-Ahrar-ul-Islam,https://en.wikipedia.org/wiki/Syed_Abuzar_Bukhari,2,1995,October,NaN
5308,12,Jon Pattis,"American engineer imprisoned in Iran, congestive heart failure",https://en.wikipedia.org/wiki/Jon_Pattis,3,1996,January,NaN
5423,29,Bill Sorensen,"New Zealand rugby player, coach and administrator",https://en.wikipedia.org/wiki/Bill_Sorensen,9,1996,January,NaN
6057,9,Khaptad Baba,"1995, Nepalese spiritual saint",https://en.wikipedia.org/wiki/Khaptad_Baba,6,1996,May,NaN
6078,11,1996 Mount Everest disaster,Notable climbers killed in the \n,https://en.wikipedia.org/wiki/1996_Mount_Everest_disaster,47,1996,May,NaN
6476,17,TWA Flight 800,Notable people killed in the crash of :\n,https://en.wikipedia.org/wiki/TWA_Flight_800,74,1996,July,NaN
6860,17,Spiro Agnew,"American politician, 77, 39th Vice President of the United States, leukemia",https://en.wikipedia.org/wiki/Spiro_Agnew,207,1996,September,NaN
6998,5,Elmer Berger,American Jewish rabbi and anti-Zionist,https://en.wikipedia.org/wiki/Elmer_Berger_(rabbi),12,1996,October,NaN
6999,5,Wymberley D. Coerr,"1995, American politician and diplomat",https://en.wikipedia.org/wiki/Wymberley_D._Coerr,3,1996,October,NaN
7094,17,Bert Hopwood,British motorcycle designer,https://en.wikipedia.org/wiki/Bert_Hopwood,5,1996,October,NaN
7281,13,Alma Kitchell,American concert singer,https://en.wikipedia.org/wiki/Alma_Kitchell,19,1996,November,NaN
7283,13,Swami Rama,Indian yoga guru,https://en.wikipedia.org/wiki/Swami_Rama,17,1996,November,NaN
7345,21,Syed Mohammed Mukhtar Ashraf,"Indian Sufi saint, spiritual leader, and islamic scholar",https://en.wikipedia.org/wiki/Syed_Mohammed_Mukhtar_Ashraf,7,1996,November,NaN
7400,27,Jack Penn,"South African plastic surgeon, sculptor, and author",https://en.wikipedia.org/wiki/Jack_Penn,3,1996,November,NaN
7432,4,Syd Heylen,"Australian actor, comedian, and variety performer, stroke",https://en.wikipedia.org/wiki/Syd_Heylen,2,1996,December,NaN
7547,21,Kell Areskoug,90 Swedish Olympic sprinter,https://en.wikipedia.org/wiki/Kell_Areskoug,5,1996,December,NaN
7930,1,Wilcomb E. Washburn,"American historian, prostate cancer",https://en.wikipedia.org/wiki/Wilcomb_E._Washburn,6,1997,February,NaN
8070,20,Ruth Clark (pollster),American pollster and researcher,https://en.wikipedia.org/wiki/Ruth_Clark_(pollster),6,1997,February,NaN
8421,6,Barbara Yu Ling,Singapore-British actress,https://en.wikipedia.org/wiki/Barbara_Yu_Ling,44,1997,April,NaN
8464,12,Moro Lorenzo,"1996, Filipino basketball player and executive",https://en.wikipedia.org/wiki/Moro_Lorenzo,5,1997,April,NaN
8576,26,Joey Faye,American comedian and actor,https://en.wikipedia.org/wiki/Joey_Faye,8,1997,April,NaN
8719,15,Saadallah Wannous,"Syrian playwright, cancer",https://en.wikipedia.org/wiki/Saadallah_Wannous,2,1997,May,NaN
8747,21,Amasa Stone Bishop,"American nuclear physicist, pneumonia",https://en.wikipedia.org/wiki/Amasa_Stone_Bishop,2,1997,May,NaN
8754,22,Genildo Ferreira de França,"Brazilian spree killer, suicide",https://en.wikipedia.org/wiki/Genildo_Ferreira_de_Fran%C3%A7a,25,1997,May,NaN
8817,31,Fazal Haq Mujahid,"Afghanistan mujahideen during the Soviet–Afghan War, assassinated",https://en.wikipedia.org/wiki/Fazal_Haq_Mujahid,0,1997,May,NaN
8923,15,Nicholas Danby,British organist and composer,https://en.wikipedia.org/wiki/Nicholas_Danby,14,1997,June,NaN
8945,18,Devon Russell,"Jamaican rocksteady and reggae singer and record producer, brain tumour",https://en.wikipedia.org/wiki/Devon_Russell,3,1997,June,NaN
8950,19,Basu Bhattacharya,"Indian film director, acute pancreatitis",https://en.wikipedia.org/wiki/Basu_Bhattacharya,11,1997,June,NaN
9051,4,"William Cadogan, 7th Earl Cadogan",British peer and military officer,"https://en.wikipedia.org/wiki/William_Cadogan,_7th_Earl_Cadogan",6,1997,July,NaN
9088,8,Charles P. B. Taylor,"Canadian journalist, author, and thoroughbred racehorse owner and breeder, cancer",https://en.wikipedia.org/wiki/Charles_P._B._Taylor,0,1997,July,NaN
9097,9,David Pitblado,British principal private secretary to successive Prime Ministers,https://en.wikipedia.org/wiki/David_Pitblado,4,1997,July,NaN
9132,14,Isaac Nicola,Cuban guitarist,https://en.wikipedia.org/wiki/Isaac_Nicola,6,1997,July,NaN
9159,18,Igor Linchevski,Russian botanist,https://en.wikipedia.org/wiki/Igor_Lintchevski,9,1997,July,NaN
9257,2,Antonis Daglis,"Greek serial killer, suicide",https://en.wikipedia.org/wiki/Antonis_Daglis,9,1997,August,NaN
9274,4,Jeanne Calment,"122 (disputed), French supercentenarian and the oldest person ever documented in history, senility",https://en.wikipedia.org/wiki/Jeanne_Calment,43,1997,August,NaN
9395,21,Abdul Rahim Ghafoorzai,"Afghani politician and diplomat, plane crash",https://en.wikipedia.org/wiki/Abdul_Rahim_Ghafoorzai,0,1997,August,NaN
9473,31,1997 Pont de l'Alma car crash,People killed in the :\n,https://en.wikipedia.org/wiki/1997_Pont_de_l%27Alma_car_crash,171,1997,August,NaN
9519,6,H. W. L. Poonja,"Indian sage and jivanmukta, pneumonia",https://en.wikipedia.org/wiki/H._W._L._Poonja,10,1997,September,NaN
9548,10,Satish Chandra Agarwal,Indian politician,https://en.wikipedia.org/wiki/Satish_Chandra_Agarwal,1,1997,September,NaN
9704,30,Nobuo Fujita,Japanese pilot and warrant officer during World War II,https://en.wikipedia.org/wiki/Nobuo_Fujita,12,1997,September,NaN
9774,9,Jean Pasqualini,French/Chinese journalist,https://en.wikipedia.org/wiki/Jean_Pasqualini,6,1997,October,NaN
9959,3,Satyapramoda Tirtha,Indian guru and philosopher,https://en.wikipedia.org/wiki/Satyapramoda_Tirtha,8,1997,November,NaN
9996,8,Robert John Kerr,"Northern Irish loyalist, vapour explosion",https://en.wikipedia.org/wiki/Robert_John_Kerr,25,1997,November,NaN
10063,16,Padmapriya,Indian actress,https://en.wikipedia.org/wiki/Padmapriya,12,1997,November,NaN
10109,24,Barbara,"French singer, respiratory problems",https://en.wikipedia.org/wiki/Barbara_(singer),8,1997,November,NaN
10123,25,M. Prabhakar Reddy,Indian film actor,https://en.wikipedia.org/wiki/M._Prabhakar_Reddy,2,1997,November,NaN
10141,28,Qemal Butka,"Albanian architect, painter and politician",https://en.wikipedia.org/wiki/Qemal_Butka,3,1997,November,NaN
10142,28,"Wallace H. Clark, Jr.","American dermatologist and pathologist, ruptured aneurysm",https://en.wikipedia.org/wiki/Wallace_H._Clark_Jr.,10,1997,November,NaN
10191,4,G. S. Jayanath,"Sri Lanka Army officer, killed in action",https://en.wikipedia.org/wiki/G._S._Jayanath,5,1997,December,NaN
10339,21,Sholom Schwadron,Israeli Haredi rabbi and orator,https://en.wikipedia.org/wiki/Sholom_Schwadron,30,1997,December,NaN
10350,23,Les Harrison,American basketball player and coach,https://en.wikipedia.org/wiki/Les_Harrison_(basketball),0,1997,December,NaN
10388,27,Webster Chikabala,"Zambian football player and coach, HIV/AIDS",https://en.wikipedia.org/wiki/Webster_Chikabala,8,1997,December,NaN
10419,30,Kim Sun-ja,South Korean serial killer,https://en.wikipedia.org/wiki/Kim_Sun-ja_(serial_killer),11,1997,December,NaN
10541,13,Muslim Mulliqi,Albanian painter,https://en.wikipedia.org/wiki/Muslim_Mulliqi,4,1998,January,NaN
10604,21,Pakoda Kadhar,"1997, Indian actor",https://en.wikipedia.org/wiki/Pakoda_Kadhar,1,1998,January,NaN
10722,5,Joe Stubbs,"American R&B/Soul singer, heart failure",https://en.wikipedia.org/wiki/Joe_Stubbs,9,1998,February,NaN
10738,8,Elizabeth Bauer Mock,"American professor, curator, author and journalist",https://en.wikipedia.org/wiki/Elizabeth_Bauer_Mock,13,1998,February,NaN
10767,11,Lily Harmon,American visual artist,https://en.wikipedia.org/wiki/Lily_Harmon,4,1998,February,NaN
10806,17,Bob Merrill,"American songwriter, theatrical composer and screenwriter, suicide",https://en.wikipedia.org/wiki/Bob_Merrill,29,1998,February,NaN
10828,19,Talish,Pakistani actor,https://en.wikipedia.org/wiki/Agha_Talish,8,1998,February,NaN
10934,2,Maamun al-Kuzbari,Syrian politician and literary personality,https://en.wikipedia.org/wiki/Maamun_al-Kuzbari,2,1998,March,NaN
10961,7,Ziad Rafiq Beydoun,Lebanese petroleum geologist,https://en.wikipedia.org/wiki/Ziad_Rafiq_Beydoun,8,1998,March,NaN
11054,19,Simon Diedong Dombo,Ghanaian politician and king,https://en.wikipedia.org/wiki/Simon_Diedong_Dombo,7,1998,March,NaN
11077,22,Shoichi Nishimura,"Japanese football player and manager, pneumonia",https://en.wikipedia.org/wiki/Shoichi_Nishimura,2,1998,March,NaN
11121,29,Loreta,Iranian Armenian actress,https://en.wikipedia.org/wiki/Loreta_(actress),8,1998,March,NaN
11232,12,Xin Fengxia,"Chinese pingju opera performer, cerebral hemorrhage",https://en.wikipedia.org/wiki/Xin_Fengxia,7,1998,April,NaN
11236,12,Felicitas Mendez,"Puerto Rican-American civil right activist, heart failure",https://en.wikipedia.org/wiki/Felicitas_M%C3%A9ndez,21,1998,April,NaN
11311,23,Sartaj Singh,Indian Army general,https://en.wikipedia.org/wiki/Sartaj_Singh_(general),2,1998,April,NaN
11351,29,V. Gopalakrishnan,Indian actor,https://en.wikipedia.org/wiki/V._Gopalakrishnan_(actor),66,1998,April,NaN
11379,3,Venkatesh Kulkarni,"Indian-American novelist and academic, leukemia",https://en.wikipedia.org/wiki/Venkatesh_Kulkarni,7,1998,May,NaN
11485,18,Obaidullah Aleem,"Indian poet, heart failure",https://en.wikipedia.org/wiki/Obaidullah_Aleem,3,1998,May,NaN
11523,23,Grace Hartman,Canadian social activist and politician,https://en.wikipedia.org/wiki/Grace_Hartman_(politician),8,1998,May,NaN
11527,23,Monroe K. Spears,American university professor and literary critic,https://en.wikipedia.org/wiki/Monroe_K._Spears,4,1998,May,NaN
11618,5,B. M. Shah,Indian theatre director and playwright,https://en.wikipedia.org/wiki/B._M._Shah,6,1998,June,NaN
11624,6,Jatoe Kaleo,Ghanaian ruler and politician,https://en.wikipedia.org/wiki/Jatoe_Kaleo,10,1998,June,NaN
11717,18,Nazim Panipati,Pakistani film song lyricist and film script writer,https://en.wikipedia.org/wiki/Nazim_Panipati,6,1998,June,NaN
11734,20,George Van Peursem,American politician,https://en.wikipedia.org/wiki/George_Van_Peursem,0,1998,June,NaN
11920,19,Giliana Berneri,French communist activist,https://en.wikipedia.org/wiki/Giliana_Berneri,8,1998,July,NaN
11942,23,Manuel Mejía Vallejo,75 Colombian writer,https://en.wikipedia.org/wiki/Manuel_Mej%C3%ADa_Vallejo,2,1998,July,NaN
11996,3,Ahmet Kayhan Dede,Turkish Sufi master,https://en.wikipedia.org/wiki/Ahmet_Kayhan_Dede,0,1998,August,NaN
12039,12,C. Dickerman Williams,American lawyer and free-speech advocate,https://en.wikipedia.org/wiki/C._Dickerman_Williams,2,1998,August,NaN
12041,12,Gazi Shamsur Rahman,"Bangladeshi lawyer, writer and television personality",https://en.wikipedia.org/wiki/Gazi_Shamsur_Rahman,9,1998,August,NaN
12056,16,Abdallah al-Hubal,"Yemeni serial killer, suicide",https://en.wikipedia.org/wiki/Abdallah_al-Hubal,3,1998,August,NaN
12093,23,Asadollah Lajevardi,"Iranian conservative politician and warden, assassinated",https://en.wikipedia.org/wiki/Asadollah_Lajevardi,16,1998,August,NaN
12134,29,Minerva Bernardino,Dominican Republic diplomat and feminist,https://en.wikipedia.org/wiki/Minerva_Bernardino,22,1998,August,NaN
12144,31,Sabiha Gökçül Erbay,Turkish school teacher and politician,https://en.wikipedia.org/wiki/Sabiha_G%C3%B6k%C3%A7%C3%BCl_Erbay,3,1998,August,NaN
12169,4,Hernando Durán Dussán,"Colombian lawyer and politician, respiratory infection",https://en.wikipedia.org/wiki/Hernando_Dur%C3%A1n_Duss%C3%A1n,1,1998,September,NaN
12234,16,Mazhar Khan,"Indian actor and producer, renal failure","https://en.wikipedia.org/wiki/Mazhar_Khan_(actor,_born_1955)",3,1998,September,NaN
12395,13,Khánh Trắng,"Vietnamese labor leader and mobster, execution by firing squad",https://en.wikipedia.org/wiki/Kh%C3%A1nh_Tr%E1%BA%AFng,0,1998,October,NaN
12402,15,Perry Bullard,American politician,https://en.wikipedia.org/wiki/Perry_Bullard,5,1998,October,NaN
12407,16,Douglas C. Gordon,American whitewater kayaker,https://en.wikipedia.org/wiki/Douglas_C._Gordon,13,1998,October,NaN
12441,23,Adrian Gonzales,Filipino comics artist,https://en.wikipedia.org/wiki/Adrian_Gonzales,12,1998,October,NaN

#### Observations:
- There is at least one entry that escaped the net of that last iteration.  It can be hard-coded later.
- The next pattern starts with "age ", so will will iterate again with it.

In [33]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + " "):
            df.loc[i, "age"] = int(age)
df.sample(5)

,day,name,info,link,num_references,year,month,age
88898,25,Louis Feldman,"90, American classical scholar",https://en.wikipedia.org/wiki/Louis_Feldman,5,2017,March,90.000
111236,29,Chandan Singh,"94, Indian military officer",https://en.wikipedia.org/wiki/Chandan_Singh_(Air_Vice_Marshal),13,2020,March,94.000
56680,18,Pancho Martin,"86, Cuban racehorse trainer (Sham)",https://en.wikipedia.org/wiki/Pancho_Martin,10,2012,July,86.000
76216,11,Frankie Sodano,"84, American Olympic boxer (1948)",https://en.wikipedia.org/wiki/Frankie_Sodano,1,2015,May,84.000
38670,20,Sœur Emmanuelle,"99, Belgian-born French nun, natural causes",https://en.wikipedia.org/wiki/S%C5%93ur_Emmanuelle,6,2008,October,99.000

In [34]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

1271

#### Observations:
- That iteration captured 26 more missing values.
- Let us look again at the remaining rows.

#### Checking Rows with Missing `age`

In [35]:
# Checking rows still missing `age`
df[df["age"].isna()].head(100)

,day,name,info,link,num_references,year,month,age
900,20,Fernande Giroux,Canadian actress and jazz singer,https://en.wikipedia.org/wiki/Fernande_Giroux,5,1994,May,NaN
1029,6,Peter Graves,"English actor and nobleman, heart attack","https://en.wikipedia.org/wiki/Peter_Graves,_8th_Baron_Graves",5,1994,June,NaN
1895,24,1994 Colombo suicide attack,Notable people killed in the \n,"https://en.wikipedia.org/wiki/List_of_attacks_attributed_to_the_LTTE,_1990s#1994",41,1994,October,NaN
2318,1,Nina Leen,Russian-born American photographer for,https://en.wikipedia.org/wiki/Nina_Leen,3,1995,January,NaN
2506,22,Henry Gladstone,"American radio newscaster and actor, heart failure",https://en.wikipedia.org/wiki/Henry_Gladstone,5,1995,January,NaN
2902,11,Ernest Kabushemeye,"Burundian politician and the Minister for Mines and Energy, assassinated",https://en.wikipedia.org/wiki/Ernest_Kabushemeye,2,1995,March,NaN
3296,30,Christopher Chadman,"American dancer and choreographer, AIDS-related complications",https://en.wikipedia.org/wiki/Christopher_Chadman,2,1995,April,NaN
3359,8,Carroll Best,American banjo player,https://en.wikipedia.org/wiki/Carroll_Best,4,1995,May,NaN
4642,24,Syed Abuzar Bukhari,Pakistani scholar and president of Majlis-e-Ahrar-ul-Islam,https://en.wikipedia.org/wiki/Syed_Abuzar_Bukhari,2,1995,October,NaN
5308,12,Jon Pattis,"American engineer imprisoned in Iran, congestive heart failure",https://en.wikipedia.org/wiki/Jon_Pattis,3,1996,January,NaN
5423,29,Bill Sorensen,"New Zealand rugby player, coach and administrator",https://en.wikipedia.org/wiki/Bill_Sorensen,9,1996,January,NaN
6057,9,Khaptad Baba,"1995, Nepalese spiritual saint",https://en.wikipedia.org/wiki/Khaptad_Baba,6,1996,May,NaN
6078,11,1996 Mount Everest disaster,Notable climbers killed in the \n,https://en.wikipedia.org/wiki/1996_Mount_Everest_disaster,47,1996,May,NaN
6476,17,TWA Flight 800,Notable people killed in the crash of :\n,https://en.wikipedia.org/wiki/TWA_Flight_800,74,1996,July,NaN
6860,17,Spiro Agnew,"American politician, 77, 39th Vice President of the United States, leukemia",https://en.wikipedia.org/wiki/Spiro_Agnew,207,1996,September,NaN
6998,5,Elmer Berger,American Jewish rabbi and anti-Zionist,https://en.wikipedia.org/wiki/Elmer_Berger_(rabbi),12,1996,October,NaN
6999,5,Wymberley D. Coerr,"1995, American politician and diplomat",https://en.wikipedia.org/wiki/Wymberley_D._Coerr,3,1996,October,NaN
7094,17,Bert Hopwood,British motorcycle designer,https://en.wikipedia.org/wiki/Bert_Hopwood,5,1996,October,NaN
7281,13,Alma Kitchell,American concert singer,https://en.wikipedia.org/wiki/Alma_Kitchell,19,1996,November,NaN
7283,13,Swami Rama,Indian yoga guru,https://en.wikipedia.org/wiki/Swami_Rama,17,1996,November,NaN
7345,21,Syed Mohammed Mukhtar Ashraf,"Indian Sufi saint, spiritual leader, and islamic scholar",https://en.wikipedia.org/wiki/Syed_Mohammed_Mukhtar_Ashraf,7,1996,November,NaN
7400,27,Jack Penn,"South African plastic surgeon, sculptor, and author",https://en.wikipedia.org/wiki/Jack_Penn,3,1996,November,NaN
7432,4,Syd Heylen,"Australian actor, comedian, and variety performer, stroke",https://en.wikipedia.org/wiki/Syd_Heylen,2,1996,December,NaN
7930,1,Wilcomb E. Washburn,"American historian, prostate cancer",https://en.wikipedia.org/wiki/Wilcomb_E._Washburn,6,1997,February,NaN
8070,20,Ruth Clark (pollster),American pollster and researcher,https://en.wikipedia.org/wiki/Ruth_Clark_(pollster),6,1997,February,NaN
8421,6,Barbara Yu Ling,Singapore-British actress,https://en.wikipedia.org/wiki/Barbara_Yu_Ling,44,1997,April,NaN
8464,12,Moro Lorenzo,"1996, Filipino basketball player and executive",https://en.wikipedia.org/wiki/Moro_Lorenzo,5,1997,April,NaN
8576,26,Joey Faye,American comedian and actor,https://en.wikipedia.org/wiki/Joey_Faye,8,1997,April,NaN
8719,15,Saadallah Wannous,"Syrian playwright, cancer",https://en.wikipedia.org/wiki/Saadallah_Wannous,2,1997,May,NaN
8747,21,Amasa Stone Bishop,"American nuclear physicist, pneumonia",https://en.wikipedia.org/wiki/Amasa_Stone_Bishop,2,1997,May,NaN
8754,22,Genildo Ferreira de França,"Brazilian spree killer, suicide",https://en.wikipedia.org/wiki/Genildo_Ferreira_de_Fran%C3%A7a,25,1997,May,NaN
8817,31,Fazal Haq Mujahid,"Afghanistan mujahideen during the Soviet–Afghan War, assassinated",https://en.wikipedia.org/wiki/Fazal_Haq_Mujahid,0,1997,May,NaN
8923,15,Nicholas Danby,British organist and composer,https://en.wikipedia.org/wiki/Nicholas_Danby,14,1997,June,NaN
8945,18,Devon Russell,"Jamaican rocksteady and reggae singer and record producer, brain tumour",https://en.wikipedia.org/wiki/Devon_Russell,3,1997,June,NaN
8950,19,Basu Bhattacharya,"Indian film director, acute pancreatitis",https://en.wikipedia.org/wiki/Basu_Bhattacharya,11,1997,June,NaN
9051,4,"William Cadogan, 7th Earl Cadogan",British peer and military officer,"https://en.wikipedia.org/wiki/William_Cadogan,_7th_Earl_Cadogan",6,1997,July,NaN
9088,8,Charles P. B. Taylor,"Canadian journalist, author, and thoroughbred racehorse owner and breeder, cancer",https://en.wikipedia.org/wiki/Charles_P._B._Taylor,0,1997,July,NaN
9097,9,David Pitblado,British principal private secretary to successive Prime Ministers,https://en.wikipedia.org/wiki/David_Pitblado,4,1997,July,NaN
9132,14,Isaac Nicola,Cuban guitarist,https://en.wikipedia.org/wiki/Isaac_Nicola,6,1997,July,NaN
9159,18,Igor Linchevski,Russian botanist,https://en.wikipedia.org/wiki/Igor_Lintchevski,9,1997,July,NaN
9257,2,Antonis Daglis,"Greek serial killer, suicide",https://en.wikipedia.org/wiki/Antonis_Daglis,9,1997,August,NaN
9395,21,Abdul Rahim Ghafoorzai,"Afghani politician and diplomat, plane crash",https://en.wikipedia.org/wiki/Abdul_Rahim_Ghafoorzai,0,1997,August,NaN
9473,31,1997 Pont de l'Alma car crash,People killed in the :\n,https://en.wikipedia.org/wiki/1997_Pont_de_l%27Alma_car_crash,171,1997,August,NaN
9519,6,H. W. L. Poonja,"Indian sage and jivanmukta, pneumonia",https://en.wikipedia.org/wiki/H._W._L._Poonja,10,1997,September,NaN
9548,10,Satish Chandra Agarwal,Indian politician,https://en.wikipedia.org/wiki/Satish_Chandra_Agarwal,1,1997,September,NaN
9704,30,Nobuo Fujita,Japanese pilot and warrant officer during World War II,https://en.wikipedia.org/wiki/Nobuo_Fujita,12,1997,September,NaN
9774,9,Jean Pasqualini,French/Chinese journalist,https://en.wikipedia.org/wiki/Jean_Pasqualini,6,1997,October,NaN
9959,3,Satyapramoda Tirtha,Indian guru and philosopher,https://en.wikipedia.org/wiki/Satyapramoda_Tirtha,8,1997,November,NaN
9996,8,Robert John Kerr,"Northern Irish loyalist, vapour explosion",https://en.wikipedia.org/wiki/Robert_John_Kerr,25,1997,November,NaN
10063,16,Padmapriya,Indian actress,https://en.wikipedia.org/wiki/Padmapriya,12,1997,November,NaN
10109,24,Barbara,"French singer, respiratory problems",https://en.wikipedia.org/wiki/Barbara_(singer),8,1997,November,NaN
10123,25,M. Prabhakar Reddy,Indian film actor,https://en.wikipedia.org/wiki/M._Prabhakar_Reddy,2,1997,November,NaN
10141,28,Qemal Butka,"Albanian architect, painter and politician",https://en.wikipedia.org/wiki/Qemal_Butka,3,1997,November,NaN
10142,28,"Wallace H. Clark, Jr.","American dermatologist and pathologist, ruptured aneurysm",https://en.wikipedia.org/wiki/Wallace_H._Clark_Jr.,10,1997,November,NaN
10191,4,G. S. Jayanath,"Sri Lanka Army officer, killed in action",https://en.wikipedia.org/wiki/G._S._Jayanath,5,1997,December,NaN
10339,21,Sholom Schwadron,Israeli Haredi rabbi and orator,https://en.wikipedia.org/wiki/Sholom_Schwadron,30,1997,December,NaN
10350,23,Les Harrison,American basketball player and coach,https://en.wikipedia.org/wiki/Les_Harrison_(basketball),0,1997,December,NaN
10388,27,Webster Chikabala,"Zambian football player and coach, HIV/AIDS",https://en.wikipedia.org/wiki/Webster_Chikabala,8,1997,December,NaN
10419,30,Kim Sun-ja,South Korean serial killer,https://en.wikipedia.org/wiki/Kim_Sun-ja_(serial_killer),11,1997,December,NaN
10541,13,Muslim Mulliqi,Albanian painter,https://en.wikipedia.org/wiki/Muslim_Mulliqi,4,1998,January,NaN
10604,21,Pakoda Kadhar,"1997, Indian actor",https://en.wikipedia.org/wiki/Pakoda_Kadhar,1,1998,January,NaN
10722,5,Joe Stubbs,"American R&B/Soul singer, heart failure",https://en.wikipedia.org/wiki/Joe_Stubbs,9,1998,February,NaN
10738,8,Elizabeth Bauer Mock,"American professor, curator, author and journalist",https://en.wikipedia.org/wiki/Elizabeth_Bauer_Mock,13,1998,February,NaN
10767,11,Lily Harmon,American visual artist,https://en.wikipedia.org/wiki/Lily_Harmon,4,1998,February,NaN
10806,17,Bob Merrill,"American songwriter, theatrical composer and screenwriter, suicide",https://en.wikipedia.org/wiki/Bob_Merrill,29,1998,February,NaN
10828,19,Talish,Pakistani actor,https://en.wikipedia.org/wiki/Agha_Talish,8,1998,February,NaN
10934,2,Maamun al-Kuzbari,Syrian politician and literary personality,https://en.wikipedia.org/wiki/Maamun_al-Kuzbari,2,1998,March,NaN
10961,7,Ziad Rafiq Beydoun,Lebanese petroleum geologist,https://en.wikipedia.org/wiki/Ziad_Rafiq_Beydoun,8,1998,March,NaN
11054,19,Simon Diedong Dombo,Ghanaian politician and king,https://en.wikipedia.org/wiki/Simon_Diedong_Dombo,7,1998,March,NaN
11077,22,Shoichi Nishimura,"Japanese football player and manager, pneumonia",https://en.wikipedia.org/wiki/Shoichi_Nishimura,2,1998,March,NaN
11121,29,Loreta,Iranian Armenian actress,https://en.wikipedia.org/wiki/Loreta_(actress),8,1998,March,NaN
11232,12,Xin Fengxia,"Chinese pingju opera performer, cerebral hemorrhage",https://en.wikipedia.org/wiki/Xin_Fengxia,7,1998,April,NaN
11236,12,Felicitas Mendez,"Puerto Rican-American civil right activist, heart failure",https://en.wikipedia.org/wiki/Felicitas_M%C3%A9ndez,21,1998,April,NaN
11311,23,Sartaj Singh,Indian Army general,https://en.wikipedia.org/wiki/Sartaj_Singh_(general),2,1998,April,NaN
11351,29,V. Gopalakrishnan,Indian actor,https://en.wikipedia.org/wiki/V._Gopalakrishnan_(actor),66,1998,April,NaN
11379,3,Venkatesh Kulkarni,"Indian-American novelist and academic, leukemia",https://en.wikipedia.org/wiki/Venkatesh_Kulkarni,7,1998,May,NaN
11485,18,Obaidullah Aleem,"Indian poet, heart failure",https://en.wikipedia.org/wiki/Obaidullah_Aleem,3,1998,May,NaN
11523,23,Grace Hartman,Canadian social activist and politician,https://en.wikipedia.org/wiki/Grace_Hartman_(politician),8,1998,May,NaN
11527,23,Monroe K. Spears,American university professor and literary critic,https://en.wikipedia.org/wiki/Monroe_K._Spears,4,1998,May,NaN
11618,5,B. M. Shah,Indian theatre director and playwright,https://en.wikipedia.org/wiki/B._M._Shah,6,1998,June,NaN
11624,6,Jatoe Kaleo,Ghanaian ruler and politician,https://en.wikipedia.org/wiki/Jatoe_Kaleo,10,1998,June,NaN
11717,18,Nazim Panipati,Pakistani film song lyricist and film script writer,https://en.wikipedia.org/wiki/Nazim_Panipati,6,1998,June,NaN
11734,20,George Van Peursem,American politician,https://en.wikipedia.org/wiki/George_Van_Peursem,0,1998,June,NaN
11920,19,Giliana Berneri,French communist activist,https://en.wikipedia.org/wiki/Giliana_Berneri,8,1998,July,NaN
11996,3,Ahmet Kayhan Dede,Turkish Sufi master,https://en.wikipedia.org/wiki/Ahmet_Kayhan_Dede,0,1998,August,NaN
12039,12,C. Dickerman Williams,American lawyer and free-speech advocate,https://en.wikipedia.org/wiki/C._Dickerman_Williams,2,1998,August,NaN
12041,12,Gazi Shamsur Rahman,"Bangladeshi lawyer, writer and television personality",https://en.wikipedia.org/wiki/Gazi_Shamsur_Rahman,9,1998,August,NaN
12056,16,Abdallah al-Hubal,"Yemeni serial killer, suicide",https://en.wikipedia.org/wiki/Abdallah_al-Hubal,3,1998,August,NaN
12093,23,Asadollah Lajevardi,"Iranian conservative politician and warden, assassinated",https://en.wikipedia.org/wiki/Asadollah_Lajevardi,16,1998,August,NaN
12134,29,Minerva Bernardino,Dominican Republic diplomat and feminist,https://en.wikipedia.org/wiki/Minerva_Bernardino,22,1998,August,NaN
12144,31,Sabiha Gökçül Erbay,Turkish school teacher and politician,https://en.wikipedia.org/wiki/Sabiha_G%C3%B6k%C3%A7%C3%BCl_Erbay,3,1998,August,NaN
12169,4,Hernando Durán Dussán,"Colombian lawyer and politician, respiratory infection",https://en.wikipedia.org/wiki/Hernando_Dur%C3%A1n_Duss%C3%A1n,1,1998,September,NaN
12234,16,Mazhar Khan,"Indian actor and producer, renal failure","https://en.wikipedia.org/wiki/Mazhar_Khan_(actor,_born_1955)",3,1998,September,NaN
12395,13,Khánh Trắng,"Vietnamese labor leader and mobster, execution by firing squad",https://en.wikipedia.org/wiki/Kh%C3%A1nh_Tr%E1%BA%AFng,0,1998,October,NaN
12402,15,Perry Bullard,American politician,https://en.wikipedia.org/wiki/Perry_Bullard,5,1998,October,NaN
12407,16,Douglas C. Gordon,American whitewater kayaker,https://en.wikipedia.org/wiki/Douglas_C._Gordon,13,1998,October,NaN
12441,23,Adrian Gonzales,Filipino comics artist,https://en.wikipedia.org/wiki/Adrian_Gonzales,12,1998,October,NaN
12483,30,Lâm Văn Phát,Army of the Republic of Vietnam officer,https://en.wikipedia.org/wiki/L%C3%A2m_V%C4%83n_Ph%C3%A1t,50,1998,October,NaN
12486,31,Helmut Brandt,(East) German politician and political prisoner,https://en.wikipedia.org/wiki/Helmut_Brandt_(CDU_politician_in_East_Germany),12,1998,October,NaN
12516,6,Mohamed Taki Abdoulkarim,President of the Comoros,https://en.wikipedia.org/wiki/Mohamed_Taki_Abdoulkarim,1,1998,November,NaN

#### Observations:
- This sample shows entries that are missing age information, or the age is imbedded in the middle of the string. 
- Let us remove rows without any age information, as they will not add to the analysis.

In [36]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# List of index of entries to drop due to no age information
drop_list = []

# For loop to add index of entries to drop_list if no age information present
for i in df[df["age"].isna()].index:
    if not any(age in df.loc[i, "info"] for age in ages):
        drop_list.append(i)
df.loc[drop_list, :].sample(50)

,day,name,info,link,num_references,year,month,age
75011,10,Mohammed Kaliel,Nigerian army officer and politician,https://en.wikipedia.org/wiki/Mohammed_Kaliel,7,2015,March,NaN
15639,3,Ernesto Layaguin,hospital corpsman of the Philippine Marine Corps and posthumous recipient of the Medal of Valor,https://en.wikipedia.org/wiki/Ernesto_Layaguin,3,2000,April,NaN
46870,24,Bulle Hassan Mo'allim,"Somali politician, member of the Transitional Federal Parliament, victim of Muna Hotel attack",https://en.wikipedia.org/wiki/Bulle_Hassan_Mo%27allim,2,2010,August,NaN
16208,10,Denis O'Conor Don,"O'Conor Don, hereditary Chief of the Name O'Conor",https://en.wikipedia.org/wiki/Denis_O%27Conor_Don,7,2000,July,NaN
8421,6,Barbara Yu Ling,Singapore-British actress,https://en.wikipedia.org/wiki/Barbara_Yu_Ling,44,1997,April,NaN
110073,17,Pandhari Juker,Indian make-up artist,https://en.wikipedia.org/wiki/Pandhari_Juker,6,2020,February,NaN
66946,26,Tom Nyuma,Sierra Leonean politician and military officer,https://en.wikipedia.org/wiki/Tom_Nyuma,3,2014,January,NaN
121810,23,Gilles Rossignol,French writer and editor,https://en.wikipedia.org/wiki/Gilles_Rossignol,4,2021,March,NaN
27407,23,José Cruxent,Venezuelan archaeologist,https://en.wikipedia.org/wiki/Jos%C3%A9_Cruxent,4,2005,February,NaN
65757,26,Himachal Som,Indian diplomat,https://en.wikipedia.org/wiki/Himachal_Som,3,2013,November,NaN
9473,31,1997 Pont de l'Alma car crash,People killed in the :\n,https://en.wikipedia.org/wiki/1997_Pont_de_l%27Alma_car_crash,171,1997,August,NaN
45214,18,Abu Abdullah al-Rashid al-Baghdadi,"Iraqi terrorist (al-Qaeda), airstrike",https://en.wikipedia.org/wiki/Abu_Abdullah_al-Rashid_al-Baghdadi,26,2010,April,NaN
126420,27,Noor Islam Dawar,"Pakistani activist, shot",https://en.wikipedia.org/wiki/Noor_Islam_Dawar,13,2021,August,NaN
29146,20,Saadoun Sughaiyer al-Janabi,"Iraqi defense lawyer in Saddam Hussein's trial, murdered by unknown assailants in Baghdad",https://en.wikipedia.org/wiki/Saadoun_Sughaiyer_al-Janabi,6,2005,October,NaN
27013,4,Ali Al-Haidri,"Iraqi governor of Baghdad province, assassinated",https://en.wikipedia.org/wiki/Ali_al-Haidari,3,2005,January,NaN
73106,5,Yashaw Adem,Turkish actor,https://en.wikipedia.org/wiki/Yashaw_Adem,1,2014,December,NaN
31863,11,Raad Mutar Saleh,"Iraqi Mandaean leader, shot",https://en.wikipedia.org/wiki/Raad_Mutar_Saleh,2,2006,October,NaN
125803,6,Barry,"American barred owl, traffic collision",https://en.wikipedia.org/wiki/Barry_(owl),6,2021,August,NaN
46269,7,Bob Harvie,Sri Lankan cricket commentator,https://en.wikipedia.org/wiki/Bob_Harvie,1,2010,July,NaN
114842,28,Mohamed Mashally,Egyptian physician,https://en.wikipedia.org/wiki/Mohamed_Mashally,4,2020,July,NaN
57213,19,Ghazi al-Sadiq,"Sudanese politician, Minister of Guidance and Religious Endowments, plane crash",https://en.wikipedia.org/wiki/Ghazi_al-Sadiq,4,2012,August,NaN
17014,24,Mohammad Aslam Watanjar,Afghan general and politician,https://en.wikipedia.org/wiki/Mohammad_Aslam_Watanjar,2,2000,November,NaN
59675,2,Joe McGrath,Irish Gaelic football and hurling coach (Cork),https://en.wikipedia.org/wiki/Joe_McGrath_(Gaelic_games),4,2013,January,NaN
37056,13,Maheswary Velautham,"Sri Lankan lawyer and activist, shot",https://en.wikipedia.org/wiki/Maheswary_Velautham,6,2008,May,NaN
109314,19,Allah Thérèse,Ivorian traditional musician,https://en.wikipedia.org/wiki/Allah_Th%C3%A9r%C3%A8se,5,2020,January,NaN
15936,23,Mishari bin Abdulaziz Al Saud,Saudi prince as member of the House of Saud,https://en.wikipedia.org/wiki/Mishari_bin_Abdulaziz_Al_Saud,14,2000,May,NaN
13978,1,Yaakov Weinberg,American Orthodox Jewish rabbi and Talmudist,https://en.wikipedia.org/wiki/Yaakov_Weinberg,16,1999,July,NaN
73272,14,Fatima bint Rashid Al Nuaimi,Emirati Ajman royal,https://en.wikipedia.org/wiki/Fatima_bint_Rashid_Al_Nuaimi,1,2014,December,NaN
123078,30,Jalal Yousef,Venezuelan nine-ball pool player. (death announced on this date),https://en.wikipedia.org/wiki/Jalal_Yousef,7,2021,April,NaN
15979,1,Mary Mdziniso,Swazi educator and politician,https://en.wikipedia.org/wiki/Mary_Mdziniso,5,2000,June,NaN
54304,28,Ian Gallahar,Irish road racing cyclist,https://en.wikipedia.org/wiki/Ian_Gallahar,10,2012,February,NaN
13707,9,Wynona Lipman,"American politician, cancer",https://en.wikipedia.org/wiki/Wynona_Lipman,15,1999,May,NaN
109332,20,Gyanendra Nath Pande,Indian engineer,https://en.wikipedia.org/wiki/Gyanendra_Nath_Pande,12,2020,January,NaN
30431,14,Henry Callow,Isle of Man jurist,https://en.wikipedia.org/wiki/Henry_Callow,2,2006,April,NaN
14016,8,Chaino,American bongo player,https://en.wikipedia.org/wiki/Chaino,9,1999,July,NaN
25508,26,Scott Williams,American bass guitarist,https://en.wikipedia.org/wiki/Soilent_Green,8,2004,April,NaN
132432,31,Easa Saleh Al Gurg,"Emirati businessman and diplomat, chairman at Easa Saleh Al Gurg Group",https://en.wikipedia.org/wiki/Easa_Saleh_Al_Gurg,5,2022,March,NaN
50989,17,Jan Mohammad Khan,"Afghan presidential adviser, shot",https://en.wikipedia.org/wiki/Jan_Mohammad_Khan,12,2011,July,NaN
26907,21,Michael Forrest,Welsh television actor,https://en.wikipedia.org/wiki/Michael_Forrest,2,2004,December,NaN
24295,8,David Margolis,American mural artist,https://en.wikipedia.org/wiki/David_Margolis_(artist),8,2003,October,NaN
56212,18,Salem Ali Qatan,"Yemeni general, explosion",https://en.wikipedia.org/wiki/Salem_Ali_Qatan,12,2012,June,NaN
77918,18,Abu Muslim al-Turkmani,"Iraqi member of Mujahideen Shura Council, senior deputy commander and primary coordinator of ISIS, airstrike",https://en.wikipedia.org/wiki/Abu_Muslim_al-Turkmani,20,2015,August,NaN
50099,8,Huthaifa al-Batawi,"Iraqi al-Qaeda leader, shot",https://en.wikipedia.org/wiki/Huthaifa_al-Batawi,5,2011,May,NaN
127531,8,Marina Galanou,Greek LGBT rights activist,https://en.wikipedia.org/wiki/Marina_Galanou,50,2021,October,NaN
19686,19,Pul-i-Estikam bridge ambush,Journalists killed in the \n,https://en.wikipedia.org/wiki/Timeline_of_the_War_in_Afghanistan_(2001%E2%80%93present)#2001,86,2001,November,NaN
14064,15,Kamalendumati Shah,"Indian politician and social worker, brain cancer",https://en.wikipedia.org/wiki/Kamalendumati_Shah,4,1999,July,NaN
12169,4,Hernando Durán Dussán,"Colombian lawyer and politician, respiratory infection",https://en.wikipedia.org/wiki/Hernando_Dur%C3%A1n_Duss%C3%A1n,1,1998,September,NaN
22230,21,Arturo Guzman Decena,founder of Los Zetas,https://en.wikipedia.org/wiki/Arturo_Guzm%C3%A1n_Decena,21,2002,November,NaN
21448,25,Abdur Rahman Badawi,Egyptian existentialist philosopher,https://en.wikipedia.org/wiki/Abdel_Rahman_Badawi,3,2002,July,NaN
27240,3,Raul Usupov,Georgian politician and deputy governor of the Kvemo Kartli region,https://en.wikipedia.org/wiki/Raul_Usupov,1,2005,February,NaN

In [37]:
# Checking the number of entries that will be dropped
print(len(drop_list))

# Dropping the rows without age information
df.drop(drop_list, axis=0, inplace=True)

925

In [39]:
# Checking df shape after dropping rows
df.shape

(132975, 8)

#### Observations:
- We have successfully dropped the entries lacking age data.
- Let us examine the remaining rows missing `age`.

#### Checking Rows with Missing `age`

In [44]:
# Checking rows still missing `age`
df[df["age"].isna()].sample(100)

,day,name,info,link,num_references,year,month,age
34411,21,Čabulītis,"c. 72, American alligator considered to be Europe's oldest",https://en.wikipedia.org/wiki/%C4%8Cabul%C4%ABtis,2,2007,August,NaN
77501,22,Martin Storey,"British Channel Islander politician, member of the States (since 2008), cancer",https://en.wikipedia.org/wiki/Martin_Storey_(politician),2,2015,July,NaN
109765,5,Mohammad Shafiq,"Pakistani politician, MLA (since 2015), cardiac arrest",https://en.wikipedia.org/wiki/Mohammad_Shafiq_(politician),4,2020,February,NaN
30593,6,Flight Lieutenant,"Sarah-Jayne Mulvihill, 32, first British servicewoman to be killed in action in Iraq",https://en.wikipedia.org/wiki/Flight_Lieutenant,12,2006,May,NaN
45575,15,Gabriel Bien-Aimé,"Haitian politician, Minister of Education (2006–2008), heart attack",https://en.wikipedia.org/wiki/Gabriel_Bien-Aim%C3%A9,2,2010,May,NaN
131258,14,Khayal Zaman Orakzai,"Pakistani politician, MNA (since 2013), cancer",https://en.wikipedia.org/wiki/Khayal_Zaman_Orakzai,12,2022,February,NaN
59193,10,Harry Iauko,"Vanuatuan politician, MP for Tanna (2008–2012), complications of pneumonia",https://en.wikipedia.org/wiki/Harry_Iauko,35,2012,December,NaN
36946,2,Justin Yak,"Sudanese politician, minister for cabinet affairs for Southern Sudan (2006–2007), plane crash",https://en.wikipedia.org/wiki/Justin_Yak,1,2008,May,NaN
90591,25,Agha Shahbaz Khan Durrani,"Pakistani politician, Senator (since 2015), heart attack",https://en.wikipedia.org/wiki/Agha_Shahbaz_Khan_Durrani,2,2017,June,NaN
82352,11,A. R. Surendran,"Sri Lankan lawyer, President's Counsel (2004)",https://en.wikipedia.org/wiki/A._R._Surendran,13,2016,April,NaN
119176,7,Munira Yamin Satti,"Pakistani politician, Punjab MPA (since 2018), COVID-19",https://en.wikipedia.org/wiki/Munira_Yamin_Satti,3,2021,January,NaN
34162,22,John Burnett,"Sir Edinburgh University, 85, British academic, Principal of (1979–1987)",https://en.wikipedia.org/wiki/John_Harrison_Burnett,6,2007,July,NaN
114399,12,Mohamed Abdi Hashi,"Somali politician, President of Puntland (2004–2005)",https://en.wikipedia.org/wiki/Mohamed_Abdi_Hashi,6,2020,July,NaN
82565,22,Soran Singh,"Pakistani politician, member of the Khyber Pakhtunkhwa Assembly (since 2013), shot",https://en.wikipedia.org/wiki/Soran_Singh,14,2016,April,NaN
127556,9,Ali Atwa,"60s, Lebanese hijacker (TWA Flight 847), cancer",https://en.wikipedia.org/wiki/Ali_Atwa,3,2021,October,NaN
31859,11,Benito Martínez,"126?, Cuban claimant to the title of world's oldest person",https://en.wikipedia.org/wiki/Benito_Mart%C3%ADnez,4,2006,October,NaN
27352,16,Narriman Sadek,"(Nariman Sadeq), 70, Egyptian queen, ex-wife of King Farouk, last queen of Egypt",https://en.wikipedia.org/wiki/Narriman_Sadek,2,2005,February,NaN
129470,20,Mamadú Iaia Djaló,"c. 59, Bissau-Guinean politician, minister of justice (2018–2019) and foreign affairs (2000–2001)",https://en.wikipedia.org/wiki/Mamad%C3%BA_Iaia_Djal%C3%B3,8,2021,December,NaN
30748,26,Mahmoud al-Majzoub,"aka Abu Hamza, 41, Palestinian Islamic Jihad leader, assassination by bombing",https://en.wikipedia.org/wiki/Mahmoud_al-Majzoub,2,2006,May,NaN
71714,23,Mullah Ghani,"Afghan politician, Governor of Nimruz Province (1995), shot",https://en.wikipedia.org/wiki/Mullah_Ghani,1,2014,September,NaN
99086,9,Simon Adut Yuang,"South Sudanese Episcopal prelate, Bishop of Yirol (since 2015), plane crash",https://en.wikipedia.org/wiki/Simon_Adut_Yuang,3,2018,September,NaN
13030,22,Graciela Quan,"c. 79, Guatemalan lawyer and women's rights activist",https://en.wikipedia.org/wiki/Graciela_Quan,11,1999,January,NaN
111072,25,Robert Levinson,"American intelligence officer, missing since 2007. (declared legally deceased on this date)",https://en.wikipedia.org/wiki/Robert_Levinson,43,2020,March,NaN
16068,15,NRG,"Kim Hwan-Sung, 19, A Member of",https://en.wikipedia.org/wiki/NRG_(South_Korean_band),27,2000,June,NaN
30571,2,"Sam Mokuahi, Jr.","aka ""Sammy Steamboat"", 71, American Hawaiian professional wrestler, complications from Alzheimer's disease","https://en.wikipedia.org/wiki/Sam_Mokuahi,_Jr.",10,2006,May,NaN
71089,21,Raed al Atar,"c. 40, Palestinian militant (Hamas), missile strike",https://en.wikipedia.org/wiki/Raed_al_Atar,19,2014,August,NaN
93890,23,James Ligo,"Ni-Vanuatu Anglican prelate, Bishop of Vanuatu and New Caledonia (since 2006)",https://en.wikipedia.org/wiki/James_Ligo,4,2017,December,NaN
127168,24,Ishfaq Nadeem Ahmad,"Pakistani military officer, chief of general staff (2013–2015), cardiac arrest",https://en.wikipedia.org/wiki/Ishfaq_Nadeem_Ahmad,18,2021,September,NaN
128020,27,Gerald R. Young,"American intelligence official, deputy director of the National Security Agency (1988–1990)",https://en.wikipedia.org/wiki/Gerald_R._Young,6,2021,October,NaN
128764,25,Galal Ibrahim,"Egyptian football executive, president of Zamalek (1992–1996, 2010–2011)",https://en.wikipedia.org/wiki/Galal_Ibrahim,5,2021,November,NaN
123722,20,Tshoganetso Tongwane,"South African politician, MP (2008–2014, 2014–2019, since 2019), COVID-19",https://en.wikipedia.org/wiki/Tshoganetso_Tongwane,8,2021,May,NaN
40795,22,Dudley Thornton,"Colonel , 89, British army officer",https://en.wikipedia.org/wiki/Dudley_Thornton,5,2009,April,NaN
6860,17,Spiro Agnew,"American politician, 77, 39th Vice President of the United States, leukemia",https://en.wikipedia.org/wiki/Spiro_Agnew,207,1996,September,NaN
26681,18,Alfred Maseng,"Vanuatuan president (1994, 2004) and foreign minister (1995–1996)",https://en.wikipedia.org/wiki/Alfred_Maseng,3,2004,November,NaN
129375,17,Dah Sagbadjou Glele,"90s, Beninese royal, king of Dahomey (since 2019)",https://en.wikipedia.org/wiki/Dah_Sagbadjou_Glele,8,2021,December,NaN
57928,1,Chronox Manek,Papua New Guinean lawyer and Chief Ombudsman (2008–2012),https://en.wikipedia.org/wiki/Chronox_Manek,7,2012,October,NaN
47881,15,Nimr al-Khatib,"c. 92, Palestinian educator and writer",https://en.wikipedia.org/wiki/Nimr_al-Khatib,7,2010,November,NaN
30907,17,Cláudio Besserman Vianna,"(Bussunda), 43, Brazilian comedian, member of Casseta & Planeta, heart attack",https://en.wikipedia.org/wiki/Bussunda,1,2006,June,NaN
109656,1,Admiral K. Sangma,"Indian politician, MLA (1993–2003), heart disease",https://en.wikipedia.org/wiki/Admiral_K._Sangma,4,2020,February,NaN
112797,12,Henriette Conté,"Guinean socialite, First Lady (1984–2008)",https://en.wikipedia.org/wiki/Henriette_Cont%C3%A9,2,2020,May,NaN
98051,14,Mick Langley,"British snooker player, Paralympic champion (1988)",https://en.wikipedia.org/wiki/Mick_Langley,3,2018,July,NaN
87934,8,Mohamud Muse Hersi,"Somali politician, 79–80, President of Puntland (2005–2009)",https://en.wikipedia.org/wiki/Mohamud_Muse_Hersi,12,2017,February,NaN
30980,26,Bear JJ1,"(Bruno the Bear), the first wild bear in Germany in 170 years, shot to death",https://en.wikipedia.org/wiki/Bear_JJ1,1,2006,June,NaN
30955,23,Harriet,"176, Galápagos tortoise believed to be the third oldest animal in the world and allegedly owned by Charles Darwin, heart failure",https://en.wikipedia.org/wiki/Harriet_(tortoise),10,2006,June,NaN
122785,21,Erasmo Vásquez,"Dominican physician and politician, minister of public health (1996–1998), COVID-19",https://en.wikipedia.org/wiki/Erasmo_V%C3%A1squez,3,2021,April,NaN
119529,16,Christian Myekeni Ntshangase,"Swazi politician, minister of public service (since 2019), COVID-19",https://en.wikipedia.org/wiki/Christian_Myekeni_Ntshangase,4,2021,January,NaN
44313,12,Saleban Olad Roble,"Somali government minister, injuries sustained in the 2009 Shamo Hotel bombing",https://en.wikipedia.org/wiki/Saleban_Olad_Roble,2,2010,February,NaN
25232,8,Muhammad Zaidan,"(aka Abu Abbas), 55, Palestinian nationalist, founder of Palestine Liberation Front",https://en.wikipedia.org/wiki/Muhammad_Zaidan,4,2004,March,NaN
25794,18,Paul Johnson,"c. 49, American hostage, decapitated by al-Qaeda",https://en.wikipedia.org/wiki/Paul_Marshall_Johnson_Jr.,9,2004,June,NaN
116330,25,Simos Simopoulos,"Greek politician, Minister of Infrastructure and Transport (2012) and Rector of National Technical University of Athens (2010–2014)",https://en.wikipedia.org/wiki/Simos_Simopoulos,1,2020,September,NaN
75398,28,Tuti Yusupova,"134?, Uzbekistani longevity claimant, unverified world's oldest person",https://en.wikipedia.org/wiki/Tuti_Yusupova,5,2015,March,NaN
38472,1,Arlene Sherman,"c. 61, American television producer",https://en.wikipedia.org/wiki/Arlene_Sherman,0,2008,October,NaN
56312,24,Lonesome George,"100+, Ecuadorian Pinta Island tortoise endling, apparent heart failure",https://en.wikipedia.org/wiki/Lonesome_George,34,2012,June,NaN
113690,14,Tawfiq al-Yasiri,"Iraqi politician, member of the IRDC, COVID-19",https://en.wikipedia.org/wiki/Tawfiq_al-Yasiri,1,2020,June,NaN
130238,15,Claire D. Clarke,"American politician, member of the New Hampshire House of Representatives (2001–2011)",https://en.wikipedia.org/wiki/Claire_D._Clarke,2,2022,January,NaN
132667,10,Desmond Brathwaite,"Saint Lucian politician, MP (1987–1997)",https://en.wikipedia.org/wiki/Desmond_Brathwaite,2,2022,April,NaN
114582,18,Martha Mmola,"South African politician, MP (2014–2019), COVID-19",https://en.wikipedia.org/wiki/Martha_Mmola,4,2020,July,NaN
126572,1,Margaret Stone,"Australian judge, inspector-general of intelligence and security (2015–2020)",https://en.wikipedia.org/wiki/Margaret_Stone_(judge),11,2021,September,NaN
67603,24,Hamid Nawaz Khan,"Pakistani military officer, Defence Secretary (2001–2005), Interior Minister (2007–2008)",https://en.wikipedia.org/wiki/Hamid_Nawaz_Khan,4,2014,February,NaN
27848,22,Mary Dann,"early 80s, American Indian activist",https://en.wikipedia.org/wiki/Mary_Dann_and_Carrie_Dann,12,2005,April,NaN
86118,11,Jum Jainudin Akbar,"Filipino politician, member of the House of Representatives (since 2016), Governor of Basilan (2007–2016), cardiac arrest",https://en.wikipedia.org/wiki/Jum_Jainudin_Akbar,5,2016,November,NaN
117796,24,Hussein Al-Zuhairi,"Iraqi politician, MP, COVID-19",https://en.wikipedia.org/wiki/Hussein_Al-Zuhairi,3,2020,November,NaN
30475,20,Stanley Hiller,"Jr., 81, American helicopter designer",https://en.wikipedia.org/wiki/Stanley_Hiller,5,2006,April,NaN
87568,23,Kang Ki-sop,"North Korean politician, Director of General Civil Aviation Administration (since 2010). (death announced on this date)",https://en.wikipedia.org/wiki/Kang_Ki-sop,4,2017,January,NaN
6057,9,Khaptad Baba,"1995, Nepalese spiritual saint",https://en.wikipedia.org/wiki/Khaptad_Baba,6,1996,May,NaN
111847,12,Khalif Mumin Tohow,"Somali justice minister of Hirshabelle State, COVID-19",https://en.wikipedia.org/wiki/Khalif_Mumin_Tohow,3,2020,April,NaN
68137,22,Hamza Abu al-Haija,"c. 23, Palestinian militant (Hamas), shot",https://en.wikipedia.org/wiki/Hamza_Abu_al-Haija,2,2014,March,NaN
119360,12,Lingson Belekanyama,"Malawian politician, minister of local government and rural development (since 2020), COVID-19",https://en.wikipedia.org/wiki/Lingson_Belekanyama,2,2021,January,NaN
118150,7,Tasiman,"Indonesian politician, regent of Pati (2001–2011), COVID-19",https://en.wikipedia.org/wiki/Tasiman,1,2020,December,NaN
62710,4,Luo Meizhen,"127?, Chinese unverified claimant for world's oldest person, natural causes",https://en.wikipedia.org/wiki/Luo_Meizhen,11,2013,June,NaN
42596,5,Evile,"Mike Alexander, 32, British bassist (), pulmonary embolism",https://en.wikipedia.org/wiki/Evile,82,2009,October,NaN
108081,26,Gulzar Ahmed,"Bangladeshi politician, MP (1996)",https://en.wikipedia.org/wiki/Gulzar_Ahmed_(Sunamganj_politician),4,2019,November,NaN
27398,22,Lee Eun-ju,"(이은주), 24, Korean actress, suicide",https://en.wikipedia.org/wiki/Lee_Eun-ju,12,2005,February,NaN
40227,2,Halit Balamir,"c. 87, Turkish Olympic silver medal-winning (1948) wrestler, myocardial infarction",https://en.wikipedia.org/wiki/Halit_Balamir,2,2009,March,NaN
116170,18,A. Kalanithi,"Indian politician, MP (1980–1988), cardiac arrest",https://en.wikipedia.org/wiki/A._Kalanithi,3,2020,September,NaN
119811,23,Makhosi Vilakati,"Swazi politician, minister of labour and social security (since 2019), COVID-19",https://en.wikipedia.org/wiki/Makhosi_Vilakati,2,2021,January,NaN
29357,15,Agenore Incrocci,"aka , 86, Italian screenwriter",https://en.wikipedia.org/wiki/Agenore_Incrocci,0,2005,November,NaN
34583,9,Sir Tasker Watkins,"VC, 88, British jurist and businessman, Lord Justice of Appeal and former WRU President, after short illness",https://en.wikipedia.org/wiki/Tasker_Watkins,22,2007,September,NaN
68130,21,Colin Turner,"Sir Woolwich West, 92, British politician, MP for (1959–1964)",https://en.wikipedia.org/wiki/Colin_Turner,3,2014,March,NaN
87593,24,Lualemaga Faoa,"American Samoan judge and politician, Paramount Chief of Aasu, Governor of Western District (since 2013)",https://en.wikipedia.org/wiki/Lualemaga_Faoa,2,2017,January,NaN
30849,8,Jack Jackson,"(Rip Off Press Jaxon), 65, American comic book artist and co-founder of",https://en.wikipedia.org/wiki/Jaxon,10,2006,June,NaN
31533,1,Kyffin Williams,"Sir , 88, Welsh artist, lung and prostate cancer",https://en.wikipedia.org/wiki/Kyffin_Williams,15,2006,September,NaN
118621,23,Loyiso Mpumlwana,"South African politician, member of the National Assembly (2014–2019, since 2020), COVID-19",https://en.wikipedia.org/wiki/Loyiso_Mpumlwana,9,2020,December,NaN
114584,18,David Romero Ellner,"Honduran journalist, lawyer, politician and convicted rapist, COVID-19",https://en.wikipedia.org/wiki/David_Romero_Ellner,11,2020,July,NaN
18937,11,Kevin Kowalcyk,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7",https://en.wikipedia.orgNone,0,2001,August,NaN
108699,25,Niju Ram,"Indian politician, MLA (1977–1982)",https://en.wikipedia.org/wiki/Niju_Ram,3,2019,December,NaN
113818,19,Thandi Mpambo-Sibhukwana,"South African politician, MP (since 2019)",https://en.wikipedia.org/wiki/Thandi_Mpambo-Sibhukwana,6,2020,June,NaN
131765,3,William Samb,"Papua New Guinean politician, MP (since 2015)",https://en.wikipedia.org/wiki/William_Samb,2,2022,March,NaN
31576,6,Mohammed Taha Mohammed Ahmed,"c.50, Sudanese newspaper editor, beheaded",https://en.wikipedia.org/wiki/Mohammed_Taha_Mohammed_Ahmed,0,2006,September,NaN
64769,29,Scott Workman,"Scott Workman, 47, American stuntman (, , ), cancer",https://en.wikipedia.orgNone,0,2013,September,NaN
49743,12,Buster Martin,"104?, French-born British longevity claimant",https://en.wikipedia.org/wiki/Buster_Martin,21,2011,April,NaN
123746,21,Walter Müller,German Olympic gymnast (1952),https://en.wikipedia.org/wiki/Walter_M%C3%BCller_(German_gymnast),2,2021,May,NaN
125628,30,Johan van Zyl,"South African businessman, chairman of Toyota Motor Europe (2015–2021), COVID-19",https://en.wikipedia.org/wiki/Johan_van_Zyl,3,2021,July,NaN
119085,5,Happy Man Tree,"Tree of the Year 150, British plane tree, (2020), cut down",https://en.wikipedia.org/wiki/Happy_Man_Tree,23,2021,January,NaN
118658,24,Vincent Mhlanga,"Swazi politician, acting prime minister (2018), COVID-19",https://en.wikipedia.org/wiki/Vincent_Mhlanga,4,2020,December,NaN
113112,24,Hussain Ahmad Kanjo,"Pakistani politician, Minister of Science and Technology (2002–2007), COVID-19",https://en.wikipedia.org/wiki/Hussain_Ahmad_Kanjo,2,2020,May,NaN
30846,7,John Tenta,"(aka ""Earthquake""), 42, Canadian professional wrestler for the World Wrestling Federation, bladder cancer",https://en.wikipedia.org/wiki/John_Tenta,31,2006,June,NaN
114512,16,Cornelius Mwalwanda,"Malawian economist and politician, COVID-19",https://en.wikipedia.org/wiki/Cornelius_Mwalwanda,5,2020,July,NaN
128563,17,R. N. R. Manohar,"Indian film director (, ) and actor (), COVID-19",https://en.wikipedia.org/wiki/R._N._R._Manohar,8,2021,November,NaN
123716,20,U. Visweswar Rao,"Indian film director (, ) and screenwriter, COVID-19",https://en.wikipedia.org/wiki/U._Visweswar_Rao,9,2021,May,NaN