# Wikipedia Notable Life Expectancies
# [Notebook 6 : Data Cleaning Part 5](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean5_thanak_2022_07_17.ipynb)
### Context

The
### Objective

The
### Data Dictionary
- Feature: Description

### Importing Libraries

In [1]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To save/open python objects in pickle file
import pickle

# To help with reading, cleaning, and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

# To play auditory cue when cell has executed, has warning, or has error and set chime theme
import chime

chime.theme("zelda")

## Data Overview

### Reading, Sampling, and Checking Data Shape

In [2]:
# Reading the dataset
conn = sql.connect("wp_life_expect_clean4.db")
data = pd.read_sql("SELECT * FROM wp_life_expect_clean4", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 98061 rows and 38 columns.

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,social,spiritual,academia_humanities,business,sciences,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,num_categories,known_for_1
0,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21,1994,January,None,None,r,ballet designer director,None,None,None,None,None,None,None,None,86.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,3.091042,0,0,0,0,0,1,0,0,0,0,0,1,None
1,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12,1994,January,None,None,ist,,and c,None,None,None,None,None,None,None,68.0,None,Ireland,None,None,2.564949,0,0,1,0,0,1,0,0,1,0,0,3,None

In [3]:
# Checking last 2 rows of the data
df.tail(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,social,spiritual,academia_humanities,business,sciences,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,num_categories,known_for_1
98059,9,Aamir Liaquat Hussain,", 50, Pakistani journalist and politician, MNA .",https://en.wikipedia.org/wiki/Aamir_Liaquat_Hussain,99,2022,June,", since",None,ian,MNA,None,None,None,None,None,None,None,None,50.0,None,Pakistan,None,"2002 2007, since 2018",4.605170,0,0,0,0,0,1,0,0,1,0,0,2,None
98060,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3,2022,June,None,None,,member of the Academy of Engineering,None,None,None,None,None,None,None,None,86.0,None,"China, People's Republic of",None,None,1.386294,0,0,0,0,1,0,0,0,0,0,0,1,None

In [4]:
# Checking a sample of the data
df.sample(5)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,social,spiritual,academia_humanities,business,sciences,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,num_categories,known_for_1
15667,18,Pete Orr,", 46, American stock car racing driver, cancer.",https://en.wikipedia.org/wiki/Pete_Orr_(racing_driver),27,2002,November,None,None,stock car,cancer,None,None,None,None,None,None,None,None,46.0,None,United States of America,None,None,3.332205,0,0,0,0,0,0,1,0,0,0,0,1,None
75564,2,Michelle Medina,", 32, Ecuadorian singer, athlete and TV presenter, skin cancer.",https://en.wikipedia.org/wiki/Michelle_Medina,8,2019,July,None,None,,e TV,skin cancer,None,None,None,None,None,None,None,32.0,None,Ecuador,None,None,2.197225,0,0,0,0,0,1,1,0,0,0,0,2,None
68326,29,David Bartov,", 94, Polish-born Israeli judge.",https://en.wikipedia.org/wiki/David_Bartov,3,2018,March,None,None,,None,None,None,None,None,None,None,None,None,94.0,None,Poland,Israel,None,1.386294,0,0,0,0,0,0,0,0,1,0,0,1,None
44432,12,Hans-Ekkehard Bob,", 96, German military pilot, World War II flying ace.",https://en.wikipedia.org/wiki/Hans-Ekkehard_Bob,8,2013,August,None,None,military,,None,None,None,None,None,None,None,None,96.0,None,Germany,None,None,2.197225,0,0,0,0,0,0,0,1,0,0,0,1,None
550,8,Edith Bullock,", 91, American businesswoman and politician.",https://en.wikipedia.org/wiki/Edith_Bullock,7,1994,May,None,None,woman ian,None,None,None,None,None,None,None,None,None,91.0,None,United States of America,None,None,2.079442,0,0,0,1,0,0,0,0,1,0,0,2,None

### Checking Data Types, Duplicates, and Null Values

In [5]:
# Checking data types and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98061 entries, 0 to 98060
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   day                        98061 non-null  object
 1   name                       98061 non-null  object
 2   info                       98061 non-null  object
 3   link                       98061 non-null  object
 4   num_references             98061 non-null  int64
 5   year                       98061 non-null  int64
 6   month                      98061 non-null  object
 7   info_parenth               36661 non-null  object
 8   info_1                     22 non-null     object
 9   info_2                     98027 non-null  object
 10  info_3                     48894 non-null  object
 11  info_4                     10264 non-null  object
 12  info_5                     1265 non-null   object
 13  info_6                     181 non-null    object
 14  info_7                     27 non-null     object
 15  info_8                     5 non-null      object
 16  info_9                     1 non-null      object
 17  info_10                    1 non-null      object
 18  info_11                    1 non-null      object
 19  age                        98061 non-null  float64
 20  cause_of_death             2 non-null      object
 21  place_1                    97905 non-null  object
 22  place_2                    8207 non-null   object
 23  info_parenth_copy          36661 non-null  object
 24  log_num_references         98061 non-null  float64
 25  social                     98061 non-null  int64
 26  spiritual                  98061 non-null  int64
 27  academia_humanities        98061 non-null  int64
 28  business                   98061 non-null  int64
 29  sciences                   98061 non-null  int64
 30  arts                       98061 non-null  int64
 31  sports                     98061 non-null  int64
 32  law_enf_military_operator  98061 non-null  int64
 33  politics_govt_law          98061 non-null  int64
 34  crime                      98061 non-null  int64
 35  event_record_other         98061 non-null  int64
 36  num_categories             98061 non-null  int64
 37  known_for_1                2 non-null      object
dtypes: float64(2), int64(14), object(22)
memory usage: 28.4+ MB

In [10]:
# Extracting administrator as academia_humanities to known_for_1
index = df[
    df["link"] == "https://en.wikipedia.org/wiki/John_Blackburn_(educator)"
].index
df.loc[index, "academia_humanities"] = 1
df.loc[index, "info_2"] = None

# Assigning law_enf_military_operator to entry with woman to serve in Foreign Legion
index = df[df["link"] == "https://en.wikipedia.org/wiki/Susan_Travers"].index
df.loc[index, "law_enf_military_operator"] = 1
df.loc[index, "info_2"] = None




### REMOVE THIS CELL AFTER RERUN OF NB4  !!!!!!!!!!!!!!!!!!!!!!!

In [11]:

### REMOVE THIS CELL AFTER RERUN OF NB4   !!!!!!!!!!!!!!!!!!!!!!!!!!


df[df["link"] == "https://en.wikipedia.org/wiki/Susan_Travers"]

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,social,spiritual,academia_humanities,business,sciences,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,num_categories,known_for_1
17492,18,Susan Travers,", 94, only English woman to serve in the French Foreign Legion.",https://en.wikipedia.org/wiki/Susan_Travers,3,2003,December,None,None,None,None,None,None,None,None,None,None,None,None,94.0,None,France,None,None,1.386294,0,0,0,0,0,0,0,1,0,0,0,0,law_enf_military_operator

#### Observations:
- With our dataset loaded, we can pick up where we left off with extracting `known_for` values.
- First we will import `other_species` then proceed to make the next dictionary for searching.
- From this point we will begin with the top values in the column.

#### Loading `other_species`

In [14]:
# Loading other_species
other_species_df = pd.read_csv("other_species.csv")
other_species = list(
    set(other_species_df["species"].tolist())
)  # Removing duplicates as we have been adding to same csv file

### Extracting `known_for` Continued

#### Finding `known_for` Roles in info_1

In [22]:
# Obtaining values for column and their counts
roles_list = (
    df[df["num_categories"] == 0]["info_2"].value_counts(ascending=True).index.tolist()
)

In [35]:
"racehorse" in other_species

True

In [39]:
# Code to check each value
roles_list.pop()

'general'

#### Creating Lists for Each known_for Category

In [ ]:
# Creating lists for each category
politics_govt_law = [
    'royal servant',
    'royal steward',
    'royal man',
    'royal courtier',
    'royal consort',
    'royal',
    'secretary general of the Communist Party', # Must go before law_enf_military_operator,
    'deputy director general of the Secretariat of the Pacific Community', # Must go before law_enf_military_operator
    'Deputy director general of the Civil Affairs Department of Hubei Province', # Before law_enf_military_operator
    'under secretary general of the United Nations', # Before law_enf_military_operator
    'secretary general of the Organization of States', # Before law_enf_military_operator
    'secretary general of the Presidency', # Before law_enf_military_operator
    'secretary general of the Ministry of Home Affairs', # Before law_enf_military_operator
    'secretary general of the Lok Sabha',
    'general of the Isle of Man',
    'ian fourth general of'
    'general of the', # Must go right before law_enf_military_operator  *****
    

    
]

arts = [
    'rapper',
    
]
sports = [
    'tennis',
    'coach secretary general of the Association of the', # Before law_enf_military_operator,
    'general secretary of FIFA'

]
sciences = [
    'mathematic',
    'archaeolog',
    'director general of the Department of Scientific Industrial Research',  # Before law_enf_military_operator
    'director general of the National Astronomical Observatory', # Before law_enf_military_operator
    'president of the IAU', # contains president
    'director general of the Council of Agricultural Research', # Before law_enf_military_operator
    
]

business = [

]
academia_humanities = [
    'royal librarian', # Must go before politics_govt_law
    'director general of the Bangla Academy', # Before politics_govt_law
]
law_enf_military_operator = [
    'military officer',
    'director general of the Space Agency',
    'commanding general of the',,
    'Army general',
    'Army brigadier general'
    
    
]
spiritual = [
    "secretary general of the s' Council", # Before politics_govt_law
    'general ity LDS Church',
    'general ity',
]
social = []
crime = [
    'serial killer',
    'fraudster',
    
]
event_record_other = [
    'claimant of royalty', # Must go before politics_govt_law
]
other_species = other_species + [
    'royal cocker spaniel', # Should go before politics_govt_law if searched with this dictionary
    'cocker spaniel'
]

In [49]:
# Example code to quick-screen values that may overlap categories
df.loc[[index for index in df.index if "general" in df.loc[index, "info"]], :][100:200]

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,social,spiritual,academia_humanities,business,sciences,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,num_categories,known_for_1
10721,13,Paramasiva Prabhakar Kumaramangalam,", 86, Indian Army general.",https://en.wikipedia.org/wiki/Paramasiva_Prabhakar_Kumaramangalam,26,2000,March,None,None,Army general,None,None,None,None,None,None,None,None,None,86.0,None,India,None,None,3.295837,0,0,0,0,0,0,0,0,0,0,0,0,None
10894,23,Sir David Thorne,", 66, British army general.",https://en.wikipedia.org/wiki/David_Thorne_(British_Army_officer),6,2000,April,None,None,general,None,None,None,None,None,None,None,None,None,66.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.945910,0,0,0,0,0,0,0,1,0,0,0,1,None
10968,10,Sir Martin Farndale,", 71, British army general.",https://en.wikipedia.org/wiki/Martin_Farndale,3,2000,May,None,None,general,None,None,None,None,None,None,None,None,None,71.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.386294,0,0,0,0,0,0,0,1,0,0,0,1,None
11041,28,Maraden Panggabean,", 77, Indonesian Army general and Defense Minister.",https://en.wikipedia.org/wiki/Maraden_Panggabean,8,2000,May,None,None,Army general,None,None,None,None,None,None,None,None,None,77.0,None,Indonesia,None,None,2.197225,0,0,0,0,0,0,0,1,0,0,0,1,None
11047,30,Iko Carreira,", 66, Angolan army general and politician.",https://en.wikipedia.org/wiki/Iko_Carreira,3,2000,May,None,None,general ian,None,None,None,None,None,None,None,None,None,66.0,None,Angola,None,None,1.386294,0,0,0,0,0,0,0,1,1,0,0,2,None
11065,4,Sir James Glover,", 71, British army general.",https://en.wikipedia.org/wiki/James_Glover_(British_Army_officer),4,2000,June,None,None,general,None,None,None,None,None,None,None,None,None,71.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
11230,13,James Ferguson,", 86, U.S. Air Force general.",https://en.wikipedia.org/wiki/James_Ferguson_(general),3,2000,July,None,None,general,None,None,None,None,None,None,None,None,None,86.0,None,United States of America,None,None,1.386294,0,0,0,0,0,0,0,1,0,0,0,1,None
11236,14,Robert B. Landry,", 90, United States Air Force major general.",https://en.wikipedia.org/wiki/Robert_B._Landry,10,2000,July,None,None,,None,None,None,None,None,None,None,None,None,90.0,None,United States of America,None,None,2.397895,0,0,0,0,0,0,0,1,0,0,0,1,None
11287,25,Fred C. Sheffey,", 71, United States Army major general, lung cancer.",https://en.wikipedia.org/wiki/Fred_C._Sheffey,5,2000,July,None,None,Army,lung cancer,None,None,None,None,None,None,None,None,71.0,None,United States of America,None,None,1.791759,0,0,0,0,0,0,0,1,0,0,0,1,None
11291,26,Dalkhan Khozhaev,", 39, Chechen historian, field commander, brigadier general and author, murdered.",https://en.wikipedia.org/wiki/Dalkhan_Khozhaev,3,2000,July,None,None,,field,brigadier general,ed,None,None,None,None,None,None,39.0,None,Russia,None,None,1.386294,0,0,1,0,0,1,0,1,0,0,1,4,None
11345,8,Sir Peter Hudson,", 76, British army general.",https://en.wikipedia.org/wiki/Peter_Hudson_(British_Army_officer),4,2000,August,None,None,general,None,None,None,None,None,None,None,None,None,76.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
11471,5,Abdul Haris Nasution,", 81, Indonesian general.",https://en.wikipedia.org/wiki/Abdul_Haris_Nasution,48,2000,September,None,None,general,None,None,None,None,None,None,None,None,None,81.0,None,Indonesia,None,None,3.891820,0,0,0,0,0,0,0,0,0,0,0,0,None
11480,8,Otto K. Lind,", 79, Danish resistance fighter and general.",https://en.wikipedia.org/wiki/Otto_K._Lind,3,2000,September,None,None,resistance fighter general,None,None,None,None,None,None,None,None,None,79.0,None,Denmark,None,None,1.386294,0,0,0,0,0,0,0,0,0,0,0,0,None
11535,22,Sir Antony Read,", 87, British Army general.",https://en.wikipedia.org/wiki/Antony_Read,4,2000,September,None,None,Army general,None,None,None,None,None,None,None,None,None,87.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.609438,0,0,0,0,0,0,0,0,0,0,0,0,None
11547,24,Dean C. Strother,", 92, US Air Force four-star general.",https://en.wikipedia.org/wiki/Dean_C._Strother,4,2000,September,None,None,four star general,None,None,None,None,None,None,None,None,None,92.0,None,United States of America,None,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
11601,5,Bankson T. Holcomb Jr.,", 92, brigadier general in the US Marine Corps.",https://en.wikipedia.org/wiki/Bankson_T._Holcomb_Jr.,5,2000,October,None,None,brigadier general in the Corps,None,None,None,None,None,None,None,None,None,92.0,None,United States of America,None,None,1.791759,0,0,0,0,0,0,0,1,0,0,0,1,None
11622,9,James V. Hartinger,", 75, US Air Force general.",https://en.wikipedia.org/wiki/James_V._Hartinger,7,2000,October,None,None,general,None,None,None,None,None,None,None,None,None,75.0,None,United States of America,None,None,2.079442,0,0,0,0,0,0,0,1,0,0,0,1,None
11925,12,William J. Evans,", 76, United States Air Force general.",https://en.wikipedia.org/wiki/William_J._Evans_(general),3,2000,December,None,None,general,None,None,None,None,None,None,None,None,None,76.0,None,United States of America,None,None,1.386294,0,0,0,0,0,0,0,1,0,0,0,1,None
11938,14,Pavel Plotnikov,", 80, Soviet air force general.",https://en.wikipedia.org/wiki/Pavel_Plotnikov,8,2000,December,None,None,air force general,None,None,None,None,None,None,None,None,None,80.0,None,United Socialist Soviet Republic,None,None,2.197225,0,0,0,0,0,0,0,0,0,0,0,0,None
11950,16,Hugh W. Pinnock,", 66, general authority LDS Church, pulmonary fibrosis.",https://en.wikipedia.org/wiki/Hugh_W._Pinnock,6,2000,December,None,None,general ity LDS Church,pulmonary fibrosis,None,None,None,None,None,None,None,None,66.0,None,None,None,None,1.945910,0,0,0,0,0,1,0,0,0,0,0,1,None
12012,26,Herman Nickerson Jr.,", 87, United States Marine Corps lieutenant general.",https://en.wikipedia.org/wiki/Herman_Nickerson_Jr.,19,2000,December,None,None,Corps lieutenant general,None,None,None,None,None,None,None,None,None,87.0,None,United States of America,None,None,2.995732,0,0,0,0,0,0,0,1,0,0,0,1,None
12303,17,Zvonimir ervenko,", 74, Croatian general.",https://en.wikipedia.org/wiki/Zvonimir_%C4%8Cervenko,3,2001,February,None,None,general,None,None,None,None,None,None,None,None,None,74.0,None,Croatia,None,None,1.386294,0,0,0,0,0,0,0,0,0,0,0,0,None
12343,23,Gabriel P. Disosway,", 90, United States Air Force general and commander of Tactical Air Command.",https://en.wikipedia.org/wiki/Gabriel_P._Disosway,3,2001,February,None,None,general of Tactical Air Command,None,None,None,None,None,None,None,None,None,90.0,None,United States of America,None,None,1.386294,0,0,0,0,0,0,0,1,0,0,0,1,None
12545,5,David Lloyd Owen,", 83, British army general and writer.",https://en.wikipedia.org/wiki/David_Lloyd_Owen,4,2001,April,None,None,general,None,None,None,None,None,None,None,None,None,83.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.609438,0,0,0,0,0,1,0,1,0,0,0,2,None
12555,7,Sir Derek Lang,", 87, British Army general.",https://en.wikipedia.org/wiki/Derek_Lang,4,2001,April,None,None,Army general,None,None,None,None,None,None,None,None,None,87.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.609438,0,0,0,0,0,0,0,0,0,0,0,0,None
12756,14,Mohammed Abdullah Saleh,", 71-72, Yemeni major general.",https://en.wikipedia.org/wiki/Mohammed_Abdullah_Saleh,5,2001,May,None,None,,None,None,None,None,None,None,None,None,None,71.5,None,Yemen,None,None,1.791759,0,0,0,0,0,0,0,1,0,0,0,1,None
12761,16,Loren C. Dunn,", 70, American Mormon general authority.",https://en.wikipedia.org/wiki/Loren_C._Dunn,9,2001,May,None,None,general ity,None,None,None,None,None,None,None,None,None,70.0,None,United States of America,None,None,2.302585,0,1,0,0,0,1,0,0,0,0,0,2,None
12782,20,Carl Eric Almgren,", 88, Swedish Army general.",https://en.wikipedia.org/wiki/Carl_Eric_Almgren,12,2001,May,None,None,Army general,None,None,None,None,None,None,None,None,None,88.0,None,Sweden,None,None,2.564949,0,0,0,0,0,0,0,0,0,0,0,0,None
12877,4,Reynaldo Mendoza,", 84, Philippine Army brigadier general.",https://en.wikipedia.org/wiki/Reynaldo_Mendoza,29,2001,June,None,None,Army brigadier general,None,None,None,None,None,None,None,None,None,84.0,None,Philippines,None,None,3.401197,0,0,0,0,0,0,0,0,0,0,0,0,None
12931,14,Horace M. Wade,", 85, general in the US Air Force.",https://en.wikipedia.org/wiki/Horace_M._Wade,4,2001,June,None,None,general in the,None,None,None,None,None,None,None,None,None,85.0,None,United States of America,None,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
13138,24,Lewis C. Hudson,", 90, United States Marine Corps brigadier general.",https://en.wikipedia.org/wiki/Lewis_C._Hudson,4,2001,July,None,None,Corps brigadier general,None,None,None,None,None,None,None,None,None,90.0,None,United States of America,None,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
13221,6,Dng Vn Minh,", 85, South Vietnamese politician and ARVN general.",https://en.wikipedia.org/wiki/D%C6%B0%C6%A1ng_V%C4%83n_Minh,96,2001,August,None,None,South ian ARVN general,None,None,None,None,None,None,None,None,None,85.0,None,Vietnam,None,None,4.574711,0,0,0,0,0,0,0,0,1,0,0,1,None
13222,6,Wilhelm Mohnke,", 90, German SS general during World War II.",https://en.wikipedia.org/wiki/Wilhelm_Mohnke,39,2001,August,None,None,SS general during,None,None,None,None,None,None,None,None,None,90.0,None,Germany,None,None,3.688879,0,0,0,0,0,0,0,1,0,0,0,1,None
13250,10,Dietrich Peltz,", 87, German Luftwaffe bomber and Wehrmacht general during World War II.",https://en.wikipedia.org/wiki/Dietrich_Peltz,28,2001,August,None,None,bomber Wehrmacht general during,None,None,None,None,None,None,None,None,None,87.0,None,Germany,Germany,None,3.367296,0,0,0,0,0,0,0,1,0,0,0,1,None
13260,12,Sir Walter Walker,", 88, British army general.",https://en.wikipedia.org/wiki/Walter_Walker_(British_Army_officer),29,2001,August,None,None,general,None,None,None,None,None,None,None,None,None,88.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,3.401197,0,0,0,0,0,0,0,1,0,0,0,1,None
13566,8,Ross T. Dwyer,", 82, United States Marine Corps major general.",https://en.wikipedia.org/wiki/Ross_T._Dwyer,3,2001,October,None,None,Corps,None,None,None,None,None,None,None,None,None,82.0,None,United States of America,None,None,1.386294,0,0,0,0,0,0,0,1,0,0,0,1,None
13609,17,Rehavam Ze'evi,", 75, Israeli army general and politician.",https://en.wikipedia.org/wiki/Rehavam_Ze%27evi,36,2001,October,None,None,general ian,None,None,None,None,None,None,None,None,None,75.0,None,Israel,None,None,3.610918,0,0,0,0,0,0,0,1,1,0,0,2,None
13672,28,Sir John Mogg,", 88, British army general.",https://en.wikipedia.org/wiki/John_Mogg_(British_Army_officer),22,2001,October,None,None,general,None,None,None,None,None,None,None,None,None,88.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,3.135494,0,0,0,0,0,0,0,1,0,0,0,1,None
13974,18,Cecil Waidyaratne,", 63, Sri Lankan general.",https://en.wikipedia.org/wiki/Cecil_Waidyaratne,5,2001,December,None,None,general,None,None,None,None,None,None,None,None,None,63.0,None,Sri Lanka,None,None,1.791759,0,0,0,0,0,0,0,0,0,0,0,0,None
14329,13,Thomas J. H. Trapnell,", 99, American U.S. Army lieutenant general .",https://en.wikipedia.org/wiki/Thomas_J._H._Trapnell,24,2002,February,survived Bataan Death March,None,Army lieutenant general,None,None,None,None,None,None,None,None,None,99.0,None,United States of America,United States of America,survived Bataan Death March,3.218876,0,0,0,0,0,0,0,0,0,0,0,0,None
14496,17,Vn Tin Dng,", 84, Vietnamese general in the People's Army of Vietnam .",https://en.wikipedia.org/wiki/V%C4%83n_Ti%E1%BA%BFn_D%C5%A9ng,10,2002,March,PAVN,None,general in the People Army of,None,None,None,None,None,None,None,None,None,84.0,None,Vietnam,None,PAVN,2.397895,0,0,0,0,0,0,0,0,0,0,0,0,None
14547,28,Tikka Khan,", 86, Pakistani army general.",https://en.wikipedia.org/wiki/Tikka_Khan,39,2002,March,None,None,general,None,None,None,None,None,None,None,None,None,86.0,None,Pakistan,None,None,3.688879,0,0,0,0,0,0,0,1,0,0,0,1,None
14693,28,Alexander Lebed,", 52, Russian general and politician.",https://en.wikipedia.org/wiki/Alexander_Lebed,44,2002,April,None,None,general ian,None,None,None,None,None,None,None,None,None,52.0,None,Russia,None,None,3.806662,0,0,0,0,0,0,0,0,1,0,0,1,None
14743,6,James Lawton Collins Jr.,", 84, American military historian, brigadier general in the U.S. Army and viticulturist.",https://en.wikipedia.org/wiki/James_Lawton_Collins_Jr.,14,2002,May,None,None,military,brigadier general in the Army viticulturist,None,None,None,None,None,None,None,None,84.0,None,United States of America,None,None,2.708050,0,0,1,0,0,0,0,0,0,0,0,1,None
14850,28,Charles J. Adams,", 80, brigadier general in the US Air Force.",https://en.wikipedia.org/wiki/Charles_J._Adams_(U.S._Air_Force_general),3,2002,May,None,None,brigadier general in the,None,None,None,None,None,None,None,None,None,80.0,None,United States of America,None,None,1.386294,0,0,0,0,0,0,0,1,0,0,0,1,None
14920,15,Choi Hong Hi,", 83, South Korean Army general and martial artist, purported ""father of Taekwon-Do"", cancer.",https://en.wikipedia.org/wiki/Choi_Hong_Hi,17,2002,June,None,None,Army general martial,"purported ""father of Taekwon Do""",cancer,None,None,None,None,None,None,None,83.0,None,South Korea,None,None,2.890372,0,0,0,0,0,1,0,0,0,0,0,1,None
14996,1,William J. Van Ryzin,", 88, United States Marine Corps lieutenant general.",https://en.wikipedia.org/wiki/William_J._Van_Ryzin,4,2002,July,None,None,Corps lieutenant general,None,None,None,None,None,None,None,None,None,88.0,None,United States of America,None,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
15005,3,Josef Haibck,", 85, Austrian the Air Force general.",https://en.wikipedia.org/wiki/Josef_Haib%C3%B6ck,55,2002,July,None,None,the general,None,None,None,None,None,None,None,None,None,85.0,None,Austria,None,None,4.025352,0,0,0,0,0,0,0,1,0,0,0,1,None
15007,4,Benjamin O. Davis Jr.,", 89, American U.S. Air Force four-star general and commander of the World War II Tuskegee Airmen.",https://en.wikipedia.org/wiki/Benjamin_O._Davis_Jr.,30,2002,July,None,None,four star general of the Tuskegee Airmen,None,None,None,None,None,None,None,None,None,89.0,None,United States of America,United States of America,None,3.433987,0,0,0,0,0,0,0,1,0,0,0,1,None
15055,13,Percy Yutar,", 90, South African attorney general, prosecuted Nelson Mandela resulting in a sentence of life imprisonment.",https://en.wikipedia.org/wiki/Percy_Yutar,6,2002,July,None,None,general,prosecuted Nelson Mandela resulting in a sentence of life imprisonment,None,None,None,None,None,None,None,None,90.0,None,South Africa,None,None,1.945910,0,0,0,0,0,0,0,0,1,0,0,1,None
15075,18,Qiu Huizuo,", 88, Chinese Army lieutenant general.",https://en.wikipedia.org/wiki/Qiu_Huizuo,5,2002,July,None,None,Army lieutenant general,None,None,None,None,None,None,None,None,None,88.0,None,"China, People's Republic of",None,None,1.791759,0,0,0,0,0,0,0,0,0,0,0,0,None
15182,8,John N. McLaughlin,", 83, American lieutenant general, heart attack.",https://en.wikipedia.org/wiki/John_N._McLaughlin,13,2002,August,None,None,lieutenant general,heart attack,None,None,None,None,None,None,None,None,83.0,None,United States of America,None,None,2.639057,0,0,0,0,0,0,0,0,0,0,0,0,None
15217,15,George Agbazika Innih,", 63, Nigerian army general and politician.",https://en.wikipedia.org/wiki/George_Agbazika_Innih,4,2002,August,None,None,general ian,None,None,None,None,None,None,None,None,None,63.0,None,Nigeria,None,None,1.609438,0,0,0,0,0,0,0,1,1,0,0,2,None
15336,9,Gerald W. Johnson,", 83, lieutenant general in the US Air Force and WW II flying ace.",https://en.wikipedia.org/wiki/Gerald_W._Johnson_(military_officer),7,2002,September,None,None,lieutenant general in the WW II,None,None,None,None,None,None,None,None,None,83.0,None,United States of America,None,None,2.079442,0,0,0,0,0,0,0,1,0,0,0,1,None
15480,12,Sir Desmond Fitzpatrick,", 89, British general.",https://en.wikipedia.org/wiki/Desmond_Fitzpatrick,45,2002,October,None,None,general,None,None,None,None,None,None,None,None,None,89.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,3.828641,0,0,0,0,0,0,0,0,0,0,0,0,None
15507,18,Sir Cecil Blacker,", 86, British army general, Adjutant-General to the Forces.",https://en.wikipedia.org/wiki/Cecil_Blacker,4,2002,October,None,None,general,Adjutant General to the Forces,None,None,None,None,None,None,None,None,86.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
15540,26,Jacques Massu,", 94, French general.",https://en.wikipedia.org/wiki/Jacques_Massu,7,2002,October,None,None,general,None,None,None,None,None,None,None,None,None,94.0,None,France,None,None,2.079442,0,0,0,0,0,0,0,0,0,0,0,0,None
15563,31,Sir Napier Crookenden,", 87, British Army general.",https://en.wikipedia.org/wiki/Napier_Crookenden,3,2002,October,None,None,Army general,None,None,None,None,None,None,None,None,None,87.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,1.386294,0,0,0,0,0,0,0,0,0,0,0,0,None
15698,24,Sidney S. Wade,", 93, American major general in the U.S. Marine Corps.",https://en.wikipedia.org/wiki/Sidney_S._Wade,6,2002,November,None,None,in the Corps,None,None,None,None,None,None,None,None,None,93.0,None,United States of America,None,None,1.945910,0,0,0,0,0,0,0,1,0,0,0,1,None
15812,16,Bill Hunter,", 82, Canadian ice hockey player, general manager and coach, cancer.",https://en.wikipedia.org/wiki/Bill_Hunter_(ice_hockey),8,2002,December,None,None,player,coach,cancer,None,None,None,None,None,None,None,82.0,None,Canada,None,None,2.197225,0,0,0,0,0,0,1,0,0,0,0,1,None
15952,13,James Bradshaw Adamson,", 81, American U.S. Army major general, commander of the Military District of Washington.",https://en.wikipedia.org/wiki/James_Bradshaw_Adamson,6,2003,January,None,None,Army,of the Military District of Washington,None,None,None,None,None,None,None,None,81.0,None,United States of America,United States of America,None,1.945910,0,0,0,0,0,0,0,1,0,0,0,1,None
16231,8,Wallace M. Greene,", 95, United States Marine Corps four-star general.",https://en.wikipedia.org/wiki/Wallace_M._Greene,4,2003,March,None,None,Corps four star general,None,None,None,None,None,None,None,None,None,95.0,None,United States of America,None,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
16461,29,Janko Bobetko,", 84, Croatian general, hailed as a hero of Croatia but charged with war crimes by the U.N.",https://en.wikipedia.org/wiki/Janko_Bobetko,13,2003,April,None,None,general,hailed as a hero of but charged with war crimes by the U N,None,None,None,None,None,None,None,None,84.0,None,Croatia,None,None,2.639057,0,0,0,0,0,0,0,0,0,0,0,0,None
16557,19,Kunhiraman Palat Candeth,", 86, Indian army general.",https://en.wikipedia.org/wiki/Kunhiraman_Palat_Candeth,19,2003,May,None,None,general,None,None,None,None,None,None,None,None,None,86.0,None,India,None,None,2.995732,0,0,0,0,0,0,0,1,0,0,0,1,None
16565,21,Philip W. Nuber,", 63, American U.S. Air Force major general, director of the Defense Mapping Agency.",https://en.wikipedia.org/wiki/Philip_W._Nuber,4,2003,May,None,None,,director of the Defense Mapping Agency,None,None,None,None,None,None,None,None,63.0,None,United States of America,United States of America,None,1.609438,0,0,0,0,0,0,0,1,0,0,0,1,None
16680,19,Rafael Ileto,", 82, Filipino army general and politician.",https://en.wikipedia.org/wiki/Rafael_Ileto,8,2003,June,None,None,general ian,None,None,None,None,None,None,None,None,None,82.0,None,Philippines,None,None,2.197225,0,0,0,0,0,0,0,1,1,0,0,2,None

In [ ]:
https://en.wikipedia.org/wiki/Percy_Yutar

In [51]:
# Example code to quick-check a specific entry
df[df["info_2"] == "general ity"]

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,social,spiritual,academia_humanities,business,sciences,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,num_categories,known_for_1
12761,16,Loren C. Dunn,", 70, American Mormon general authority.",https://en.wikipedia.org/wiki/Loren_C._Dunn,9,2001,May,None,None,general ity,None,None,None,None,None,None,None,None,None,70.0,None,United States of America,None,None,2.302585,0,1,0,0,0,1,0,0,0,0,0,2,None
28903,27,Joseph C. Muren,", 73, American Mormon general authority.",https://en.wikipedia.org/wiki/Joseph_C._Muren,3,2009,July,None,None,general ity,None,None,None,None,None,None,None,None,None,73.0,None,United States of America,None,None,1.386294,0,1,0,0,0,1,0,0,0,0,0,2,None

#### Observations:
-

#### Updating known_for_dict_5 Dictionary of Category Keys and Specific Role Sets of Values

In [ ]:
# Combining separate lists as sets into one dictionary
known_for_dict_5 = {
    "social": set(social),
    "academia_humanities": set(academia_humanities),
    "spiritual": set(spiritual),
    "business": set(business),
    "sciences": set(sciences),
    "arts": set(arts),
    "sports": set(sports),
    "law_enf_military_operator": set(law_enf_military_operator),
    "politics_govt_law": set(politics_govt_law),
    "crime": set(crime),
    "event_record_other": set(event_record_other),
    #     "other_species": set(other_species),
}

#### Extracting Category from info_2 with known_for_dict_1

In [ ]:
%%time

# Dictionary version
search_dict = known_for_dict_1

# Column to check
column = 'info_2'

# Dataframe
dataframe = df[column].notna()

# For loop to find role in column and extract it as category
for category, category_set in search_dict.items():
    for role in category_set:
        for index in dataframe.index:
            item = df.loc[index, column]
            if item:
                if role in item:
                    df.loc[index, category] = 1
                    df.loc[index, column] = item.replace(role, '').strip()

# Checking a sample of rows
df[df['event_record_other'] ==1].sample(2)

#### Checking the Number of Rows without a First Category

In [ ]:
# Checking the number of rows for each number of categories
df["num_categories"] = df[known_for_dict_1.keys()].sum(axis=1)

print(
    f'There are {len(df[df["num_categories"]==0])} entries without any known_for category.'
)

In [ ]:
print('dunzo!')
# Chime notification when cell successfully executes
chime.success()

#### Finding `known_for` Roles in info_1

In [22]:
# Obtaining values for column and their counts
roles_list = (
    df[df["num_categories"] == 0]["info_2"].value_counts(ascending=True).index.tolist()
)

In [24]:
# # Code to check each value
# roles_list.pop()

#### Creating Lists for Each known_for Category

In [ ]:
# Creating lists for each category
politics_govt_law = [
]

arts = []
sports = [

]
sciences = []

business = [

]
academia_humanities = []
law_enf_military_operator = []
spiritual = []
social = []
crime = []
event_record_other = []
other_species = other_species + [
]

In [ ]:
# # Example code to quick-screen values that may overlap categories
# df.loc[[index for index in df.index if "King" in df.loc[index, "info"]], :]

In [ ]:
## Example code to quick-check a specific entry
# df[df["info_2"] == "defence correspondent for"]

#### Observations:
-

#### Updating known_for_dict_1 Dictionary of Category Keys and Specific Role Sets of Values

In [ ]:
# Combining separate lists as sets into one dictionary
known_for_dict_1 = {
    "social": set(social),
    "academia_humanities": set(academia_humanities),
    "spiritual": set(spiritual),
    "business": set(business),
    "sciences": set(sciences),
    "arts": set(arts),
    "sports": set(sports),
    "law_enf_military_operator": set(law_enf_military_operator),
    "politics_govt_law": set(politics_govt_law),
    "crime": set(crime),
    "event_record_other": set(event_record_other),
    #     "other_species": set(other_species),
}

#### Extracting Category from info_2 with known_for_dict_1

In [ ]:
%%time

# Dictionary version
search_dict = known_for_dict_1

# Column to check
column = 'info_2'

# Dataframe
dataframe = df[column].notna()

# For loop to find role in column and extract it as category
for category, category_set in search_dict.items():
    for role in category_set:
        for index in dataframe.index:
            item = df.loc[index, column]
            if item:
                if role in item:
                    df.loc[index, category] = 1
                    df.loc[index, column] = item.replace(role, '').strip()

# Checking a sample of rows
df[df['event_record_other'] ==1].sample(2)

#### Checking the Number of Rows without a First Category

In [ ]:
# Checking the number of rows for each number of categories
df["num_categories"] = df[known_for_dict_1.keys()].sum(axis=1)

print(
    f'There are {len(df[df["num_categories"]==0])} entries without any known_for category.'
)