# Wikipedia Notable Life Expectancies

# [Notebook 2 of 4: Data Cleaning](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean_thanak_2022_06_13.ipynb)

## Context

The


## Objective

The

### Data Dictionary

- Feature: Description

## Importing Necessary Libraries

In [1]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To help with reading and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

## Data Overview

### Reading, Sampling, and Checking Data Shape

In [2]:
# Reading the wp_life_expect_raw_complete dataset
conn = sql.connect("wp_life_expect_raw_complete.db")
data = pd.read_sql("SELECT * FROM wp_life_expect_raw_complete", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 133900 rows and 6 columns.

,month_year,day,name,info,link,num_references
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12

In [3]:
# Checking last 2 rows of the data
df.tail(2)

,month_year,day,name,info,link,num_references
133898,June 2022,9,Oleg Moliboga,", 69, Russian volleyball player, Olympic champion (1980) and coach.",https://en.wikipedia.org/wiki/Oleg_Moliboga,2
133899,June 2022,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3

In [4]:
# Checking a sample of the data
df.sample(5)

,month_year,day,name,info,link,num_references
33063,March 2007,7,Morgan Mellish,", 36, Australian Walkley Award-winning journalist for aircraft crash, .",https://en.wikipedia.org/wiki/Morgan_Mellish,0
133161,May 2022,5,Sir James Anderton,", 89, British police officer, chief constable of Greater Manchester Police (1976–1991).",https://en.wikipedia.org/wiki/James_Anderton,29
93703,December 2017,13,Charles Zentai,", 96, Hungarian-born Australian alleged Holocaust perpetrator.",https://en.wikipedia.org/wiki/Charles_Zentai,21
12449,October 1998,25,Sir Robin Brook,", 90 British businessman, banker and Olympic fencer.",https://en.wikipedia.org/wiki/Robin_Brook,3
99957,October 2018,27,Kyoko Enami,", 76, Japanese actress (), pulmonary emphysema.",https://en.wikipedia.org/wiki/Kyoko_Enami,4

#### Observations:
- There are 133,900 rows and 6 columns.
- `month_year` contains the month and year of death, while `day` contains the day of the month of death.
- `name` is the notable person's name.  It is a nominal feature that will not be used for analysis, but will be maintained for any referencing needs.
- `info` contains multiple items including the notable person's "age, country of citizenship at birth, subsequent country of citizenship (if applicable), reason for notability, (and) cause of death (if known)."
- `link` is the url to the notable person's individual Wikipedia page.  If such a page does not exist, there is either a non-working link (https://en.wikipedia.orgNone), or the link is to a page with a message that the page does not exist for that individual.  `link` is a unique identifier for all entries, except the 6 with the non-working link, which do have unique `name` values from each other.
- `num_references` contains the number of references on the notable person's individual Wikipedia page.  This feature serves as a proxy measure of notability.
- Prior to EDA, our task will be to extract the individual elements that are comined in `month_year` and `info` columns.

### Checking Data Types, Duplicates, and Null Values

In [5]:
# Checking data types and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133894 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

In [6]:
# Checking duplicate rows
df.duplicated().sum()

0

In [7]:
# Check percentage of null values by column
df.isnull().sum() / df.count() * 100

month_year        0.000000
day               0.000000
name              0.004481
info              0.000000
link              0.000000
num_references    0.000000
dtype: float64

In [8]:
# Checking number of missing values per row (not necessary here, but done to keep process standard)
df.isnull().sum(axis=1).value_counts()

0    133894
1         6
dtype: int64

In [15]:
df[df["link"].duplicated()]

,month_year,day,name,info,link,num_references
1284,July 1994,19,W. L. Warren,", 64, British historian and medievalist .",https://en.wikipedia.org/wiki/W._L._Warren,2
2126,December 1994,2,Miguel M. Delgado,", 88, Mexican film director and screenwriter, cancer.",https://en.wikipedia.org/wiki/Miguel_M._Delgado,1
2502,January 1995,21,John Coyle White,", 70, American chairman of the Democratic National Committee.",https://en.wikipedia.org/wiki/John_Coyle_White,3
3216,April 1995,20,Milovan Đilas,", 83, Yugoslav politician and philosopher.",https://en.wikipedia.org/wiki/Milovan_Djilas,31
3264,April 1995,26,Sammy Jackson,", 57, American actor.",https://en.wikipedia.org/wiki/Sammy_Jackson,6
3388,May 1995,10,Dicky Zulkarnaen,", 55, Indonesian actor.",https://en.wikipedia.org/wiki/Dicky_Zulkarnaen,0
3939,July 1995,24,Marjorie Cameron,", 73, American artist, actress, and occultist.",https://en.wikipedia.org/wiki/Marjorie_Cameron,121
4276,September 1995,5,William Kunstler,", 76, American lawyer and civil rights activist.",https://en.wikipedia.org/wiki/William_Kunstler,71
4395,September 1995,20,Orville Redenbacher,", 88, American food scientist and businessman, heart attack.",https://en.wikipedia.org/wiki/Orville_Redenbacher,18
4663,October 1995,26,Bernhard Heiliger,", 79, German artist and sculptor.",https://en.wikipedia.org/wiki/Bernhard_Heiliger,7
4912,November 1995,27,Jürgen Wattenberg,", 94, German U-boat commander and POW escapee during World War II.",https://en.wikipedia.org/wiki/J%C3%BCrgen_Wattenberg,6
5575,February 1996,20,Charles O. Finley,", 77, American businessman.",https://en.wikipedia.org/wiki/Charlie_Finley,37
5827,March 1996,29,Frank Daniel,", 69, Czech director, scriptwriter and university educator, heart attack.",https://en.wikipedia.org/wiki/Frank_Daniel,5
6530,July 1996,28,Ivan V. Lalić,", 65, Serbian writer and poet.",https://en.wikipedia.org/wiki/Ivan_V._Lali%C4%87,12
7029,October 1996,9,John W. King,", 79, American politician.",https://en.wikipedia.org/wiki/John_W._King,1
7172,October 1996,28,Sheldon Vanauken,", 82, American journalist, lung cancer.",https://en.wikipedia.org/wiki/Sheldon_Vanauken,28
7375,November 1996,24,William Johnstone,", 88, American actor.",https://en.wikipedia.org/wiki/William_Johnstone_(actor),22
7535,December 1996,18,Suryakantam,", 72, Indian actress.",https://en.wikipedia.org/wiki/Suryakantham_(actress),2
7729,January 1997,11,Sheldon Leonard,", 89, American actor, producer, director, and writer.",https://en.wikipedia.org/wiki/Sheldon_Leonard,4
7740,January 1997,12,Jill Summers,", 86, English music hall performer, actor and comedian, kidney failure.",https://en.wikipedia.org/wiki/Jill_Summers,21
7822,January 1997,21,Giorgio Prosperi,", 85, Italian screenwriter.",https://en.wikipedia.org/wiki/Giorgio_Prosperi,2
7867,January 1997,26,Jeane Dixon,", 93, American astrologer and psychic, heart failure.",https://en.wikipedia.org/wiki/Jeane_Dixon,22
7978,February 1997,7,Maynard Pirsig,", 95, American legal scholar.",https://en.wikipedia.org/wiki/Maynard_Pirsig,11
8280,March 1997,17,Gail Davis,", 71, American actress () and singer, cancer.",https://en.wikipedia.org/wiki/Gail_Davis,16
8758,May 1997,22,Arthur Milne,", 82, Scottish football player.",https://en.wikipedia.org/wiki/Arthur_Milne_(footballer),6
8917,June 1997,13,Anand Narain Mulla,", 95, Indian Urdu poet.",https://en.wikipedia.org/wiki/Anand_Narain_Mulla,9
9090,July 1997,8,Rolando Tinio,", 60, Filipino writer, dramatist, actor, and critic.",https://en.wikipedia.org/wiki/Rolando_Tinio,7
9139,July 1997,15,Rosamund Greenwood,", 90, British actress.",https://en.wikipedia.org/wiki/Rosamund_Greenwood,7
9542,September 1997,8,Derek Taylor,", 65, English journalist, writer, and record producer, cancer.",https://en.wikipedia.org/wiki/Derek_Taylor,33
9612,September 1997,18,Ganesh Man Singh,", 81, Nepali politician.",https://en.wikipedia.org/wiki/Ganesh_Man_Singh,7
10233,December 1997,9,Karl August Folkers,", 91, American biochemist.",https://en.wikipedia.org/wiki/Karl_August_Folkers,8
11072,March 1998,21,Maciej Słomczyński,", 75, Polish translator and writer.",https://en.wikipedia.org/wiki/Maciej_S%C5%82omczy%C5%84ski,5
11468,May 1998,15,Marjory Stoneman Douglas,", 108, American journalist, author, and women's suffrage advocate.",https://en.wikipedia.org/wiki/Marjory_Stoneman_Douglas,98
11808,July 1998,1,Emery Barnes,", 68, Canadian football player and politician.",https://en.wikipedia.org/wiki/Emery_Barnes,1
11972,July 1998,29,Bobby Whitt,", 10, American murder victim, homicide.",https://en.wikipedia.org/wiki/Murders_of_Bobby_Whitt_and_Myoung_Hwa_Cho,12
12111,August 1998,25,Vitaly Tulenev,", 61, Soviet Russian painter, watercolorist and graphic artist.",https://en.wikipedia.org/wiki/Vitaly_Tulenev,3
12819,December 1998,24,Ester Carloni,", 101, Italian actress.",https://en.wikipedia.org/wiki/Ester_Carloni,1
13374,March 1999,15,Hiroshi Hamaya,", 83, Japanese photographer.",https://en.wikipedia.org/wiki/Hiroshi_Hamaya,11
13875,June 1999,13,Volker Krämer,", 56, German journalist, shot by Yugoslavian soldiers.",https://en.wikipedia.org/wiki/Shootings_of_Gabriel_Gr%C3%BCner_and_Volker_Kr%C3%A4mer,19
13959,June 1999,28,John Stears,", 64, British special effects expert and Academy Award winner.",https://en.wikipedia.org/wiki/John_Stears,10
14197,August 1999,8,Dora Schaul,", 85, German resistance activist during World War II.",https://en.wikipedia.org/wiki/Dora_Schaul,11
14482,September 1999,28,Philip Haddon-Cave,", 74, British colonial administrator, heart attack.",https://en.wikipedia.org/wiki/Philip_Haddon-Cave,11
14578,October 1999,15,Glen Payne,", 72, American gospel singer (Cathedral Quartet), liver cancer.",https://en.wikipedia.org/wiki/Glen_Payne,4
15404,February 2000,20,Anatoly Sobchak,", 62, Russian politician, suspected contract killing by poisoning.",https://en.wikipedia.org/wiki/Anatoly_Sobchak,26
15621,March 2000,30,Beryl McBurnie,", 86, Trinidadian dancer (Little Carib Theatre).",https://en.wikipedia.org/wiki/Beryl_McBurnie,10
16237,July 2000,15,Kalle Svensson,", 74, Swedish footballer.",https://en.wikipedia.org/wiki/Kalle_Svensson,1
16680,October 2000,1,Reginald Kray,", 66, British criminal., bladder cancer",https://en.wikipedia.org/wiki/Kray_twins,70
16763,October 2000,14,Tony Roper,", 35, American stock car racing driver, racing accident.",https://en.wikipedia.org/wiki/Tony_Roper_(racing_driver),3
16812,October 2000,23,Benny Culp,", 86, American baseball player.",https://en.wikipedia.org/wiki/Benny_Culp,2
16854,October 2000,29,Carlos Guastavino,", 88, Argentine composer.",https://en.wikipedia.org/wiki/Carlos_Guastavino,6
16865,November 2000,1,George Armstrong,", 56, English football player and coach, brain haemorrhage.",https://en.wikipedia.org/wiki/George_Armstrong_(footballer),25
17490,January 2001,28,Sally Mansfield,", 80, American actress.",https://en.wikipedia.org/wiki/Sally_Mansfield,3
17572,February 2001,8,Muboraksho Mirzoshoyev,", 39, Tajikistani singer and composer, tuberculosis.",https://en.wikipedia.org/wiki/Muboraksho_Mirzoshoyev,0
18082,April 2001,21,Jo-Jo Moore,", 92, American baseball layer.",https://en.wikipedia.org/wiki/Jo-Jo_Moore,0
18254,May 2001,13,Jason Miller,", 62, American playwright and actor, heart attack.",https://en.wikipedia.org/wiki/Jason_Miller_(playwright),11
18357,May 2001,25,Brian Pendleton,", 57, British guitarist, and member of Pretty Things.",https://en.wikipedia.org/wiki/Brian_Pendleton,1
18423,June 2001,3,Jamake Highwater,", 70, American writer.",https://en.wikipedia.org/wiki/Jamake_Highwater,9
18567,June 2001,21,Vernon Sewell,", 97, British film director.",https://en.wikipedia.org/wiki/Vernon_Sewell,4
18805,July 2001,27,Darrell Huff,", 88, American writer.",https://en.wikipedia.org/wiki/Darrell_Huff,4
19029,August 2001,23,Henriette Bie Lorentzen,", 90, Norwegian journalist, peace activist, feminist, and publisher.",https://en.wikipedia.org/wiki/Henriette_Bie_Lorentzen,15
19135,September 2001,5,Vladimir Žerjavić,", 89, Croatian economist and demographer.",https://en.wikipedia.org/wiki/Vladimir_%C5%BDerjavi%C4%87,20
19435,October 2001,18,Rambeer Singh Tomar,", 31, Indian Army Non Commissioned Officer, K.I.A.",https://en.wikipedia.org/wiki/Rambeer_Singh_Tomar,2
19686,November 2001,19,Pul-i-Estikam bridge ambush,Journalists killed in the \n,https://en.wikipedia.org/wiki/Timeline_of_the_War_in_Afghanistan_(2001%E2%80%93present)#2001,86
19826,December 2001,9,George Young,", 71, American football player, coach and executive.",https://en.wikipedia.org/wiki/George_Young_(American_football_executive),9
19832,December 2001,11,Bert Axell,", 86, British naturalist and conservationist.",https://en.wikipedia.org/wiki/Bert_Axell,5
20482,February 2002,28,Gabriel Mariano,", 73, Cape Verdean poet, novelist, and an essayist.",https://en.wikipedia.org/wiki/Gabriel_Mariano,1
20721,April 2002,4,John S. Samuel,", 88, Major General in the US Air Force.",https://en.wikipedia.org/wiki/John_S._Samuel,1
21820,September 2002,19,Cosmo Nevill,", 95, British Army officer.",https://en.wikipedia.org/wiki/Cosmo_Nevill,2
22245,November 2002,23,Maritie Carpentier,", 79, French television show producer.",https://en.wikipedia.org/wiki/Maritie_and_Gilbert_Carpentier,0
22711,January 2003,27,Lord Dacre of Glanton,", 89, British historian, authenticator of the hoaxed Hitler Diaries.",https://en.wikipedia.org/wiki/Hugh_Trevor-Roper,73
22881,February 2003,20,Orville Lothrop Freeman,", 84, American Governor of Minnesota and Secretary of Agriculture for Presidents John F. Kennedy and Lyndon B. Johnson.",https://en.wikipedia.org/wiki/Orville_Freeman,7
23963,August 2003,18,Zachary Turner,", 1, American boy, murder–suicide, his killing is documented in the movie Dear Zachary",https://en.wikipedia.org/wiki/Murder_of_Zachary_Turner,23
24213,September 2003,25,Donald Nicol,", 80, English Byzantine scholar.",https://en.wikipedia.org/wiki/Donald_Nicol,1
24304,October 2003,9,Carolyn Gold Heilbrun,", 77, American academic and author.",https://en.wikipedia.org/wiki/Carolyn_Gold_Heilbrun,14
24985,January 2004,22,None,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
24999,January 2004,24,Leônidas da Silva,", 90, Brazilian football player, complications due to Alzheimer's disease.",https://en.wikipedia.org/wiki/Le%C3%B4nidas,26
25682,May 2004,29,Archibald Cox,", 92, American lawyer, Watergate special prosecutor.",https://en.wikipedia.org/wiki/Archibald_Cox,340
26165,August 2004,21,Moshe Shamir,", 82, Israeli author, playwright and columnist.",https://en.wikipedia.org/wiki/Moshe_Shamir,4
26261,September 2004,7,Christiaan Frederick Beyers Naudé,", 89, Afrikaner-South African cleric, theologian and anti-apartheid activist.",https://en.wikipedia.org/wiki/Beyers_Naud%C3%A9,23
26332,September 2004,21,Jack Hensley,", 48, American civilian contractor, beheaded by Muslim terrorists in Iraq.",https://en.wikipedia.org/wiki/Foreign_hostages_in_Iraq#United_States,121
26725,November 2004,24,John Tosi,", 88, American football player.",https://en.wikipedia.org/wiki/John_Tosi,15
26759,November 2004,29,Molly Weir,", 94, British TV and radio actress.",https://en.wikipedia.org/wiki/Molly_Weir,11
26934,December 2004,25,Jane Muskie,", 77, American model and bookkeeper, widow of politician Edmund Muskie, Alzheimer's disease.",https://en.wikipedia.org/wiki/Edmund_Muskie,198
27458,March 2005,1,None,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
27906,April 2005,30,Johnnie Stewart,", 87, British television producer.",https://en.wikipedia.org/wiki/Johnnie_Stewart,4
28654,August 2005,12,Joe Korp,", 47, Australian ""body in the boot"" suspect, suicide.",https://en.wikipedia.org/wiki/Death_of_Maria_Korp,20
28806,September 2005,3,Rudolf Bäcker,", 91, German World War II soldier.",https://en.wikipedia.org/wiki/List_of_Knight%27s_Cross_of_the_Iron_Cross_recipients_(Ba%E2%80%93Bm),189
28872,September 2005,12,Susan Anne Catherine Torres,", 40 days, American baby born to Susan Torres, brain-dead woman, heart failure after intestinal surgery.",https://en.wikipedia.org/wiki/Susan_Torres,3
28922,September 2005,19,John Bromfield,", 83, American actor, renal failure.",https://en.wikipedia.org/wiki/John_Bromfield,9
28923,September 2005,19,Marv Grissom,", 87, American baseball player and pitching coach.",https://en.wikipedia.org/wiki/Marv_Grissom,12
29520,December 2005,7,Lucy d'Abreu,", 113, Indian-born oldest person in the UK at the time of her death.",https://en.wikipedia.org/wiki/List_of_British_supercentenarians,48
30117,February 2006,26,Charlie Wayman,", 84, English footballer (Southampton, Preston North End).",https://en.wikipedia.org/wiki/Charlie_Wayman,1
30514,April 2006,24,Dr. Rajkumar,", 76, Legendary Indian Kannada Cinema Actor, heart attack.",https://en.wikipedia.org/wiki/Dr._Rajkumar,252
31497,August 2006,28,Alfred Sherman,", 86, British co-founder of the Centre for Policy Studies.",https://en.wikipedia.org/wiki/Alfred_Sherman,14
33531,May 2007,4,Mamadou Zaré,", 45, Ivorian soccer player and coach.",https://en.wikipedia.org/wiki/Mamadou_Zar%C3%A9,5
34077,July 2007,11,None,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
34437,August 2007,24,Adam Watson,", 93, British diplomat.",https://en.wikipedia.org/wiki/Adam_Watson,4
34865,October 2007,15,Bobby Mauch,", 86, American child actor and film editor.",https://en.wikipedia.org/wiki/Billy_and_Bobby_Mauch,5
37815,July 2008,29,Melissa Batten,", 36, American game developer (, ), shot.",https://en.wikipedia.org/wiki/Joseph_and_Melissa_Batten,14
40121,February 2009,19,Anna Watt,", 85, British entertainer (Fran and Anna), natural causes.",https://en.wikipedia.org/wiki/Fran_and_Anna,4
40656,April 2009,8,David Winans,", 74, American gospel singer, heart attack.",https://en.wikipedia.org/wiki/Winans_family,6
43277,December 2009,2,Ikuo Hirayama,", 79, Japanese painter, stroke.",https://en.wikipedia.org/wiki/Ikuo_Hirayama,4
43431,December 2009,15,Oral Roberts,", 91, American evangelist, founder of Oral Roberts University, complications from pneumonia.",https://en.wikipedia.org/wiki/Oral_Roberts,78
48304,December 2010,24,Nalini Jaywant,", 84, Indian actress.",https://en.wikipedia.org/wiki/Nalini_Jaywant,6
51788,September 2011,21,Lawrence Russell Brewer,", 44, American convicted murderer, executed by lethal injection.",https://en.wikipedia.org/wiki/Murder_of_James_Byrd_Jr.,68
52290,October 2011,29,Axel Axgil,", 96, Danish gay rights activist.",https://en.wikipedia.org/wiki/Axel_and_Eigil_Axgil,5
53672,January 2012,25,Jane Bashara,", 56, American marketing manager, strangulation.",https://en.wikipedia.org/wiki/Death_of_Jane_Bashara,27
58638,November 2012,12,Coty Beavers,", 28, American murder victim, shot.",https://en.wikipedia.org/wiki/Ali_Irsan,70
64769,September 2013,29,None,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
65040,October 2013,17,Lou Scheimer,", 84, American television producer (Filmation, ), co-founder of , Parkinson's disease.",https://en.wikipedia.org/wiki/Lou_Scheimer,14
69870,June 2014,17,Anton Voloshin,", 25–26, Russian sound engineer, motor strike.",https://en.wikipedia.org/wiki/Deaths_of_Igor_Kornelyuk_and_Anton_Voloshin,31
75162,March 2015,18,David Bird,", 55, American financial journalist, drowned. (body found on this date)",https://en.wikipedia.org/wiki/David_Bird_(journalist),24
83718,June 2016,26,Henrietta Rach Hoernle,", 103, German-born American philanthropist.",https://en.wikipedia.org/wiki/Count_and_Countess_de_Hoernle,6
87856,February 2017,5,García de Andoin,", 83, Spanish football player and manager (Espanyol).",https://en.wikipedia.org/wiki/Garc%C3%ADa_de_Andoin,2
87973,February 2017,10,Piet Keizer,", 73, Dutch footballer (AFC Ajax).",https://en.wikipedia.org/wiki/Piet_Keizer,12
91301,August 2017,3,Hans Fahsl,", 75, German Olympic athlete.",https://en.wikipedia.org/wiki/Hans_Fahsl,3
91643,August 2017,22,Aloys Kontarsky,", 86, German pianist, complications from a stroke.",https://en.wikipedia.org/wiki/Aloys_and_Alfons_Kontarsky,20
94231,January 2018,8,Kapil Mohan,", 88, Indian entrepreneur.",https://en.wikipedia.org/wiki/Kapil_Mohan,8
98282,July 2018,26,Aum Shinrikyo,"Japanese convicted murderers from the cult, executed by hanging.\n",https://en.wikipedia.org/wiki/Aum_Shinrikyo,83
102378,February 2019,18,Ragnar Christiansen,", 96, Norwegian politician, MP (1958–1977), Minister of Finance (1971–1972) and Transport (1976–1978).",https://en.wikipedia.org/wiki/Ragnar_Christiansen,3
102473,February 2019,21,Herlinda Sánchez Laurel,", 77, Mexican artist.",https://en.wikipedia.org/wiki/Herlinda_S%C3%A1nchez_Laurel,6
104032,May 2019,7,Charles Clarke,", 95, British Royal Air Force officer.",https://en.wikipedia.org/wiki/Charles_Clarke_(RAF_officer),17
104142,May 2019,12,Italo Casali,", 78, Sammarinese Olympic sport shooter (1972, 1976).",https://en.wikipedia.org/wiki/Italo_Casali,2
106613,September 2019,12,None,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0
108882,January 2020,2,Bill Graham,", 84, Canadian football player (Hamilton Tiger-Cats).",https://en.wikipedia.org/wiki/Bill_Graham_(Canadian_football),3
111673,April 2020,9,Torvild Aakvaag,", 93, Norwegian businessman, CEO of Norsk Hydro (1984–1991).",https://en.wikipedia.org/wiki/Torvild_Aakvaag,6
112026,April 2020,17,Abba Kyari,", 67, Nigerian politician, Chief of Staff to the President (since 2015), COVID-19.",https://en.wikipedia.org/wiki/Abba_Kyari,34
119951,January 2021,28,Mangal Bagh,", 47–48, Pakistani militant, leader of Lashkar-e-Islam (since 2006), mine explosion.",https://en.wikipedia.org/wiki/Mangal_Bagh,10
121196,March 2021,4,Walter Gretzky,", 82, Canadian ice hockey coach, complications from a hip injury.",https://en.wikipedia.org/wiki/Walter_Gretzky,41
125623,July 2021,30,Veno Kauaria,", 60, Namibian politician, MP (since 2020), complications from COVID-19.",https://en.wikipedia.org/wiki/Veno_Kauaria,11

In [16]:
df[df["link"] == "https://en.wikipedia.org/wiki/W._L._Warren"]

,month_year,day,name,info,link,num_references
1227,July 1994,9,W. L. Warren,", 64, British historian and medievalist.",https://en.wikipedia.org/wiki/W._L._Warren,2
1284,July 1994,19,W. L. Warren,", 64, British historian and medievalist .",https://en.wikipedia.org/wiki/W._L._Warren,2

In [17]:
df[df["link"] == "https://en.wikipedia.org/wiki/Miguel_M._Delgado"]

,month_year,day,name,info,link,num_references
7,January 1994,2,Miguel M. Delgado,", 88, Mexican film director and screenwriter, cancer.",https://en.wikipedia.org/wiki/Miguel_M._Delgado,1
2126,December 1994,2,Miguel M. Delgado,", 88, Mexican film director and screenwriter, cancer.",https://en.wikipedia.org/wiki/Miguel_M._Delgado,1

#### Observations:
- Our dataset was saved to and read from the database without any hiccups.
- As expected, we have 6 entries that are missing `name`, but we will find it in their `info` values.
- All columns are currently of object type.  We will need to appropriately typecast them after separating the information in `month_year` and `info`.

## Data Cleaning

### Addressing Missing `name` Values

In [ ]:
# Checking rows with missing name values
missing_name = df[df["name"].isna()]
missing_name

#### Observations:
- These rows vary from the main set as there is a substring containing the person's name at the start of the `info` string.
- As there are so few rows missing `name`, let us address this issue first.
- Within a for loop, we will split the `info` value into a list and extract `name` from the first list entry.  
- Then we will replace the name with an empty string within `info`.

In [ ]:
# For loop to copy name value from info value and remove name from info value
treat_rows = missing_name.index
for i in treat_rows:
    info = df.loc[i, "info"]
    info_lst = info.split(sep=",", maxsplit=1)

    name = info_lst[0].strip()
    df.loc[i, "name"] = name
    df.loc[i, "info"] = re.sub(name, "", info).strip()

# Re-check rows
df.loc[treat_rows, :]

#### Observations:
- Missing `name` values have been addressed and those names have been removed from `info` values.

In [ ]:
# Re-check info
df.info()

#### Observations:
- We have no remaining missing values for the existing columns.
- Let us treat the `month_year` column next, by separating into two new columns `year` and `month`.

### Separating `month_year` into `month` and `year` and Dropping `month_year`

In [ ]:
# Separating month and year into 2 columns and typecasting year as integer
df.loc[:, "year"] = df["month_year"].apply(lambda x: x.split(sep=" ")[1].strip())
df["year"] = df["year"].apply(lambda x: int(x))

df.loc[:, "month"] = df["month_year"].apply(lambda x: x.split(sep=" ")[0])
df.head(2)

In [ ]:
# Dropping month_year column
df.drop("month_year", axis=1, inplace=True)
df.head(2)

#### Observations:
- With `month` and `year` separated, we can move on to treating the `info` column.

### Treating `info`
First, we will define two functions to help identify rows that match a given regular expression pattern or list of patterns.  Then, we will start by examining the `info` column in a sample of the dataset.

#### Function to Save Indices of Rows Matching Regular Expressions Pattern to a List and Print Number of Rows with Match

In [ ]:
# Define a function that takes dataframe, column name, and re pattern as arguments and returns list of indices
# for which column value matches re pattern
def rows_with_pattern(dataframe, column, pattern):
    """
    Takes input of dataframe, column name, and re pattern 
    and returns list of indices for rows that contain match
    for pattern anywhere within value for given column.
    
    dataframe: dataframe
    column: column name
    pattern: re pattern
    """
    index_list = []

    for i in dataframe.index:
        item = dataframe.loc[i, column]
        match = re.search(pattern, item)
        if match:
            index_list.append(i)
    print(
        f"There are {len(index_list)} rows with matching pattern in column '{column}'."
    )
    return index_list

#### Function to Use rows_with_pattern Function for Multiple Regular Expression Patterns

In [ ]:
# Define a function that calls rows_with_pattern function for multiple re patterns
# returning a single list of indices for all rows with any pattern match


def multiple_patterns(dataframe, column, patterns):
    """
    Takes input dataframe, column, and list of re patterns and returns single list 
    of indices for rows in which a match for any pattern is found with re.search
    
    dataframe: dataframe
    column: column name
    patterns: list of re patterns
    """
    rows_combined = []

    # For loop to check each pattern
    for pattern in patterns:

        # List and number of rows matching each pattern
        print(pattern)
        rows_to_check = rows_with_pattern(dataframe, column, pattern)
        print("")

        # Add list for each pattern to combined list
        rows_combined += rows_to_check

    return rows_combined

#### Checking a Sample

In [ ]:
# Checking a sample of info
df.sample(5)

#### Observations:
- We can see that `info` has variety, so will take some cleaning effort:
    - There are number values for years in addition to ages.
    - There is extra information inside of parentheses, that we likely don't need.
    - Some entries lack cause of death.
    - Some entries have multiple roles listed, with separating commas.
    - There are nationalities with multiple words.
    - `info` contains capital letters that are not part of citizenship.
- A strategic approach to cleaning the `info` column is needed, as follows:
    1. Drop all entries that are lacking digits in `info`, as they are missing the target `age` information.
    2. Extract any parentheses and their contents from `info` to new column `info_parenth`, as it likely won't be needed but we will preserve it, for now.
    3. Split `info` on "," and save to numbered new `info` columns left to right.
    3. Begin extracting age data from `info_0` and proceed left to right through the numbered `info` columns.

#### Step 1: Checking and Dropping Rows Lacking Digits (and therefore Age Data) within `info`

In [ ]:
# Column to check
column = "info"

# Dataframe to check
dataframe = df

# Pattern for re
pattern = r"\d"

# Finding indices of rows that have pattern/digits and number of rows that do not have digits
has_digits = rows_with_pattern(dataframe, column, pattern)
print(
    f"\nThere are {len(df) - len(has_digits)} rows without numbers in the info column."
)

# Overwriting df with only rows that contain a digit in info column, resetting index, and checking new shape
df = df.loc[has_digits, :]
df.reset_index(inplace=True, drop=True)
df.shape

#### Observations:
- 925 rows were removed as they lacked any digits and, therefore, the target data for `age`.
- The resultant number of rows matches the rows containing digits.
- Next, we will extract parentheses and their contents from `info` to a new column `info_parenth`.

#### Step 2: Removing Information within Parentheses from `info` and saving to new column `info_parenth`

In [ ]:
# Column to check
column = "info"

# Dataframe to check
dataframe = df

# Regular expression for parenthesis and its contents
pattern = r"\(.*\)"

# Finding indices of rows that have pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking a sample of rows
df.loc[rows_to_check, :].sample(2)

In [ ]:
# For loop to extract parenthesis and its contents from info to info_parenth
for index in rows_to_check:
    item = df.loc[index, column]
    match = re.search(pattern, item)
    if match:
        df.loc[index, "info_parenth"] = match.group(0)
        df.loc[index, column] = re.sub(pattern, "", df.loc[index, column])

# Rechecking number and example rows after treatment
recheck_rows = rows_with_pattern(dataframe, column, pattern)

# Recheck a sample of treated rows
df.loc[rows_to_check, :].sample(2)

#### Observation:
- Parentheses and information within has been removed from `info` and assigned to `info_parenth`.
- Next, we will iterate through the rows, splitting `info` on commas and assigining the respective list values to new individual columns `info_0`, `info_1`, and so on.  
- Though we can keep in mind the Wikipedia-defined fields, we will take the general approach of treating column by column, after splitting `info`, varying as indicated to obtain specific feature information.

#### Step 3: Splitting `info` on Commas into Separate Columns

In [ ]:
# For loop to split info on commas and separate into respective new columns and removing leading/trailing white space and periods
for i, item in enumerate(df["info"]):
    info_lst = item.split(",")

    for j in range(len(info_lst)):
        df.loc[i, f"info_{j}"] = info_lst[j].strip(" .")

# Checking the first 2 rows
df.head(2)

In [ ]:
# Checking the last 2 rows
df.tail(2)

#### Observations:
- The `info` value is successfully divided and we can proceed through it column by column.
- There are 12 resultant new rows for the sections of `info` divided by commas, indicating that some entries are quite detailed.
- We will now start our search for age data, starting with `info_0`.

## Extracting Age Data

### `info_0`

In [ ]:
# Checking unique value counts
df["info_0"].value_counts()

#### Observations:
- The vast majority of rows have an empty string for `info_`.
- There is one row representing a group, rather than an individual, and we will drop it.
- We should verify the name and age information for the remainder of unique values in `info_0`.

#### Dropping Entry for Group

In [ ]:
# Checking the entry representing a group
group_entry = df[
    df["info_0"]
    == "Notable ice hockey players and coaches among the 44 killed in the :\n"
]
group_entry

In [ ]:
# Dropping group entry, resetting index, and checking new shape of df
df.drop(group_entry.index, inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

#### Examining Rows with Atypical `info_0` Values

In [ ]:
# Examining rows with atypical info_0 values
list_to_check = df["info_0"].value_counts().index.to_list()

verify_df = pd.DataFrame()
for item in list_to_check[1:]:
    verify_df = pd.concat([verify_df, df[df["info_0"] == item]])
verify_df

#### Observations:
- The majority of rows contain additional aliases or titles within `info_0`, that we don't need, but we can leave in place for now, as we can drop the column as a whole, later.  
- There are a few rows that will need to be treated individually to correct the name value, as follows:
    1. Entry is for Mike Alexander whose band was Evile.
    2. Entry is for Herbert Wiere who performed slapstick comedy.
    3. Entry is for Sarah-Jayne Mulvihill who was a Flight Lieutenant.
    4. Entry is for Douglass Scott who was killed by Demetreus Nix.
    5. Entry is for Kim Hwan-Sung who was a member of the band NRG.
- We can replace the `name` value with the `info_0` value for these rows as well as proceed with hard-coding the correct values for info_2 and info_3 fields to match the Wikipedia pattern, but staying true to the information scraped.
- The row with "Nearly 3" value for `info_0` also represents a group, rather than an individual, so will be dropped, after treating the above rows.
- We can proceed to extract age from `info_0` for the few rows that contain it here instead of in `info_1`.

#### Treating 5 rows with Name in `info_0`

In [ ]:
# List of names values in info_0
values_lst = [
    "Mike Alexander",
    "Herbert Wiere",
    "Sarah-Jayne Mulvihill",
    "Douglas Scott",
    "Kim Hwan-Sung",
]

In [ ]:
# For loop to copy name from info_0 to name
for i in df[df["info_0"].isin(values_lst)].index.to_list():
    df.loc[i, "name"] = df.loc[i, "info_0"]

# Hard-coding info_2 and info_3 values for Kim Hwan-Sung
index = df[
    df["link"] == "https://en.wikipedia.org/wiki/NRG_(South_Korean_band)"
].index.to_list()
df.loc[index, "info_2"] = "South Korean musician"

df.loc[index, "info_3"] = "respiratory illness"

# # Hard-coding info_2 and info_3 values for Douglass Scott
index = df[
    df["link"]
    == "https://en.wikipedia.org/w/index.php?title=Demetreus_Nix&action=edit&redlink=1"
].index.to_list()
df.loc[index, "info_2"] = "student"

df.loc[index, "info_3"] = "murdered"

# # Hard-coding info_2 and info_3 values for Sarah-Jayne Mulvihill
index = df[
    df["link"] == "https://en.wikipedia.org/wiki/Flight_Lieutenant"
].index.to_list()
df.loc[index, "info_2"] = "British servicewoman"

df.loc[index, "info_3"] = "killed in action"

In [ ]:
# Rechecking updated rows
df[df["info_0"].isin(values_lst)]

#### Dropping Entry for Group

In [ ]:
# Checking the entry representing a group
group_entry = df[df["info_0"] == "Nearly 3"]
group_entry

In [ ]:
# Dropping group entry, resetting index, and checking new shape of df
df.drop(group_entry.index, inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

#### Extracting `age` from `info_0`

In [ ]:
# Column to check
column = "info_0"

# Dataframe to check
dataframe = df

# Pattern for re
pattern = r"(\d{1,3})"

# Checking rows with pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking a sample of rows
df.loc[rows_to_check, :].sample(2)

In [ ]:
# For loop to extract age from info_0 to age
for index in rows_to_check:
    item = df.loc[index, column]
    match = re.search(pattern, item)
    if match:
        df.loc[index, "age"] = int(match.group(1))
        df.loc[index, column] = re.sub(pattern, "", df.loc[index, column])

# Rechecking number and example rows after treatment
recheck_rows = rows_with_pattern(dataframe, column, pattern)

# Recheck a sample of treated rows
df.loc[rows_to_check, :].sample(2)

#### Observations:
- The new `age` column has been added successfully.
- We are finished processing `info_0`, and we can drop it, as it no longer contains information that we need.

#### Re-checking Unique Values for `info_0` and Dropping the Column

In [ ]:
# Re-checking unique values for info_0 prior to dropping it
df["info_0"].unique()

In [ ]:
# Dropping info_0
df.drop("info_0", axis=1, inplace=True)

#### Observations:
- All of the age values were extracted from `info_0` and the column has been dropped.
- We are ready to move on to processing `info_1`, which should primarily consist of age values, per the defined Wikipedia fields.

### `info_1`

#### Unique Values

In [ ]:
# Checking unique values
df["info_1"].unique()

#### Observations:
- There is a lot of variety in `info_1` and in the format of the age data.
- Also, this field contains several values that we would expect in info_2 and beyond.
- Let us take the approach of extracting age values first.

#### Examining Unique Formats for Age Data

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df

# Pattern for re
pattern = r"\d"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking unique values for column
df.loc[rows_to_check, :][column].unique()

#### Observations:
- The data for age within `info_1` is in the following formats:  
    - single integer ("age", "age ", "age.")
    - range of 2 integers (separators '-', '–', '/', and ' or ')
    - range of 2 integers with only unit value for second number ('age1/age2-2nd-digit')
    - age in days or months ('age days', 'age-months')
    - estimates ('c. age', 'c.age',  'age?', 'ages' (e.g. 80s), "age+"
- There are some specific rows that need to be examined, with the following values for `info_1`:
    - German Olympic sailor [1]
    - Taiwanese failed assassin in the 3-19 shooting incident
    - 255
    - 176
    - the first wild bear in Germany in 170 years
    - c. 3500
    - common chimpanzee 55
    - Maltese 15
    - c.1000
    - Tree of the Year 150
- We will need to be strategic in the order in which we extract age from `info_1`.
- First, we will look at the atypical values listed above.

#### Examining Rows with Digits and Atypical Values for `info_1`

In [ ]:
# List of atypical info_1 values for rows with digits
values_lst = [
    "German Olympic sailor [1]",
    "Taiwanese failed assassin in the 3-19 shooting incident",
    "255",
    "176",
    "the first wild bear in Germany in 170 years",
    "c. 3500",
    "common chimpanzee 55",
    "Maltese 15",
    "c.1000",
    "Tree of the Year 150",
]

df[df[column].isin(values_lst)]

#### Observations:
- Age data is either missing or the entry is for a member of a non-human species (tortoise, chimpanzee, dog, or tree).
- We will be on the lookout for other non-human entries, but for now, we can proceed to drop these rows.

#### Dropping Rows for Non-Human Entries or Entries Missing Age Data

In [ ]:
# List of indexes to be dropped
rows_to_drop = df[df[column].isin(values_lst)].index.to_list()

# Dropping rows, resetting index, and checking new shape of df
df.drop(rows_to_drop, inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

#### Observations:
- With those rows addressed, we will begin extracting age in days and months and convert them to years.

### Extracting `age` from `info_1`

#### Step 1: Age in Years and Months

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df

# Dictionary of patterns for days and months formats as keys and factor to convert to years
patterns = {
    r"(\d{1,3})( days)": 365,
    r"(\d{1,3})(-months)": 12,
    r"(\d{1,3})( months)": 12,
}

# List and number of rows matching patterns
rows_to_check = multiple_patterns(dataframe, column, patterns)

# Checking rows
df.loc[rows_to_check, :]

In [ ]:
# For loop to extract age in days and months fromm info_1 and convert to years and save in age
for key, value in patterns.items():
    for index in rows_to_check:
        item = df.loc[index, column]
        match = re.search(key, item)
        if match:
            age = int(match.group(1)) / value
            df.loc[index, "age"] = age
            df.loc[index, column] = re.sub(key, "", df.loc[index, column])

# Re-check number of rows matching patterns
recheck_rows = multiple_patterns(dataframe, column, patterns)

# Checking treated rows
df.loc[rows_to_check, :]

#### Observations:
- We have successfully captured the age in days and months values and converted them to years.
- Next, we will address entries that contain two age values as a range, starting first with those that have a single digit as the second number.

#### Step 2: Extracting `age` from `info_1` for Entries with Age Estimate Containing Age Range with 2 Values

#### Ranges with Single Digit as Upper-end

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df

# Pattern for re
pattern = r"(\d{1,3})(/)(\d)\b"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking sample of rows
df.loc[rows_to_check, :].sample(2)

In [ ]:
# For loop to find rows with values and pattern and calculate and extract age to age column and remove age from info_1
for index in rows_to_check:
    item = df.loc[index, column]
    match = re.search(pattern, item)
    if match:
        age_1 = int(match.group(1))
        age_2 = int(match.group(3))
        units = ((age_1 % 10) + age_2) / 2
        tens = age_1 - (age_1 % 10)
        age = tens + units
        df.loc[index, "age"] = age
        df.loc[index, column] = re.sub(pattern, "", df.loc[index, column])

# Re-check number of rows matching patterns
recheck_rows = multiple_patterns(dataframe, column, patterns)

# Checking a sample of treated rows
df.loc[rows_to_check, :].sample(2)

#### Observations:
- The age with split units has been updated to reflect the average of the two values.
- Next we will address the age ranges with two complete integer values.

#### Other Ranges with Two Values

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df

# Pattern for re
pattern = r"(\d{1,3})(-|–|/| or )(\d{1,3})"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking sample of rows
df.loc[rows_to_check, :].sample(2)

In [ ]:
# For loop to find rows with values and pattern and calculate and extract age to age column and remove age from info_1
for index in rows_to_check:
    item = df.loc[index, column]
    match = re.search(pattern, item)
    if match:
        age = (int(match.group(1)) + int(match.group(3))) / 2
        df.loc[index, "age"] = age
        df.loc[index, column] = re.sub(pattern, "", df.loc[index, column])

# Re-check number of rows matching patterns
recheck_rows = multiple_patterns(dataframe, column, patterns)

# Checking a sample of treated rows
df.loc[rows_to_check, :].sample(2)

#### Observations:
- The two-integer age ranges have been successfully treated and saved as the average of the two values in `age`.
- Next, we will extract from the entries with straightforward single integer age values, including the formats: "age", "age ", 'age.'.
- More vague estimates (including 'c.', '+', '?', and ending in 's') are excluded here to allow closer examination, as they are more likely to by atypical entries.

#### Step 3: Age as Single Integer (Excluding Estimates)

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df

# List of patterns for age formats with single integer for age
patterns = [r"^(\d{1,3})$", r"^(\d{1,3})\s", r"^(\d{1,3})\.\s"]

# List and number of rows matching patterns
rows_to_check = multiple_patterns(df, column, patterns)

# Checking a sample of rows
df.loc[rows_to_check, :].sample(2)

In [ ]:
# For loop to check age pattern in info_1, save age to age column, and remove from age from info_1
for index in rows_to_check:
    for pattern in patterns:
        item = df.loc[index, column]
        match = re.search(pattern, item)
        if match:
            age = int(match.group(1))
            df.loc[index, "age"] = age
            df.loc[index, column] = re.sub(pattern, "", df.loc[index, column])

# Re-checking number of rows matching patterns
recheck_rows = multiple_patterns(dataframe, column, patterns)

# Checking first 2 rows
df.head(2)

In [ ]:
# Checking last 2 rows
df.tail(2)

In [ ]:
# Checking the number of remaining missing values for `age`
print(f'There are {df["age"].isna().sum()} remaining missing values for age.')

#### Observations:
- The rows with single integer age data have been addressed.
- There are only 155 remaining missing values for `age` after extracting age in days, months, single integer years, and 2-integer year range values.
- Let us check the rows containing 'c.', '+', or '?' in the age information.  We will do the ranges ending in 's', such as 80s, separately as we will treat the age value differently for those entries.

#### Entries with Age Data Containing 'c.', '+', or '?' for Estimate

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df

# Pattern for re
pattern = r"(c\.|\+|\?)"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Inspecting rows containing values
df.loc[rows_to_check, :]

#### Observations:
- Most of the entries are for people, but there are also one or more entries for the following:
    - carp
    - racehorse
    - chimpanzee
    - flamingo
    - cat
    - turkey
- We will proceed to check `info_2` for these non-human-entry values and drop these and other rows representing members of these other species.

#### Checking for Cat, Racehorse, Chimpanzee, Carp, and Flamingo in `info_2`

In [ ]:
# Column to check
column = "info_2"

# Dataframe to check
dataframe = df[df[column].notna()]

# pattern for re
pattern = r"\b(cat|racehorse|chimpanzee|carp|flamingo|turkey)\b"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking a sample of rows
df.loc[rows_to_check, :].sample(2)

#### Observations:
- There are sufficient rows to warrant checking species by species.

#### Cat Entries per `info_2`

In [ ]:
# Column to check
column = "info_2"

# Dataframe to check
dataframe = df[df[column].notna()]

# Pattern for re
pattern = r"\b(cat)\b"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Inpsecting rows with pattern
df.loc[rows_to_check, :]

#### Observations:
- There is one person represented.  
- We can proceed to drop the others, using "cat", "cat of", and "cat in" patterns.

#### Dropping Entries for Cats per `info_2`

In [ ]:
column = "info_2"

dataframe = df[df[column].notna()]

# List of re patterns to find
patterns = [r"\bcat$", r"\b(cat of|cat in)\b"]

# List and number of rows matching pattern
rows_to_drop = multiple_patterns(dataframe, column, patterns)

# Checking a sample of rows
df.loc[rows_to_drop, :].sample(2)

In [ ]:
# Dropping rows, resetting index, and checking new shape of df
df.drop(rows_to_drop, inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

####  Racehorse Entries per `info_2`

In [ ]:
# Column to check
column = "info_2"

# Dataframe to check
dataframe = df[df[column].notna()]

# Pattern for re
pattern = r"\bracehorse\b"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking a sample of rows
df.loc[rows_to_check, :].sample(10)

#### Observations:
- There are several entries for people involved in the racehorse business.
- Values that end in 'racehorse' and 'racehorse and sire' can be removed.

#### Dropping Entries for Racehorses per `info_2`

In [ ]:
# Column to check
column = "info_2"

# Dataframe to check
dataframe = df[df[column].notna()]

# List of re patterns to find
patterns = [r"\bracehorse$", r"\b(racehorse and sire)$"]

# List and number of rows matching pattern
rows_to_drop = multiple_patterns(dataframe, column, patterns)

# Checking a sample of rows
df.loc[rows_to_drop, :].sample(2)

In [ ]:
# Dropping rows, resetting index, and checking new shape of df
df.drop(rows_to_drop, inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

####  Chimpanzee, Flamingo,  Carp, and Turkey Entries per `info_2`

In [ ]:
# Column to check
column = "info_2"

# Dataframe to check
dataframe = df[df[column].notna()]

# Defining pattern for re
pattern = r"\b(chimpanzee|flamingo|carp|turkey)\b"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Inpsecting rows with pattern
df.loc[rows_to_check, :]

#### Observations:
- All of these rows are for animals, so we will remove them.

#### Dropping Entries for Chimpanzees, Flamingos,  Carps, and Turkeys per `info_2`

In [ ]:
# Dropping rows, resetting index, and checking new shape of df
rows_to_drop = rows_to_check.copy()
df.drop(rows_to_drop, inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

#### Observations:
- With those non-human entries addressed, we can return to processing `info_1`.
- We will need to be on the lookout for other non-human entries, in `info_2` and beyond.
- Let us address the remaining entries with '?', '+', or 'c.', accepting the estimated age as `age`.
- We will treat the age estimates ending in 's' similarly, but separately.

#### Extracting `age` from `info_1` for Entries with Age Estimate Containing '?', '+', or 'c.'

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df[df["age"].isna()]

# Pattern for re
pattern_1 = r"(c\.|\+|\?)"

# List and number of rows matching pattern_1
rows_to_check = rows_with_pattern(dataframe, column, pattern_1)

# Checking a sample of rows
df.loc[rows_to_check, :].sample(2)

In [ ]:
# List to identify rows
values = ["c.", "+", "?"]

# Pattern for re
pattern_2 = r"\b(\d{1,3})\b"

# For loop to find rows with values and pattern and extract age to age column and remove age from info_1
for index in rows_to_check:
    item = df.loc[index, column]
    match = re.search(pattern_2, item)
    if match:
        age = int(match.group(1))
        df.loc[index, "age"] = age
        df.loc[index, column] = re.sub(pattern_2, "", df.loc[index, column])

    for value in values:
        df.loc[index, column] = df.loc[index, column].replace(value, "").strip()


# Re-check number of rows matching pattern_1 and pattern_2
recheck_rows = rows_with_pattern(df.loc[rows_to_check, :], column, pattern_2)

# Checking a sample of treated rows
df.loc[rows_to_check, :].sample(2)

#### Observations:
- With those values treated, ages ending in 's' should be the only ones remaining in the `info_1` column.
- We will examine those now.

#### Extracting `age` from `info_1` for Entries with Age Estimate ending in 's'

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df

# Defining pattern for re
pattern = r"\b(\d{1,3})s\b"

# List and number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Inpsecting rows with pattern
df.loc[rows_to_check, :]

#### Observations:
- They are all for people, so we can extract `age` from `info` and set it to the middle value of the range.
- We will also replace the age-associated qualifier `early` from `info_1` with an empty string.

In [ ]:
# For loop to find rows with values and pattern and extract age to age column and remove age from info_1
for index in rows_to_check:
    item = df.loc[index, column]
    match = re.search(pattern, item)
    if match:
        age = int(match.group(1))
        df.loc[index, "age"] = age + 5
        df.loc[index, column] = re.sub(pattern, "", df.loc[index, column])
    if "early " in item:
        df.loc[index, column] = df.loc[index, column].replace("early ", "")

# Re-checking number of rows matching pattern
recheck_rows = rows_with_pattern(dataframe, column, pattern)

# Checking a sample of treated rows
df.loc[rows_to_check, :].sample(2)

#### Observations:
- All of the age data contained in `info_1` should now be extracted.
- We will verify and check the number of remaining missing values for `age`.

### Checking for Any Missed Digits in `info_1` and for Remaining Missing Values for `age`

In [ ]:
# Column to check
column = "info_1"

# Dataframe to check
dataframe = df

# Pattern for re
pattern = r"\d"

# Re-checking number of rows matching pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking number of missing values for age
print(f'\nThere are {df["age"].isna().sum()} remaining missing values for age.')

### Observations:
- All of the age data that had been in `info_1` has been successfully extracted.
- There are 79 remaining missing values for `age` that we hope to find in the other info columns.
- We will include the remaining values in `info_1` when we extract citizenship and role information.
- It is time to export the current dataframe to a SQLite database, so we can start a third notebook.

### Exporting Dataset to SQLite Database [wp_life_expect_clean1.db](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_clean1.db)

In [ ]:
# Saving complete raw dataset in a SQLite database
conn = sql.connect("wp_life_expect_clean1.db")
df.to_sql("wp_life_expect_clean1", conn, index=False)

# [Proceed to Notebook 3 of  4:  Data Cleaning Part 2](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean2_thanak_2022_06_17.ipynb)