# Wikipedia Notable Life Expectancies

# [Notebook 4 of : Data Cleaning Part 3](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean3_thanak_2022_06_23.ipynb)

## Context

The


## Objective

The

### Data Dictionary

- Feature: Description

## Importing Necessary Libraries

In [1]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To save/open python objects in pickle file
import pickle

# To help with reading, cleaning, and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

# To play auditory cue when cell has executed, has warning, or has error and set chime theme
import chime

chime.theme("zelda")

## Data Overview

### Reading, Sampling, and Checking Data Shape

In [2]:
# Reading the dataset
conn = sql.connect("wp_life_expect_clean2.db")
data = pd.read_sql("SELECT * FROM wp_life_expect_clean2", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 132652 rows and 21 columns.

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death
0,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21,1994,January,None,None,British dancer,ballet designer and director,None,None,None,None,None,None,None,None,86.0,None
1,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12,1994,January,None,None,Irish economist,writer,and academic,None,None,None,None,None,None,None,68.0,None

In [3]:
# Checking last 2 rows of the data
df.tail(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death
132650,9,Oleg Moliboga,", 69, Russian volleyball player, Olympic champion and coach.",https://en.wikipedia.org/wiki/Oleg_Moliboga,2,2022,June,(1980),None,Russian volleyball player,Olympic champion and coach,None,None,None,None,None,None,None,None,69.0,None
132651,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3,2022,June,None,None,Chinese engineer,member of the Chinese Academy of Engineering,None,None,None,None,None,None,None,None,86.0,None

In [4]:
# Checking a sample of the data
df.sample(5)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death
107391,11,David Bellamy,", 86, English naturalist and author.",https://en.wikipedia.org/wiki/David_Bellamy,55,2019,December,(),None,English naturalist and author,None,None,None,None,None,None,None,None,None,86.0,None
78322,30,John McCollum,", 93, American opera singer.",https://en.wikipedia.org/wiki/John_McCollum,21,2015,October,None,None,American opera singer,None,None,None,None,None,None,None,None,None,93.0,None
44998,17,Dorothy Kamenshek,", 84, American baseball player .",https://en.wikipedia.org/wiki/Dorothy_Kamenshek,7,2010,May,"(All-American Girls Professional Baseball League, 1943–1952)",None,American baseball player,None,None,None,None,None,None,None,None,None,84.0,None
80250,11,John Gagnon,", 84, American sociologist, pancreatic cancer.",https://en.wikipedia.org/wiki/John_Gagnon,1,2016,February,None,None,American sociologist,pancreatic cancer,None,None,None,None,None,None,None,None,84.0,None
76130,22,Constantin Cernăianu,", 81, Romanian football player and coach.",https://en.wikipedia.org/wiki/Constantin_Cern%C4%83ianu,4,2015,June,None,None,Romanian football player and coach,None,None,None,None,None,None,None,None,None,81.0,None

### Checking Data Types, Duplicates, and Null Values

In [5]:
# Checking data types and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132652 entries, 0 to 132651
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   day             132652 non-null  object
 1   name            132652 non-null  object
 2   info            132652 non-null  object
 3   link            132652 non-null  object
 4   num_references  132652 non-null  object
 5   year            132652 non-null  int64
 6   month           132652 non-null  object
 7   info_parenth    49830 non-null   object
 8   info_1          35 non-null      object
 9   info_2          132604 non-null  object
 10  info_3          62571 non-null   object
 11  info_4          12605 non-null   object
 12  info_5          1497 non-null    object
 13  info_6          216 non-null     object
 14  info_7          31 non-null      object
 15  info_8          6 non-null       object
 16  info_9          1 non-null       object
 17  info_10         1 non-null       object
 18  info_11         1 non-null       object
 19  age             132652 non-null  float64
 20  cause_of_death  0 non-null       object
dtypes: float64(1), int64(1), object(19)
memory usage: 21.3+ MB

#### Loading `nation_country_dict` from Pickle File to Dictionary `nation_map`

In [6]:
# Load the nation_country_dict
with open("nation_country_dict.pkl", "rb") as f:
    nation_map = pickle.load(f)

## Extracting Nationality Continued
Here is the approach we will take:
- The plan will be to save the country name, in lieu of nationality, in new `place_1` and `place_2` columns as it is standardized for the various associated nationality values.
- First, we will update the keys and values in `nation_map` by replacing hyphens with a single space.
- Then we will remove "-born" from the column we are searching, as well as replace "-" and "/" each with single spaces.  In this step, we can also remove leading and trailing periods and whitespace.
- We will proceed to search the numbered `info` columns in order checking as follows:
    1. if column value starts with a value in the dictionary:
        - save country to `place_1` and remove value from searched column.
    2. if `place_1` value has been found:
        - if updated column value starts with a value in the dictionary:
            - save country to `place_2` and remove value from searched column.
    3. Repeat steps 1 and 2 but comparing with country (dictionary keys)
    4. Check unique values for column starting with capital letters.
- It is tempting to shorten the process by simply searching for nationality and country values within the column value, but as there are entries containing first and second nationality, we have to proceed from left to right to extract these values optimally.
- To avoid extracting incorrect values for a person who studies a place, rather than being from that place (e.g., "Egypt" vs "Egyptologist"), we will search for the exact value and the value with a single trailing space.

#### Removing "-" and "." from `nation_map`

In [7]:
# Removing hyphens from nation_map
nation_map = {
    key.replace("-", ""): value.replace("-", " ") for key, value in nation_map.items()
}

# Removing periods from nation_map
nation_map = {
    key.replace(".", ""): value.replace(".", " ") for key, value in nation_map.items()
}

#### Removing or Replacing Extra Characters in Numbered `info` Columns

In [8]:
%%time

# List of columns to treat
cols_lst = [
    "info_1",
    "info_2",
    "info_3",
    "info_4",
    "info_5",
    "info_6",
    "info_7",
    "info_8",
    "info_9",
    "info_10",
    "info_11",
    'info_parenth'
]

# Dictionary of keys to find and values to replace keys
replace_dict = {'-born': '', '–born': '', '-': ' ', '–': ' ', '/': ' ', '.': ' ', '(': '', ')': '', "'s": ''}

# For loop to find and replace characters in replace_dict in columns in cols_list
# and strip any leading or trailing periods or whitespace
for column in cols_lst:
    for key, value in replace_dict.items():
        for index in df[column].notna().index:
            item = df.loc[index, column]
            if item:
                df.loc[index, column] = item.replace(key, value).strip()

CPU times: total: 3min 7s
Wall time: 3min 7s

#### Checking `info_1` for `place_1`

In [9]:
# Column to check
column = "info_1"

# Extract to column
extract_to = "place_1"

# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[(df[column].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if (
            item == nationality
            or item == country
            or item.startswith(nationality + " ")
            or item.startswith(country + " ")
        ):
            df.loc[index, extract_to] = country
            df.loc[index, column] = (
                df.loc[index, column]
                .replace(nationality, "")
                .strip()
                .replace(country, "")
                .strip()
            )

# Check a sample of rows
df[df[extract_to].notna()].sample(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1
103467,26,Edmund Seger,", 82 German Olympic wrestler.",https://en.wikipedia.org/wiki/Edmund_Seger,2,2019,May,None,Olympic wrestler,None,None,None,None,None,None,None,None,None,None,82.0,None,Germany
104644,22,Wayne See,", 95 American basketball player .",https://en.wikipedia.org/wiki/Wayne_See,3,2019,July,Waterloo Hawks,basketball player,None,None,None,None,None,None,None,None,None,None,95.0,None,United States of America

#### Observations:
- `info_1` provides us a small sample on which to test code.
- We successfully extracted those `place_1` values, now we will do the same on the treated rows for `place_2`.

#### Checking `info_1` for `place_2`

In [10]:
# Column to check
column = "info_1"

# Extract to column
extract_to = "place_2"

# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[(df["place_1"].notna()) & (df[column].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if (
            item == nationality
            or item == country
            or item.startswith(nationality + " ")
            or item.startswith(country + " ")
        ):
            df.loc[index, extract_to] = country
            df.loc[index, column] = (
                df.loc[index, column]
                .replace(nationality, "")
                .strip()
                .replace(country, "")
                .strip()
            )

# Check a sample of rows
df.sample(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1
7992,16,Alvis Vītoliņš,", 50, Latvian chess master, suicide.",https://en.wikipedia.org/wiki/Alvis_V%C4%ABtoli%C5%86%C5%A1,3,1997,February,None,None,Latvian chess master,suicide,None,None,None,None,None,None,None,None,50.0,None,NaN
47949,10,John Dye,", 47, American actor , heart attack.",https://en.wikipedia.org/wiki/John_Dye,5,2011,January,,None,American actor,heart attack,None,None,None,None,None,None,None,None,47.0,None,NaN

#### Observations:
- Here we can see that the new column place_2 has not yet been added as there were not any matching values.
- Let us confirm by checking the remaining unique values in info_1.

#### Checking Remaining Unique Values in `info_1`

In [11]:
# Checking unique values
df["info_1"].unique()

array([None, 'politician', 'Olympic sprinter', 'gridiron football player',
       'writer', 'businessman', 'social psychologist', 'King of Nepal',
       'Maori leader', 'artist', 'English sports journalist',
       'Jules Engel', 'early', 'aka', 'Jr', 'professional wrestler',
       'automotive engineer', 'materials scientist', 'weightlifter',
       'common chimpanzee', '', 'Olympic athlete', 'actor',
       'Olympic gymnast', 'broadcaster and writer', 'Olympic swimmer',
       'Olympic boxer', 'Olympic wrestler', 'Olympic sailor',
       'basketball player', 'college basketball coach',
       'choral conductor', 'Tree of the Year'], dtype=object)

#### Obsservations:
- Neither "English" nor "Maori" are keys in the current dictionary.
- Maori is an ethnicity within the country of New Zealand, so for now, we will add it as a key our dictionary with the country value of New Zealand.  If we have matching first and second countries, we can later remove the first value.
- We will also add the key "English" with the country value 'United Kingdom of Great Britain and Northern Ireland'.
- Then, we can rerun the above code for `place_1` and `place_2`.
- The country value of "Nepal" is also present. We will hold off on extracting country names until we have first exhausted matching nationalities, as the Wikipedia field called for nationalities.

#### Updating `nation_map`

In [12]:
# Adding key: country pairs to nation_map
nation_map["English"] = nation_map["British"]
nation_map["Maori"] = nation_map["New Zealand"]

#### Re-checking `info_1` for `place_1`

In [13]:
# Column to check
column = "info_1"

# Extract to column
extract_to = "place_1"

# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[(df[extract_to].isna()) & (df[column].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if (
            item == nationality
            or item == country
            or item.startswith(nationality + " ")
            or item.startswith(country + " ")
        ):
            df.loc[index, extract_to] = country
            df.loc[index, column] = (
                df.loc[index, column]
                .replace(nationality, "")
                .strip()
                .replace(country, "")
                .strip()
            )

# Check a sample of rows
df[df[extract_to].notna()].sample(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1
32981,28,David Turnbull,". 92, American materials scientist.",https://en.wikipedia.org/wiki/David_Turnbull_(materials_scientist),8,2007,April,None,materials scientist,None,None,None,None,None,None,None,None,None,None,92.0,None,United States of America
7507,21,Kell Areskoug,", 90 Swedish Olympic sprinter.",https://en.wikipedia.org/wiki/Kell_Areskoug,5,1996,December,None,Olympic sprinter,None,None,None,None,None,None,None,None,None,None,90.0,None,Sweden

#### Re-checking `info_1` for `place_2`

In [14]:
# Column to check
column = "info_1"

# Extract to column
extract_to = "place_2"

# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[(df["place_1"].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if (
            item == nationality
            or item == country
            or item.startswith(nationality + " ")
            or item.startswith(country + " ")
        ):
            df.loc[index, extract_to] = country
            df.loc[index, column] = (
                df.loc[index, column]
                .replace(nationality, "")
                .strip()
                .replace(country, "")
                .strip()
            )

# Checking rows
df[df["place_2"].notna()]

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
19580,20,Dame Miraka Szászy,", 80. New Zealand Maori leader.",https://en.wikipedia.org/wiki/Mira_Sz%C3%A1szy,21,2001,December,None,leader,None,None,None,None,None,None,None,None,None,None,80.0,None,New Zealand,New Zealand

#### Observations:
- Our code appears to be finding the matching values and assigning the corresponding country to the correct nation column.
- We see "New Zealand" added to both nation columns here, which was expected as both New Zealand and Maori are in the description
- As an aside, we will need to check our final values where `place_1` is "American" and `place_2` is "Indian" as our code will indicate United States and India, which may or may not be correct. 
- Now we can proceed to doing the same extraction on `info_2`.

#### Checking `info_2` for `place_1`

In [15]:
%%time

# Column to check
column = "info_2"

# Extract to column
extract_to = "place_1"

# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[(df[extract_to].isna()) & (df[column].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if item == nationality or item == country or item.startswith(nationality + ' ') or item.startswith(country + ' '):
            df.loc[index, extract_to] = country
            df.loc[index, column] = (
                df.loc[index, column].replace(nationality, "").strip().replace(country, '').strip()
            )

CPU times: total: 2min 49s
Wall time: 2min 49s

In [16]:
# Check a sample of rows
df[df[extract_to].notna()].sample(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
23924,13,Laurence Ryan,", 72, Irish bishop and theologian.",https://en.wikipedia.org/wiki/Laurence_Ryan,6,2003,October,None,None,bishop and theologian,None,None,None,None,None,None,None,None,None,72.0,None,Ireland,NaN
114774,4,Curtis S. Person Jr.,", 85, American politician, member of the Tennessee House of Representatives .",https://en.wikipedia.org/wiki/Curtis_S._Person_Jr.,1,2020,September,1966 1968 and Senate 1968 2006,None,politician,member of the Tennessee House of Representatives,None,None,None,None,None,None,None,None,85.0,None,United States of America,NaN

#### Checking Remaining Missing Values for place_1

In [17]:
# Checking number of remaining missing values for place_1
print(f'There are {df["place_1"].isna().sum()} remaining missing values for place_1.\n')

There are 2467 remaining missing values for place_1.

#### Observations:
- We have captured the `place_1` value for the vast majority of entries.
- Next we will check for other variations on nationality usage.

#### Examining Unique Values of First Word in `info_1` if Upper Case

In [18]:
# Column to check
column = "info_2"

# Dataframe to check
dataframe = df[(df["place_1"].isna()) & (df[column].notna())]

# Checking set of first words in info_2 where place_1 is missing
first_words = set([item.split()[0] for item in dataframe[column] if item[0].isupper()])
print(f"There are {len(first_words)} unique values for first word in info_1.\n")
first_words

There are 325 unique values for first word in info_1.

{'AIDS',
 'ANC',
 'Abkhaz',
 'Abkhazian',
 'Aboriginal',
 'Actress',
 'Afghani',
 'African',
 'Afrikaans',
 'Afrikaner',
 'Afro',
 'Air',
 'Alfa',
 'All',
 'Alyawarre',
 'Amateur',
 'America',
 'American]]',
 'Americane',
 'Americanthoroughbred',
 'Amrican',
 'Anglican',
 'Anglo',
 'Anguillan',
 'Arabic',
 'Archbishop',
 'Archdeacon',
 'Argentinian',
 'Aruba',
 'Aruban',
 'Assamese',
 'Associate',
 'Assyrian',
 'Athletics',
 'Aussie',
 'Australiancabaret',
 'Austro',
 'Avarian',
 'Azorean',
 'BBC',
 'Baltic',
 'Basque',
 'Bavarian',
 'Belarussian',
 'Benedictine',
 'Bermudan',
 'Bermudian',
 'Bessarabian',
 'Bletchley',
 'Bodo',
 'Bosnia',
 'Braziliam',
 'Breton',
 'Brigadier',
 'Britain',
 'Britsih',
 'Bulgarianactor',
 'California',
 'Californian',
 'Calypso',
 'Cantonese',
 'Caribbean',
 'Catalan',
 'Catholic',
 'Caymanian',
 'Ceylon',
 'Ceylonese',
 'Chagossian',
 'Chairman',
 'Chechen',
 'Cherokee',
 'Chief',
 'Chilen',
 'Chileán',
 'Chilian',
 'China',
 'Chiricahua',
 'Chuvash',
 'Circassian',
 'Civil',
 'Columbian',
 'Commandant',
 'Composer',
 'Computer',
 'Congo',
 'Congoleze',
 'Congresswoman;',
 'Cook',
 'Cornish',
 'Costan',
 'Crimean',
 'Croat',
 'Curaçaoan',
 'Curaçaon',
 'Czechoslovak',
 'Czechoslovakian',
 'Côte',
 'Dagestani',
 'Dahomey',
 'Danzig',
 'Daughter',
 'Democratic',
 'Dijiboutian',
 'Director',
 'Dolgan',
 'Dominica',
 'Drummer',
 'East',
 'Egyption',
 'Electrical',
 'Empress',
 'England',
 'Englist',
 'EstonianGreco',
 'European',
 'Exodus',
 'Falkland',
 'Faroese',
 'Female',
 'Field',
 'Filipina',
 'Filipo',
 'Fillipina',
 'Financial',
 'Finish',
 'First',
 'Flat',
 'Flemish',
 'Founder',
 'Franch',
 'Franco',
 'Frenck',
 'Fujianese',
 'Gaelic',
 'Galician',
 'Galápagos',
 'Geman',
 'Germen',
 'Ghanese',
 'Gibraltarian',
 'Governor',
 'Grand',
 'Greenlandic',
 'Greenpeace',
 'Guadeloupean',
 'Guamanian',
 'Guernsey',
 'Guernseyan',
 'Hawaiian',
 'Hindi',
 'Hindu',
 'Hollywood',
 'Holocaust',
 'Hong',
 'Houston',
 'Huaorani',
 'I',
 'Ice',
 'Indiana',
 'Indigenous',
 'Indin',
 'Indo',
 'Ingush',
 'Irani',
 'Iraniab',
 'Iranist',
 'Islamic',
 'Italo',
 'Ivoirian',
 'Japanses',
 'Javanese',
 'Jersey',
 'Jewish',
 'Justice',
 'Kabardin',
 'Kashmiri',
 'King',
 'Korean',
 'Kosovan',
 'Kosovar',
 'Kosovo',
 'Kurdish',
 'Latino',
 'Lesothan',
 'Library',
 'Liechtensteinian',
 'Linguist',
 'Los',
 'Louisiana',
 'Luxembourgian',
 'MC',
 'MGerman',
 'Macanese',
 'Major',
 'Malayalam',
 'Malayali',
 'Malayan',
 'Male',
 'Manx',
 'Maritime',
 'Mexian',
 'Mississippi',
 'Monegasque',
 'Montserrat',
 'Montserratian',
 'Moravian',
 'Mother',
 'Motion',
 'Musical',
 'Musician',
 'Myanmar',
 'NASA',
 'NASCAR',
 'Native',
 'Nazi',
 'New',
 'Ngarrindjeri',
 'Ni',
 'Nigirean',
 'Niuean',
 'North',
 'Norther',
 'Northern',
 'Nubian',
 'Officer',
 'Olympic',
 'One',
 'Orthodox',
 'Oscar',
 'Ottoman',
 'Paraguan',
 'People',
 'Pitcairn',
 'Poet',
 'Poet;',
 'Poliosh',
 'Polis',
 'Popular',
 'Premier',
 'President',
 'Prime',
 'Prominent',
 'Provisional',
 'Prussian',
 'Puerto',
 'Punjabi',
 'Quebec',
 'Queen',
 'Québécois',
 'R&B',
 'Racecar',
 'Red',
 'Reformist',
 'Republic',
 'Rhodesian',
 'Roman',
 'Royal',
 'Réunionese',
 'S',
 'Saban',
 'Saharawi',
 'Sahrawi',
 'Saint',
 'Salvadorean',
 'Sanmarinese',
 'Santomean',
 'Secretary',
 'Sergeant',
 'Seychellian',
 'Shia',
 'Shortest',
 'Sicilian',
 'Sicillian',
 'Sikkimese',
 'Singer',
 'Sister',
 'Sixth',
 'Somalian',
 'Son',
 'Sorbian',
 'South',
 'Southern',
 'Soviet',
 'Special',
 'Spouse',
 'Sri',
 'St',
 'Standardbred',
 'Student',
 'Sumatran',
 'Swish',
 'Tahitian',
 'Tamil',
 'Tasmanian',
 'Telugu',
 'Texas',
 'The',
 'Thoroughbred',
 'Three',
 'Tibetan',
 'Tirkish',
 'Trinbagonian',
 'Trinidad',
 'Turks',
 'U',
 'UAE',
 'United',
 'Upper',
 'Uruguyan',
 'Uyghur',
 'Vice',
 'Wallisian',
 'West',
 'Western',
 'White',
 'World',
 'Xhosa',
 'Yazidi',
 'Yellowstone',
 'Yugoslav',
 'Yugoslavia',
 'Yugoslavian',
 'Zairean',
 'Zanzibari',
 'Zionist'}

#### Observations:
- We can see there are some remaining variations on how nationality was entered that are not yet in `nation_country_dict`.
- Let us add those now, then do another iteration searching `info_2`.
- Descriptions will be assigned to their geographical physical region where sovereign state is remote or nationality description is broad.

#### Hard-coding Additional Variations on Nationality

In [19]:
# Hard-coding remaining unique nationality/location descriptors
nation_map["ANC"] = nation_map["South African"]
nation_map["Abkhaz"] = nation_map["Georgian"]
nation_map["Abkhazian"] = nation_map["Georgian"]
nation_map["Aboriginal"] = nation_map["Australian"]
nation_map["African"] = "Africa"
nation_map["Afrikaans"] = nation_map["African"]
nation_map["Afrikaner"] = nation_map["African"]
nation_map["Afro"] = "Africa"
nation_map["Alyawarre"] = nation_map["Australian"]
nation_map["America"] = nation_map["US"]
nation_map["America's"] = nation_map["US"]
nation_map["Amrican"] = nation_map["US"]
nation_map["Anglo"] = "Europe"
nation_map["Anguillan"] = "Central America and the Caribbean"
nation_map["Antigua"] = nation_map["Antiguan"]
nation_map["Arabic"] = "Arab states"
nation_map["Argentinian"] = nation_map["Argentine"]
nation_map["Aruba"] = "Central America and the Caribbean"
nation_map["Aruban"] = nation_map["Aruba"]
nation_map["Assamese"] = nation_map["Indian"]
nation_map["Assyrian"] = "Middle East"
nation_map["Aussie"] = nation_map["Australian"]
nation_map["Australia"] = nation_map["Australian"]
nation_map["Australia's"] = nation_map["Australian"]
nation_map["Austria"] = nation_map["Austrian"]
nation_map["Austro"] = nation_map["Austrian"]
nation_map["Avarian"] = nation_map["Russian"]
nation_map["Azerbaijan"] = nation_map["Azerbaijani"]
nation_map["Azorean"] = nation_map["Portuguese"]
nation_map["Baltic"] = "Europe"
nation_map["Bangladesh"] = nation_map["Bangladeshi"]
nation_map["Barbados"] = "Central America and the Caribbean"
nation_map["Basque"] = "Europe"
nation_map["Bavarian"] = nation_map["German"]
nation_map["Belarus"] = nation_map["Belarusian"]
nation_map["Belarussian"] = nation_map["Belarusian"]
nation_map["Belgium"] = nation_map["Belgian"]
nation_map["Bermudan"] = "Central America and the Caribbean"
nation_map["Bermudian"] = "Central America and the Caribbean"
nation_map["Bessarabian"] = "Europe"
nation_map["Bletchley"] = nation_map["British"]
nation_map["Bodo"] = nation_map["Norwegian"]
nation_map["Bosnia"] = nation_map["Bosnian"]
nation_map["Breton"] = nation_map["French"]
nation_map["Britain's"] = nation_map["British"]
nation_map["Britsih"] = nation_map["British"]
nation_map["California"] = nation_map["US"]
nation_map["Californian"] = nation_map["US"]
nation_map["Cantonese"] = nation_map["Chinese"]
nation_map["Caribbean"] = "Central America and the Caribbean"
nation_map["Catalan"] = nation_map["Spanish"]
nation_map["Caymanian"] = nation_map["Caribbean"]
nation_map["Ceylon"] = nation_map["Sri Lankan"]
nation_map["Ceylonese"] = nation_map["Sri Lankan"]
nation_map["Chagossian"] = "Indian Ocean"
nation_map["Chechen"] = nation_map["Russian"]
nation_map["Cherokee"] = nation_map["US"]
nation_map["Chilian"] = nation_map["Chilean"]
nation_map["China"] = nation_map["Chinese"]
nation_map["Chiricahua"] = nation_map["US"]
nation_map["Chuvash"] = nation_map["Russian"]
nation_map["Circassian"] = nation_map["Russian"]
nation_map["Columbian"] = nation_map["Colombian"]
nation_map["Congo"] = nation_map["Congolese"]
nation_map["Congoleze"] = nation_map["Congolese"]
nation_map["Cornish"] = nation_map["British"]
nation_map["Costan Rican"] = nation_map["Costa Rican"]
nation_map["Côte d'Ivoire"] = nation_map["Ivorian"]
nation_map["Crimean"] = nation_map["Russian"]
nation_map["Croat"] = nation_map["Croatian"]
nation_map["Curaçaoan"] = nation_map["Dutch"]
nation_map["Curaçaon"] = nation_map["Dutch"]
nation_map["Dagestani"] = nation_map["Russian"]
nation_map["Dahomey"] = "Africa"
nation_map["Dijiboutian"] = nation_map["Djiboutian"]
nation_map["Dolgan"] = nation_map["Russian"]
nation_map["Dominica"] = nation_map["Caribbean"]
nation_map["England"] = nation_map["British"]
nation_map["Englist"] = nation_map["British"]
nation_map["European"] = "Europe"
nation_map["Falkland Islands"] = "South America"
nation_map["Falkland islands"] = nation_map["Falkland Islands"]
nation_map["Falkland"] = nation_map["Falkland Islands"]
nation_map["Faroese"] = nation_map["Danish"]
nation_map["Filipina"] = nation_map["Filipino"]
nation_map["Filipo"] = nation_map["Filipino"]  # verified entry
nation_map["Fillipina"] = nation_map["Filipino"]
nation_map["Finish"] = nation_map["Finnish"]
nation_map["Flemish"] = nation_map["Belgian"]
nation_map["Franch"] = nation_map["French"]  # verified entry
nation_map["Franco"] = nation_map["French"]
nation_map["Frenck"] = nation_map["French"]  # verified entry
nation_map["Fujianese"] = nation_map["Chinese"]
nation_map[
    "Gaelic"
] = "Europe"  # refers to sport of Gaelic football, otherwise language
nation_map["Galician"] = nation_map["Spanish"]
nation_map["Galápagos"] = nation_map["Ecuadorian"]  # entry for tortoise
nation_map["Geman"] = nation_map["German"]  # verified entry
nation_map["Germen"] = nation_map["German"]  # verified entry
nation_map["Ghanese"] = "Africa"
nation_map["Greenlandic"] = nation_map["Danish"]
nation_map["Guadeloupean"] = nation_map["Caribbean"]
nation_map["Guamanian"] = "Oceania"
nation_map["Guernsey"] = nation_map["British"]
nation_map["Guernseyan"] = nation_map["British"]
nation_map["Hawaiian"] = nation_map["US"]
nation_map["Hindi"] = nation_map["Indian"]
nation_map["Hindu"] = nation_map["Indian"]
nation_map["Hollywood"] = nation_map["US"]
nation_map["Hong Kong"] = nation_map["Chinese"]
nation_map["Houston"] = nation_map["US"]
nation_map["Huaorani"] = nation_map["Ecuadorian"]
nation_map["I Kiribati"] = nation_map["IKiribati"]
nation_map["Indin"] = nation_map["Indian"]  # verified entry
nation_map["Indo"] = nation_map["Indian"]
nation_map["Ingush"] = nation_map["Russian"]
nation_map["Italo"] = nation_map["Italian"]
nation_map["Ivoirian"] = "Africa"
nation_map["Javanese"] = nation_map["Indonesian"]
nation_map["Jersey"] = nation_map["British"]
nation_map["Kabardin"] = nation_map["Russian"]
nation_map["Kashmiri"] = nation_map["Indian"]
nation_map["Korean"] = "Asia"
nation_map["Kosovan"] = "Europe"
nation_map["Kosovar"] = "Europe"
nation_map["Kosovo"] = "Europe"
nation_map["Kurdish"] = "Asia"
nation_map["Lesothan"] = "Africa"
nation_map["Los Angeles"] = nation_map["US"]
nation_map["Louisiana"] = nation_map["US"]
nation_map["MGerman"] = nation_map["German"]  # verified entry
nation_map["Macanese"] = nation_map["Chinese"]
nation_map["Malayalam"] = nation_map["Indian"]
nation_map["Malayali"] = nation_map["Indian"]
nation_map["Malayan"] = nation_map["Malaysian"]
nation_map["Manx"] = nation_map["British"]
nation_map["Mexian"] = nation_map["Mexican"]
nation_map["Mississippi"] = nation_map["US"]
nation_map["Monegasque"] = nation_map["Monacan"]
nation_map["Montserrat"] = nation_map["Caribbean"]
nation_map["Montserratian"] = nation_map["Caribbean"]
nation_map["Myanmar"] = nation_map["Burmese"]
nation_map["New York"] = nation_map["US"]
nation_map["Ngarrindjeri"] = nation_map["Australian"]
nation_map["Ni Vanuatu"] = "Oceania"
nation_map["Nigirean"] = nation_map["Nigerian"]
nation_map["Niuean"] = nation_map["NZ"]
nation_map["Northern Ire"] = nation_map["Northern Irish"]
nation_map["Northern Ireland"] = nation_map["Northern Irish"]
nation_map["Norther Irish"] = nation_map["Northern Irish"]
nation_map["North Irish"] = nation_map["Northern Irish"]
nation_map["North American"] = "North America"
nation_map["North Island"] = nation_map["NZ"]
nation_map["Northern Mariana Island"] = "Oceania"
nation_map["Northern Mariana Islander"] = "Oceania"
nation_map["Nubian"] = nation_map["Sudanese"]
nation_map["Ottoman"] = nation_map["Turkish"]
nation_map["Paraguan"] = nation_map["Paraguayan"]  # verified entry
nation_map["People's Republic of China"] = nation_map["Chinese"]
nation_map["Pitcairn"] = "Oceania"
nation_map["Poliosh"] = nation_map["Polish"]  # verified entry
nation_map["Polis"] = nation_map["Polish"]  # verified entry
nation_map["Prussian"] = nation_map["German"]
nation_map["Punjabi"] = nation_map["Indian"]
nation_map["Quebec"] = nation_map["Canadian"]
nation_map["Québécois"] = nation_map["Canadian"]
nation_map["Republic of China"] = nation_map["Chinese"]
nation_map["Rhodesian"] = "Africa"
nation_map["Roman"] = nation_map["Italian"]
nation_map["Réunionese"] = nation_map["French"]
nation_map["S African"] = nation_map["South African"]
nation_map["Saban"] = nation_map["Caribbean"]
nation_map["Saharawi"] = "Africa"
nation_map["Sahrawi"] = nation_map["Saharawi"]
nation_map["Saint Helena"] = "South Atlantic"
nation_map["Saint Vincent"] = nation_map["Caribbean"]
nation_map["Saint Martin"] = nation_map["Caribbean"]
nation_map["Saint Pierre and Miquelon"] = "North America"
nation_map["Salvadorean"] = nation_map["Salvadoran"]
nation_map["Sanmarinese"] = nation_map["Sammarinese"]
nation_map["Santomean"] = nation_map["São Toméan"]
nation_map["Seychellian"] = nation_map["Seychellois"]
nation_map["Sicilian"] = nation_map["Italian"]
nation_map["Sicillian"] = nation_map["Italian"]
nation_map["Sikkimese"] = nation_map["Indian"]
nation_map["Sorbian"] = nation_map["German"]
nation_map["South Afican"] = nation_map["South African"]
nation_map["South Ossetian"] = nation_map["Georgian"]
nation_map["Soviet"] = "United Socialist Soviet Republic"
nation_map["Sri lankan"] = nation_map["Sri Lankan"]
nation_map["St Lucian"] = nation_map["Caribbean"]
nation_map["St Kitts and Nevis"] = nation_map["Kittian and Nevisian"]
nation_map["Sumatran"] = nation_map["Indonesian"]
nation_map["Swish"] = nation_map["Swiss"]  # verified entry
nation_map["Tahitian"] = "South Pacific"
nation_map["Tamil"] = "Indian subcontinent"
nation_map["Tasmanian"] = nation_map["Australian"]
nation_map["Telugu"] = nation_map["Indian"]
nation_map["Texas"] = nation_map["US"]
nation_map["Florida"] = nation_map["US"]
nation_map["Tibetan"] = nation_map["Chinese"]
nation_map["Tirkish"] = nation_map["Turkish"]
nation_map["Tirkish"] = nation_map["Turkish"]
nation_map["Trinbagonian"] = nation_map["Trinidadian"]
nation_map["Trinidad"] = nation_map["Trinidadian"]
nation_map["Turks"] = nation_map["Turkish"]
nation_map["U S"] = nation_map["US"]
nation_map["UAE's"] = nation_map["Emirati"]
nation_map["United Kingdom"] = nation_map["British"]
nation_map["Upper Silesian"] = nation_map["Polish"]
nation_map["Uruguyan"] = nation_map["Uruguayan"]
nation_map["Uyghur"] = "Asia"
nation_map["Ni Vanuatu"] = nation_map["Vanuatuan"]
nation_map["Wallisian"] = "Oceania"
nation_map["Xhosa"] = nation_map["South African"]
nation_map["Yazidi"] = "Asia"
nation_map["Yellowstone"] = nation_map["US"]
nation_map["Yugoslav"] = nation_map["Serbian"]
nation_map["Yugoslavia"] = nation_map["Serbian"]
nation_map["Yugoslavian"] = nation_map["Serbian"]
nation_map["Zairean"] = nation_map["Congolese"]
nation_map["Zanzibari"] = nation_map["Tanzanian"]
nation_map["Czechoslovakian"] = nation_map[
    "Czech"
]  # Note:  this will later be converted to Europe, so either Czech or Slovak works here
nation_map["Czechoslovak"] = nation_map["Czech"]  # same as above

#### Example of Checking Rows with Unique Value

In [20]:
# Cell for checking rows of unique values -- used repeatedly while hard-coding above
check_value = "Yellowstone "

check_list = []
for index in df[df["info_2"].notna()].index:
    item = df.loc[index, "info_2"]
    if item:
        if item.startswith(check_value):
            check_list.append(index)
df.loc[check_list, :]

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
58424,6,O-Six,", 6, Yellowstone National Park gray wolf, shot.",https://en.wikipedia.org/wiki/O-Six,16,2012,December,None,None,Yellowstone National Park gray wolf,shot,None,None,None,None,None,None,None,None,6.0,None,NaN,NaN

#### Appending Other Species List for New Species Observed During Hard-coding

In [21]:
# Adding more species to other_species
other_species_df = pd.read_csv("other_species.csv")
other_species = other_species_df["species"].tolist()
other_species.append("kiwi")
other_species.append("stallion")
other_species.append("colt")
other_species.append("Thoroughbred hurdler")
other_species.append("race horse")
other_species.append("racing filly")
other_species.append("wolf")

#### Observations:
- Because the original `info` column contains mutliple pieces of information, in various formats, we will be doing some hard-coding along the way.
- We will proceed to re-run our code searching `info_2`.

#### Checking `info_2` for `place_1` with Updated `nation_map`

In [22]:
%%time

# Column to check
column = "info_2"

# Extract to column
extract_to = "place_1"


# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[(df[extract_to].isna()) & (df[column].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if item==nationality or item==country or item.startswith(nationality + ' ') or item.startswith(country + ' '):
            df.loc[index, extract_to] = country
            df.loc[index, column] = (
                df.loc[index, column].replace(nationality, "").strip().replace(country, '').strip()
            )

CPU times: total: 12.2 s
Wall time: 12.2 s

In [23]:
# Check a sample of rows
df[df[extract_to].notna()].sample(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
13353,9,Bert Firman,", 93, English bandleader.",https://en.wikipedia.org/wiki/Bert_Firman,1,1999,April,None,None,bandleader,None,None,None,None,None,None,None,None,None,93.0,None,United Kingdom of Great Britain and Northern Ireland,NaN
56501,15,Sir Ray Whitney,", 81, British politician, MP for Wycombe .",https://en.wikipedia.org/wiki/Ray_Whitney_(politician),2,2012,August,1978 2001,None,politician,MP for Wycombe,None,None,None,None,None,None,None,None,81.0,None,United Kingdom of Great Britain and Northern Ireland,NaN

#### Checking Remaining Missing Values for `place_1`

In [24]:
# Checking number of remaining missing values for place_1
print(f'There are {df["place_1"].isna().sum()} remaining missing values for place_1.\n')

There are 751 remaining missing values for place_1.

#### Obervations:
- We have narrowed down the missing values for `place_1` values to ~750.
- Let us take another look at the remaining unique values for `info_2`.

#### Checking Remaining Unique Values for `info_2` Where `place_1` Value is Missing

In [25]:
# Checking remaining unique values for info_2 where place_1 value is missing
df[df["place_1"].isna()]["info_2"].unique()

array(['Royal Netherlands Navy vice admiral', 'President of Laos',
       'Luxembourgian road bicycle racer',
       'Governor general of the Bahamas',
       'Amateur violinist and philanthropist',
       'West German long distance runner and Olympian',
       'Composer and music editor',
       'President of the Yemen Arab Republic',
       'Luxembourgian football player', 'Native American tribal leader',
       'Prime Minister of Rwanda',
       'Male Hungarian international table tennis player',
       '37th President of the United States',
       'Queen of Jordan as the wife of King Talal',
       'Prime Minister of Zaire under Mobutu Sese Seko',
       'President of Burma and writer',
       'Founder and first leader of North Korea',
       'Irani American engineer', 'Moravian American classical pianist',
       'President of Ciskei', 'Prime Minister of Nepal',
       'President of Palau', 'Poet and an Esperantist professor',
       'East German politician', 'People Republic of China politician',
       'Jewish rabbi', 'Iranist',
       '17th Indian Army officer and Chief of Staff',
       'Somalian military leader and statesman',
       'All American baseball player',
       'pioneering American biophysicist and virologist',
       "native leader and historian of the Metepenagiag Mi'kmaq Nation",
       'Luxembourgian cyclist',
       'sidecarcross rider and the first ever Sidecarcross World Championship',
       '46th Prime Minister of Iran', 'Major League Baseball player',
       'professional wrestler', 'Field hockey player',
       'fifth dean of the Harvard Business School',
       'pretender who claimed connection to various European thrones',
       'Racecar driver', 'longtime chairman of Liverpool F C',
       'Iraniab historian',
       'East German politician and member of the Socialist Unity Party of Germany',
       'World War II spy for the Soviet Union', 'Orthodox Jewish rabbi',
       'Royal Air Force Air marshal and flying ace during World War II',
       'Archdeacon of Halifax',
       'inspector general and executive director of the CIA',
       'first Governor General of Antigua and Barbuda',
       'broadcast journalist for NBC News who was news anchor of',
       'East German philosopher and journalist',
       'younger son of Ayatollah Ruhollah Khomeini and father of Hassan Khomeini',
       'first bishop of the Roman Catholic Diocese of Alleppey',
       'Australiancabaret singer and actor', 'actor and occultist',
       'Reformist', 'People Army of Vietnam general',
       'Daughter of Italian fascist dictator Benito Mussolini',
       '4th Prime Minister of India', 'Anglican bishop', 'Actress',
       'Air racer and aircraft engineer',
       'Major Leagues baseball pitcher',
       'long serving Officer of Arms at the College of Arms in London',
       'Ice hockey player', 'Prime Minister of the United Kingdom',
       'Director of the United States Navy Nurse Corps',
       '35th President of Argentina',
       'East German politician and trade unionist',
       'electrical engineer and inventor',
       '15th Chief Justice of the United States Supreme Court',
       'wife of Soviet leader Leonid Brezhnev',
       'pioneering African American record promoter', 'Governor of Aruba',
       'West Indian cricketer', 'member of the Japanese Imperial Family',
       'President and CEO  of Levi Strauss & Co',
       'West German sprint canoer and Olympian',
       'a French pediatrician and amateur astronomer',
       'first woman Treasurer of the United States', 'Chileán sculptor',
       '30th Prime Minister of New Zealand', 'record company founder',
       '5th Prime Minister of Israel',
       'Japanses admiral in the Imperial Japanese Navy during World War II',
       'the pen name of Felicity Winifred Carter', 'singer',
       'longtime theater and cinema critic for',
       'Governor General of Barbados', 'President of Switzerland',
       'King of Lesotho', 'Olympic boxer', 'East German football player',
       'Vice President of the Dominican Republic',
       'linebacker for the University of Miami Hurricanes',
       'wife of the Indonesian president', 'President of Guatemala',
       'President of Nigeria', 'Athletics competitor',
       'President of Suriname', 'Poet; writer',
       'Sixth President of India', 'President of Uganda',
       'President of Bolivia', 'Olympic water polo player',
       'Mother of Bruce Lee', 'first female judge of India',
       'Somalian military officer', 'Prime Minister of France',
       'President of Portugal',
       'Indigenous Canadian women rights activist',
       'Electrical engineering professor',
       'Indigenous Australian activist and writer',
       'President of the Argentine Republic', 'botanist and a mycologist',
       'dancer and actress', 'President of Ecuador',
       'Native American and women rights activist',
       'Jewish spiritual leader', 'Nazi German Hitler Youth leader',
       'First person born on South Georgia', 'Prime Minister of Morocco',
       'President of Sri Lanka',
       'Governor General of Saint Vincent and the Grenadines',
       '2nd President of the Central African Republic and Emperor of Central Africa',
       'Native American painter and commercial artist',
       'Popular Chechen bard and folk singer',
       'South Vietnamese commander', 'Prime Minister of the Maldives',
       'Archbishop of the Montenegrin Orthodox Church',
       'Governor General of Tuvalu', 'last imperial Chinese eunuch',
       'President of the Marshall Islands', 'Luxembourgian footballer',
       'Nazi Germany Luftwaffe pilot during World War II',
       'member of the House of Commons of Canada from 1993 to 1997',
       '20th century French classical pianist', 'President of Guyana',
       'Prime Minister of Jamaica', 'Luxembourgian cyclist and Olympian',
       'Governor of Puerto Rico', 'leader of the Heaven Gate cult group',
       'Royal Australian Air Force officer and flying ace',
       'EstonianGreco Roman wrestler and Olympic medalist',
       'President of the Philippines and poet', 'President of Paraguay',
       'Nazi Germany official',
       'first Indian female actress of Indian cinema',
       'West German ski jumper and Olympian',
       'Native Hawaiian musician and activist',
       'Gibraltarian politician and Chief Minister of Gibraltar',
       'First Prime Minister of Cameroon',
       'Associate Justice of the Supreme Court of the United States',
       'President of Colombia', 'Prime Minister of Grenada',
       'Linguist and researcher in Etruscan studies',
       'Native American actor', 'Prime Minister of Norway',
       'Secretary General of the National Security Council of the Republic of China',
       'Chief Justice of India', 'Shortest adult human',
       'Royal Navy officer', 'Field hockey player from West Germany',
       'Prime Minister of Trinidad and Tobago', 'President of Malawi',
       'East Germany dissident and politician',
       'East German gymnast and Olympic silver medalist',
       'East German ski jumper and Olympian',
       'First Lady of Haiti as wife of François "Papa Doc" Duvalier',
       'President of Ghana', 'Prime Minister of Afghanistan',
       'a French actor', 'former President and Prime Minister of Syria',
       'Chief Justice of Bangladesh',
       'former Spanish Deputy Prime Minister',
       'former Spanish Minister of Foreign Affairs',
       'Musical composer and conductor',
       'Special Assistant and secretary to John F  Kennedy',
       '1940s American B movie actress',
       'Female tennis player from Australia',
       'West German bobsledder and Olympian', 'East German border guard',
       'tall man', 'Standardbred harness racing  stallion',
       'Royal Australian Navy officer', 'South Vietnamese general',
       "Alfa Romeo works' test driver",
       'last Prime Minister of South Vietnam',
       'Americanthoroughbred horse racing trainer', 'AIDS researcher',
       'Democratic politician', 'World War II USAF Flying ace',
       'World War II Luftwaffe Flying ace',
       'President of the People Republic of China', 'composer',
       'Jewish survivor of the World War II',
       'Nazi Germany Wehrmacht officer',
       'sculptor and installation artist',
       'Chief of Staff of the IRA and the Official IRA', None,
       'West African immigrant and victim',
       '15th Emperor King of the Ashanti people', 'emir of Bahrain',
       'White House Press Secretary under President Lyndon B  Johnson',
       'MC', 'Chairman and CEO of Boeing corporation',
       'child victim of the NATO bombing of Yugoslavia',
       '31st Prime Minister of Nepal',
       'Native American artist and potter',
       'first Azerbaijani Minister of Defense', 'Latino American poet',
       'fighter pilot in the Indian Air Force and recipient of the Maha Vir Chakra',
       'First Lady of Tunisia',
       'first Prime Minister of Antigua and Barbuda',
       'Calypso singer and composer from Trinidad and Tobago',
       'First Secretary of the Communist Party of the Turkmen SSR',
       'President of the Republic of Congo',
       'professional ice hockey defenseman',
       'last member of the Russian House of Romanov',
       'soldier in the British Army in the Second World War',
       'pilot in the Soviet Air Force during WWII',
       'Red Army officer during the Second World War',
       'professional wrestler from Yokohama',
       'four star admiral in the United States Navy',
       'President of the Republic of Nauru',
       'Financial Secretary of Hong Kong', 'Premier of North Korea',
       'professional ice hockey right winger',
       'Officer in the British Army', 'last Governor of Northern Ireland',
       'sports car racer', 'Premier of Tasmania', 'Egyption pilot',
       'professional footballer', '27th President of Panama',
       'East German comedian', 'President of Bangladesh',
       'member of the Vanderbilt family', '32nd Prime Minister of Italy',
       'Jewish', 'major general in the United States Army',
       '30th President of Brazil',
       'President of the Supreme Court of China', 'NASA mission director',
       '9th president of India',
       'All American Girls Professional Baseball League player',
       'Prime Minister of Italy',
       'Nazi war criminal and German commander in the SS',
       'Sergeant Major in the US Marine Corps',
       'Prime Minister of Romania',
       'first Director of the Indian National Scientific Documentation Centre',
       'managing editor of', 'officer in the US Army and civil engineer',
       "'AIDS activist and archivist",
       'officer in the Wehrmacht of Nazi Germany',
       'Computer programmer and founder of DX Ball 2',
       'Chief Minister of Brunei', 'Commandant of US Coast Guard',
       'President of Tunisia',
       'first African American nurse to earn a master degree',
       'professor of Law and Dean of Harvard Law School',
       'third Yang di Pertuan Agong of Malaya', 'victim of child abuse',
       "first male 'talking' gorilla", 'Prime Minister of Vietnam',
       'Prime Minister of Denmark', 'first class cricketer',
       'First Lady of Mexico',
       'son of American President Calvin Coolidge', 'President of Syria',
       'Empress of Japan', 'wife of Roman Herzog',
       'fourth and last wife of Sir Sultan Muhammad Shah',
       'Jewish Polish pianist portrayed in the 2002 film',
       'submarine captain in the US Navy', 'member of the Sicilian Mafia',
       'jurist and politician from Pennsylvania',
       'officer in the US Coast and Geodetic Survey Corps',
       'mother of Donald Trump', 'nun', 'Prime Minister of Canada',
       'Prime Minister of Dominica and human rights activist',
       'The Cars bassist and singer',
       'brigadier general in the US Marine Corps',
       'East German political activist and journalist',
       'Prime Minister of Sri Lanka',
       'labor leader and chairman of the Communist Party USA',
       'NASCAR driver', 'Prime Minister of the Central African Republic',
       'Queen consort of Frederick IX of Denmark',
       'Prime Minister of Poland',
       'wife of Israeli Prime Minister Yitzhak Rabin',
       'Prime Minister of Tuvalu', 'general authority LDS Church',
       'Nazi German SS officer', '103rd Mayor of New York City',
       'patriarch of The Staple Singers',
       'All American basketball player for the Oklahoma Sooners and the AAU Phillips 66ers',
       'bass singer and bass guitarist for The Four Seasons',
       'the last Queen of Italy', 'grizzly bear',
       '104th Mayor of New York City',
       'popular Cuban singer and songwriter', 'mustachioed',
       'the first Turkish female aviator and the first female combat pilot of the world',
       'baseball player', 'Motion picture executive',
       'Thoroughbred racehorse', 'professional basketball player',
       'Native American painter', 'general in the US Air Force',
       'student', 'Director General of the Fiji Red Cross',
       'officer in the Royal Australian Navy',
       'wife of former German chancellor Helmut Kohl', 'pro wrestler',
       'anti globalization demonstrator', 'member of the House of Saud',
       'South Vietnamese politician and ARVN general',
       'known for eating a hamburger contaminated with E  coli O157:H7',
       'Prime Minister of the Faroe Islands and first female speaker of the House',
       '9th President of Bangladesh', 'four star admiral in the US Navy',
       'former President of South Vietnam',
       'Prominent Indian politician and minister',
       'Native American educator activist',
       'queen consort of Iran as wife of Shah Mohammad Reza Pahlavi',
       'Puerto Ricanpainter  and art professor',
       'Prime Minister of Iran and military leader',
       'First Lady of South Africa', 'biomedical engineer',
       'first President of Senegal; also a world renowned poet and writer',
       'bass guitarist for EMF', 'Japanses sumo wrestler',
       'Exodus vocalist',
       'Musician from the Democratic Republic of the Congo',
       'military engineer with the US Army Corps of Engineers',
       'member of the French Resistance during WW II',
       '2nd President of Cyprus',
       'member of this body since its beginnings',
       'Governor General of Papua New Guinea',
       'member of the Austrian Resistance during WWII',
       'commanding officer in the US Army', 'convicted spree killer',
       'inventor of the Barbie doll',
       'president of Somaliland and former prime minister of the Somali Republic',
       'president of Dominica',
       'last living triple crown winner on 25th anniversary of winning Kentucky Derby',
       'competitive figure skater as a teenager',
       'Royal Air Force officer during WWII',
       'professor of psychology in Quebec',
       '19th Prime Minister of Australia',
       'assistant professor of sociology', 'journalist of Nepal',
       'brigadier general in the US Air Force',
       'colonel  in the US Army and of the most decorated women in United States military history',
       'suspected American serial killer',
       'founding member of The Ramones', 'jazz drummer and vibraphonist',
       'first African American New York City Police Commissioner',
       'Brigadier General in the US Marine Corps',
       'author & syndicated newspaper columnist', '17th Duke of Norfolk',
       'Prime Minister of Luxembourg', 'publicist',
       'President of the Dominican Republic',
       'Zionist activist and Israeli politician',
       'accomplished Marathi singer composer from India',
       'television and radio announcer for the Los Angeles Lakers basketball team since 1960',
       'computer scientist', 'Major General in the U S  Army Reserves',
       'wilderness photographer', 'thoroughbred race horse',
       'children musician', 'senior officer in the Royal Australian Navy',
       'linguist specialized in Romance languages',
       'designer of the Uzi submachine gun',
       'lieutenant general in the US Air Force and WW II flying ace',
       'military ruler of the Ivory Coast',
       'husband of Queen Beatrix of the Netherlands and Dutch diplomat',
       'Prime Minister of Southern Rhodesia',
       'longest living survivor of the  fire of June 15',
       'East German Olympic committee president',
       'Queen consort of King Zog I of Albania',
       'Royal Marines officer and academic', 'board game designer',
       'aircraft designer and aviation pioneer',
       'professional wrestler known as', 'officer of the French Navy',
       'painter', 'convicted murderer',
       'former Governor General of Canada',
       'President of Guyana from 1985 to 1992',
       'former singer for The Clash', 'celebrity photographer',
       'Justice of the Rhode Island Supreme Court',
       'Governor General of the Bahamas', 'band member of T  Rex',
       'former dictator of Argentina', 'screenwriter and director',
       'First Lady of Myanmar', 'infantry officer in the Australian Army',
       'Anglican bishop and scholar',
       'Sister of Mercy and inspirational music teacher',
       'former 5 term Republican United States Congressman from Minnesota',
       'politician',
       'former press secretary for Richard Nixon during the Watergate Scandal',
       'world boxing champion and hall of famer', 'actor',
       'the world first cloned mammal',
       'pioneer in the development of digital sound',
       'President of Nauru', 'Prime Minister of Serbia',
       'father of UK royal divorcée Sarah', 'computer pioneer',
       'former Roman Catholic Archbishop of Vienna',
       'revolutionary thinker and cartographer',
       'second rebbe of Jerusalem', 'Governor of American Samoa',
       'U boat commander in the Kriegsmarine during World War II',
       'guitarist and composer and best known for his work with Van Morrison',
       'World Health Organization doctor who discovered SARS',
       'former Prime Minister of the Soviet Union',
       'Nazi official and senior commander of the SiPo and SD',
       'Democratic Republic of the Congo  politician', 'Shia cleric',
       'Chief Rabbi of Morocco and of Jerusalem',
       'member of House of Saud', 'philanthropist',
       'R&B musician songwriter', 'Congresswoman; women rights activist',
       'Oscar winning British actress of stage and screen',
       'sports business pioneer',
       'advisor of Miss Puerto Rico titleholders for the Miss Universe contest',
       'rifleman with the United States Marine Corps during World War II',
       'BBC Northern Ireland broadcaster & filmmaker',
       'Chief of Staff and Treasury Secretary during the Reagan administration',
       'Jewish American author',
       'first African American Mayor of Atlanta',
       'segregationist Governor of the State of Georgia',
       'Governor of South Carolina',
       'children book writer and illustrator',
       'Catholic bishop and social activist', 'widow of Henri',
       'Native American poet', 'conductor',
       'Britain chief prosecutor at the Nuremberg Trials',
       'fourth head of the Rashtriya Swayamsevak Sangh',
       'former Belgian national football coach',
       'President of Sierra Leone', 'American]] Jesuit priest',
       'member of the National Cowgirl Museum and Hall of Fame',
       'former president of Honduras',
       'defrocked American pedophile priest',
       'theologian and writer on Old Testament issues',
       'Chief of Staff of the United States Air Force',
       'half sister of Venus and Serena Williams',
       'politician in Ontario', 'militant in al Qaeda Saudi wing',
       'first female Lord Mayor of London',
       'oldest recognized person in the United States', 'Benedictine nun',
       'philanthropist; widow of McDonald founder Ray Kroc',
       'Greenpeace activist and co founder',
       'former president of Mauritania', '"Road Warrior Hawk"',

#### Observations:
- We can see some country names embedded in the middle of the values, so we will search there next, for nationality or country.
- The first value found will be maintained, which does bias the value toward nationalities/countries higher up on the list, as we are not proceeding from left to right for this iteration.

#### Checking `info_2` for `place_1` via Nationality or Country within Value

In [26]:
%%time

# Column to check
column = "info_2"

# Extract to column
extract_to = "place_1"

# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[(df[extract_to].isna()) & (df[column].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if nationality + ' ' in item or country + ' ' in item or item.endswith(nationality) or item.endswith(country):
            df.loc[index, extract_to] = country
            df.loc[index, column] = (
                df.loc[index, column].replace(nationality, "").strip().replace(country, '').strip()
            )

CPU times: total: 5.78 s
Wall time: 5.79 s

In [27]:
# Check a sample of rows
df[df[extract_to].notna()].sample(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
113350,13,Hasan al-Lawzi,", 68, Yemeni writer and politician, Acting Prime Minister , COVID-19.",https://en.wikipedia.org/wiki/Hasan_al-Lawzi,2,2020,July,2011,None,writer and politician,Acting Prime Minister,COVID 19,None,None,None,None,None,None,None,68.0,None,Yemen,NaN
97957,28,Andrew Hughes,", 62, Australian police officer, Fijian Commissioner of Police , bowel cancer.",https://en.wikipedia.org/wiki/Andrew_Hughes_(police_officer),5,2018,August,2003 2006,None,police officer,Fijian Commissioner of Police,bowel cancer,None,None,None,None,None,None,None,62.0,None,Australia,NaN

#### Checking Remaining Missing Values for `place_1`

In [28]:
# Checking number of remaining missing values for place_1
print(f'There are {df["place_1"].isna().sum()} remaining missing values for place_1.\n')

There are 390 remaining missing values for place_1.

#### Observations:
- We have ~400 remaining missing values for `place_1`.
- After checking these rows, we can update the dictionary again.

In [29]:
# Checking remaining unique values for info_2 where place_1 value is missing
df[df["place_1"].isna()]["info_2"].unique()

array(['Luxembourgian road bicycle racer',
       'Governor general of the Bahamas',
       'Amateur violinist and philanthropist',
       'Composer and music editor', 'Luxembourgian football player',
       'Prime Minister of Zaire under Mobutu Sese Seko',
       'President of Ciskei', 'Poet and an Esperantist professor',
       'Jewish rabbi', 'Iranist',
       'Somalian military leader and statesman',
       "native leader and historian of the Metepenagiag Mi'kmaq Nation",
       'Luxembourgian cyclist',
       'sidecarcross rider and the first ever Sidecarcross World Championship',
       'Major League Baseball player', 'professional wrestler',
       'Field hockey player', 'fifth dean of the Harvard Business School',
       'Racecar driver', 'longtime chairman of Liverpool F C',
       'Iraniab historian', 'Orthodox Jewish rabbi',
       'Royal Air Force Air marshal and flying ace during World War II',
       'Archdeacon of Halifax',
       'inspector general and executive director of the CIA',
       'broadcast journalist for NBC News who was news anchor of',
       'younger son of Ayatollah Ruhollah Khomeini and father of Hassan Khomeini',
       'Australiancabaret singer and actor', 'actor and occultist',
       'Reformist', 'Anglican bishop', 'Actress',
       'Air racer and aircraft engineer',
       'Major Leagues baseball pitcher',
       'long serving Officer of Arms at the College of Arms in London',
       'Ice hockey player', 'electrical engineer and inventor',
       'President and CEO  of Levi Strauss & Co', 'Chileán sculptor',
       'record company founder',
       'the pen name of Felicity Winifred Carter', 'singer',
       'longtime theater and cinema critic for', 'Olympic boxer',
       'linebacker for the University of Miami Hurricanes',
       'Athletics competitor', 'Poet; writer',
       'Olympic water polo player', 'Mother of Bruce Lee',
       'Somalian military officer', 'Electrical engineering professor',
       'botanist and a mycologist', 'dancer and actress',
       'Jewish spiritual leader', 'Luxembourgian footballer',
       'Luxembourgian cyclist and Olympian',
       'leader of the Heaven Gate cult group',
       'Linguist and researcher in Etruscan studies',
       'Shortest adult human', 'Royal Navy officer',
       'Musical composer and conductor',
       'Special Assistant and secretary to John F  Kennedy', 'tall man',
       'Standardbred harness racing  stallion',
       "Alfa Romeo works' test driver",
       'Americanthoroughbred horse racing trainer', 'AIDS researcher',
       'Democratic politician', 'World War II USAF Flying ace',
       'World War II Luftwaffe Flying ace', 'composer',
       'Jewish survivor of the World War II',
       'sculptor and installation artist',
       'Chief of Staff of the IRA and the Official IRA', None,
       '15th Emperor King of the Ashanti people',
       'White House Press Secretary under President Lyndon B  Johnson',
       'MC', 'Chairman and CEO of Boeing corporation',
       'professional ice hockey defenseman',
       'Red Army officer during the Second World War',
       'professional wrestler from Yokohama',
       'professional ice hockey right winger', 'sports car racer',
       'Premier of Tasmania', 'Egyption pilot', 'professional footballer',
       'member of the Vanderbilt family', 'Jewish',
       'NASA mission director', 'managing editor of',
       "'AIDS activist and archivist",
       'Computer programmer and founder of DX Ball 2',
       'professor of Law and Dean of Harvard Law School',
       'third Yang di Pertuan Agong of Malaya', 'victim of child abuse',
       "first male 'talking' gorilla", 'first class cricketer',
       'fourth and last wife of Sir Sultan Muhammad Shah',
       'jurist and politician from Pennsylvania',
       'mother of Donald Trump', 'nun', 'The Cars bassist and singer',
       'labor leader and chairman of the Communist Party USA',
       'NASCAR driver', 'general authority LDS Church',
       'patriarch of The Staple Singers',
       'bass singer and bass guitarist for The Four Seasons',
       'grizzly bear', 'mustachioed', 'baseball player',
       'Motion picture executive', 'Thoroughbred racehorse',
       'professional basketball player', 'student', 'pro wrestler',
       'anti globalization demonstrator', 'member of the House of Saud',
       'known for eating a hamburger contaminated with E  coli O157:H7',
       'Prime Minister of the Faroe Islands and first female speaker of the House',
       'Puerto Ricanpainter  and art professor', 'biomedical engineer',
       'first President of Senegal; also a world renowned poet and writer',
       'bass guitarist for EMF', 'Japanses sumo wrestler',
       'Exodus vocalist', 'member of this body since its beginnings',
       'convicted spree killer', 'inventor of the Barbie doll',
       'last living triple crown winner on 25th anniversary of winning Kentucky Derby',
       'competitive figure skater as a teenager',
       'Royal Air Force officer during WWII',
       'assistant professor of sociology',
       'founding member of The Ramones', 'jazz drummer and vibraphonist',
       'author & syndicated newspaper columnist', '17th Duke of Norfolk',
       'publicist', 'computer scientist', 'wilderness photographer',
       'thoroughbred race horse', 'children musician',
       'linguist specialized in Romance languages',
       'designer of the Uzi submachine gun',
       'Prime Minister of Southern Rhodesia',
       'longest living survivor of the  fire of June 15',
       'Royal Marines officer and academic', 'board game designer',
       'aircraft designer and aviation pioneer',
       'professional wrestler known as', 'painter', 'convicted murderer',
       'former singer for The Clash', 'celebrity photographer',
       'Justice of the Rhode Island Supreme Court',
       'Governor General of the Bahamas', 'band member of T  Rex',
       'screenwriter and director', 'Anglican bishop and scholar',
       'Sister of Mercy and inspirational music teacher', 'politician',
       'former press secretary for Richard Nixon during the Watergate Scandal',
       'world boxing champion and hall of famer', 'actor',
       'the world first cloned mammal',
       'pioneer in the development of digital sound', 'computer pioneer',
       'revolutionary thinker and cartographer',
       'second rebbe of Jerusalem',
       'U boat commander in the Kriegsmarine during World War II',
       'guitarist and composer and best known for his work with Van Morrison',
       'World Health Organization doctor who discovered SARS',
       'Nazi official and senior commander of the SiPo and SD',
       'Shia cleric', 'member of House of Saud', 'philanthropist',
       'R&B musician songwriter', 'Congresswoman; women rights activist',
       'sports business pioneer',
       'Chief of Staff and Treasury Secretary during the Reagan administration',
       'Governor of South Carolina',
       'children book writer and illustrator',
       'Catholic bishop and social activist', 'widow of Henri',
       'conductor', 'Britain chief prosecutor at the Nuremberg Trials',
       'fourth head of the Rashtriya Swayamsevak Sangh',
       'American]] Jesuit priest',
       'member of the National Cowgirl Museum and Hall of Fame',
       'theologian and writer on Old Testament issues',
       'half sister of Venus and Serena Williams',
       'politician in Ontario', 'first female Lord Mayor of London',
       'Benedictine nun',
       'philanthropist; widow of McDonald founder Ray Kroc',
       'Greenpeace activist and co founder', '"Road Warrior Hawk"',
       '"Mother of the Modern Conservationist Movement"',
       'operatic tenor', 'Indiana Congressman  from 1983 to 1995',
       'Braziliam writer and journalist',
       'half of the singing duo the Righteous Brothers',
       'entrepreneur and co founder of Kleiner',
       'former head of Worldcom and UUNet',
       'orca of Reino Aventura and  fame',
       'country singer and songwriter', 'Three time mayor of Palm Beach',
       'Associate Director of the Lawrence Radiation Laboratory',
       'wife of Lieutenant General  Hal Moore',
       'Royal Air Force pilot and WWII flying ace',
       'son of Ernő Gottesmann and Paula Manoilovich', 'Bulgarianactor',
       'Gibraltarian politician', 'one of the heaviest men in Britain',
       'tortoise claimant for world oldest animal',
       'Luxembourgian Olympic swimmer', 'beautified catholic teenager',
       'Islamic Scholer and Politician', 'Library cat',
       'death from a fall off a bridge', 'american murder victim',
       'Son of Chris Benoit and Nancy Benoit',
       'Cook Islander Prime Minister of the Cook Islands',
       'St  Lucian Prime Minister',
       'Drummer for The Beau Brummels and Harpers Bizarre',
       'Student at E O  Green Junior High School',
       'Liechtensteinian head of government', 'Somalian islamist',
       'Luxembourgian Olympic athlete',
       'Cook Islands rugby league player', 'Standardbred colt',
       'Cook Islands politician and doctor',
       'Cook Islands public servant',
       'Liechtensteinian Olympic athlete and cross country skier',
       'Somalian journalist', 'Luxembourgian author',
       'Luxembourgian Olympic shooter', 'activist and politician', 'jazz',
       'Gibraltarian character actor', 'Luxembourgian Olympic cyclist',
       'Luxembourgian politician', 'Cook Islands politician',
       'Cook Islander tourism official and businesswoman',
       'graffiti writer and contributor to the hip hop movement',
       'Luxembourgian Olympic archer',
       'former Commonwealth featherweight boxing champion',
       'Luxembourgian princess', 'Gibraltarian businessman',
       'Jewish educator', 'Gibraltarian lawyer and politician',
       "gorilla who didn't see his kind for 27 years",
       'New Caledonian politician', 'Somalian poet',
       'Luxembourgian football player and manager', 'UAE politician',
       'Luxembourgian Olympic sprinter', 'Luxembourgian poet',
       'world longest domestic cat', 'Holocaust survivor',
       'Luxembourgian businessman and politician',
       'western lowland gorilla', 'walrus',
       'fairy tale narrator and politician', 'beagle',
       'Flat Coated Retriever show dog', 'Chilen Olympian [3]',
       'Luxembourgian race walker and coach',
       'Luxembourgian Olympic sprint canoer', 'Americane Marine officer',
       'Luxembourgian Olympic gymnast', 'freedom fighter',
       'Luxembourgian Olympic boxer',
       'Civil Rights Activist and Manager of Jazz musician Erroll Garner',
       'Luxembourgian writer', 'Britain heaviest man',
       'Western Saharan singer', 'footballer[7]', 'owner of Avalon Hill',
       'ornithologist and behavioral geneticist',
       'Luxembourgian mathematician', 'St  Kitts and Nevis politician',
       'Luxembourgian Olympic fencer', 'footballer[5]',
       'Luxembourgian footballer [13]', 'footballer[9]',
       'Holocaust survivor and artist', 'Luxembourgian footballer[3]',
       'Luxembourgian historian', 'footballer[2]',
       'Grand Mufti of Jammu and Kashmir', 'Gibraltarian playwright',
       "Afghani marja'", 'Singer Songwriter',
       'Luxembourgian painter and businessman', 'Luxembourgian sprinter',
       'Luxembourgian conductor and composer', 'Luxembourgian chemist',
       'Cook Island politician', 'Luxembourgian novelist and poet',
       'Somalian diplomat',
       'New Caledonian politician and pro independence activist'],
      dtype=object)

#### Hard-coding Additional Variations on Nationality

In [30]:
# Hard-coding remaining unique nationality/location descriptors
nation_map["Bahamas"] = nation_map["Bahamian"]
nation_map["Zaire"] = nation_map["Zairean"]
nation_map["Ciskei"] = "Africa"
nation_map["Metepenagiag Mi'kmaq"] = nation_map["Canadian"]
nation_map["Major League"] = nation_map["US"]
nation_map["Liverpool"] = nation_map["British"]
nation_map["Halifax"] = nation_map["Canadian"]
nation_map["CIA"] = nation_map["US"]
nation_map["Major Leagues"] = nation_map["US"]
nation_map["Levi Strauss & Co"] = nation_map["US"]
nation_map["Miami"] = nation_map["US"]
nation_map["Heaven Gate"] = nation_map["US"]
nation_map["Royal Navy"] = nation_map["British"]
nation_map["Luftwaffe"] = nation_map["German"]
nation_map["IRA"] = nation_map["Irish"]
nation_map["Ashanti"] = "Africa"
nation_map["White House"] = nation_map["US"]
nation_map["Boeing"] = nation_map["US"]
nation_map["Red Army"] = nation_map["Soviet"]
nation_map["Yokohama"] = nation_map["Japanese"]
nation_map["Tasmania"] = nation_map["Tasmanian"]
nation_map["Harvard"] = nation_map["US"]
nation_map["Malaya"] = nation_map["Malayan"]
nation_map["Pennsylvania"] = nation_map["US"]
nation_map["House of Saud"] = nation_map["Saudi"]
nation_map["Faroe Islands"] = nation_map["Faroese"]
nation_map["Kentucky"] = nation_map["US"]
nation_map["Norfolk"] = nation_map["British"]  # verified entry
nation_map["Rhodesia"] = nation_map["Rhodesian"]
nation_map["Royal Marines"] = nation_map["British"]
nation_map["Rhode Island"] = nation_map["US"]
nation_map["Jerusalem"] = nation_map["Israeli"]
nation_map["Kriegsmarine"] = nation_map["German"]
nation_map["Nazi"] = nation_map["German"]
nation_map["South Carolina"] = nation_map["US"]
nation_map["Rashtriya Swayamsevak Sangh"] = nation_map["Indian"]
nation_map["Ontario"] = nation_map["Canadian"]
nation_map["London"] = nation_map["British"]
nation_map["McDonalds"] = nation_map["US"]
nation_map["Kleiner"] = nation_map["US"]
nation_map["Worldcom"] = nation_map["US"]
nation_map["Reino Aventura"] = nation_map["Mexican"]
nation_map["Palm Beach"] = nation_map["US"]
nation_map["Lawrence Radiation Laboratory"] = nation_map["US"]
nation_map["Royal Air Force"] = nation_map["British"]
nation_map["Britain"] = nation_map["British"]
nation_map["american"] = nation_map["US"]
nation_map["St  Lucian"] = nation_map["St Lucian"]
nation_map["Cook Islands"] = "Oceania"
nation_map["E O  Green Junior High School"] = nation_map["US"]
nation_map["Cook Islander"] = "Oceania"
nation_map["western lowland"] = "Africa"
nation_map["Saharan"] = "Africa"
nation_map["St  Kitts and Nevis"] = nation_map["Kittian"]
nation_map["Jammu and Kashmir"] = "Indian subcontinent"
nation_map["Cook Island"] = "Oceania"
nation_map["New Caledonian"] = "Oceania"
nation_map["Luxembourgian"] = "Luxembourg"
nation_map["Iraniab"] = nation_map["Iranian"]
nation_map["Australiancabaret"] = nation_map["Australian"]
nation_map["Chileán"] = nation_map["Chilean"]
nation_map["Somalian"] = nation_map["Somali"]
nation_map["Americanthoroughbred"] = nation_map["US"]
nation_map["USAF"] = nation_map["US"]
nation_map["Egyption"] = nation_map["Egyptian"]
nation_map["USA"] = nation_map["US"]

In [31]:
nation_map["Egyptian"]

'Egypt'

#### Adding More Values to `other_species`

In [32]:
# Adding more species to other_species
other_species.append("gorilla")
other_species.append("orca")
other_species.append("mammal")
other_species.append("triple crown winner")

#### Re-checking `info_2` for `place_1` via Nationality or Country within Value after Updating `nation_map`

In [33]:
%%time

# Column to check
column = "info_2"

# Extract to column
extract_to = "place_1"

# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[(df[extract_to].isna()) & (df[column].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if nationality + ' ' in item or country + ' ' in item or item.endswith(nationality) or item.endswith(country):
            df.loc[index, extract_to] = country
            df.loc[index, column] = (
                df.loc[index, column].replace(nationality, "").strip().replace(country, '').strip()
            )

CPU times: total: 5.72 s
Wall time: 5.72 s

In [34]:
# Check a sample of rows
df[df[extract_to].notna()].sample(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
77020,15,Jorge de la Rúa,", 73, Argentine lawyer and politician.",https://en.wikipedia.org/wiki/Jorge_de_la_R%C3%BAa,2,2015,August,None,None,lawyer and politician,None,None,None,None,None,None,None,None,None,73.0,None,Argentina,NaN
107535,18,Claudine Auger,", 78, French actress .",https://en.wikipedia.org/wiki/Claudine_Auger,10,2019,December,"Miss France Monde, and model , 1958",None,actress,None,None,None,None,None,None,None,None,None,78.0,None,France,NaN

#### Checking Remaining Missing Values for `place_1`

In [35]:
# Checking number of remaining missing values for place_1
print(f'There are {df["place_1"].isna().sum()} remaining missing values for place_1.\n')

There are 224 remaining missing values for place_1.

#### Observations:
- There are just over 200 remaining missing values for `place_1`, which we do not expect to find in `info_2`.
- We can now move on to searching for `place_2` in `info_2`.

#### Checking `info_2` for `place_2`

In [36]:
%%time

# Column to check
column = "info_2"

# Extract to column
extract_to = "place_2"

# For loop to extract nation data to place column
for nationality, country in nation_map.items():
    dataframe = df[
    (df["place_1"].notna()) & (df[extract_to].isna()) & (df[column].notna())]
    for index in dataframe.index:
        item = df.loc[index, column]
        if item == nationality or item == country or item.startswith(nationality + ' ') or item.startswith(country + ' '):
            df.loc[index, extract_to] = country
            df.loc[index, column].replace(nationality, "").strip().replace(country, '').strip()

CPU times: total: 8min 1s
Wall time: 8min 1s

In [37]:
# Check a sample of rows
df[df[extract_to].notna()].sample(2)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
75045,20,Frederic Morton,", 90, Austrian-born American writer.",https://en.wikipedia.org/wiki/Frederic_Morton,3,2015,April,None,None,American writer,None,None,None,None,None,None,None,None,None,90.0,None,Austria,United States of America
21524,2,Heinz von Foerster,", 90, Austrian-American physicist and philosopher, one of the founders of constructivism.",https://en.wikipedia.org/wiki/Heinz_von_Foerster,14,2002,October,None,None,American physicist and philosopher,one of the founders of constructivism,None,None,None,None,None,None,None,None,90.0,None,Austria,United States of America

#### Checking Remaining Missing Values for `place_1` and Number of Entries with Values for `place_2`

In [38]:
# Checking number of remaining missing values for place_1
print(f'There are {df["place_1"].isna().sum()} remaining missing values for place_1.\n')
print(f'There are {df["place_2"].notna().sum()} entries with values for place_2.')

There are 224 remaining missing values for place_1.

There are 9202 entries with values for place_2.

#### Observations:
- We are finished searching `info_2` for place values and can move on to searching the other numbered `info` columns and `info_parenth` for these values.

#### Checking Other `info_` Columns  for Remaining `place_1` Values

In [39]:
%%time

# Columns to search
cols_lst = [
    'info_1',
    'info_3',
    'info_4',
    'info_5',
    'info_6',
    'info_7',
    'info_8',
    'info_9',
    'info_10',
    'info_11',
    'info_parenth'
]

# Extract to column
extract_to = "place_1"

# For loop to extract nation data to place column
for column in cols_lst:
    for nationality, country in nation_map.items():
        dataframe = df[(df[extract_to].isna()) & (df[column].notna())]
        for index in dataframe.index:
            item = df.loc[index, column]
            if item == nationality or item == country or item.startswith(nationality + ' ') or item.startswith(country + ' '):
                df.loc[index, extract_to] = country
                df.loc[index, column] = (
                    df.loc[index, column].replace(nationality, "").strip().replace(country, "").strip()
                )

CPU times: total: 27.2 s
Wall time: 27.2 s

#### Checking Remaining Missing Values for `place_1`

In [40]:
# Checking number of remaining missing values for place_1
print(f'There are {df["place_1"].isna().sum()} remaining missing values for place_1.\n')

There are 201 remaining missing values for place_1.

#### Observations:
- That iteration captured nearly 25 values.
- We will repeat it, but checking for values that are embedded.

#### Re-checking info_3 through info_11 and info_parenth for place_1 via Nationality or Country within Value

In [41]:
%%time

# Extract to column
extract_to = "place_1"

# For loop to extract nation data to place column
for column in cols_lst:
    for nationality, country in nation_map.items():
        dataframe = df[(df[extract_to].isna()) & (df[column].notna())]
        for index in dataframe.index:
            item = df.loc[index, column]
            if nationality + ' ' in item or country + ' ' in item or item.endswith(nationality) or item.endswith(country):
                df.loc[index, extract_to] = country
                df.loc[index, column] = (
                    df.loc[index, column].replace(nationality, "").strip().replace(country, '').strip()
                )

CPU times: total: 27.2 s
Wall time: 27.2 s

#### Checking Remaining Missing Values for `place_1`

In [42]:
# Checking number of remaining missing values for place_1
print(f'There are {df["place_1"].isna().sum()} remaining missing values for place_1.\n')

# Checking a sample of rows with missing place_1
df[df["place_1"].isna()].sample(2)

There are 190 remaining missing values for place_1.

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
59705,4,Stewie,", 7–8, world's longest domestic cat, cancer.",https://en.wikipedia.org/wiki/Stewie_(cat),6,2013,February,None,None,world longest domestic cat,cancer,None,None,None,None,None,None,None,None,7.5,None,NaN,NaN
21375,7,Uziel Gal,", 78, designer of the Uzi submachine gun.",https://en.wikipedia.org/wiki/Uziel_Gal,3,2002,September,None,None,designer of the Uzi submachine gun,None,None,None,None,None,None,None,None,None,78.0,None,NaN,NaN

#### Obervations:
- We have completed the search for `place_1` and the remaining values do appear to be lacking that data.
- The next step is to check these columns for any `place_2` values.

#### Checking `info_3` through `info_11` and `info_parenth` for Remaining `place_2` Values

In [43]:
%%time

# Columns to search
cols_lst = [
    'info_1',
    'info_3',
    'info_4',
    'info_5',
    'info_6',
    'info_7',
    'info_8',
    'info_9',
    'info_10',
    'info_11',
    'info_parenth'
]

# Extract to column
extract_to = "place_2"

# For loop to extract nation data to place column
for column in cols_lst:
    for nationality, country in nation_map.items():
        dataframe = df[(df['place_1'].notna()) & (df[extract_to].isna()) & (df[column].notna())]
        for index in dataframe.index:
            item = df.loc[index, column]
            if item==nationality or item==country or item.startswith(nationality+ ' ') or item.startswith(country + ' '):
                df.loc[index, extract_to] = country
                df.loc[index, column] = (
                    df.loc[index, column].replace(nationality, "").strip().replace(country, '').strip()
                )

CPU times: total: 7min 50s
Wall time: 7min 50s

#### Observations:
- We should likely stop our extraction of place values here, as searching for embedded `place_2` values is likely to generate erroneous values.
- For example, "English foremost expert on Poland" would result in Poland as a value for `place_2`.  We accepted this possibility for the 30 `place_1` values that were extracted from embedded nationality or country data, but we will not do that for `place_2`.
- Let us take a look at a sample of some entries with only `place_1` values, to confirm this decision.

#### Examining Sample of Rows with Only `place_1` Value

In [44]:
df[(df["place_1"].notna()) & df["place_2"].isna()].sample(20)

,day,name,info,link,num_references,year,month,info_parenth,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9,info_10,info_11,age,cause_of_death,place_1,place_2
35450,1,Frank Fletcher Hamilton,", 86, Canadian World War II pilot and politician.",https://en.wikipedia.org/wiki/Frank_Fletcher_Hamilton,3,2008,February,None,None,World War II pilot and politician,None,None,None,None,None,None,None,None,None,86.0,None,Canada,NaN
48996,2,Larry Finch,", 60, American basketball player and coach .",https://en.wikipedia.org/wiki/Larry_Finch,2,2011,April,Memphis Tigers,None,basketball player and coach,None,None,None,None,None,None,None,None,None,60.0,None,United States of America,NaN
117006,6,Soedardjat Nataatmadja,", 82, Indonesian politician, MP .",https://en.wikipedia.org/wiki/Soedardjat_Nataatmadja,37,2020,December,"1997 1999, vice governor of Irian Jaya 1989 1993 and regent of Bogor 1983 1988",None,politician,MP,None,None,None,None,None,None,None,None,82.0,None,Indonesia,NaN
124354,27,Jerry Pickard,", 80, Canadian politician, MP .",https://en.wikipedia.org/wiki/Jerry_Pickard,4,2021,July,1988 2006,None,politician,MP,None,None,None,None,None,None,None,None,80.0,None,Canada,NaN
27126,17,Sir Jeremy Blacker,", 65, British army general.",https://en.wikipedia.org/wiki/Jeremy_Blacker,3,2005,March,None,None,army general,None,None,None,None,None,None,None,None,None,65.0,None,United Kingdom of Great Britain and Northern Ireland,NaN
5790,26,Elmer Ward,", 83, American gridiron football player.",https://en.wikipedia.org/wiki/Elmer_Ward,3,1996,March,None,None,gridiron football player,None,None,None,None,None,None,None,None,None,83.0,None,United States of America,NaN
4586,18,Tommy Lyttle,", 56, Irish Ulster loyalist and paramilitary, heart attack.",https://en.wikipedia.org/wiki/Tommy_Lyttle,26,1995,October,None,None,Ulster loyalist and paramilitary,heart attack,None,None,None,None,None,None,None,None,56.0,None,Ireland,NaN
22093,25,Gabriel Almond,", 91, American political scientist.",https://en.wikipedia.org/wiki/Gabriel_Almond,12,2002,December,None,None,political scientist,None,None,None,None,None,None,None,None,None,91.0,None,United States of America,NaN
26975,25,Edward Patten,", 66, American soul singer, member of Gladys Knight & The Pips.",https://en.wikipedia.org/wiki/Edward_Patten,4,2005,February,None,None,soul singer,member of Gladys Knight & The Pips,None,None,None,None,None,None,None,None,66.0,None,United States of America,NaN
2691,13,Li Zhisui,", 75, Chinese physician and confidante of Mao Zedong.",https://en.wikipedia.org/wiki/Li_Zhisui,1,1995,February,None,None,physician and confidante of Mao Zedong,None,None,None,None,None,None,None,None,None,75.0,None,"China, People's Republic of",NaN
90834,28,Jack Geddes,", 92, Canadian curler.",https://en.wikipedia.org/wiki/Jack_Geddes_(curler),2,2017,August,None,None,curler,None,None,None,None,None,None,None,None,None,92.0,None,Canada,NaN
86835,28,Stuart Timmons,", 60, American gay historian and activist, cardiac arrest.",https://en.wikipedia.org/wiki/Stuart_Timmons,15,2017,January,None,None,gay historian and activist,cardiac arrest,None,None,None,None,None,None,None,None,60.0,None,United States of America,NaN
77827,2,Serhiy Krulykovskyi,", 69, Ukrainian footballer .",https://en.wikipedia.org/wiki/Serhiy_Krulykovskyi,2,2015,October,Dynamo Kyiv,None,footballer,None,None,None,None,None,None,None,None,None,69.0,None,Ukraine,NaN
52767,11,Mario Maranzana,", 82, Italian actor and voice actor.",https://en.wikipedia.org/wiki/Mario_Maranzana,2,2012,January,None,None,actor and voice actor,None,None,None,None,None,None,None,None,None,82.0,None,Italy,NaN
60329,7,John J. Byrne,", 81, American insurance executive, Chairman of White Mountains Insurance Group , cancer.",https://en.wikipedia.org/wiki/John_J._Byrne,10,2013,March,"GEICO, Overstock com",None,insurance executive,Chairman of White Mountains Insurance Group,cancer,None,None,None,None,None,None,None,81.0,None,United States of America,NaN
92116,9,Chuck Mosley,", 57, American singer , drug overdose.",https://en.wikipedia.org/wiki/Chuck_Mosley,28,2017,November,"Faith No More, Bad Brains and songwriter ""We Care a Lot""",None,singer,drug overdose,None,None,None,None,None,None,None,None,57.0,None,United States of America,NaN
123684,3,Nigel Brouwers,", 44, South African cricketer .",https://en.wikipedia.org/wiki/Nigel_Brouwers,8,2021,July,"Eastern Province, Northerns, South Western Districts",None,cricketer,None,None,None,None,None,None,None,None,None,44.0,None,South Africa,NaN
45624,3,Michael Keith Smith,", 56/7, British politician.",https://en.wikipedia.org/wiki/Michael_Keith_Smith,14,2010,July,None,None,politician,None,None,None,None,None,None,None,None,None,56.5,None,United Kingdom of Great Britain and Northern Ireland,NaN
58363,4,Jack Brooks,", 89, American politician, member of US House of Representatives .",https://en.wikipedia.org/wiki/Jack_Brooks_(American_politician),20,2012,December,1953 1995 and Texas House of Representatives 1949 1953,None,politician,member of US House of Representatives,None,None,None,None,None,None,None,None,89.0,None,United States of America,NaN
56656,26,Russ Alben,", 82, American advertising executive.",https://en.wikipedia.org/wiki/Russ_Alben,4,2012,August,None,None,advertising executive,None,None,None,None,None,None,None,None,None,82.0,None,United States of America,NaN

#### Observations:
- The sample validates the decision to not look for `place_2` values that aren't at the beginning of the column's string value.

#### Final Counts of Missing Values for `place_1` and Number of Entries with Values for `place_2`

In [45]:
# Checking number of remaining missing values for place_1
print(f'There are {df["place_1"].isna().sum()} remaining missing values for place_1.\n')
print(f'There are {df["place_2"].notna().sum()} entries with values for place_2.')

There are 190 remaining missing values for place_1.

There are 11251 entries with values for place_2.

#### Observations:
- We are finished with extracting the place values.
- It's time to save our dataframe and start a new notebook before extracting `known_role` and `cause_of_death` values.
- Exporting `other_species` and `nation_map` is also a good idea, at this time.

## Exporting Dataset to SQLite Database [wp_life_expect_clean3.db](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_clean3.db)

In [46]:
# Saving complete raw dataset in a SQLite database
conn = sql.connect("wp_life_expect_clean3.db")
df.to_sql("wp_life_expect_clean3", conn, index=False)

132652

## Saving nation_map to a Pickle File [nation_map.pkl](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/nation_map.pkl)

In [47]:
# Create a binary pickle file
f = open("nation_map.pkl", "wb")

# Write the dictionary to pickle file
pickle.dump(nation_map, f)

# close file
f.close()

## Exporting other_species List to [other_species.csv](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/other_species.csv)

In [48]:
# Convert other_species list to dataframe and save to csv -- overwriting existing csv file
other_species_df = pd.DataFrame({"species": other_species})
other_species_df.to_csv("other_species.csv", index=False)

# Chime notification when cell successfully executes
chime.success()

# [Proceed to Notebook 5 of : Data Cleaning Part 4](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean4_thanak_2022_06_23.ipynb)