# Wikipedia Notable Life Expectancies

# [Notebook 2 of 4: Data Cleaning](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean_thanak_2022_06_13.ipynb)

## Context

The


## Objective

The

### Data Dictionary

- Feature: Description

## Importing Necessary Libraries

In [1]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To help with reading and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress scientific notations for a dataframe
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

## Data Overview

### Reading, Sampling, and Checking Data Shape

In [2]:
# Reading the wp_life_expect_raw_complete dataset
conn = sql.connect("wp_life_expect_raw_complete.db")
data = pd.read_sql("SELECT * FROM wp_life_expect_raw_complete", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 133900 rows and 6 columns.

,month_year,day,name,info,link,num_references
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12

In [3]:
# Checking last 2 rows of the data
df.tail(2)

,month_year,day,name,info,link,num_references
133898,June 2022,9,Oleg Moliboga,", 69, Russian volleyball player, Olympic champion (1980) and coach.",https://en.wikipedia.org/wiki/Oleg_Moliboga,2
133899,June 2022,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3

In [4]:
# Checking a sample of the data
df.sample(5)

,month_year,day,name,info,link,num_references
86808,December 2016,19,William H. Hudnut III,", 84, American politician, Member of the United States House of Representatives from Indiana's 11th congressional district (1973–1975), Mayor of I...",https://en.wikipedia.org/wiki/William_H._Hudnut_III,34
37994,August 2008,15,James Orthwein,", 84, American businessman, cancer.",https://en.wikipedia.org/wiki/James_Orthwein,6
35186,November 2007,21,Tom Johnson,", 79, Canadian Hall of Fame hockey player, heart failure.",https://en.wikipedia.org/wiki/Tom_Johnson_(ice_hockey),2
99427,September 2018,28,Joe Masteroff,", 98, American playwright (Tony, 1967), winner ().",https://en.wikipedia.org/wiki/Joe_Masteroff,14
130498,January 2022,22,Katuutire Kaura,", 80, Namibian politician, MP (1990–2015).",https://en.wikipedia.org/wiki/Katuutire_Kaura,12

#### Observations:
- There are 133,900 rows and 6 columns.
- `month_year` contains the month and year of death, while `day` contains the day of the month of death.
- `name` is the notable person's name.  It is a nominal feature that will not be used for analysis, but will be maintained for any referencing needs.
- `info` contains multiple items including the notable person's "age, country of citizenship at birth, subsequent country of citizenship (if applicable), reason for notability, (and) cause of death (if known)."
- `link` is the url to the notable person's individual Wikipedia page.  If such a page does not exist, there is either a non-working link (https://en.wikipedia.orgNone), or the link is to a page with a message that the page does not exist for that individual.  `link` is a unique identifier for all entries, except the 6 with the non-working link, which do have unique `name` values from each other.
- `num_references` contains the number of references on the notable person's individual Wikipedia page.  This feature serves as a proxy measure of notability.
- Prior to EDA, our task will be to extract the individual elements that are comined in `month_year` and `info` columns.

### Checking Data Types, Duplicates, and Null Values

In [5]:
# Checking data types and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133894 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

In [6]:
# Checking duplicate rows
df.duplicated().sum()

0

In [7]:
# Check percentage of null values by column
df.isnull().sum() / df.count() * 100

month_year       0.000
day              0.000
name             0.004
info             0.000
link             0.000
num_references   0.000
dtype: float64

In [8]:
# Checking number of missing values per row (not necessary here, but done to keep process standard)
df.isnull().sum(axis=1).value_counts()

0    133894
1         6
dtype: int64

#### Observations:
- Our dataset was saved to and read from the database without any hiccups.
- As expected, we have 6 entries that are missing `name`, but we will find it in their `info` values.
- All columns are currently of object type.  We will need to appropriately typecast them after separating the information in `month_year` and `info`.

## Data Cleaning

### Addressing Missing `name` Values

In [9]:
# Checking rows with missing name values
missing_name = df[df["name"].isna()]
missing_name

,month_year,day,name,info,link,num_references
18937,August 2001,11,None,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7.",https://en.wikipedia.orgNone,0
24985,January 2004,22,None,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
27458,March 2005,1,None,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
34077,July 2007,11,None,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
64769,September 2013,29,None,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
106613,September 2019,12,None,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0

#### Observations:
- These rows vary from the main set as there is a substring containing the person's name at the start of the `info` string.
- As there are so few rows missing `name`, let us address this issue first.

In [10]:
# For loop to copy name value from info column
treat_rows = missing_name.index
for i in treat_rows:
    info = df.loc[i, "info"]
    info_lst = info.split(sep=",", maxsplit=1)
    df.loc[i, "name"] = info_lst[0]

# Re-check rows
df.loc[treat_rows, :]

,month_year,day,name,info,link,num_references
18937,August 2001,11,Kevin Kowalcyk,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7.",https://en.wikipedia.orgNone,0
24985,January 2004,22,Vincent Palmer,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
27458,March 2005,1,Barry Stigler,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
34077,July 2007,11,Nana Gualdi,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
64769,September 2013,29,Scott Workman,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
106613,September 2019,12,Thami Shobede,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0

#### Observations:
- Missing `name` values have been addressed.
- The names still appear in the `info` value for these rows, but we can address that as we separate the information in that column.

In [11]:
# Re-check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133900 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

#### Observations:
- We have no remaining missing values.
- Let us treat the `month_year` column next.

### Separating `month` and `year`

In [12]:
# Separating month and year into 2 columns and typecasting year as integer
df.loc[:, "year"] = df["month_year"].apply(lambda x: x.split(sep=" ")[1])
df["year"] = df["year"].astype("int64")

df.loc[:, "month"] = df["month_year"].apply(lambda x: x.split(sep=" ")[0])
df.head(2)

,month_year,day,name,info,link,num_references,year,month
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21,1994,January
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12,1994,January

In [13]:
# Dropping month_year column
df.drop("month_year", axis=1, inplace=True)

### Treating `info`

#### Checking a Sample

In [52]:
# Checking a sample of info
df.sample(5)

,day,name,info,link,num_references,year,month
73068,3,Hubert Egger,"87, German cross country skier",https://en.wikipedia.org/wiki/Hubert_Egger,0,2014,December
62151,3,Cedric Brooks,"70, Jamaican musician (The Skatalites), cardiac arrest",https://en.wikipedia.org/wiki/Cedric_Brooks,5,2013,May
83550,16,Candy Ruff,"65, American politician, member of the Kansas House of Representatives (1993–2009)",https://en.wikipedia.org/wiki/Candy_Ruff,1,2016,June
59922,12,Jean Krier,"64, Luxembourgian poet",https://en.wikipedia.org/wiki/Jean_Krier,4,2013,January
81319,21,Ivan M. Matheson,"89, American politician",https://en.wikipedia.org/wiki/Ivan_M._Matheson,5,2016,February

#### Observations:
- We have leading and trailing characters of comma, period, and white space that can be removed.

#### Removing Leading and Trailing Commas, Whitespace, and Periods

In [53]:
# Removing the leading/trailing commas, periods, and whitespace
df.loc[:, "info"] = df["info"].apply(lambda x: x.strip(" ,."))
df.sample(5)

,day,name,info,link,num_references,year,month
54635,17,Matt Conte,"85, American football player and coach",https://en.wikipedia.org/wiki/Matt_Conte,2,2012,March
68707,20,Yoshio Shinozuka,"90, Japanese Imperial Army soldier (Unit 731)",https://en.wikipedia.org/wiki/Yoshio_Shinozuka,2,2014,April
116452,1,Derek Mahon,"78, Irish poet",https://en.wikipedia.org/wiki/Derek_Mahon,12,2020,October
35479,23,Ruth Wallis,"87, American singer-songwriter, complications of Alzheimer's disease",https://en.wikipedia.org/wiki/Ruth_Wallis,0,2007,December
45019,5,Lothar Engelhardt,"70, German military scientist",https://en.wikipedia.org/wiki/Lothar_Engelhardt,1,2010,April

#### Checking the Set of First Substrings (Before First Comma)

In [80]:
# Checking values in the first substring of info (before the first comma)
age_set = set(df["info"].apply(lambda x: x.split(sep=",", maxsplit=1)[0]))
age_set

{'3-months',
 'Mexican journalist',
 '11',
 'British peer and military officer',
 'Tunisian politician and judge',
 'Iranian Islamic scholar',
 'Sri Lanka Army officer',
 'Norwegian architect',
 '48',
 'Syrian politician and literary personality',
 'American poet and Mormon hymnwriter',
 'Sarah-Jayne Mulvihill',
 'Cambodian-born Theravada monk and teacher',
 'Guinea-Bissauan politician',
 'Indian novelist',
 'Israeli Haredi rabbi and orator',
 'Provisional Irish Republican Army volunteer',
 'Spanish writer',
 'Ethiopian Chief of Security and Immigration',
 '32',
 'Japanese composer (',
 'Emirati royal',
 '89–90',
 'British-born Italian musician and musicologist',
 'Togolese lawyer and guitarist (Orchestra Baobab)',
 'Abkhaz politician',
 'Canadian journalist',
 '85/86',
 '81. English sports journalist',
 'Brazilian draughts player',
 'Canadian gangster and drug trader',
 '100',
 'French doctor and drug test pioneer',
 '(岡本喜八)',
 '81-82',
 'Nigerian film producer and director',
 'Ivorian traditional musician',
 'Chinese Navy rear admiral',
 'American Samoan judge and politician',
 'Welsh television actor',
 'Slovene writer',
 '117',
 'Irish Gaelic footballer (Mayo)',
 '54-55',
 'Zambian politician',
 '110',
 'Fijian politician and chief',
 'Egyptian terrorist (al-Qaeda)',
 'Pakistani theoretical physicist',
 'Indian engineer',
 '92/93',
 'French ecologist and green politician',
 'Australian Liberal politician',
 'American writer and psychotherapist',
 'Gambian diplomat',
 'Indian author',
 '45-46',
 'Scottish mathematician and astronomer',
 'Iranian Army officer and Minister of Defense',
 'Russian jurist',
 'Indian-American novelist and academic',
 'French singer',
 'Russian official',
 'Papua New Guinean politician',
 'Spanish journalist and trade unionist',
 'Ghanaian royal',
 'Ecuadorian stray dog',
 'American visual artist',
 'American musician',
 '34-35',
 'Australian rugby player and coach',
 '95',
 'Fijian politician',
 'Syrian politician and Prime Minister',
 'Iranian mountaineer',
 'Israeli sculptor',
 'black rhinoceros',
 'Afghan Taliban leader',
 'Somali Higher Education Minister',
 'Irish road racing cyclist',
 'Anishinaabe First Nations activist and scholar',
 'Indian painter',
 'Egyptian physician',
 'Iraqi former governor of Al Anbar',
 'English actor and nobleman',
 '78-79',
 'Ghanaian politician and king',
 'South Sudanese politician and diplomat',
 'Fijian hotelier and politician',
 '72-73',
 'New Caledonian football manager',
 'American bassist (Choking Victim',
 'Notable ice hockey players and coaches among the 44 killed in the :\n',
 'Qatari politician',
 'Welsh politician',
 'American Samoan Attorney General',
 'American college basketball coach (Oklahoma',
 'American lyricist and voice actor. (death announced on this date)',
 '16',
 'Japanese anime director (',
 'Iraqi journalist',
 'Mexican criminal (Beltrán-Leyva Cartel)',
 '92',
 '40',
 '38/39',
 '18 (in 2005)',
 'American journalists killed as a result of the :\n',
 'Iraqi cartoonist and political activist',
 'Turkish politician',
 '12',
 'Nigerian Islamic militant',
 'Guinean socialite',
 'Lebanese spy',
 'Libyan politician',
 'Singapore-British actress',
 'South African businessman',
 'American jazz and rhythm musician',
 'Iraqi engineer and politician',
 '24–26',
 'Bissau-Guinean soldier and rebel',
 '48–49',
 'South African philatelist',
 'Notable Indonesians killed in the :\n',
 '38-39',
 'c. 59',
 '56',
 'Australian actor',
 'German Olympic gymnast (1952)',
 'American chemist',
 'Nigerian army officer and politician',
 '(né Armand Pierre Fernandez)',
 'Afghan-American policy advisor',
 '61–62',
 'Palestinian freelance cameraman',
 'Costa Rican footballer',
 'Somali royal',
 'American ceramic artist',
 '(aka Casey Adams)',
 '73. Scottish broadcaster and writer',
 'Saudi prince and convicted murderer',
 'Scottish botanist and agriculturist',
 '46/47',
 'Canadian television producer (',
 '(East) German politician and political prisoner',
 'professional wrestler',
 'Perpetrators of the  shot dead by police:\n',
 'Indian politician',
 'Bangladeshi folk singer',
 'Nearly 3',
 'Nigerian physicist',
 'Jordanian Hamas member',
 '94-95',
 'American lawyer and business executive',
 'French Jew kidnapped and murdered by a gang from a banlieue. Possibly anti-Semitic murder',
 'Afghan governor of Logar Province',
 '82–83',
 'El Salvadoran baseball player',
 '95 American basketball player (Waterloo Hawks)',
 'American politician',
 '114',
 '83',
 'Scottish speech therapist and a pioneer of child drama',
 'British bioarchaeologist. (death announced on this date)',
 'Italian fashion designer',
 'British conservationist',
 'Saudi Arabian footballer',
 'Indian zoologist',
 'American suspect regarding the murders of Chaney',
 'North Korean head of the Unhasu Orchestra',
 'Nigerian international footballer',
 'c. 102',
 'Nigerian royal',
 'Nova Scotia playwright and film critic',
 'Australian rugby player',
 'Somali Health Minister',
 'French actress and writer',
 'c. 69',
 '71',
 'Ethiopian army officer',
 'Turkish political prisoner',
 '28',
 'Taiwanese politician',
 'Indian sports administrator',
 'Spanish general commander of Ceuta (Perejil Island crisis)',
 'Malian translator and author',
 'English cricketer',
 'Indian diplomat',
 'Sudanese politician',
 'Pakistani general',
 '134?',
 'Moroccan long-distance runner',
 'Irish dance instructor',
 'Pakistani war prisoner',
 '23',
 'Indian theatre director and playwright',
 'German mass murderer',
 'Somalian terrorist',
 'Iranian Army general',
 'Nigerian football manager (Lobi Stars)',
 'Chechen Islamist',
 '46-47',
 'Afghanistan mujahideen during the Soviet–Afghan War',
 'Irish academic and politician',
 'Indian communist',
 '73-74',
 'Polish historian',
 'Burkinabe actor (',
 '(Jeff Brown)',
 '44–45',
 'Indian artist',
 'British snooker player',
 'Afghani politician and one of the founders of the Taliban',
 'Trinidad and Tobago-born American author',
 'common chimpanzee 55',
 'Nepalese politician',
 'Sir Premier',
 'American scientist',
 'Vietnamese politician',
 '73–74',
 'Gambian politician',
 'American punk rock producer',
 'Vietnamese songwriter',
 'Uruguayan footballer',
 '59',
 'American ethnographer',
 'Hong Kong comics artist',
 'American audio engineer',
 'Yemeni general',
 'American lawyer and politician',
 '18',
 '51-52',
 '97–98',
 '75-76',
 'Vanuatuan politician',
 'Sri Lankan cricket commentator',
 'Spanish film director',
 'Turkish orchestra conductor',
 'American home care worker and labor organizer',
 'Japanese pilot and warrant officer during World War II',
 'Irish Gaelic football and hurling coach (Cork)',
 '37',
 '73/4',
 'c.79',
 'Greek LGBT rights activist',
 'Paraguayan doctor and politician',
 'Venezuelan television actor and comedian',
 'c. 30',
 'Iraqi governor of Baghdad province',
 '74–75',
 'Indian freedom fighter and politician',
 'Australian doctor',
 'Bangladeshi lawyer',
 'British electronic music producer',
 'Zimbabwean military officer',
 'Sri Lankan pilot',
 'Somali leader of Al-Shabab insurgent group',
 '255 (approximate age)',
 '97',
 'Chinese writer',
 '60/61',
 'Georgian writer',
 'Swazi politician',
 '1',
 '70',
 'American Jesuit priest and Classical scholar',
 'American television correspondent and bureau chief (CNN)',
 'c. 5',
 'French film editor (',
 'c. 53',
 'Syrian Arab intellectual',
 'Northern Irish loyalist',
 'Malagasy military officer and convicted coupist',
 '(aka S. Bar David)',
 'c. 2',
 'French-born American writer',
 'Indian cricket umpire',
 'German biochemist',
 'Victims of the \n',
 'French writer and editor',
 'Nepali actress',
 'Indian lawyer and politician',
 'Japanese convicted murderers from the  cult',
 'Tunisian artist',
 'American bass guitarist',
 'Namibian politician',
 '125',
 'Mexican crime journalist',
 'British businessman and philanthropist',
 'Cook Islands broadcaster and radio talk show host ()',
 '83-84',
 '52/53',
 'Turkestani Islamic extremist group leader',
 'British principal private secretary to successive Prime Ministers',
 '(Bruno the Bear)',
 'VC',
 '60–63',
 'Bangladesh Army officer',
 'South Sudanese Episcopal prelate',
 '176',
 'c. 92',
 'British author',
 'Iranian feminist activist. (Farsi)',
 '47/48',
 'Sir Woolwich West',
 'American whitewater kayaker',
 '94 or 95',
 '43–44',
 'Notable victims killed in the Yerevan in Armenia',
 '39',
 'Basque-American writer',
 'American stage manager',
 '96-97',
 'Afghan general and politician',
 "Iraqi Al-Qaeda's second-in-command in Iraq",
 'Somali military officer',
 'Haitian Army colonel',
 'American medical illustrator',
 'South African footballer',
 'New Zealand rugby league player (Auckland',
 '93/4',
 'Filipino publisher and editor',
 'c. 72',
 'Yemeni soldier. (death announced on this date)',
 'Czech artist',
 'South African politician',
 'Dominican physician and politician',
 '57-58',
 '84-85',
 'Australian Paralympic swimmer',
 '79–80',
 'American bongo player',
 '45–46',
 '66/67',
 'American ethnomusicologist',
 'Notable Laotian people killed in the :\n',
 'c. 83',
 'Isle of Man jurist',
 'Sierra Leonean politician and military officer',
 'American physical chemist',
 'Notable Brazilians who died in the :\n',
 '122 (disputed)',
 '104',
 'Indian actor () and screenwriter (',
 '111',
 '50s',
 'Ghanaian football executive',
 'Burundian politician and Prime Minister',
 '41',
 'German footballer and manager',
 '28–29',
 'Afghan politician',
 '89/90',
 '21',
 '43/4',
 '93-94',
 "Indo-Trinidadian/Afro-Trinidadian social worker and women's rights activist",
 '56-57',
 'British aid worker',
 '93–94',
 'South African royal and politician',
 'Pakistani journalist and reporter',
 'Mountaineers killed in the  avalanche:',
 "O'Conor Don",
 'Australian guitarist (The Death Set)',
 '60s',
 'Ghanaian actor',
 'Pakistani politician and columnist',
 'Somali politician and poet',
 'British film art director (',
 '6',
 '74 or 75',
 'Iraqi deputy governor of Baghdad',
 'Burundian anti-corruption activist (OLUCOME)',
 'Pakistani painter',
 'Iranian government official',
 'Bangladeshi actress',
 'Ethiopian politician',
 'Indonesian anthropologist',
 'Sri Lankan lawyer',
 '78',
 '72',
 'Russian historian and journalist',
 '(Youree Dell Harris)',
 'Filipino comics artist',
 'British Channel Islander politician',
 'Malian actor and comedian',
 'South Sudanese military officer',
 '17',
 'Notable Russian people killed in the :\n',
 'American intelligence officer',
 '70-71',
 'American venture capitalist',
 'Scottish footballer',
 'Kenyan football coach (Muhoroni Youth F.C.)',
 'c. 4',
 'c. 3500',
 '42–43',
 'Luxembourgian Olympic road cyclist (1952)',
 'American professor',
 '63',
 'French communist activist',
 'Army of the Republic of Vietnam officer',
 '109',
 "American military veterans' rights lawyer",
 'Sri Lankan military officer',
 '82/3',
 '81–82',
 'French actress',
 'Saudi prince as member of the House of Saud',
 'Mexican politician',
 'Pakistani political journalist',
 'Russian politician with the Yabloko party',
 'Philippine Army trooper and  posthumous recipient of the Medal of Valor',
 'victims:\n',
 '35',
 '(née Eva Narcissus Boyd)',
 'Journalists killed in the \n',
 'Scottish footballer (Berwick Rangers)',
 'British RAF officer',
 '91 Chilean artist',
 'American news host and journalist (CNN',
 'South Korean serial killer',
 '59-60',
 'Afghani politician and diplomat',
 'Kuwaiti journalist and author',
 '51–52',
 'Somali-born Canadian peace and human rights activist',
 'Pakistani Taliban leader (Bajaur Agency)',
 'Papua New Guinean lawyer and Chief Ombudsman (2008–2012)',
 'Pakistani actor',
 'Kenyan politician',
 'American game designer ()',
 'South African baboon',
 'Sierra Leonean judge',
 '96',
 'Irish scientist',
 '87–88',
 'Zambian football player and coach',
 '54/5',
 '98',
 'British crystallographer',
 '58/59',
 '61-62',
 'Argentine swimmer',
 '51',
 'Venezuelan archaeologist',
 'Sir Edinburgh University',
 'Mexican short story writer and essayist',
 'Greek serial killer',
 '56–57',
 'Ghanaian diplomat',
 'Philippine Marine Corps marine and posthumous recipient of the Medal of Valor',
 'Japanese football player and manager',
 'Australian singer-songwriter',
 '57',
 'c. 73',
 '85–86',
 '56/7',
 'Indian actress',
 'Puerto Rican-American civil right activist',
 '65-66',
 'Syrian general',
 'c. 76',
 'French archaeologist',
 '5',
 'Central African health minister',
 '93',
 'Indian Sufi saint',
 'c. 70',
 'Ghanaian musician (Buk Bak)',
 'Pakistani al-Qaeda member',
 '71-72',
 '91',
 '79',
 "Ugandan commander in the Lord's Resistance Army",
 'Rwandan actor (',
 '115',
 'Papua New Guinean actor',
 'American military officer',
 'Afghan military officer',
 '100 or 101',
 '49',
 'Notable people who died in the :\n',
 'Australian judge',
 '82/83',
 'Bissau-Guinean Navy Chief of Staff',
 '(Quintin Hogg)',
 'Indian actor (',
 'Egyptian pediatrician and immunologist',
 'Pakistan Army Lieutenant-Colonel',
 'Dutch musician and singer',
 'Portuguese-born American computer scientist. (death announced on this date)',
 'American radio newscaster and actor',
 'British actor',
 'Pakistani Al-Qaeda militant',
 'Honduran journalist',
 'Pakistani botanist',
 'Indian film director',
 'French anthropologist',
 'Indian film director and screenwriter',
 '7-8',
 'American actor',
 'Sri Lankan police officer and singer',
 'Iraqi al Qaeda emir of Salahuddin Province and Golden Dome bomber',
 'Japanese victims of the :\n',
 'American house music publisher',
 'American archaeologist',
 '(Nariman Sadeq)',
 'Uruguayan lawyer and judge',
 'Pakistani Kashmiri politician',
 '94/95',
 'American physician',
 'Swazi opposition leader',
 '74-75',
 'American actor and casting director',
 '54–55',
 '37–38',
 'Somali politician and military officer',
 'American cosmetologist',
 '(Karol Wojtyła)',
 '22',
 'Irish Gaelic footballer (Laois',
 'Turkish school teacher and politician',
 'Irish businessman and politician',
 'North Korean politician',
 'Sri Lankan lawyer and activist',
 'Kenyan basketball player',
 '80. New Zealand Maori leader',
 'Mauritanian diplomat and politician',
 '36',
 'early 40s',
 '80s',
 'Somali Education Minister',
 '68-69',
 'Iraqi general of the Republican Guard',
 'Indian actor and producer',
 'Indian lyricist ("Dola Re Dola")',
 'American electrical engineer and inventor',
 'c. 65',
 'Senegalese football player and manager (national team',
 'Australian rugby league player (Eastern Suburbs)',
 'British engineer',
 'Indonesian Muslim cleric and preacher',
 '78/79',
 '(aka Gol-Agha)',
 'Portuguese organometallic chemist',
 'Saint Lucian politician',
 'British astrophysicist',
 'Sir Winchester',
 '1997',
 'Australian professor',
 '15',
 'American historian',
 '26',
 '3',
 '(aka Louis Masterson)',
 'Bangladeshi military officer and convicted murderer (Jail Killing)',
 'Ethiopian evangelist',
 'Pakistan Army officer',
 'Moroccan Muay Thai kickboxer',
 'Australian businessman',
 'Cambodian labor leader',
 'Jr.',
 "Pakistani feminist scholar and women's rights activist",
 'Moroccan surgeon and professor',
 '(aka Karen Bach)',
 'American mural artist',
 'Pakistani civil servant',
 'Iranian translator and journalist',
 'English  football player and manager',
 'Syrian playwright',
 'Afghan politician and businessman',
 'Irish writer and academic',
 'American psychoanalyst',
 'American businessman and politician',
 'Soldiers killed in the :\n',
 '55-56',
 'Chinese Islamist militant',
 'Yemeni al-Qaeda terrorist',
 'Notable people that died in the crash of :\n',
 'Algerian handball player and coach (NA Hussein Dey',
 'Indian activist',
 'Sino-Burmese scholar',
 'Iraqi attorney in the continuing Trial of Saddam Hussein',
 '28-29',
 'Chechen warlord and vice president of the Chechen Republic of Ichkeria',
 '7–8',
 '53-54',
 'Indian architect',
 'Solomon Islands Cabinet Minister',
 'Pakistani singer',
 '34',
 'American singer',
 'Albanian architect',
 'Kame-Yu Employee',
 'Tunesian terrorist',
 'American banjo player',
 'Tunisian actor and screenwriter',
 '(aka "Earthquake")',
 'American college football coach (Texas Christian University',
 'Douglas Scott',
 'Montenegrin Serb World War II Partisan and Chetnik',
 '34–35',
 'American nuclear physicist',
 '44/45',
 'Iranian Armenian actress',
 'Sir ',
 'Pakistani militant',
 'American cartoonist',
 'American technology chief executive',
 'Taiwanese failed assassin in the 3-19 shooting incident',
 'Filipino politician',
 'Greek politician',
 'American publisher',
 '9',
 'Northern Irish football administrator',
 'Austrian-born British town planner and architect',
 'American theatre director and producer',
 'Mexican police commander',
 'Mexican archeologist',
 'South African anti-corruption whistleblower',
 'Burundian politician',
 '66',
 'Ugandan politician',
 'c. 43',
 '11+',
 "Iraqi defense lawyer in Saddam Hussein's trial",
 '101',
 'Sudanese journalist and politician',
 'Somali public servant',
 'c. 62',
 'Indian comic actor',
 '30s',
 'Malian militant and jihadist',
 '61',
 'Haitian painter',
 'British record producer. (death announced on this date)',
 'American sculptor and writer',
 'Kenyan Permanent Secretary',
 'Indian Islamist terrorist',
 'c.64',
 'Russian Colonel',
 'Canadian suffragan bishop',
 'Libyan Al-Qaeda paramilitary trainer accused of terrorism',
 '66–67',
 'Colombian architect',
 '82',
 'American knifemaker',
 '85',
 'Egyptian-born American pathologist',
 'Chinese martial artist',
 'American Roman Catholic perelate',
 '45',
 'Argentinian actor',
 '82 German Olympic wrestler',
 '63. American gridiron football player',
 'Indian Tamil film actor',
 '62',
 '126?',
 'Malawian diplomat involved in leaked diplomatic cable controversy',
 'Indian film actor (',
 'American sport shooter',
 'Punjabi-American rap artist',
 '33-34',
 '35–42',
 'Iraqi terrorist (al-Qaeda)',
 'Indian guerrilla',
 'Ethiopian politician and Tigray activist',
 'Kyrgyzstani Soviet football manager',
 'Indian folk singer',
 '42',
 'South Sudanese politician',
 'Emirati businessman and diplomat',
 'Congolese militant',
 'Zimbabwean politician',
 'Iranian-born Australian linguist',
 'Tuvaluan politician',
 'South African gynecologist',
 'British organist and composer',
 'Notable victims killed in the Baghdad',
 'British motorcycle designer',
 'Palestinian Hamas chief explosives expert',
 'Herbert Wiere',
 'Kevin Kowalcyk',
 'Russian military officer. (death announced on this date)',
 '105',
 'American jockey',
 'Russian Dagestani journalist',
 'Israeli scholar and rosh yeshiva',
 'Indian film producer (',
 'Australian comic book creator and convicted murderer',
 '89. British automotive engineer',
 'c. 75',
 'American drummer',
 'Australian cricketer (Queensland)',
 'Chilean forester and academic',
 '67-68',
 '(née Mitsuru Hanada)',
 'Maltese 15',
 'German sculptor',
 'King of Nepal',
 '52-53',
 'French astrophysicist',
 '34-38',
 'Mexican drug cartel leader (Los Zetas)',
 '108',
 '46',
 'Ghanaian broadcaster (Happy FM)',
 'British private secretary to Winston Churchill and Lady Clementine Churchill',
 'aka ',
 'Notable people killed in the :\n',
 'Algerian footballer',
 'American musician and producer',
 'South Sudanese military leader and politician',
 '56 or 57',
 'Tunisian film director',
 '71–72',
 'early 80s',
 'Japanese ball-jointed doll maker and musician',
 '89?',
 'Saudi spokesman of ISIL (since 2016)',
 'French milliner',
 'Afghani politician',
 'American psychologist',
 'Azerbaijani criminalist',
 '65',
 '27',
 'American casting director (',
 'Turkish politician and political party leader',
 'Cuban guitarist',
 'Chinese marathon runners killed in the :\n',
 '116',
 'Egyptian football executive',
 'British footballer',
 'Australian mathematician and chess player',
 '87',
 'Turkish artist',
 '96–97',
 'Russian botanist',
 '46–56',
 'Nigerian academic',
 'Indonesian separatist leader',
 'Papua New Guinean film and theatre actor',
 'New Zealand mycologist',
 '1996',

#### Observations:
- Though we can see the age values, there is a lot of other information in the first substring of the `info` value.
- Some entries may be missing the age information.
- Also, age is entered in various formats.
- Let us see how many variations there are.

In [81]:
# Checking number of different values for first substring of info column
len(age_set)

1412

#### Observations:
- There are 1412 variations for the substring that represents age on Wikipedia.  
- We are likely better off with a regular expressions approach to dividing this string feature, rather than using Python string methods alone.