# Wikipedia Notable Life Expectancies
# [Notebook  : Data Cleaning Part 8](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean8_thanak_2022_07_26.ipynb)
### Context

The
### Objective

The
### Data Dictionary
- Feature: Description

### Importing Libraries

In [1]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To save/open python objects in pickle file
import pickle

# To help with reading, cleaning, and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

# To play auditory cue when cell has executed, has warning, or has error and set chime theme
import chime

chime.theme("zelda")

## Data Overview

### [Reading](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_clean7.db), Sampling, and Checking Data Shape

In [2]:
# Reading the dataset
conn = sql.connect("wp_life_expect_clean7.db")
data = pd.read_sql("SELECT * FROM wp_life_expect_clean7", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 98040 rows and 27 columns.

,day,name,info,link,num_references,year,month,info_parenth,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,sciences,social,spiritual,academia_humanities,business_farming,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,other_species,num_categories
0,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21,1994,January,None,86.0,None,United Kingdom of Great Britain and Northern Ireland,None,None,3.091042,0,0,0,0,0,1,0,0,0,0,0,0,1
1,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12,1994,January,None,68.0,None,Ireland,None,None,2.564949,0,0,0,1,0,1,0,0,1,0,0,0,3

In [3]:
# Checking last 2 rows of the data
df.tail(2)

,day,name,info,link,num_references,year,month,info_parenth,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,sciences,social,spiritual,academia_humanities,business_farming,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,other_species,num_categories
98038,9,Aamir Liaquat Hussain,", 50, Pakistani journalist and politician, MNA .",https://en.wikipedia.org/wiki/Aamir_Liaquat_Hussain,99,2022,June,"2002 2007, since 2018",50.0,None,Pakistan,None,", since",4.605170,0,0,0,0,0,1,0,0,1,0,0,0,2
98039,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3,2022,June,None,86.0,None,"China, People's Republic of",None,None,1.386294,1,0,0,0,0,0,0,0,0,0,0,0,1

In [4]:
# Checking a sample of the data
df.sample(5)

,day,name,info,link,num_references,year,month,info_parenth,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,sciences,social,spiritual,academia_humanities,business_farming,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,other_species,num_categories
69174,26,Ted Dabney,", 81, American electrical engineer, co-founder of Atari, esophageal cancer.",https://en.wikipedia.org/wiki/Ted_Dabney,11,2018,May,None,81.0,esophageal cancer,United States of America,None,None,2.484907,1,0,0,0,1,0,0,0,0,0,0,0,2
64607,27,Perivaldo Dantas,", 64, Brazilian footballer , pneumonia.",https://en.wikipedia.org/wiki/Perivaldo_Dantas,7,2017,July,"Botafogo, São Paulo, national team",64.0,pneumonia,Brazil,None,"Botafogo, São Paulo, national team",2.079442,0,0,0,0,0,0,1,0,0,0,0,0,1
8242,6,Mark Belanger,", 54, American baseball player, lung cancer.",https://en.wikipedia.org/wiki/Mark_Belanger,6,1998,October,None,54.0,lung cancer,United States of America,None,None,1.945910,0,0,0,0,0,0,1,0,0,0,0,0,1
31295,4,Freddy Kottulinsky,", 77, German-born Swedish racing driver.",https://en.wikipedia.org/wiki/Freddy_Kottulinsky,4,2010,May,None,77.0,None,Germany,Sweden,None,1.609438,0,0,0,0,0,0,1,0,0,0,0,0,1
9006,5,Alma Hunt,", 88, Bermudian cricketer.",https://en.wikipedia.org/wiki/Alma_Hunt,3,1999,March,None,88.0,None,Central America and the Caribbean,None,None,1.386294,0,0,0,0,0,0,1,0,0,0,0,0,1

### Checking Data Types and Null Values

In [5]:
# Checking data types and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98040 entries, 0 to 98039
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   day                        98040 non-null  object
 1   name                       98040 non-null  object
 2   info                       98040 non-null  object
 3   link                       98040 non-null  object
 4   num_references             98040 non-null  int64
 5   year                       98040 non-null  int64
 6   month                      98040 non-null  object
 7   info_parenth               36660 non-null  object
 8   age                        98040 non-null  float64
 9   cause_of_death             33336 non-null  object
 10  place_1                    97887 non-null  object
 11  place_2                    8116 non-null   object
 12  info_parenth_copy          36660 non-null  object
 13  log_num_references         98040 non-null  float64
 14  sciences                   98040 non-null  int64
 15  social                     98040 non-null  int64
 16  spiritual                  98040 non-null  int64
 17  academia_humanities        98040 non-null  int64
 18  business_farming           98040 non-null  int64
 19  arts                       98040 non-null  int64
 20  sports                     98040 non-null  int64
 21  law_enf_military_operator  98040 non-null  int64
 22  politics_govt_law          98040 non-null  int64
 23  crime                      98040 non-null  int64
 24  event_record_other         98040 non-null  int64
 25  other_species              98040 non-null  int64
 26  num_categories             98040 non-null  int64
dtypes: float64(2), int64(15), object(10)
memory usage: 20.2+ MB

#### Observations:
- With our dataset loaded, we can pick up where we left off with extracting known_for and `cause_of_death` values.
- As all of the numbered `info_` columns have been searched and dropped, we are left with `info_parenth` (and its copy).  
- By definition, we would expect `info_parenth` to contain non-essential values.  The column contains a lot of values, so we will begin by looking only for `known_for` information for the few entries that do not yet have a `known_for` category.
- Then we can consider an approach to searching for any `cause_of_death` information in `info_parenth`.

### Extracting Remaining `known_for` for Entries Still Lacking a `known_for` Category

#### Checking Entries Lacking lacking `known_for` Category

In [6]:
# Checking entries with num_categories == 0
df[df["num_categories"] == 0]

,day,name,info,link,num_references,year,month,info_parenth,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,sciences,social,spiritual,academia_humanities,business_farming,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,other_species,num_categories
278,4,Aníbal,", 53, Mexican , brain cancer.",https://en.wikipedia.org/wiki/An%C3%ADbal_(wrestler),20,1994,March,professional wrestler,53.0,brain cancer,Mexico,None,professional wrestler,3.044522,0,0,0,0,0,0,0,0,0,0,0,0,0
11490,10,Chandra Khonnokyoong,", 91, Thai .",https://en.wikipedia.org/wiki/Chandra_Khonnokyoong,25,2000,September,None,91.0,None,Thailand,None,None,3.258097,0,0,0,0,0,0,0,0,0,0,0,0,0
12052,3,Kung Fu,", 49, Mexican , arterial hyper tension.",https://en.wikipedia.org/wiki/Kung_Fu_(wrestler),11,2001,January,None,49.0,arterial hyper tension,Mexico,None,None,2.484907,0,0,0,0,0,0,0,0,0,0,0,0,0
16376,10,Little Eva,", .",https://en.wikipedia.org/wiki/Little_Eva,14,2003,April,"née Eva Narcissus Boyd, , pop singer",59.0,None,United States of America,None,"née Eva Narcissus Boyd, , pop singer",2.708050,0,0,0,0,0,0,0,0,0,0,0,0,0
36930,12,Natalee Holloway,", 18",https://en.wikipedia.org/wiki/Natalee_Holloway,198,2012,January,"in 2005, student, missing since 2005 declared legally dead on this date",18.0,None,United States of America,None,"in , student, missing since declared legally dead on this date",5.293305,0,0,0,0,0,0,0,0,0,0,0,0,0
79603,27,Sudhakar Chaturvedi,", 122 .",https://en.wikipedia.org/wiki/Sudhakar_Chaturvedi,37,2020,February,"claimed, Vedic scholar and courier Mahatma Gandhi",122.0,None,India,None,"claimed, Vedic scholar and courier Mahatma Gandhi",3.637586,0,0,0,0,0,0,0,0,0,0,0,0,0

#### Observations:
- We can see some additional information in `info_parenth` for some of the values.
- Since we previously separated the information contained in parentheses from the original `info` column, we will maintain `info_parenth_copy` intact, and utilize `info_parenth` for any value extraction.
- We will hard-code the missing `known_for` info for the entries lacking that information, since there are only 2, and we have the link readily available to find it or it is apparent in the link value.

#### Finding `known_for` Roles in `info_parenth_copy` for Entries Lacking any Category

In [7]:
# Obtaining values for column and their counts
roles_list = (
    df[df["num_categories"] == 0]["info_parenth_copy"]
    .value_counts(ascending=True)
    .index.tolist()
)

In [8]:
# Code to check each value
value = roles_list.pop()
value

'claimed, Vedic scholar and courier Mahatma Gandhi'

In [9]:
# # Create specific_roles_cause_list for above popped value
# specific_roles_list = (
#     df.loc[
#         [
#             index
#             for index in df[df["info_parenth_copy"].notna()].index
#             if value in df.loc[index, "info_parenth_copy"]
#         ],
#         "info_parenth_copy",
#     ]
#     .value_counts()
#     .index.tolist()
# )

In [10]:
# # Viewing list sorted by descending length to copy to dictionary below and screen values
# sorted(specific_roles_list, key=lambda x: len(x), reverse=True)

In [11]:
# # Example code to quick-check a specific entry
# df[df["info_parenth_copy"] == value]

#### Creating Lists for Each `known_for` Category

In [12]:
# Creating lists for each category and sorting by decreasing length and removing duplicates

politics_govt_law = ["and courier Mahatma Gandhi"]
politics_govt_law = sorted(
    list(set(politics_govt_law)), key=lambda x: len(x), reverse=True
)

arts = ["née Eva Narcissus Boyd, , pop singer"]
arts = sorted(list(set(arts)), key=lambda x: len(x), reverse=True)

sports = ["professional wrestler", "wrestler"]
sports = sorted(list(set(sports)), key=lambda x: len(x), reverse=True)

sciences = []
sciences = sorted(list(set(sciences)), key=lambda x: len(x), reverse=True)

business_farming = []
business_farming = sorted(
    list(set(business_farming)), key=lambda x: len(x), reverse=True
)

academia_humanities = ["scholar"]
academia_humanities = sorted(
    list(set(academia_humanities)), key=lambda x: len(x), reverse=True
)

law_enf_military_operator = []
law_enf_military_operator = sorted(
    list(set(law_enf_military_operator)), key=lambda x: len(x), reverse=True
)

spiritual = ["claimed,  Vedic", "spiritual teacher"]
spiritual = sorted(list(set(spiritual)), key=lambda x: len(x), reverse=True)

social = []
social = sorted(list(set(social)), key=lambda x: len(x), reverse=True)

crime = []
crime = sorted(list(set(crime)), key=lambda x: len(x), reverse=True)

event_record_other = ["in , student, missing since declared legally dead on this date"]
event_record_other = sorted(
    list(set(event_record_other)), key=lambda x: len(x), reverse=True
)

other_species = []
other_species = sorted(list(set(other_species)), key=lambda x: len(x), reverse=True)

cause_of_death = []
cause_of_death = sorted(list(set(cause_of_death)), key=lambda x: len(x), reverse=True)

In [13]:
# Hard-coding info_parenth_copy for entry lacking known_for values
df.loc[
    df[df["link"] == "https://en.wikipedia.org/wiki/Chandra_Khonnokyoong"].index,
    "info_parenth_copy",
] = "spiritual teacher"


# Hard-coding info_parenth_copy for entry lacking known_for values
df.loc[
    df[df["link"] == "https://en.wikipedia.org/wiki/Kung_Fu_(wrestler)"].index,
    "info_parenth_copy",
] = "wrestler"

#### Creating `known_for_dict` Dictionary of Category Keys and Specific Role Lists of Values

In [14]:
# Combining separate lists into one dictionary
known_for_dict = {
    "social": social,
    "spiritual": spiritual,
    "academia_humanities": academia_humanities,
    "business_farming": business_farming,
    "sciences": sciences,
    "politics_govt_law": politics_govt_law,
    "law_enf_military_operator": law_enf_military_operator,
    "crime": crime,
    "event_record_other": event_record_other,
    "other_species": other_species,
    "arts": arts,
    "sports": sports,
}

#### Extracting `known_for` Categories Values from `info_parenth_copy` for Entries without a Category

In [15]:
%%time

# Column to check
column = 'info_parenth_copy'

# Start dataframe
dataframe = df[(df[column].notna()) & (df['num_categories']==0)]
                
# For loop to find role in column and extract it as category
for category, category_lst in known_for_dict.items():
    for role in category_lst:
        for index in dataframe.index:
                item = df.loc[index, column]
                if item:
                    if role in item:
                        df.loc[index, category] = 1
                        df.loc[index, column] = item.replace(role, '').strip()

# Calculating num_categories
df["num_categories"] = df[known_for_dict.keys()].sum(axis=1)

CPU times: total: 15.6 ms
Wall time: 13 ms

#### Checking Updated `num_categories` Value Counts

In [16]:
# Checking Updated num_categories Value Counts
df["num_categories"].value_counts()

1    84108
2    12805
3     1088
4       36
5        3
Name: num_categories, dtype: int64

#### Observations:
- All entries now have at least one `known_for` category.
- Next, we will proceed to examine the values in `cause_of_death` to potentially guide finding that information in `info_parenth_copy` for entries that lack a value for it.

### Searching for Remaining `cause_of_death` Values in `info_parenth_copy`

In [17]:
# # Creating list of cause_of_death values
# cause_list = df["cause_of_death"].value_counts(ascending=True).index.tolist()

In [18]:
# # Updating cause_list to contain only causes that are in info_parenth_copy values
# cause_list = [
#     item
#     for item in cause_list
#     if any(
#         item in value
#         for value in df[df["info_parenth_copy"].notna()]["info_parenth_copy"]
#     )
# ]

In [19]:
# # Checking the cause_of_death values starting with most frequent
# value = cause_list.pop()
# value

In [20]:
# # Creating list of info_parenth_copy values that contain cause_of_death value
# df.loc[
#     [
#         index
#         for index in df[df["info_parenth_copy"].notna()].index
#         if value in df.loc[index, "info_parenth_copy"]
#     ],
#     "info_parenth_copy",
# ].value_counts().index.tolist()

In [21]:
# # Checking specific entries
# df[
#     df["info_parenth_copy"]
#     == "1969 1974 and Foreign Affairs 1974 1982; 1982 1992, Vice Chancellor 1974 1982; 1982 1992"
# ]

#### Creating List for `cause_of_death`

In [22]:
# Creating list for cause_of_death
cause_of_death = [
    "cancer",
    "pancreatic cancer",
    "adrenal cancer",
    "endometrial cancer",
    "nasopharynx cancer",
    "parotid cancer",
    "prostate cancer",
    "multiple myeloma, blood cancer",
    "bowel cancer",
    "oesophageal cancer",
    "liver cancer",
    "lung cancer",
    "cancer",
    "breast cancer",
    "testicular cancer",
    "ovarian cancer",
    "peritoneal cancer",
    "heart attack",
    "COVID",
    "congestive heart failure",
    "heart failure",
    "ischemic heart failure",
    "pneumonia",
    "AIDS, pneumonia",
    "pneumonia, infarctions",
    "bronchial pneumonia",
    "stroke",
    "heat stroke",
    "shot",
    "gunshot wounds",
    "traffic collision",
    "natural causes disease",
    "natural causes",
    "suicide",
    "suspected suicide",
    "suicide by drowning",
    "suicide by hydrogen sulfide",
    "suicide by hanging",
    "Alzheimer disease",
    "leukemia",
    "Parkinson disease",
    "Parkinson’s disease",
    "Creutzfeldt Jakob disease",
    "kidney disease",
    "Pick disease",
    "heart disease",
    "car accident",
    "injuries due to a fall",
    "fall",
    "subdural hematoma, fall",
    "multiple organ failure",
    "AIDS, lymphoma",
    "Hodgkin lymphoma",
    "gastric lymphoma",
    "plane crash",
    "amyotrophic lateral sclerosis",
    "euthanized",
    "uveal melanoma",
    "emphysema",
    "pulmonary emphysema",
    "emphysema, bronchitis",
    "Lewy body dementia",
    "renal failure",
    "intracerebral hemorrhage",
    "liver failure",
    "pulmonary embolism",
    "homicide",
    "pulmonary fibrosis",
    "idiopathic pulmonary fibrosis",
    "abdominal aortic aneurysm",
    "sepsis",
    "glioblastoma multiforme",
    "Jordanian bombings",
    "accidental shooting",
    "pulmonary edema",
    "septic infection",
    "myelodysplastic syndrome",
    "locked in syndrome",
    "multiple organ dysfunction syndrome",
    "superior vena cava syndrome",
    "Marfan syndrome",
    "Guillain Barré syndrome",
    "multiple sclerosis",
    "AIDS",
    "multiple organ failure",
    "pulmonary emphysema",
    "emphysema",
    "emphysema, bronchitis",
    "aortic dissection",
    "progressive supranuclear palsy",
    "Hodgkin lymphoma",
    "COPD",
    "pancreatitis",
    "cerebral haemorrhage",
    "ALS",
    "AL amyloidosis",
    "car accident",
    "accidental shooting",
    "epilepsy",
    "dilated cardiomyopathy",
    "thrombosis",
    "rheumatoid arthritis",
    "beheading",
    "leiomyosarcoma",
    "Ewing sarcoma",
    "sarcoma",
    "leptomeningeal carcinomatosis",
    "nasopharyngeal carcinoma",
    "small cell carcinoma",
    "myelodysplasia",
    "pulmonary embolism",
    "embolism",
    "suffocated",
    "cerebral haemorrhage",
    "assassination",
    "gastrointestinal hemorrhage",
    "intracerebral hemorrhage",
    "anaphylaxis",
    "progressive supranuclear palsy",
    "shelling",
    "pulmonary edema",
    "Jordanian bombings",
    "posterior cortical atrophy",
    "emphysema, bronchitis",
    "West Nile virus",
    "corticobasal degeneration",
    "heat stroke",
    "glioblastoma multiforme",
    "acute endocarditis",
    "arrhythmogenic right ventricular dysplasia",
    "alcoholism",
    "plane crash",
    "normal pressure hydrocephalus",
    "primary progressive aphasia",
    "dilated cardiomyopathy",
    "subdural haematoma",
    "arrhythmia",
    "thrombus",
    "thrombosis",
    "essential thrombocytosis",
    "thrombotic thrombocytopenic purpura",
    "vasculitis",
    "self defenestration",
    "ventricular tachycardia",
]

# Clearing out duplicate values and sorting in descending length order to use for extracting values
cause_of_death = sorted(list(set(cause_of_death)), key=lambda x: len(x), reverse=True)

In [23]:
# Dropping info_parenth_copy value for entries to avoid incorrect cause_of_death
df.loc[
    [
        index
        for index in df[df["info_parenth_copy"].notna()].index
        if "breaststroke" in df.loc[index, "info_parenth_copy"]
        or "backstroke" in df.loc[index, "info_parenth_copy"]
    ],
    "info_parenth_copy",
] = ""

# Dropping info_parenth_copy value for entries to avoid incorrect cause_of_death
df.loc[
    [
        index
        for index in df[df["info_parenth_copy"].notna()].index
        if "shot put" in df.loc[index, "info_parenth_copy"]
        or "Aldershot" in df.loc[index, "info_parenth_copy"]
    ],
    "info_parenth_copy",
] = ""

# Dropping info_parent_copy value for entry to avoid incorrect cause_of_death
df.loc[
    df[df["info_parenth_copy"] == "fallout shelter sign"].index, "info_parenth_copy"
] = ""

# Dropping info_parent_copy value for entry to avoid incorrect cause_of_death
df.loc[
    df[
        df["info_parenth_copy"]
        == "HIV, President of the International AIDS Society 1994 1998"
    ].index,
    "info_parenth_copy",
] = ""

# Dropping info_parent_copy value for entry to avoid incorrect cause_of_death
df.loc[
    df[df["info_parenth_copy"] == "assassination of Orlando Letelier"].index,
    "info_parenth_copy",
] = ""

# Dropping info_parenth_copy value for entries to avoid incorrect cause_of_death
df.loc[
    [
        index
        for index in df[df["info_parenth_copy"].notna()].index
        if "Suicide" in df.loc[index, "info_parenth_copy"]
    ],
    "info_parenth_copy",
] = ""

#### Extracting `cause_of_death` Values from `info_parenth_copy`

In [24]:
%%time

# Column to search
column = "info_parenth_copy"

# Dataframe to search
dataframe = df[df[column].notna()]

# For loop to extract cause from column to cause_of_death
for cause in cause_of_death:
    for index in dataframe.index:
        item = df.loc[index, column]
        if item:
            if cause in item:
                if df.loc[index, 'cause_of_death']:
                    df.loc[index, 'cause_of_death'] = df.loc[index, 'cause_of_death'] + '/' + cause
                    df.loc[index, column] = item.replace(cause, "").strip()
                else:
                    df.loc[index, "cause_of_death"] = cause
                    df.loc[index, column] = item.replace(cause, "").strip()

# Checking number of cause_of_death values
print(
    f'There are {df["cause_of_death"].notna().sum()} values in cause_of_death column.\n'
)

There are 33461 values in cause_of_death column.

CPU times: total: 26.9 s
Wall time: 27 s

#### Observations:
- We extracted ~130 values to `cause_of_death` with our last search.
- There are additional category values in `info_parenth_copy` that were not previously captured.  The challenge of searching this column is that it has a very high proportion of unique values, so the cost of capturing the additional may be too high.
- Let us attempt to narrow the search by restricting it to most frequent key words, such as "MP", etc., then only search `info_parenth_copy` values for them for entries that do not already have the associated category.

### Search of `info_parenth_copy` for Additional `known_for` Categories with Constraints

#### Checking Initial Value Counts for `info_parenth_copy`

In [25]:
# Checking info_parenth_copy initial value counts
df["info_parenth_copy"].value_counts()

                                           12570
, ,                                         3293
,                                           1999
since                                       1202
national team                                167
                                           ...
Silver Oak Cellars                             1
, Foreign Secretary                            1
UCLA, Milwaukee Bucks                          1
Brownsville Station                            1
and minister of industry and technology        1
Name: info_parenth_copy, Length: 13248, dtype: int64

#### Observations:
- Almost 1/3 of `info_parenth_copy` values are unique, so we will aim to streamline the search for information that will add a new category to an entry, but not take excessive time.  By definition, information in parentheses is anticipated to add detail that is non-essential to the primary information.

#### Function to Save Indices of Rows Matching Regular Expressions Pattern to a List and Print Number of Rows with Match

In [26]:
# Define a function that takes dataframe, column name, and re pattern as arguments and returns list of indices
# for which column value matches re pattern
def rows_with_pattern(dataframe, column, pattern):
    """
    Takes input of dataframe, column name, and re pattern 
    and returns list of indices for rows that contain match
    for pattern anywhere within value for given column.
    
    dataframe: dataframe
    column: column name
    pattern: re pattern
    """
    index_list = []

    for i in dataframe.index:
        item = dataframe.loc[i, column]
        match = re.search(pattern, item)
        if match:
            index_list.append(i)
    print(
        f"There are {len(index_list)} rows with matching pattern in column '{column}'."
    )
    return index_list

#### Function to Use rows_with_pattern Function for Multiple Regular Expression Patterns

In [27]:
# Define a function that calls rows_with_pattern function for multiple re patterns
# returning a single list of indices for all rows with any pattern match


def multiple_patterns(dataframe, column, patterns):
    """
    Takes input dataframe, column, and list of re patterns and returns single list 
    of indices for rows in which a match for any pattern is found with re.search
    
    dataframe: dataframe
    column: column name
    patterns: list of re patterns
    """
    rows_combined = []

    # For loop to check each pattern
    for pattern in patterns:

        # List and number of rows matching each pattern
        print(pattern)
        rows_to_check = rows_with_pattern(dataframe, column, pattern)
        print("")

        # Add list for each pattern to combined list
        rows_combined += rows_to_check

    return rows_combined

#### Checking a Sample of `info_parenth_copy` Unique Values

In [28]:
# Checking a sample of info_parenth_copy Unique Values
pd.Series(df["info_parenth_copy"].value_counts().index.tolist()).sample(100)

3264                                                        The Blues Brothers & Howlin' Wolf
1669                                                                               Bodø Glimt
10003                                                                       Waterford Crystal
11936                                                                       The Ascent of Man
2570                                      UCLA Bruins and coach Oregon State Beavers, Raiders
11204                                               Lord Avie, awarded Dogwood Dominion Award
3713                                                    Doncaster Rovers, Scarborough, Barrow
614                                                                    Burnley, national team
8412                                                           C D Guadalajara, national team
2403                                                               FK Priština, FK Milicionar
11920                                                                   , Governor of Limburg
5686                                         CR Belouizdad, national team and manager Chéraga
9222                        District Judge of the District Court for the Southern District of
12817                                                                 , , world record holder
2159                                                                   Alcorn State, Southern
461                                                                     Celtic, national team
7751                                                Linfield, Hibernian, Sunderland, Northern
4098                                                                         The Memphis Boys
1347                                                                     Bury, Crystal Palace
8573                                                                      , Interior Minister
4773                                                                               Blue Peter
7752                                                                                  FreeDOS
1210                                                                       Viennese Actionism
1790                                                                            Albion Rovers
639                                                       Big Brother and the Holding Company
7326                                                                        No Use for a Name
3126                                                                 North Carolina Tar Heels
9097                                                             City Council, State Assembly
11596                                                                         , , and actor ,
11076                                                 and Mayor of Cape Regional Municipality
878                                                                                 Berkshire
8524                                                                              Yothu Yindi
8105                                             Ambassador and diplomat, to Czechoslovakia ;
11640                                                      and rector of University of Ankara
5730                                                                         Widespread Panic
276                                                                        Metropolitan Opera
918                                                                                 Leicester
4337                                                                      and cinematographer
11205                                         Sporting de Gijón, F C Barcelona, national team
11022                                                                         platform tennis
8259                                                                          Cronulla Sharks
5651                                                                    and New Brunswick MLA
10536                                                                   Sparta, national team
5386                             , ambassador to the and , vice president of the Senate since
7143                                    Chicago Stags, Tri Cities Blackhawks, Milwaukee Hawks
10333                                                                        Brooklyn Hispano
7897                                                                  "De vogels van Holland"
7902                                                     Michael Eisner, Jim Henson, Dr Seuss
3318                          , Vice Chairman of the People Political Consultative Conference
7318                                                              BC Lions, Toronto Argonauts
5244                                                                             Bronski Beat
10252                                                                           NWA, AWA, WWE
6338                                                 Cardiacs, The Sea Nymphs, Spratleys Japs
12927                                  , Mayor of North Shore City , High Commissioner to the
9216                                                              Playwrights Theatre Club, ,
10550                                                             Assistant Attorney General,
11911                                             Lakers and television broadcaster Utah Jazz
2702                                           "Respect", "Chain of Fools", "A Natural Woman"
4739                        since , mayor of Junín Partido and Buenos Aires provincial deputy
9871                                                                   Falkirk, Airdrieonians
12763                                                        Auckland, and cricketer Auckland
12330                                                            Derby County, Crystal Palace
5779            Boston Celtics and coach Georgetown Hoyas, national champion , NBA champion ,
5754                                                      Bihor Oradea, Siófok, national team
4820                                                and the Rochester Institute of Technology
12950    "Anyone Who Had a Heart", "You're My World", "Step Inside Love" and TV presenter , ,
3440                                                                              Arts Centre
5132                                               , , choreographer and television presenter
7286                                                            , Governor of Río Negro since
2297                                                                           Électricité de
3328                                                      Crewe Alexandra, Port Vale, Wrexham
9813                                                                                    Calif
1472                                  Green Bay Packers and coach New Patriots, Buffalo Bills
11707                                , , MP for Inverness—Richmond , and Cape Highlands—Canso
770                                                                                    RFE RL
5803                                             Young Africans, Ruvu Shooting, national team
9567                                                                                    Wilco
5025                                                  Racing Club, Fernández Vial, Concepción
7839                                                                       , Foreign Minister
2204                                                                           The Stranglers
3905                                              PTT, İstanbulspor and manager national team
5531                                             , minister of national defence and transport
2479                 Foo Fighters, Taylor Hawkins and the Coattail Riders, The Birds of Satan
6720                                              Crystal Palace death announced on this date
9473                                                                        Steve Miller Band
2748                                                                             Oilers, Jets
8341                                            Fresno State, Wichita State, Stephen F Austin
8099                                                                 Apollo Guidance Computer
12605                                                            Kansas City Southern Railway
6587                                                               Oilers, San Diego Chargers
12706                                                                 Jets, Super Bowl winner
12598                                        , member of the Arizona House of Representatives
7703                           Milwaukee Braves, Kansas City Athletics, Philadelphia Phillies
364                                                                                Stoke City
9876                                                                                     SNC,
11284                               Indianapolis Ice, Milwaukee Admirals and executive Hockey
1218                                              Emmy, and television title designer, winner
4839                                                                                      WWC
7798                                                                        ; , MP for Skeena
6959                                                          Leotar, Sarajevo, Dinamo Zagreb
dtype: object

#### Observations:
- We can see that many of the values are proper nouns of places, people, or titles (some in quotations).  
- First, we can drop the titles in quotations using regular expressions.
-  Then we will take an approach of combining all of the values into a single list, then converting to a single string, then back to a list, to reduce then reduce to a set of individual word values that can be prioritized.

#### Step 1:  Checking and Dropping Titles in Quotations from `info_parenth_copy`

In [29]:
# Column to check
column = "info_parenth_copy"

# Dataframe to check
dataframe = df[df[column].notna()]

# Patterns for re
pattern = f'".*"'

# Finding indices of rows that do and do not have pattern
rows_to_check = rows_with_pattern(dataframe, column, pattern)

# Checking a sample of rows
df.loc[rows_to_check, :].sample(2)

There are 676 rows with matching pattern in column 'info_parenth_copy'.

,day,name,info,link,num_references,year,month,info_parenth,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,sciences,social,spiritual,academia_humanities,business_farming,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,other_species,num_categories
86722,13,Duke Bootee,", 69, American rapper and songwriter , heart failure.",https://en.wikipedia.org/wiki/Duke_Bootee,6,2021,January,"""The Message""",69.0,heart failure,United States of America,None,"""The Message""",1.945910,0,0,0,0,0,1,0,0,0,0,0,0,1
91800,4,Paul Johnson,", 50, American DJ and record producer, COVID-19.",https://en.wikipedia.org/wiki/Paul_Johnson_(producer),13,2021,August,"""Get Get Down""",50.0,COVID,United States of America,None,"""Get Get Down""",2.639057,0,0,0,0,0,1,0,0,0,0,0,0,1

In [30]:
# For loop to extract quotations and characters within from info_parenth_copy
for index in rows_to_check:
    item = df.loc[index, column]
    match = re.search(pattern, item)
    if match:
        df.loc[index, column] = re.sub(pattern, "", df.loc[index, column]).strip()

# Recheck a sample of treated rows
df.loc[rows_to_check, :].sample(2)

,day,name,info,link,num_references,year,month,info_parenth,age,cause_of_death,place_1,place_2,info_parenth_copy,log_num_references,sciences,social,spiritual,academia_humanities,business_farming,arts,sports,law_enf_military_operator,politics_govt_law,crime,event_record_other,other_species,num_categories
41221,26,Fontella Bass,", 72, American singer , complications from a heart attack.",https://en.wikipedia.org/wiki/Fontella_Bass,22,2012,December,"""Rescue Me""",72.0,complications from a heart attack,United States of America,None,,3.135494,0,0,0,0,0,1,0,0,0,0,0,0,1
83323,3,Michael Peter Smith,", 78, American songwriter , colon cancer.",https://en.wikipedia.org/wiki/Michael_Peter_Smith,15,2020,August,"""The Dutchman""",78.0,colon cancer,United States of America,None,,2.772589,0,0,0,0,0,1,0,0,0,0,0,0,1

In [32]:
# Rechecking info_parenth_copy value counts
df["info_parenth_copy"].value_counts()

                                            13061
, ,                                          3293
,                                            2000
since                                        1202
national team                                 167
                                            ...
, President of the Governing Council            1
Gloucestershire, Worcestershire,                1
North Sydney, Eastern Suburbs, New South        1
neuroendocrine, ,                               1
and minister of industry and technology         1
Name: info_parenth_copy, Length: 12723, dtype: int64

#### Observations:
- Dropping song and other titles in quotations simplified the remaining values.
- Next, we will create a single list of all of the values.

#### Combining `info_parenth_copy` Values into a Single List of Unique Values for Searching

In [176]:
# Creating a single list of info_parenth_copy values
roles_list = df["info_parenth_copy"].value_counts().index.tolist()

# Converting to a single string and removing commas, semicolons, and extra whitespace
roles_list = (
    " ".join(roles_list).replace(",", "").replace(";", "").replace("  ", " ").strip()
)

# Splitting into a list of individual words and converting to a Series to easily check value counts
roles_list = roles_list.split()

# Converting to a series for value_counts in ascending order for use of pop() on most frequent values first
# and dropping obvious extraneous values
roles_list = (
    pd.Series(roles_list)
    .value_counts(ascending=True)
    .drop(["and", "of", "the", "The", "since", "on", "nd", "th", "for"])
)

# Dropping values that occur fewer than 3 times
roles_list = roles_list[roles_list > 2]

print(f"There are {len(roles_list)} remaining unique individual words in roles_list.\n")
roles_list

There are 2504 remaining unique individual words in roles_list.

Eels               3
Timbers            3
Cesena             3
Galway             3
Southeastern       3
                ...
manager          298
University       335
City             357
national        1050
team            1068
Length: 2504, dtype: int64

In [173]:
roles_list

Eels               3
Timbers            3
Cesena             3
Galway             3
Southeastern       3
                ...
manager          298
University       335
City             357
national        1050
team            1068
Length: 2504, dtype: int64

In [ ]:
roles_list = df["info_parenth_copy"].value_counts().index.tolist()
[item.strip(",; ") for item in roles_list].remove("")

In [ ]:
" ".join(roles_list)

In [ ]:
print("dunzo!")

# Sound notification when cell executes
chime.success()

#### Verifying that Values in info_3_0 Are Exhausted

In [ ]:
# # Verifying that `info_3_0` is exhausted
# df["info_3_0"].value_counts()

#### Dropping info_3_0

In [ ]:
# # Dropping info_3_0
# df.drop("info_3_0", axis=1, inplace=True)

# # Checking sample
# df.sample()

#### Observations:
- Our search of column info_3_0 is finished and have dropped that column.
- We will now save our dataset and pick back up in a new notebook.

### Exporting Dataset to SQLite Database [wp_life_expect_clean8.db]()

In [ ]:
# # Exporting dataframe

# # Saving dataset in a SQLite database
# conn = sql.connect("wp_life_expect_clean8.db")
# df.to_sql("wp_life_expect_clean8", conn, index=False)

# # Chime notification when cell executes
# chime.success()

# [Proceed to Data Cleaning Part ]()