# Wikipedia Notable Life Expectancies

# [Notebook 2 of 4: Data Cleaning](https://github.com/teresahanak/wikipedia-life-expectancy/blob/main/wp_life_expect_data_clean_thanak_2022_06_13.ipynb)

## Context

The


## Objective

The

### Data Dictionary

- Feature: Description

## Importing Necessary Libraries

In [1]:
# To structure code automatically
%load_ext nb_black

# To import/export sqlite databases
import sqlite3 as sql

# To help with reading and manipulating data
import pandas as pd
import numpy as np
import re

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)
# To define the maximum number of rows to be displayed in a dataframe
pd.set_option("display.max_rows", 200)

# To supress scientific notations for a dataframe
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# To supress warnings
# import warnings

# warnings.filterwarnings("ignore")

# To set some visualization attributes
pd.set_option("max_colwidth", 150)

## Data Overview

### Reading, Sampling, and Checking Data Shape

In [2]:
# Reading the wp_life_expect_raw_complete dataset
conn = sql.connect("wp_life_expect_raw_complete.db")
data = pd.read_sql("SELECT * FROM wp_life_expect_raw_complete", conn)

# Making a working copy
df = data.copy()

# Checking the shape
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

# Checking first 2 rows of the data
df.head(2)

There are 133900 rows and 6 columns.

,month_year,day,name,info,link,num_references
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12

In [3]:
# Checking last 2 rows of the data
df.tail(2)

,month_year,day,name,info,link,num_references
133898,June 2022,9,Oleg Moliboga,", 69, Russian volleyball player, Olympic champion (1980) and coach.",https://en.wikipedia.org/wiki/Oleg_Moliboga,2
133899,June 2022,9,Zou Jing,", 86, Chinese engineer, member of the Chinese Academy of Engineering.",https://en.wikipedia.org/wiki/Zou_Jing_(engineer),3

In [4]:
# Checking a sample of the data
df.sample(5)

,month_year,day,name,info,link,num_references
131926,March 2022,10,Georges Ginoux,", 88, Belgian-born French politician, senator (2004-2005).",https://en.wikipedia.org/wiki/Georges_Ginoux,2
77018,June 2015,25,Lou Butera,", 78, American pool player, Parkinson's disease.",https://en.wikipedia.org/wiki/Lou_Butera,8
99020,September 2018,5,Lise Payette,", 87, Canadian journalist, writer and politician, MNA (1976–1981).",https://en.wikipedia.org/wiki/Lise_Payette,20
57907,September 2012,30,Jack Morris,", 84, American Jesuit, founder of the Jesuit Volunteer Corps, cancer.",https://en.wikipedia.org/wiki/Jack_Morris_(Jesuit),3
45370,April 2010,30,Manuel Alvarado,", 62, Guatemalan-born British academic.",https://en.wikipedia.org/wiki/Manuel_Alvarado,1

#### Observations:
- There are 133,900 rows and 6 columns.
- `month_year` contains the month and year of death, while `day` contains the day of the month of death.
- `name` is the notable person's name.  It is a nominal feature that will not be used for analysis, but will be maintained for any referencing needs.
- `info` contains multiple items including the notable person's "age, country of citizenship at birth, subsequent country of citizenship (if applicable), reason for notability, (and) cause of death (if known)."
- `link` is the url to the notable person's individual Wikipedia page.  If such a page does not exist, there is either a non-working link (https://en.wikipedia.orgNone), or the link is to a page with a message that the page does not exist for that individual.  `link` is a unique identifier for all entries, except the 6 with the non-working link, which do have unique `name` values from each other.
- `num_references` contains the number of references on the notable person's individual Wikipedia page.  This feature serves as a proxy measure of notability.
- Prior to EDA, our task will be to extract the individual elements that are comined in `month_year` and `info` columns.

### Checking Data Types, Duplicates, and Null Values

In [5]:
# Checking data types and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133894 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

In [6]:
# Checking duplicate rows
df.duplicated().sum()

0

In [7]:
# Check percentage of null values by column
df.isnull().sum() / df.count() * 100

month_year       0.000
day              0.000
name             0.004
info             0.000
link             0.000
num_references   0.000
dtype: float64

In [8]:
# Checking number of missing values per row (not necessary here, but done to keep process standard)
df.isnull().sum(axis=1).value_counts()

0    133894
1         6
dtype: int64

#### Observations:
- Our dataset was saved to and read from the database without any hiccups.
- As expected, we have 6 entries that are missing `name`, but we will find it in their `info` values.
- All columns are currently of object type.  We will need to appropriately typecast them after separating the information in `month_year` and `info`.

## Data Cleaning

### Addressing Missing `name` Values

In [9]:
# Checking rows with missing name values
missing_name = df[df["name"].isna()]
missing_name

,month_year,day,name,info,link,num_references
18937,August 2001,11,None,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7.",https://en.wikipedia.orgNone,0
24985,January 2004,22,None,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
27458,March 2005,1,None,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
34077,July 2007,11,None,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
64769,September 2013,29,None,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
106613,September 2019,12,None,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0

#### Observations:
- These rows vary from the main set as there is a substring containing the person's name at the start of the `info` string.
- As there are so few rows missing `name`, let us address this issue first.

In [10]:
# For loop to copy name value from info column
treat_rows = missing_name.index
for i in treat_rows:
    info = df.loc[i, "info"]
    info_lst = info.split(sep=",", maxsplit=1)
    df.loc[i, "name"] = info_lst[0]

# Re-check rows
df.loc[treat_rows, :]

,month_year,day,name,info,link,num_references
18937,August 2001,11,Kevin Kowalcyk,"Kevin Kowalcyk, 2, known for eating a hamburger contaminated with E. coli O157:H7.",https://en.wikipedia.orgNone,0
24985,January 2004,22,Vincent Palmer,"Vincent Palmer, 37, British criminal.",https://en.wikipedia.orgNone,0
27458,March 2005,1,Barry Stigler,"Barry Stigler, 57, American voice actor.",https://en.wikipedia.orgNone,0
34077,July 2007,11,Nana Gualdi,"Nana Gualdi, 75, German singer and actress.",https://en.wikipedia.orgNone,0
64769,September 2013,29,Scott Workman,"Scott Workman, 47, American stuntman (, , ), cancer.",https://en.wikipedia.orgNone,0
106613,September 2019,12,Thami Shobede,"Thami Shobede, 31, Singer Songwriter",https://en.wikipedia.orgNone,0

#### Observations:
- Missing `name` values have been addressed.
- The names still appear in the `info` value for these rows, but we can address that as we separate the information in that column.

In [11]:
# Re-check info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133900 entries, 0 to 133899
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   month_year      133900 non-null  object
 1   day             133900 non-null  object
 2   name            133900 non-null  object
 3   info            133900 non-null  object
 4   link            133900 non-null  object
 5   num_references  133900 non-null  object
dtypes: object(6)
memory usage: 6.1+ MB

#### Observations:
- We have no remaining missing values.
- Let us treat the `month_year` column next.

### Separating `month` and `year`

In [12]:
# Separating month and year into 2 columns and typecasting year as integer
df.loc[:, "year"] = df["month_year"].apply(lambda x: x.split(sep=" ")[1])
df["year"] = df["year"].astype("int64")

df.loc[:, "month"] = df["month_year"].apply(lambda x: x.split(sep=" ")[0])
df.head(2)

,month_year,day,name,info,link,num_references,year,month
0,January 1994,1,William Chappell,", 86, British dancer, ballet designer and director.",https://en.wikipedia.org/wiki/William_Chappell_(dancer),21,1994,January
1,January 1994,1,Raymond Crotty,", 68, Irish economist, writer, and academic.",https://en.wikipedia.org/wiki/Raymond_Crotty,12,1994,January

In [13]:
# Dropping month_year column
df.drop("month_year", axis=1, inplace=True)

### Treating `info`

#### Checking a Sample

In [14]:
# Checking a sample of info
df.sample(5)

,day,name,info,link,num_references,year,month
60943,2,Eriya Kategaya,", 67, Ugandan politician, Deputy Prime Minister and Minister for East African Affairs.",https://en.wikipedia.org/wiki/Eriya_Kategaya,7,2013,March
108167,30,Bertil Fiskesjö,", 91, Swedish politician, MP (1971–1994).",https://en.wikipedia.org/wiki/Bertil_Fiskesj%C3%B6,3,2019,November
30064,18,Ruth Taylor,", 44, Canadian poet, alcohol poisoning.",https://en.wikipedia.org/wiki/Ruth_Taylor_(poet),1,2006,February
108677,24,Noor-Ali Tabandeh,", 92, Iranian Islamic Sufi leader, Qutb of the Ni'matullāhī.",https://en.wikipedia.org/wiki/Noor-Ali_Tabandeh,15,2019,December
114398,12,Bill Gilbreth,", 72, American baseball player (Detroit Tigers, California Angels), complications from heart surgery.",https://en.wikipedia.org/wiki/Bill_Gilbreth,1,2020,July

#### Observations:
- We have leading and trailing characters of comma, period, and white space that can be removed.
- Also, it would be helpful to remove information contained within parentheses, as we will not be using it.

#### Removing Leading and Trailing Commas, Whitespace, and Periods

In [15]:
# Removing the leading/trailing commas, periods, and whitespace
df.loc[:, "info"] = df["info"].apply(lambda x: x.strip(" ,."))
df.sample(5)

,day,name,info,link,num_references,year,month
133363,13,Rosmarie Trapp,"93, Austrian-born American singer (Trapp Family)",https://en.wikipedia.org/wiki/Rosmarie_Trapp,2,2022,May
113640,13,Marj Carpenter,"93, American Presbyterian leader, missionary and reporter, Moderator of the General Assembly of the Presbyterian Church (1995–1996)",https://en.wikipedia.org/wiki/Marj_Carpenter,3,2020,June
78738,5,Peter Wespi,"72, Swiss Olympic ice hockey player (1964), cancer",https://en.wikipedia.org/wiki/Peter_Wespi,2,2015,October
2390,8,Sylvia B. Seaman,"94, American novelist and suffragist",https://en.wikipedia.org/wiki/Sylvia_B._Seaman,7,1995,January
32665,21,Richard Ollard,"83, British historian and biographer",https://en.wikipedia.org/wiki/Richard_Ollard,1,2007,January

#### Removing Information within Parentheses in `info`

In [38]:
# Regular expression for parenthesis and its contents
pattern = r"\(.*\)"

# Subbing empty string for parentheses and stripping white space
df.loc[:, "info"] = df["info"].apply(lambda x: re.sub(pattern, "", x).strip())
df.sample(5)

,day,name,info,link,num_references,year,month
69903,19,Avraham Shalom,"86, Austrian-born Israeli security official, Director of the Shin Bet , commander in the capture of Adolf Eichmann and the Bus 300 affair",https://en.wikipedia.org/wiki/Avraham_Shalom,15,2014,June
98186,22,Clemmie Spangler,"86, American banker, natural resource executive",https://en.wikipedia.org/wiki/Clemmie_Spangler,16,2018,July
17519,1,Leslie Vincent,"91, American actor",https://en.wikipedia.org/wiki/Leslie_Vincent,2,2001,February
14725,10,Tom McKinney,"72, Northern Irish rugby player",https://en.wikipedia.org/wiki/Tom_McKinney,6,1999,November
27042,8,Suvad Katana,"35, Bosnian footballer",https://en.wikipedia.org/wiki/Suvad_Katana,4,2005,January

#### Checking the Set of First Substrings (Before First Comma)

In [63]:
# Checking values in the first substring of info (before the first comma)
substring_set = set(df["info"].apply(lambda x: x.split(sep=",", maxsplit=1)[0]))
substring_set

{'',
 'Irish road racing cyclist',
 '36',
 '53–54',
 '11+',
 'German sculptor',
 'American civil and aeronautical engineer',
 'Swazi educator and politician',
 'Iranian translator and journalist',
 'Indian film director and screenwriter',
 'Russian journalist',
 '51–52',
 'Bissau-Guinean soldier and rebel',
 '93/94',
 'New Zealand mycologist',
 'Dominican Republic diplomat and feminist',
 'Egyptian physician',
 'Senegalese educator and poet',
 'Irish scientist',
 'Turkish artist',
 'Bangladesh army general',
 'Pakistani diplomat',
 'c. 3500',
 'Yemeni soldier.',
 'American football and track coach',
 'Provisional Irish Republican Army volunteer',
 '62–63',
 '117',
 'American police officer ',
 'Israeli Haredi rabbi and orator',
 '16',
 '74–76',
 '7-8',
 'Iranian Army officer and Minister of Defense',
 'American interior designer',
 '82-83',
 'Filipino publisher and editor',
 '69-70',
 'member of the then National Assembly of Pakistan and Union Minister of Labor',
 'American basketball player and coach',
 'Somali politician and army general',
 'Australian comic book creator and convicted murderer',
 'Pakistani screenwriter ',
 '37',
 '67',
 '82–83',
 'Dominican physician and politician',
 '82',
 'Somali politician and MP',
 'British rugby league player',
 'French Polynesian royal claimant',
 'Islamic State press officer',
 'Ghanaian pharmacist and politician',
 'c. 70',
 'Moroccan surgeon and professor',
 'American journalists killed as a result of the :',
 'Mexican crime journalist',
 'Mike Alexander',
 'early 80s',
 '40 days',
 'Japanese anime director',
 '32',
 '"World\'s Most Dangerous Bull" World Champion title holder',
 'Filipino comics artist',
 'Malian translator and author',
 'American guitarist',
 '53-54',
 'French archaeologist',
 'Palestinian Hamas militant and assistant to Adnan al-Ghoul',
 'Chinese Navy rear admiral',
 '38',
 'New Caledonian football manager',
 'Venezuelan archaeologist',
 '28/29',
 'Scott Workman',
 'Notable people killed in the crash of :',
 '28–29',
 'American venture capitalist',
 'Brazilian female pilot',
 'American Roman Catholic priest',
 "Ugandan commander in the Lord's Resistance Army",
 'Indian lyricist',
 '72–73',
 'Austrian-born British town planner and architect',
 'Indian Sufi saint',
 '79-80',
 'Iraqi Mandaean leader',
 'Indonesian West Papua separatist leader and commander ',
 '42 or 43',
 'American author',
 'Japanese botanist',
 'Sir Premier',
 'Kyrgyz Imam and alleged Islamic militant',
 '91',
 'Indian poet and hymner',
 'Italian poet',
 '94/95',
 'American educator',
 'Vietnamese politician',
 'Ethiopian politician and Tigray activist',
 '10',
 'c. 79',
 'British engineer',
 '41–42',
 '63-64',
 'French milliner',
 'American stage manager',
 'Turkish political prisoner',
 '95 American basketball player',
 'Greek lawyer and politician',
 'British businessman',
 '59-60',
 '20',
 'French anthropologist',
 'Ghanaian football executive',
 '89/90',
 '103',
 '87',
 '66',
 'German politician and political prisoner',
 '49',
 'Iraqi deputy governor of Baghdad',
 'Afghan politician',
 '50–51',
 'Egyptian football executive',
 'Sri Lankan actress',
 '62',
 'Victims of the',
 '78-79',
 '86/7',
 'French singer',
 'American chemist',
 'Namibian politician',
 'Thami Shobede',
 'Irish dance instructor',
 'American dancer and choreographer',
 'Australian rugby league player',
 'American physician',
 'Indian Army general',
 'Indian politician',
 'Pakistani politician and columnist',
 '76/7',
 'Turkish orchestra conductor',
 'British aid worker',
 'Fijian politician',
 '69',
 'Fijian hotelier and politician',
 'Indian cricket umpire',
 '26',
 'Ethiopian Chief of Security and Immigration',
 '72-73',
 '11',
 'aka Abu Hamza',
 '50-51',
 '51/52',
 'British housing executive',
 'Ugandan politician',
 'c. 62',
 '74–75',
 'Japanese architect',
 '65-66',
 'Nepali singer and songwriter',
 'Nigerian self-proclaimed "prophet of God" and occult practitioner',
 'Australian public servant',
 'Libyan Army colonel',
 'Algerian politician',
 'Portuguese organometallic chemist',
 'Australian writer',
 '49–50',
 'Welsh politician',
 'Mexican crime reporter and photographer',
 'British lawn bowler.',
 'Ni-Vanuatu Anglican prelate',
 'aka "Freespirit"',
 '71',
 'British principal private secretary to successive Prime Ministers',
 'Somali writer',
 '91-92',
 'French poet and art critic',
 '52/53',
 'c. 45',
 'Somalian diplomat',
 'American banjo player',
 '86',
 'Indian poet',
 '54/55',
 'Brazilian draughts player',
 'Somali politician',
 '109',
 '54–55',
 'Ghanaian disc jockey',
 'Jordanian politician',
 '38-39',
 'Sir Woolwich West',
 'Sri Lanka Army officer',
 'Pakistan Army Lieutenant-Colonel',
 'English rugby player',
 '33-34',
 '95–96',
 'British businessman and philanthropist',
 'Sir Lord Justice of Appeal',
 '98. Austrian Olympic sailor',
 '114',
 'Kenyan politician',
 'Indian actor ',
 'c. 49',
 'Greek actor',
 'British astrophysicist',
 '96–97',
 'South Sudanese military leader and politician',
 '50s',
 'Malagasy politician',
 'South African rear admiral',
 'Notable deaths consequent to the :',
 'Sri Lankan lawyer and activist',
 'Indian zoologist',
 'Somali-born Canadian peace and human rights activist',
 'American electrical engineer and inventor',
 'Egyptian terrorist ',
 '34-38',
 'American abstract expressionist painter',
 'Indian actor',
 'Dutch sports physiotherapist ',
 'Russian official',
 'American librarian and civil rights activist',
 'Nigerian academic',
 'Indian actor  and dancer',
 'Chilean forester and academic',
 'Saudi prince as member of the House of Saud',
 '94–95',
 'Punjabi-American rap artist',
 '91 or 95',
 'French historian and politician',
 'Iraqi engineer and politician',
 'Indian-American novelist and academic',
 'Tunisian senior ISIS commander',
 'Nana Gualdi',
 'Malaysian honorary consul',
 '79',
 '62-63',
 'Pakistani naval officer',
 'Somalian terrorist',
 '37–38',
 'Bangladeshi actress',
 'American psychiatrist and computer technology pioneer',
 'South Sudanese politician',
 'American geologist',
 'Somali judge',
 'American Samoan Attorney General',
 'Bangladeshi terrorist',
 'Russian head of the Kabardino-Balkaria police',
 '116',
 'Venezuelan physician and politician',
 'American publisher',
 '38-40',
 'Jamaican rocksteady and reggae singer and record producer',
 'American bongo player',
 '70-79',
 'Russian major general',
 'Beninese politician',
 'British actor',
 'Cuban guitarist',
 'South African businessman',
 'c. 72',
 'British Royal Navy officer during World War II',
 'Indian guru and philosopher',
 '81. English sports journalist',
 'Iranian political prisoner',
 'Yemeni air force colonel',
 'Lebanese paramilitary officer',
 'American technology chief executive',
 "American military veterans' rights lawyer",
 'Afghan military officer',
 '44',
 'American journalist and columnist',
 '39',
 '68–69',
 'Papua New Guinean businessman.',
 'Vanuatuan president',
 'Mexican archeologist',
 '57-58',
 'Irish cinematographer',
 '96',
 'Notable Russian people killed in the :',
 '44–45',
 'Pakistani scholar and president of Majlis-e-Ahrar-ul-Islam',
 'Australian judge',
 'Honduran journalist',
 'Australian rugby player and coach',
 'Iraqi al Qaeda emir of Salahuddin Province and Golden Dome bomber',
 'American television correspondent and bureau chief ',
 'Yemeni general',
 'Indian comic actor',
 '55',
 'Ghanaian journalist',
 'American concert singer',
 '46–56',
 'Pakistani painter',
 'Tunisian actor and screenwriter',
 '53',
 'Somali Higher Education Minister',
 'Iranian Armenian actress',
 'Northern Irish Ulster loyalist',
 '29–30',
 'Somali military officer',
 'Iranian Army general',
 'Bissau-Guinean Navy Chief of Staff',
 'American psychologist',
 'Vincent Palmer',
 'Puerto Rican politician',
 'Northern Irish football administrator',
 '75–76',
 'French/Chinese journalist',
 'Russian botanist',
 'Albanian architect',
 'Isle of Man jurist',
 'Irish academic and politician',
 'Pakistani journalist and reporter',
 'South Sudanese politician and diplomat',
 'Notable climbers killed in the',
 'Slovene writer',
 'American jazz and rhythm musician',
 'Indian theatre director and playwright',
 '93',
 'Australian rugby player',
 'Paraguayan doctor and politician',
 'Iraqi attorney in the continuing Trial of Saddam Hussein',
 'American scientist',
 'American police victim',
 'Notable Brazilians who died in the :',
 'Nigerian international footballer',
 'Zimbabwean military officer',
 'Papua New Guinean lawyer and Chief Ombudsman',
 '72',
 'Costa Rican footballer',
 'Brazilian architect and politician',
 'Ghanaian military officer',
 'Zimbabwean academic',
 'Venezuelan politician',
 'Somali royal',
 'Rwandan politician',
 'English cricketer',
 '29-30',
 'Vietnamese labor leader and mobster',
 'Syrian politician and Prime Minister',
 '88–89',
 '47/48',
 '102',
 'Albanian painter',
 'Australian mathematician and chess player',
 'Bangladeshi lawyer',
 'Indian actress',
 'American-born Canadian publisher',
 'Basque-American writer',
 '48-49',
 'Philippine Marine Corps marine and posthumous recipient of the Medal of Valor',
 'Libyan politician',
 'Indian folk singer',
 'Tamil actress',
 'Canadian-born burglar',
 'Australian field hockey player',
 '6',
 '63',
 '49-50',
 'Scottish speech therapist and a pioneer of child drama',
 'Turkestani Islamic extremist group leader',
 '73–74',
 'Indian musicologist',
 'Fijian diplomat',
 'American historian',
 'American nuclear physicist',
 'Somali leader of Al-Shabab insurgent group',
 'Syrian Arab intellectual',
 'Musician and Composer',
 'Zambian football player and coach',
 'South Sudanese Episcopal prelate',
 'Moroccan long-distance runner',
 'American radio newscaster and actor',
 'Congolese militant',
 'Greek painter and academic',
 'Iraqi terrorist ',
 '66/67',
 'Jr.',
 'Hungarian Olympic weightlifter',
 'Japanese ball-jointed doll maker and musician',
 '43',
 'Russian politician with the Yabloko party',
 '22',
 'Sierra Leonean politician and military officer',
 'Egyptian professional footballer',
 '47 American college basketball coach ',
 'Indian Islamic scholar and chancellor of Mazahir Uloom',
 'Togolese lawyer and guitarist',
 'North Korean politician',
 '50/51',
 'Turkish Sufi master',
 '43–44',
 'Chinese Muslim Uighur separatist',
 'Ghanaian politician and king',
 'Italian fashion designer',
 'Pakistan folk singer',
 "Iraqi Al-Qaeda's second-in-command in Iraq",
 'Australian singer-songwriter',
 'Notable victims killed in the Yerevan in Armenia',
 'c. 35',
 'c. 99',
 'Notable Americans killed in the crash of :',
 'Cook Islands broadcaster and radio talk show host',
 '19',
 'Spanish general commander of Ceuta ',
 'Polish historian',
 'French doctor and drug test pioneer',
 '44/45',
 '58/59',
 '50',
 'American diplomat and president of The Metropolitan Museum of Art',
 'American knifemaker',
 'c. 17',
 'British ice dancer.',
 'Japanese composer',
 'American jockey',
 '8',
 'Ghanaian diplomat',
 'Burkinabe actor',
 'South African murderess',
 'c. 53',
 'c.42',
 'Central African health minister',
 'Kenyan football coach',
 '55-57',
 'Pakistani politician',
 'Indian politician and social worker',
 '64',
 'Senegalese football player and manager ',
 'American actor and casting director',
 'American lawyer and business executive',
 'Northern Irish loyalist',
 'Turkish painter',
 '90/91',
 'Canadian television producer',
 '67–68',
 'Afghan politician and businessman',
 '99',
 'Algerian handball player and coach',
 '76–77',
 '46',
 'Nigerian actor',
 "Indo-Trinidadian/Afro-Trinidadian social worker and women's rights activist",
 'c. 40',
 'Gambian-American journalist',
 'Libyan general',
 'c. 75',
 'American keyboardist ',
 'American college basketball coach ',
 'Ghanaian politician',
 '32-33',
 '24–26',
 'Indian film editor',
 '111',
 'American sport shooter',
 'Afghani politician and one of the founders of the Taliban',
 'South African philatelist',
 'c.50',
 'Notable Indonesians killed in the :',
 'South Korean engineer',
 '106',
 'Papua New Guinean pathologist.',
 'Turkish Kurdish politician',
 'Yemeni Al-Qaeda leader',
 '94-95',
 'Tanzania traditional leader',
 'American writer and psychotherapist',
 '13',
 '40–41',
 'South African transgender and anti-sex trafficking activist',
 '66-67',
 'Iraqi politician',
 'Burundian politician and the Minister for Mines and Energy',
 'Iraqi militant',
 'Nigerian royal',
 '""',
 'Canadian suffragan bishop',
 'Bahraini royal',
 '11 months',
 '46-47',
 'Iraqi cartoonist and political activist',
 'British LGBT rights activist',
 'Venezuelan nine-ball pool player.',
 'Lesotho politician',
 '97–98',
 'Afghan-American policy advisor',
 '108',
 'Pakistani theoretical physicist',
 '90 British businessman',
 'Indian journalist',
 'Bangladeshi cinematographer and director',
 'Australian cricketer',
 '3',
 'Moroccan novelist',
 '97',
 'Japanese football player and manager',
 'Portuguese-born American computer scientist.',
 '115',
 'Chinese martial artist',
 '89?',
 'Chechen Islamist',
 'Mozambican journalist',
 'Guinea-Bissauan politician',
 'British peer and military officer',
 'American game designer',
 '81-82',
 '67/68',
 'Ghanaian actor',
 'South African social entrepreneur',
 'Chechen mass murderer',
 'Indian painter',
 'Japanese pilot and warrant officer during World War II',
 'Taiwanese politician',
 'Colombian lawyer and politician',
 'American poet and Mormon hymnwriter',
 'Notable Laotian people killed in the :',
 'American barred owl',
 'British novelist and comedy writer',
 '60-61',
 '110',
 '12',
 'Indian architect',
 '52–53',
 'Afghani politician and diplomat',
 'Pakistani stage comedian',
 'Sarah-Jayne Mulvihill',
 'Emirati Ajman royal',
 'Afghani politician',
 'Pakistani Taliban leader ',
 'Scottish botanist and agriculturist',
 'Israeli sculptor',
 'Burundian military officer',
 'c. 96',
 '60–61',
 'wife of Robert Guéï',
 '55/56',
 'American intelligence official',
 'Americanclown and writer and illustrator of circus subjects',
 'American  basketball coach',
 'Pakistani botanist',
 'Pakistani activist',
 '72/73',
 'South African royal and politician',
 'American audio engineer',
 'French-born American writer',
 'Pakistani terrorist',
 'Bangladeshi scholar',
 'Nigerian physicist',
 'Omani politician',
 'Australian indigenous artist',
 '61–62',
 'c. 27',
 '2',
 '38?',
 'American politician and jurist',
 'Georgian politician and deputy governor of the Kvemo Kartli region',
 'American home care worker and labor organizer',
 'Gambian politician',
 '74',
 'American religious scholar and academic administrator',
 '14',
 'Palestinian militant and spokesman',
 'American military officer',
 '62/63',
 'South African gangster',
 'Mauritanian diplomat and politician',
 'British charity worker',
 'Notable German people killed in the crash of :',
 'Russian general',
 '38/39',
 'Malian photographer',
 'American businessman and politician',
 'American engineer imprisoned in Iran',
 '47–48',
 'Norwegian architect',
 'Yemeni militant',
 'Tunisian politician and judge',
 'Notable Mexican politicians killed in the :',
 'Nigerian football manager',
 'Dame MEP',
 'Papua New Guinean actor',
 'Ethiopian politician',
 '36-37',
 'British club and radio disc jockey',
 'Filipino sports executive',
 'Notable French people killed in the :',
 'British academic',
 'Saudi Arabian journalist and historian',
 'Venezuelan Pemon detainee',
 'Iranian conservative politician and warden',
 'Emirati businessman and diplomat',
 'Indian Maoist militant',
 'Iranian feminist activist.',
 'Indian novelist',
 'Tunisian politician',
 'American university professor and literary critic',
 'Greek LGBT rights activist',
 'Mozambican political musician who sang in Shangaan',
 'Pakistani military officer and diplomat',
 '75 Colombian writer',
 'Burundian anti-corruption activist ',
 'Qatari politician',
 'Pakistani Army general',
 'member of the Saudi Arabian royal family',
 'Perpetrators of the  shot dead by police:',
 'Irish Gaelic footballer ',
 '88-89',
 'Somali politician and poet',
 '1–2',
 'Bangladeshi politician',
 'Somali public servant',
 'Singapore-British actress',
 'Palestinian Hamas chief explosives expert',
 'c. 61',
 '51',
 'Turkish politician and political party leader',
 'Papua New Guinean film and theatre actor',
 '51-52',
 'Congolese trade unionist and politician',
 'American soldier',
 'American house and R&B singer',
 '65–66',
 '71–72',
 'American politician',
 'American dermatologist and pathologist',
 'Chadian general',
 '52-53',
 'British film art director',
 'Haitian politician',
 'Ethiopian general',
 '68',
 'Journalists killed in the',
 'American chemical engineer',
 'Irish Gaelic football and hurling coach',
 'North Korean diplomat',
 'Sri Lankan chef',
 'Libyan Al-Qaeda paramilitary trainer accused of terrorism',
 'Sierra Leonean judge',
 '35-36',
 '90s',
 'Marine of the Philippine Marine Corps and posthumous recipient of the Medal of Valor',
 'Rwandan journalist',
 'Fijian chief and politician',
 '35–42',
 'Lebanese militant',
 '70',
 'Guatemalan politician and brigadier general',
 'American archaeologist',
 'Notable people killed in the :',
 'c. 71',
 'Ghanaian ruler and politician',
 'Mexican humanitarian',
 '39-40',
 'Australian Paralympic swimmer',
 '79/80',
 'Guinean socialite',
 '55 Australian weightlifter',
 'Fijian academic and politician',
 'Pakistani film song lyricist and film script writer',
 'aka "Dino Sete Cordas"',
 'American intelligence officer',
 '83-84',
 'Indian diplomat',
 '63–64',
 'Kenyan basketball player',
 'Guinean politician',
 'British motorcycle designer',
 'American art collector',
 'Cambodian labor leader',
 '92-93',
 '83–84',
 '25-26',
 'white oak',
 '94',
 'New Zealand-born Australian pop singer.',
 "Iraqi defense lawyer in Saddam Hussein's trial",
 'c. 48',
 '29',
 'Indian film director ',
 '21-22',
 'Kim Hwan-Sung',
 'Tuvaluan politician',
 '56',
 'Yemeni al-Qaeda terrorist',
 'American pioneer designer of sportswear',
 '92–93',
 'aka "Sammy Steamboat"',
 'Emirati film and theatre actor',
 'Bangladeshi military officer and convicted murderer ',
 '56–57',
 '87-88',
 'French communist activist',
 'Saudi princess and most prominent wife of King Faisal',
 'Maldivian politician',
 'c. 93',
 'Israeli scholar and rosh yeshiva',
 'c. 23',
 'Irish writer and academic',
 '85–86',
 'Pakistani Kashmiri politician',
 'c. 25',
 'French writer and editor',
 'Sir Winchester',
 '89. British automotive engineer',
 'Indian artist',
 'Ivorian traditional musician',
 'Bangladeshi Islamist militant leader  until his capture by the RAB',
 'Colonel ',
 'English artist',
 'French astrophysicist',
 'Canadian outdoorsman and natural historian',
 'El Salvadoran baseball player',
 'Pakistani civil servant',
 'American neo-Nazi',
 'Sir Governor-General',
 'Afghan governor of Logar Province',
 '54/5',
 'American Roman Catholic perelate',
 'Iraqi governor of Baghdad province',
 'Saint Lucian politician',
 'Papua New Guinean politician',
 'Kevin Kowalcyk',
 '75–77',
 'South African politician',
 'Ghanaian broadcaster',
 'Swazi opposition leader',
 'American Labrador retriever therapy and bomb detection dog',
 'Indian anthropologist',
 'Colombian politician',
 '56 or 57',
 'Malawian politician',
 'Bangladeshi actress.',
 'South African plastic surgeon',
 'Afghan presidential adviser',
 'Welsh television actor',
 'Cook Islands politician',
 '64–65',
 'Solomon Islands news presenter and journalist',
 'c. 69',
 '1995',
 'aka J Dilla',
 'founder of Los Zetas',
 'Iranian quantum physicist',
 '72/3',
 '75-76',
 'Malian militant and jihadist',
 '84 or 85',
 'Indian cricketer',
 'Saudi Al-Qaeda leader',
 '17',
 'Philippine Army trooper and  posthumous recipient of the Medal of Valor',
 'Pakistani Islamic scholar',
 'Nepali actress',
 'Greek serial killer',
 '94 or 95',
 '1',
 'Ghanaian musician ',
 'Mexican serial killer',
 'Libyan military officer',
 'South Korean serial killer',
 '78–79',
 '74-75',

#### Observations:
- Though we can see the age values, there is a lot of other information in the first substring of the `info` value--1412 variations.
- Some entries may be missing the age information.
- Also, age is entered in various formats.
- Let us examine the rows that start with a digit.

In [67]:
# Checking the different patterns of first substrings that start with digits
{item for item in substring_set if re.match(r"\d", item)}

{'1',
 '10',
 '100',
 '100 or 101',
 '100+',
 '100/101',
 '101',
 '102',
 '103',
 '104',
 '104?',
 '105',
 '106',
 '107',
 '108',
 '109',
 '10–11',
 '11',
 '11 months',
 '11+',
 '11-12',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '119',
 '12',
 '122',
 '122 ',
 '125',
 '126?',
 '127?',
 '13',
 '13-14',
 '134?',
 '14',
 '146 ',
 '15',
 '16',
 '17',
 '176',
 '18',
 '19',
 '1995',
 '1996',
 '1997',
 '1–2',
 '2',
 '20',
 '21',
 '21-22',
 '22',
 '23',
 '23–24',
 '24',
 '24–26',
 '25',
 '25-26',
 '255 ',
 '25–26',
 '26',
 '27',
 '28',
 '28-29',
 '28/29',
 '28–29',
 '29',
 '29-30',
 '29–30',
 '3',
 '3-months',
 '30',
 '30s',
 '30–31',
 '31',
 '32',
 '32-33',
 '33',
 '33-34',
 '34',
 '34-35',
 '34-38',
 '34/35',
 '34–35',
 '35',
 '35-36',
 '35–42',
 '36',
 '36-37',
 '36–37',
 '37',
 '37-38',
 '37–38',
 '38',
 '38 or 39',
 '38-39',
 '38-40',
 '38/39',
 '38?',
 '39',
 '39-40',
 '39–40',
 '4',
 '40',
 '40 days',
 '40s',
 '40–41',
 '41',
 '41-42',
 '41–42',
 '42',
 '42 or 43',
 '42–43',
 '43',
 '43/4',
 '43–44',
 '44',
 '44/45',
 '44–45',
 '45',
 '45-46',
 '45–46',
 '46',
 '46-47',
 '46/47',
 '46–56',
 '47',
 '47 American college basketball coach ',
 '47/48',
 '47–48',
 '48',
 '48-49',
 '48–49',
 '48–50',
 '49',
 '49-50',
 '49–50',
 '5',
 '50',
 '50-51',
 '50/51',
 '50s',
 '50–51',
 '51',
 '51-52',
 '51/52',
 '51–52',
 '51–53',
 '52',
 '52-53',
 '52/53',
 '52–53',
 '53',
 '53-54',
 '53/54',
 '53–54',
 '54',
 '54-55',
 '54/5',
 '54/55',
 '54–55',
 '55',
 '55 Australian weightlifter',
 '55-56',
 '55-57',
 '55/56',
 '55–56',
 '56',
 '56 or 57',
 '56-57',
 '56/7',
 '56–57',
 '57',
 '57-58',
 '57–58',
 '57–59',
 '58',
 '58-59',
 '58/59',
 '58–59',
 '59',
 '59-60',
 '59–60',
 '6',
 '60',
 '60-61',
 '60/61',
 '60s',
 '60–61',
 '60–63',
 '61',
 '61-62',
 '61–62',
 '62',
 '62 or 64',
 '62-63',
 '62/63',
 '62–63',
 '63',
 '63-64',
 '63. American gridiron football player',
 '63–64',
 '64',
 '64-65',
 '64–65',
 '65',
 '65-66',
 '65–66',
 '66',
 '66-67',
 '66/67',
 '66–67',
 '67',
 '67-68',
 '67/68',
 '67–68',
 '68',
 '68-69',
 '68/9',
 '68–69',
 '69',
 '69-70',
 '69/70',
 '69–70',
 '7',
 '7-8',
 '70',
 '70-71',
 '70-79',
 '70s',
 '70–71',
 '71',
 '71-72',
 '71–72',
 '72',
 '72-73',
 '72/3',
 '72/73',
 '72–73',
 '73',
 '73-74',
 '73. Scottish broadcaster and writer',
 '73/4',
 '73/74',
 '73–74',
 '74',
 '74 or 75',
 '74-75',
 '74–75',
 '74–76',
 '75',
 '75 Colombian writer',
 '75-76',
 '75/76',
 '75–76',
 '75–77',
 '76',
 '76-77',
 '76/7',
 '76–77',
 '77',
 '77–78',
 '78',
 '78-79',
 '78/79',
 '78–79',
 '79',
 '79-80',
 '79/80',
 '79–80',
 '7–8',
 '8',
 '80',
 '80 American artist',
 '80-81',
 '80. New Zealand Maori leader',
 '80s',
 '80–81',
 '81',
 '81-82',
 '81. English sports journalist',
 '81–82',
 '82',
 '82 German Olympic wrestler',
 '82-83',
 '82/3',
 '82/83',
 '82–83',
 '82–84',
 '83',
 '83-84',
 '83/84',
 '83–84',
 '84',
 '84 or 85',
 '84-85',
 '84/5',
 '84–85',
 '85',
 '85-86',
 '85. American Olympic gymnast',
 '85. French Olympic swimmer',
 '85/86',
 '85–86',
 '86',
 '86-87',
 '86/7',
 '86–87',
 '87',
 '87 French Olympic boxer',
 '87-88',
 '87/88',
 '87–88',
 '88',
 '88-89',
 '88–89',
 '89',
 '89-90',
 '89. British automotive engineer',
 '89/90',
 '89?',
 '89–90',
 '8–9',
 '9',
 '90',
 '90 British businessman',
 '90 Swedish Olympic sprinter',
 '90-91',
 '90/91',
 '90s',
 '90–91',
 '91',
 '91 Chilean artist',
 '91 or 95',
 '91-92',
 '91/92',
 '91–92',
 '92',
 '92-93',
 '92/93',
 '92–93',
 '93',
 '93-94',
 '93/4',
 '93/94',
 '93–94',
 '94',
 '94 Austrian-British social psychologist',
 '94 or 95',
 '94-95',
 '94/95',
 '94–95',
 '95',
 '95 American basketball player',
 '95–96',
 '96',
 '96-97',
 '96–97',
 '97',
 '97/98',
 '97–98',
 '98',
 '98. Austrian Olympic sailor',
 '98–99',
 '99'}

#### Observations:
- The patterns include "age", "age ", "age+", "age/", "age?, "age–", "age months", "age-" (distinct dash),"age-months", "age–months" (distinct dash), "ages", "age?", "age days", "age."
- We will need to address ages in months first.

#### Extracting `age` from `info` for `info` Values that Begin with "age,"

In [ ]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age,'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + ","):
            df.loc[i, "age"] = int(age)
df.sample(5)

In [ ]:
# Checking for remaining rows missing age
df["age"].isna().sum()

#### Observations:
- We were able to extract `age` for the vast majority of entries.
- Let us take a look at the remaining entries.

#### Checking Rows with Missing `age`

In [ ]:
df[df["age"].isna()]

#### Observations:
- We can immediately see 2 apparent patterns.  The first is an age range with a hyphen and the second is age missing altogether.
- Let us do another iteration for the age-range pattern, accepting the lower value as age.

#### Extracting `age` from `info` for `info` Values that Begin with "age-"

In [ ]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + "-"):
            df.loc[i, "age"] = int(age)
df.sample(5)

In [ ]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

#### Observation:
- The last iteration captured nearly 200 values.
- Let us take a look at the remaining rows with missing `name'.

#### Checking Rows with Missing `age`

In [ ]:
# Checking rows still missing `age`
df[df["age"].isna()].sample(5)

#### Observations:
- It almost appears as if our iteration for addressing `info` starting with "age-' missed some values.
- Closer examination reveals that the dash character varies for the remaining values ("-" vs "–").
- So we will iterate again with the larger dash.

In [ ]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + "–"):
            df.loc[i, "age"] = int(age)
df.sample(5)

In [ ]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

#### Observation:
- That iteration captured over 400 values.
- Let us take a look at the remaining rows with missing `name'.

#### Checking Rows with Missing `age`

In [ ]:
# Checking rows still missing `age`
df[df["age"].isna()].head(100)

#### Observations:
- The next pattern starts with 'age/', so we will iterate again with it.

In [ ]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + "/"):
            df.loc[i, "age"] = int(age)
df.sample(5)

In [ ]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

#### Observation:
- That iteration captured nearly 70 missing values.
- Let us take a look at the remaining rows with missing `name'.

#### Checking Rows with Missing `age`

In [ ]:
# Checking rows still missing `age`
df[df["age"].isna()].head(100)

#### Observations:
- The next pattern starts with 'age.', so we will iterate again with it.

In [ ]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + "."):
            df.loc[i, "age"] = int(age)
df.sample(5)

In [ ]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

#### Observation:
- We captured a handful of more missing values with that iteration.
- Let us take a look at the remaining rows with missing `name'.

#### Checking Rows with Missing `age`

In [ ]:
# Checking rows still missing `age`
df[df["age"].isna()].head(100)

#### Observations:
- There is at least one entry that escaped the net of that last iteration.  It can be hard-coded later.
- The next pattern starts with "age ", so will will iterate again with it.

In [ ]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# For loop to extract age from info column and assign to age column, if info starts with 'age-'
for age in ages:
    for i, item in enumerate(df["info"]):
        if item.startswith(age + " "):
            df.loc[i, "age"] = int(age)
df.sample(5)

In [ ]:
# Checking the number of remaining missing values for `age`
df["age"].isna().sum()

#### Observations:
- That iteration captured 26 more missing values.
- Let us look again at the remaining rows.

#### Checking Rows with Missing `age`

In [ ]:
# Checking rows still missing `age`
df[df["age"].isna()].head(100)

#### Observations:
- This sample shows entries that are missing age information, or the age is imbedded in the middle of the string. 
- Let us remove rows without any age information, as they will not add to the analysis.

In [ ]:
# Creating a list of ages
ages = pd.Series(np.arange(1, 150)).astype("string")

# List of index of entries to drop due to no age information
drop_list = []

# For loop to add index of entries to drop_list if no age information present
for i in df[df["age"].isna()].index:
    if not any(age in df.loc[i, "info"] for age in ages):
        drop_list.append(i)
df.loc[drop_list, :].sample(50)

In [ ]:
# Checking the number of entries that will be dropped
print(len(drop_list))

# Dropping the rows without age information
df.drop(drop_list, axis=0, inplace=True)

In [ ]:
# Checking df shape after dropping rows
df.shape

#### Observations:
- We have successfully dropped the entries lacking age data.
- Let us examine the remaining rows missing `age`.

#### Checking Rows with Missing `age`

In [ ]:
# Checking rows still missing `age`
df[df["age"].isna()].sample(100)